.centaur piece.a-piece.white {
    background-image: url('../../images/pieces/merida/wA.svg');
}
.centaur piece.c-piece.white {
    background-image: url('../../images/pieces/merida/wC.svg');
}
.centaur piece.g-piece.white {
    background-image: url('../../images/pieces/shogun/merida/mono/wG.svg');
}
.centaur piece.a-piece.black {
    background-image: url('../../images/pieces/merida/bA.svg');
}
.centaur piece.c-piece.black {
    background-image: url('../../images/pieces/merida/bC.svg');
}
.centaur piece.g-piece.black {
    background-image: url('../../images/pieces/shogun/merida/mono/bG.svg');
}

.centaur piece.p-piece.white {
    background-image: url('../../images/pieces/merida/wP.svg');
}
.centaur piece.b-piece.white {
    background-image: url('../../images/pieces/merida/wB.svg');
}
.centaur piece.n-piece.white {
    background-image: url('../../images/pieces/merida/wN.svg');
}
.centaur piece.r-piece.white {
    background-image: url('../../images/pieces/merida/wR.svg');
}
.centaur piece.q-piece.white {
    background-image: url('../../images/pieces/merida/wQ.svg');
}
.centaur piece.k-piece.white {
    background-image: url('../../images/pieces/merida/wK.svg');
}
.centaur piece.p-piece.black {
    background-image: url('../../images/pieces/merida/bP.svg');
}
.centaur piece.b-piece.black {
    background-image: url('../../images/pieces/merida/bB.svg');
}
.centaur piece.n-piece.black {
    background-image: url('../../images/pieces/merida/bN.svg');
}
.centaur piece.r-piece.black {
    background-image: url('../../images/pieces/merida/bR.svg');
}
.centaur piece.q-piece.black {
    background-image: url('../../images/pieces/merida/bQ.svg');
}
.centaur piece.k-piece.black {
    background-image: url('../../images/pieces/merida/bK.svg');
}
