.shako .cg-wrap piece.elephant.white {
    background-image: url('../../images/pieces/shako/wE.svg');
}
.shako .cg-wrap piece.cancellor.white {
    background-image: url('../../images/pieces/shako/wC.svg');
}
.shako .cg-wrap piece.elephant.black {
    background-image: url('../../images/pieces/shako/bE.svg');
}
.shako .cg-wrap piece.cancellor.black {
    background-image: url('../../images/pieces/shako/bC.svg');
}

.shako .cg-wrap piece.pawn.white {
    background-image: url('../../images/pieces/shako/wP.svg');
}
.shako .cg-wrap piece.bishop.white {
    background-image: url('../../images/pieces/shako/wB.svg');
}
.shako .cg-wrap piece.knight.white {
    background-image: url('../../images/pieces/shako/wN.svg');
}
.shako .cg-wrap piece.rook.white {
    background-image: url('../../images/pieces/shako/wR.svg');
}
.shako .cg-wrap piece.queen.white {
    background-image: url('../../images/pieces/shako/wQ.svg');
}
.shako .cg-wrap piece.king.white {
    background-image: url('../../images/pieces/shako/wK.svg');
}
.shako .cg-wrap piece.pawn.black {
    background-image: url('../../images/pieces/shako/bP.svg');
}
.shako .cg-wrap piece.bishop.black {
    background-image: url('../../images/pieces/shako/bB.svg');
}
.shako .cg-wrap piece.knight.black {
    background-image: url('../../images/pieces/shako/bN.svg');
}
.shako .cg-wrap piece.rook.black {
    background-image: url('../../images/pieces/shako/bR.svg');
}
.shako .cg-wrap piece.queen.black {
    background-image: url('../../images/pieces/shako/bQ.svg');
}
.shako .cg-wrap piece.king.black {
    background-image: url('../../images/pieces/shako/bK.svg');
}
