.shocking piece._-piece {
    background-image: url('../../images/pieces/brick.svg');
}
.shocking piece.p-piece.white {
    background-image: url('../../images/pieces/green/wP.svg');
}
.shocking piece.b-piece.white {
    background-image: url('../../images/pieces/green/wB.svg');
}
.shocking piece.n-piece.white {
    background-image: url('../../images/pieces/green/wN.svg');
}
.shocking piece.r-piece.white {
    background-image: url('../../images/pieces/green/wR.svg');
}
.shocking piece.q-piece.white {
    background-image: url('../../images/pieces/green/wQ.svg');
}
.shocking piece.k-piece.white {
    background-image: url('../../images/pieces/green/wK.svg');
}

.shocking piece.c-piece.white {
    background-image: url('../../images/pieces/shocking/wC.svg');
}

.shocking piece.t-piece.black {
    background-image: url('../../images/pieces/shocking/bT.svg');
}
.shocking piece.d-piece.black {
    background-image: url('../../images/pieces/shocking/bD.svg');
}
.shocking piece.m-piece.black {
    background-image: url('../../images/pieces/shocking/bM.svg');
}
.shocking piece.c-piece.black {
    background-image: url('../../images/pieces/shocking/bC.svg');
}
.shocking piece.a-piece.black {
    background-image: url('../../images/pieces/green/spartan/bP.svg');
}
.shocking piece.o-piece.black {
    background-image: url('../../images/pieces/green/bE.svg');
}
