.spartan .cg-wrap piece.p-piece.white {
    background-image: url('../../images/pieces/merida/wP.svg');
}
.spartan .cg-wrap piece.b-piece.white {
    background-image: url('../../images/pieces/merida/wB.svg');
}
.spartan .cg-wrap piece.n-piece.white {
    background-image: url('../../images/pieces/merida/wN.svg');
}
.spartan .cg-wrap piece.r-piece.white {
    background-image: url('../../images/pieces/merida/wR.svg');
}
.spartan .cg-wrap piece.q-piece.white {
    background-image: url('../../images/pieces/merida/wQ.svg');
}
.spartan .cg-wrap piece.k-piece.white {
    background-image: url('../../images/pieces/merida/wK.svg');
}
.spartan .cg-wrap piece.h-piece.black {
    background-image: url('../../images/pieces/merida/syno/bS.svg');
}
.spartan .cg-wrap piece.l-piece.black {
    background-image: url('../../images/pieces/merida/bAr.svg');
}
.spartan .cg-wrap piece.w-piece.black {
    background-image: url('../../images/pieces/merida/bA.svg');
}
.spartan .cg-wrap piece.g-piece.black {
    background-image: url('../../images/pieces/shogun/merida/mono/bM.svg');
}
.spartan .cg-wrap piece.c-piece.black {
    background-image: url('../../images/pieces/shogun/merida/mono/bC.svg');
}
.spartan .cg-wrap piece.k-piece.black {
    background-image: url('../../images/pieces/merida/bK.svg');
}
