.habaneshogi .cg-wrap piece.k-piece.white {
    background-image: url('../../images/pieces/habaneshogi/wK.svg');
}
.habaneshogi .cg-wrap piece.k-piece.black {
    background-image: url('../../images/pieces/habaneshogi/bK.svg');
}
.habaneshogi .cg-wrap piece.a-piece.white {
    background-image: url('../../images/pieces/habaneshogi/wA.svg');
}
.habaneshogi .cg-wrap piece.b-piece.white {
    background-image: url('../../images/pieces/habaneshogi/wB.svg');
}
.habaneshogi .cg-wrap piece.c-piece.white {
    background-image: url('../../images/pieces/habaneshogi/wC.svg');
}
.habaneshogi .cg-wrap piece.d-piece.white {
    background-image: url('../../images/pieces/habaneshogi/wD.svg');
}
.habaneshogi .cg-wrap piece.e-piece.white {
    background-image: url('../../images/pieces/habaneshogi/wE.svg');
}
.habaneshogi .cg-wrap piece.f-piece.white {
    background-image: url('../../images/pieces/habaneshogi/wF.svg');
}
.habaneshogi .cg-wrap piece.g-piece.white {
    background-image: url('../../images/pieces/habaneshogi/wG.svg');
}
.habaneshogi .cg-wrap piece.h-piece.white {
    background-image: url('../../images/pieces/habaneshogi/wH.svg');
}
.habaneshogi .cg-wrap piece.i-piece.white {
    background-image: url('../../images/pieces/habaneshogi/wI.svg');
}
.habaneshogi .cg-wrap piece.j-piece.white {
    background-image: url('../../images/pieces/habaneshogi/wJ.svg');
}
.habaneshogi .cg-wrap piece.m-piece.white {
    background-image: url('../../images/pieces/habaneshogi/wM.svg');
}
.habaneshogi .cg-wrap piece.pa-piece.white {
    background-image: url('../../images/pieces/habaneshogi/w+A.svg');
}
.habaneshogi .cg-wrap piece.pb-piece.white {
    background-image: url('../../images/pieces/habaneshogi/w+B.svg');
}
.habaneshogi .cg-wrap piece.pc-piece.white {
    background-image: url('../../images/pieces/habaneshogi/w+C.svg');
}
.habaneshogi .cg-wrap piece.pd-piece.white {
    background-image: url('../../images/pieces/habaneshogi/w+D.svg');
}
.habaneshogi .cg-wrap piece.pe-piece.white {
    background-image: url('../../images/pieces/habaneshogi/w+E.svg');
}
.habaneshogi .cg-wrap piece.pf-piece.white {
    background-image: url('../../images/pieces/habaneshogi/w+F.svg');
}
.habaneshogi .cg-wrap piece.pg-piece.white {
    background-image: url('../../images/pieces/habaneshogi/w+G.svg');
}
.habaneshogi .cg-wrap piece.ph-piece.white {
    background-image: url('../../images/pieces/habaneshogi/w+H.svg');
}
.habaneshogi .cg-wrap piece.pi-piece.white {
    background-image: url('../../images/pieces/habaneshogi/w+I.svg');
}
.habaneshogi .cg-wrap piece.pj-piece.white {
    background-image: url('../../images/pieces/habaneshogi/w+J.svg');
}
.habaneshogi .cg-wrap piece.pm-piece.white {
    background-image: url('../../images/pieces/habaneshogi/w+M.svg');
}
.habaneshogi .cg-wrap piece.a-piece.black {
    background-image: url('../../images/pieces/habaneshogi/bA.svg');
}
.habaneshogi .cg-wrap piece.b-piece.black {
    background-image: url('../../images/pieces/habaneshogi/bB.svg');
}
.habaneshogi .cg-wrap piece.c-piece.black {
    background-image: url('../../images/pieces/habaneshogi/bC.svg');
}
.habaneshogi .cg-wrap piece.d-piece.black {
    background-image: url('../../images/pieces/habaneshogi/bD.svg');
}
.habaneshogi .cg-wrap piece.e-piece.black {
    background-image: url('../../images/pieces/habaneshogi/bE.svg');
}
.habaneshogi .cg-wrap piece.f-piece.black {
    background-image: url('../../images/pieces/habaneshogi/bF.svg');
}
.habaneshogi .cg-wrap piece.g-piece.black {
    background-image: url('../../images/pieces/habaneshogi/bG.svg');
}
.habaneshogi .cg-wrap piece.h-piece.black {
    background-image: url('../../images/pieces/habaneshogi/bH.svg');
}
.habaneshogi .cg-wrap piece.i-piece.black {
    background-image: url('../../images/pieces/habaneshogi/bI.svg');
}
.habaneshogi .cg-wrap piece.j-piece.black {
    background-image: url('../../images/pieces/habaneshogi/bJ.svg');
}
.habaneshogi .cg-wrap piece.m-piece.black {
    background-image: url('../../images/pieces/habaneshogi/bM.svg');
}
.habaneshogi .cg-wrap piece.pa-piece.black {
    background-image: url('../../images/pieces/habaneshogi/b+A.svg');
}
.habaneshogi .cg-wrap piece.pb-piece.black {
    background-image: url('../../images/pieces/habaneshogi/b+B.svg');
}
.habaneshogi .cg-wrap piece.pc-piece.black {
    background-image: url('../../images/pieces/habaneshogi/b+C.svg');
}
.habaneshogi .cg-wrap piece.pd-piece.black {
    background-image: url('../../images/pieces/habaneshogi/b+D.svg');
}
.habaneshogi .cg-wrap piece.pe-piece.black {
    background-image: url('../../images/pieces/habaneshogi/b+E.svg');
}
.habaneshogi .cg-wrap piece.pf-piece.black {
    background-image: url('../../images/pieces/habaneshogi/b+F.svg');
}
.habaneshogi .cg-wrap piece.pg-piece.black {
    background-image: url('../../images/pieces/habaneshogi/b+G.svg');
}
.habaneshogi .cg-wrap piece.ph-piece.black {
    background-image: url('../../images/pieces/habaneshogi/b+H.svg');
}
.habaneshogi .cg-wrap piece.pi-piece.black {
    background-image: url('../../images/pieces/habaneshogi/b+I.svg');
}
.habaneshogi .cg-wrap piece.pj-piece.black {
    background-image: url('../../images/pieces/habaneshogi/b+J.svg');
}
.habaneshogi .cg-wrap piece.pm-piece.black {
    background-image: url('../../images/pieces/habaneshogi/b+M.svg');
}
