.xiangqi piece.p-piece.white {
    background-image: url('../../images/pieces/xiangqi/playok/red_pawn.svg');
}
.xiangqi piece.b-piece.white {
    background-image: url('../../images/pieces/xiangqi/playok/red_elephant.svg');
}
.xiangqi piece.n-piece.white {
    background-image: url('../../images/pieces/xiangqi/playok/red_horse.svg');
}
.xiangqi piece.r-piece.white {
    background-image: url('../../images/pieces/xiangqi/playok/red_chariot.svg');
}
.xiangqi piece.a-piece.white {
    background-image: url('../../images/pieces/xiangqi/playok/red_advisor.svg');
}
.xiangqi piece.c-piece.white {
    background-image: url('../../images/pieces/xiangqi/playok/red_cannon.svg');
}
.xiangqi piece.k-piece.white {
    background-image: url('../../images/pieces/xiangqi/playok/red_king.svg');
}
.xiangqi piece.m-piece.white {
    background-image: url('../../images/pieces/xiangqi/playok/red_chariot.svg');
}

.xiangqi piece.p-piece.black {
    background-image: url('../../images/pieces/xiangqi/playok/black_pawn.svg');
}
.xiangqi piece.b-piece.black {
    background-image: url('../../images/pieces/xiangqi/playok/black_elephant.svg');
}
.xiangqi piece.n-piece.black {
    background-image: url('../../images/pieces/xiangqi/playok/black_horse.svg');
}
.xiangqi piece.r-piece.black {
    background-image: url('../../images/pieces/xiangqi/playok/black_chariot.svg');
}
.xiangqi piece.a-piece.black {
    background-image: url('../../images/pieces/xiangqi/playok/black_advisor.svg');
}
.xiangqi piece.c-piece.black {
    background-image: url('../../images/pieces/xiangqi/playok/black_cannon.svg');
}
.xiangqi piece.k-piece.black {
    background-image: url('../../images/pieces/xiangqi/playok/black_king.svg');
}
.xiangqi piece.m-piece.black {
    background-image: url('../../images/pieces/xiangqi/playok/black_chariot.svg');
}
