.xiangqi piece.p-piece.white {
    background-image: url('../../images/pieces/xiangqi/2dintl/RP.svg');
}
.xiangqi piece.b-piece.white {
    background-image: url('../../images/pieces/xiangqi/2dintl/RE.svg');
}
.xiangqi piece.n-piece.white {
    background-image: url('../../images/pieces/xiangqi/2dintl/RH.svg');
}
.xiangqi piece.r-piece.white {
    background-image: url('../../images/pieces/xiangqi/2dintl/RR.svg');
}
.xiangqi piece.a-piece.white {
    background-image: url('../../images/pieces/xiangqi/2dintl/RA.svg');
}
.xiangqi piece.c-piece.white {
    background-image: url('../../images/pieces/xiangqi/2dintl/RC.svg');
}
.xiangqi piece.k-piece.white {
    background-image: url('../../images/pieces/xiangqi/2dintl/RK.svg');
}
.xiangqi piece.m-piece.white {
    background-image: url('../../images/pieces/xiangqi/2dintl/RR.svg');
}

.xiangqi piece.p-piece.black {
    background-image: url('../../images/pieces/xiangqi/2dintl/BP.svg');
}
.xiangqi piece.b-piece.black {
    background-image: url('../../images/pieces/xiangqi/2dintl/BE.svg');
}
.xiangqi piece.n-piece.black {
    background-image: url('../../images/pieces/xiangqi/2dintl/BH.svg');
}
.xiangqi piece.r-piece.black {
    background-image: url('../../images/pieces/xiangqi/2dintl/BR.svg');
}
.xiangqi piece.a-piece.black {
    background-image: url('../../images/pieces/xiangqi/2dintl/BA.svg');
}
.xiangqi piece.c-piece.black {
    background-image: url('../../images/pieces/xiangqi/2dintl/BC.svg');
}
.xiangqi piece.k-piece.black {
    background-image: url('../../images/pieces/xiangqi/2dintl/BK.svg');
}
.xiangqi piece.m-piece.black {
    background-image: url('../../images/pieces/xiangqi/2dintl/BR.svg');
}
