.xiangqi .cg-wrap piece.p-piece.white {
    background-image: url('../../images/pieces/xiangqi/ct3/red_pawn.svg');
}
.xiangqi .cg-wrap piece.b-piece.white {
    background-image: url('../../images/pieces/xiangqi/ct3/red_elephant.svg');
}
.xiangqi .cg-wrap piece.n-piece.white {
    background-image: url('../../images/pieces/xiangqi/ct3/red_horse.svg');
}
.xiangqi .cg-wrap piece.r-piece.white {
    background-image: url('../../images/pieces/xiangqi/ct3/red_chariot.svg');
}
.xiangqi .cg-wrap piece.a-piece.white {
    background-image: url('../../images/pieces/xiangqi/ct3/red_advisor.svg');
}
.xiangqi .cg-wrap piece.c-piece.white {
    background-image: url('../../images/pieces/xiangqi/ct3/red_cannon.svg');
}
.xiangqi .cg-wrap piece.k-piece.white {
    background-image: url('../../images/pieces/xiangqi/ct3/red_king.svg');
}
.xiangqi .cg-wrap piece.m-piece.white {
    background-image: url('../../images/pieces/xiangqi/ct3/red_banner.svg');
}

.xiangqi .cg-wrap piece.p-piece.black {
    background-image: url('../../images/pieces/xiangqi/ct3/black_pawn.svg');
}
.xiangqi .cg-wrap piece.b-piece.black {
    background-image: url('../../images/pieces/xiangqi/ct3/black_elephant.svg');
}
.xiangqi .cg-wrap piece.n-piece.black {
    background-image: url('../../images/pieces/xiangqi/ct3/black_horse.svg');
}
.xiangqi .cg-wrap piece.r-piece.black {
    background-image: url('../../images/pieces/xiangqi/ct3/black_chariot.svg');
}
.xiangqi .cg-wrap piece.a-piece.black {
    background-image: url('../../images/pieces/xiangqi/ct3/black_advisor.svg');
}
.xiangqi .cg-wrap piece.c-piece.black {
    background-image: url('../../images/pieces/xiangqi/ct3/black_cannon.svg');
}
.xiangqi .cg-wrap piece.k-piece.black {
    background-image: url('../../images/pieces/xiangqi/ct3/black_king.svg');
}
