.xiangqi .cg-wrap piece.pawn.white {
    background-image: url('../../images/pieces/xiangqi/ct2/red_pawn2.svg');
}
.xiangqi .cg-wrap piece.bishop.white {
    background-image: url('../../images/pieces/xiangqi/ct2/red_elephant2.svg');
}
.xiangqi .cg-wrap piece.knight.white {
    background-image: url('../../images/pieces/xiangqi/ct2/red_horse2.svg');
}
.xiangqi .cg-wrap piece.rook.white {
    background-image: url('../../images/pieces/xiangqi/ct2/red_chariot2.svg');
}
.xiangqi .cg-wrap piece.advisor.white {
    background-image: url('../../images/pieces/xiangqi/ct2/red_advisor2.svg');
}
.xiangqi .cg-wrap piece.cannon.white {
    background-image: url('../../images/pieces/xiangqi/ct2/red_cannon2.svg');
}
.xiangqi .cg-wrap piece.king.white {
    background-image: url('../../images/pieces/xiangqi/ct2/red_king2.svg');
}

.xiangqi .cg-wrap piece.pawn.black {
    background-image: url('../../images/pieces/xiangqi/ct2/black_pawn2.svg');
}
.xiangqi .cg-wrap piece.bishop.black {
    background-image: url('../../images/pieces/xiangqi/ct2/black_elephant2.svg');
}
.xiangqi .cg-wrap piece.knight.black {
    background-image: url('../../images/pieces/xiangqi/ct2/black_horse2.svg');
}
.xiangqi .cg-wrap piece.rook.black {
    background-image: url('../../images/pieces/xiangqi/ct2/black_chariot2.svg');
}
.xiangqi .cg-wrap piece.advisor.black {
    background-image: url('../../images/pieces/xiangqi/ct2/black_advisor2.svg');
}
.xiangqi .cg-wrap piece.cannon.black {
    background-image: url('../../images/pieces/xiangqi/ct2/black_cannon2.svg');
}
.xiangqi .cg-wrap piece.king.black {
    background-image: url('../../images/pieces/xiangqi/ct2/black_king2.svg');
}
