.xiangqi piece.p-piece.white {
    background-image: url('../../images/pieces/xiangqi/2dhanzi/RP.svg');
}
.xiangqi piece.b-piece.white {
    background-image: url('../../images/pieces/xiangqi/2dhanzi/RE.svg');
}
.xiangqi piece.n-piece.white {
    background-image: url('../../images/pieces/xiangqi/2dhanzi/RH.svg');
}
.xiangqi piece.r-piece.white {
    background-image: url('../../images/pieces/xiangqi/2dhanzi/RR.svg');
}
.xiangqi piece.a-piece.white {
    background-image: url('../../images/pieces/xiangqi/2dhanzi/RA.svg');
}
.xiangqi piece.c-piece.white {
    background-image: url('../../images/pieces/xiangqi/2dhanzi/RC.svg');
}
.xiangqi piece.k-piece.white {
    background-image: url('../../images/pieces/xiangqi/2dhanzi/RK.svg');
}
.xiangqi piece.m-piece.white {
    background-image: url('../../images/pieces/xiangqi/2dhanzi/RR.svg');
}

.xiangqi piece.p-piece.black {
    background-image: url('../../images/pieces/xiangqi/2dhanzi/BP.svg');
}
.xiangqi piece.b-piece.black {
    background-image: url('../../images/pieces/xiangqi/2dhanzi/BE.svg');
}
.xiangqi piece.n-piece.black {
    background-image: url('../../images/pieces/xiangqi/2dhanzi/BH.svg');
}
.xiangqi piece.r-piece.black {
    background-image: url('../../images/pieces/xiangqi/2dhanzi/BR.svg');
}
.xiangqi piece.a-piece.black {
    background-image: url('../../images/pieces/xiangqi/2dhanzi/BA.svg');
}
.xiangqi piece.c-piece.black {
    background-image: url('../../images/pieces/xiangqi/2dhanzi/BC.svg');
}
.xiangqi piece.k-piece.black {
    background-image: url('../../images/pieces/xiangqi/2dhanzi/BK.svg');
}
.xiangqi piece.m-piece.black {
    background-image: url('../../images/pieces/xiangqi/2dhanzi/BR.svg');
}
