__pycache__/
node_modules/
templates/docs/
templates/news/
static/pychess-variants.js
static/pychess-variants.js.br
static/ffish.js
static/ffish.wasm
static/ffish.worker.js
package-lock.json
game.json
user.json
crosstable.json
highscore.json
tournament*.json
yarn.lock
/*.py
/*.sh
*.pgn
*.txt
*.mo
.env
yarn-error.log
.idea/