__pycache__/
node_modules/
static/pychess-variants.js
static/pychess-variants.min.js
package-lock.json
game.json
user.json
crossstable.json
highscore.json
yarn.lock
./*.py
./*.sh
*.pgn
*.txt
*.mo
.env
