aioauth-client==0.20.3
aiohttp-session==2.9.0
aiohttp-sse==2.0.0
aiohttp==3.6.2
cryptography==2.9.2
dnspython==1.16.0
htmlmin==0.1.12
jinja2==2.11.2
motor==2.1.0
pyffish==0.0.51
sortedcollections==1.2.1
python-gettext==4.0
