aioauth-client==0.18.0
aiohttp-session==2.8.0
aiohttp-sse==2.0.0
aiohttp==3.6.2
cryptography==2.8
dnspython==1.16.0
htmlmin==0.1.12
jinja2==2.10.3
motor==2.1.0
pyffish==0.0.42
sortedcollections==1.1.2
