.makruk .cg-wrap piece.p-piece.white {
    background-image: url('../../images/pieces/makruk/ada/orig/wP.svg');
}
.makruk .cg-wrap piece.s-piece.white {
    background-image: url('../../images/pieces/makruk/ada/orig/wB.svg');
}
.makruk .cg-wrap piece.n-piece.white {
    background-image: url('../../images/pieces/makruk/ada/orig/wN.svg');
}
.makruk .cg-wrap piece.r-piece.white {
    background-image: url('../../images/pieces/makruk/ada/orig/wR.svg');
}
.makruk .cg-wrap piece.m-piece.white {
    background-image: url('../../images/pieces/makruk/ada/orig/wQ.svg');
}
.makruk .cg-wrap piece.m-piece.promoted.white {
    background-image: url('../../images/pieces/makruk/ada/orig/wF.svg');
}
.makruk .cg-wrap piece.k-piece.white {
    background-image: url('../../images/pieces/makruk/ada/orig/wK.svg');
}
.makruk .cg-wrap piece.p-piece.black {
    background-image: url('../../images/pieces/makruk/ada/orig/bP.svg');
}
.makruk .cg-wrap piece.s-piece.black {
    background-image: url('../../images/pieces/makruk/ada/orig/bB.svg');
}
.makruk .cg-wrap piece.n-piece.black {
    background-image: url('../../images/pieces/makruk/ada/orig/bN.svg');
}
.makruk .cg-wrap piece.r-piece.black {
    background-image: url('../../images/pieces/makruk/ada/orig/bR.svg');
}
.makruk .cg-wrap piece.m-piece.black {
    background-image: url('../../images/pieces/makruk/ada/orig/bQ.svg');
}
.makruk .cg-wrap piece.m-piece.promoted.black {
    background-image: url('../../images/pieces/makruk/ada/orig/bF.svg');
}
.makruk .cg-wrap piece.k-piece.black {
    background-image: url('../../images/pieces/makruk/ada/orig/bK.svg');
}
