.makruk .cg-wrap piece.pawn.white {
    background-image: url('../../images/pieces/makruk/intl/wP.svg');
}
.makruk .cg-wrap piece.silver.white {
    background-image: url('../../images/pieces/makruk/intl/wB.svg');
}
.makruk .cg-wrap piece.knight.white {
    background-image: url('../../images/pieces/makruk/intl/wN.svg');
}
.makruk .cg-wrap piece.rook.white {
    background-image: url('../../images/pieces/makruk/intl/wR.svg');
}
.makruk .cg-wrap piece.met.white {
    background-image: url('../../images/pieces/makruk/intl/wQ.svg');
}
.makruk .cg-wrap piece.ferz.white {
    background-image: url('../../images/pieces/makruk/intl/wF.svg');
}
.makruk .cg-wrap piece.king.white {
    background-image: url('../../images/pieces/makruk/intl/wK.svg');
}
.makruk .cg-wrap piece.pawn.black {
    background-image: url('../../images/pieces/makruk/intl/bP.svg');
}
.makruk .cg-wrap piece.silver.black {
    background-image: url('../../images/pieces/makruk/intl/bB.svg');
}
.makruk .cg-wrap piece.knight.black {
    background-image: url('../../images/pieces/makruk/intl/bN.svg');
}
.makruk .cg-wrap piece.rook.black {
    background-image: url('../../images/pieces/makruk/intl/bR.svg');
}
.makruk .cg-wrap piece.met.black {
    background-image: url('../../images/pieces/makruk/intl/bQ.svg');
}
.makruk .cg-wrap piece.ferz.black {
    background-image: url('../../images/pieces/makruk/intl/bF.svg');
}
.makruk .cg-wrap piece.king.black {
    background-image: url('../../images/pieces/makruk/intl/bK.svg');
}
