.makruk .cg-wrap piece.p-piece.white {
    background-image: url('../../images/pieces/makruk/cambodian/wP.svg');
}
.makruk .cg-wrap piece.s-piece.white {
    background-image: url('../../images/pieces/makruk/cambodian/wB.svg');
}
.makruk .cg-wrap piece.n-piece.white {
    background-image: url('../../images/pieces/makruk/cambodian/wN.svg');
}
.makruk .cg-wrap piece.r-piece.white {
    background-image: url('../../images/pieces/makruk/cambodian/wR.svg');
}
.makruk .cg-wrap piece.m-piece.white {
    background-image: url('../../images/pieces/makruk/cambodian/wQ.svg');
}
.makruk .cg-wrap piece.m-piece.promoted.white {
    background-image: url('../../images/pieces/makruk/cambodian/wF.svg');
}
.makruk .cg-wrap piece.k-piece.white {
    background-image: url('../../images/pieces/makruk/cambodian/wK.svg');
}
.makruk .cg-wrap piece.p-piece.black {
    background-image: url('../../images/pieces/makruk/cambodian/bP.svg');
}
.makruk .cg-wrap piece.s-piece.black {
    background-image: url('../../images/pieces/makruk/cambodian/bB.svg');
}
.makruk .cg-wrap piece.n-piece.black {
    background-image: url('../../images/pieces/makruk/cambodian/bN.svg');
}
.makruk .cg-wrap piece.r-piece.black {
    background-image: url('../../images/pieces/makruk/cambodian/bR.svg');
}
.makruk .cg-wrap piece.m-piece.black {
    background-image: url('../../images/pieces/makruk/cambodian/bQ.svg');
}
.makruk .cg-wrap piece.m-piece.promoted.black {
    background-image: url('../../images/pieces/makruk/cambodian/bF.svg');
}
.makruk .cg-wrap piece.k-piece.black {
    background-image: url('../../images/pieces/makruk/cambodian/bK.svg');
}
