.makruk .cg-wrap piece.p-piece.white {
    background-image: url('../../images/pieces/makruk/ada/orig/wP.svg');
}
.makruk .cg-wrap piece.s-piece.white {
    background-image: url('../../images/pieces/makruk/ada/orig/wB.svg');
}
.makruk .cg-wrap piece.n-piece.white {
    background-image: url('../../images/pieces/makruk/ada/orig/wN.svg');
}
.makruk .cg-wrap piece.r-piece.white {
    background-image: url('../../images/pieces/makruk/ada/orig/wR.svg');
}
.makruk .cg-wrap piece.m-piece.white {
    background-image: url('../../images/pieces/makruk/ada/orig/wQ.svg');
}
.makruk .cg-wrap piece.m-piece.promoted.white {
    background-image: url('../../images/pieces/makruk/ada/orig/wF.svg');
}
.makruk .cg-wrap piece.k-piece.white {
    background-image: url('../../images/pieces/makruk/ada/orig/wK.svg');
}
.makruk .cg-wrap piece.p-piece.black {
    background-image: url('../../images/pieces/makruk/ada/orig/rP.svg');
}
.makruk .cg-wrap piece.s-piece.black {
    background-image: url('../../images/pieces/makruk/ada/orig/rB.svg');
}
.makruk .cg-wrap piece.n-piece.black {
    background-image: url('../../images/pieces/makruk/ada/orig/rN.svg');
}
.makruk .cg-wrap piece.r-piece.black {
    background-image: url('../../images/pieces/makruk/ada/orig/rR.svg');
}
.makruk .cg-wrap piece.m-piece.black {
    background-image: url('../../images/pieces/makruk/ada/orig/rQ.svg');
}
.makruk .cg-wrap piece.m-piece.promoted.black {
    background-image: url('../../images/pieces/makruk/ada/orig/rF.svg');
}
.makruk .cg-wrap piece.k-piece.black {
    background-image: url('../../images/pieces/makruk/ada/orig/rK.svg');
}
