.makruk .cg-wrap piece.pawn.white {
    background-image: url('../../images/pieces/sittuyin/original/wP.svg');
}
.makruk .cg-wrap piece.silver.white {
    background-image: url('../../images/pieces/sittuyin/original/wB.svg');
}
.makruk .cg-wrap piece.knight.white {
    background-image: url('../../images/pieces/sittuyin/original/wN.svg');
}
.makruk .cg-wrap piece.rook.white {
    background-image: url('../../images/pieces/sittuyin/original/wR.svg');
}
.makruk .cg-wrap piece.met.white {
    background-image: url('../../images/pieces/sittuyin/original/wQ.svg');
}
.makruk .cg-wrap piece.ferz.white {
    background-image: url('../../images/pieces/sittuyin/original/wQ.svg');
}
.makruk .cg-wrap piece.king.white {
    background-image: url('../../images/pieces/sittuyin/original/wK.svg');
}
.makruk .cg-wrap piece.pawn.black {
    background-image: url('../../images/pieces/sittuyin/original/bP.svg');
}
.makruk .cg-wrap piece.silver.black {
    background-image: url('../../images/pieces/sittuyin/original/bB.svg');
}
.makruk .cg-wrap piece.knight.black {
    background-image: url('../../images/pieces/sittuyin/original/bN.svg');
}
.makruk .cg-wrap piece.rook.black {
    background-image: url('../../images/pieces/sittuyin/original/bR.svg');
}
.makruk .cg-wrap piece.met.black {
    background-image: url('../../images/pieces/sittuyin/original/bQ.svg');
}
.makruk .cg-wrap piece.ferz.black {
    background-image: url('../../images/pieces/sittuyin/original/bQ.svg');
}
.makruk .cg-wrap piece.king.black {
    background-image: url('../../images/pieces/sittuyin/original/bK.svg');
}
