.empire .cg-wrap piece.p-piece.white {
    background-image: url('../../images/pieces/empire/merida/wP.svg');
}
.empire .cg-wrap piece.s-piece.white {
    background-image: url('../../images/pieces/empire/merida/wS.svg');
}
.empire .cg-wrap piece.t-piece.white {
    background-image: url('../../images/pieces/empire/merida/wT.svg');
}
.empire .cg-wrap piece.e-piece.white {
    background-image: url('../../images/pieces/empire/merida/wE.svg');
}
.empire .cg-wrap piece.c-piece.white {
    background-image: url('../../images/pieces/empire/merida/wC.svg');
}
.empire .cg-wrap piece.d-piece.white {
    background-image: url('../../images/pieces/empire/merida/wD.svg');
}
.empire .cg-wrap piece.k-piece.white {
    background-image: url('../../images/pieces/empire/merida/wK.svg');
}
.empire .cg-wrap piece.q-piece.white {
    background-image: url('../../images/pieces/empire/merida/wQ.svg');
}

.empire .cg-wrap piece.p-piece.black {
    background-image: url('../../images/pieces/merida/bP.svg');
}
.empire .cg-wrap piece.n-piece.black {
    background-image: url('../../images/pieces/merida/bN.svg');
}
.empire .cg-wrap piece.b-piece.black {
    background-image: url('../../images/pieces/merida/bB.svg');
}
.empire .cg-wrap piece.r-piece.black {
    background-image: url('../../images/pieces/merida/bR.svg');
}
.empire .cg-wrap piece.k-piece.black {
    background-image: url('../../images/pieces/merida/bK.svg');
}
.empire .cg-wrap piece.q-piece.black {
    background-image: url('../../images/pieces/merida/bQ.svg');
}
