.shogi piece.ally {
    background-image: url('../../images/pieces/disguised/shogi-ally.svg');
}
.shogi piece.enemy {
    background-image: url('../../images/pieces/disguised/shogi-enemy.svg');
}

.shogi piece.e-piece.ally {
    background-image: url('../../images/pieces/disguised/shogi-ally.svg');
}
.shogi piece.pe-piece.ally {
    background-image: url('../../images/pieces/disguised/shogi-ally.svg');
}
.shogi piece.e-piece.enemy {
    background-image: url('../../images/pieces/disguised/shogi-enemy.svg');
}
.shogi piece.pe-piece.enemy {
    background-image: url('../../images/pieces/disguised/shogi-enemy.svg');
}
