.shogi piece.p-piece.black {
    background-image: url('../../images/pieces/firi/wp.svg');
}
.shogi piece.pp-piece.black {
    background-image: url('../../images/pieces/firi/wpp.svg');
}
.shogi piece.b-piece.black {
    background-image: url('../../images/pieces/firi/wb.svg');
}
.shogi piece.pb-piece.black {
    background-image: url('../../images/pieces/firi/wpb.svg');
}
.shogi piece.n-piece.black {
    background-image: url('../../images/pieces/firi/wn.svg');
}
.shogi piece.pn-piece.black {
    background-image: url('../../images/pieces/firi/wpn.svg');
}
.shogi piece.r-piece.black {
    background-image: url('../../images/pieces/firi/wr.svg');
}
.shogi piece.pr-piece.black {
    background-image: url('../../images/pieces/firi/wpr.svg');
}
.shogi piece.l-piece.black {
    background-image: url('../../images/pieces/firi/wl.svg');
}
.shogi piece.pl-piece.black {
    background-image: url('../../images/pieces/firi/wpl.svg');
}
.shogi piece.s-piece.black {
    background-image: url('../../images/pieces/firi/ws.svg');
}
.shogi piece.ps-piece.black {
    background-image: url('../../images/pieces/firi/wps.svg');
}
.shogi piece.g-piece.black {
    background-image: url('../../images/pieces/firi/wg.svg');
}
.shogi piece.k-piece.black {
    background-image: url('../../images/pieces/firi/wk.svg');
}


.shogi piece.p-piece.white {
    background-image: url('../../images/pieces/firi/bp.svg');
}
.shogi piece.pp-piece.white {
    background-image: url('../../images/pieces/firi/bpp.svg');
}
.shogi piece.b-piece.white {
    background-image: url('../../images/pieces/firi/bb.svg');
}
.shogi piece.pb-piece.white {
    background-image: url('../../images/pieces/firi/bpb.svg');
}
.shogi piece.n-piece.white {
    background-image: url('../../images/pieces/firi/bn.svg');
}
.shogi piece.pn-piece.white {
    background-image: url('../../images/pieces/firi/bpn.svg');
}
.shogi piece.r-piece.white {
    background-image: url('../../images/pieces/firi/br.svg');
}
.shogi piece.pr-piece.white {
    background-image: url('../../images/pieces/firi/bpr.svg');
}
.shogi piece.l-piece.white {
    background-image: url('../../images/pieces/firi/bl.svg');
}
.shogi piece.pl-piece.white {
    background-image: url('../../images/pieces/firi/bpl.svg');
}
.shogi piece.s-piece.white {
    background-image: url('../../images/pieces/firi/bs.svg');
}
.shogi piece.ps-piece.white {
    background-image: url('../../images/pieces/firi/bps.svg');
}
.shogi piece.g-piece.white {
    background-image: url('../../images/pieces/firi/bg.svg');
}
.shogi piece.k-piece.white {
    background-image: url('../../images/pieces/firi/bk.svg');
}
