.shogi .cg-wrap piece.pawn.white {
    background-image: url('../../images/pieces/shogi/Ka/0FU.svg');
}
.shogi .cg-wrap piece.ppawn.white {
    background-image: url('../../images/pieces/shogi/Ka/0TO.svg');
}
.shogi .cg-wrap piece.bishop.white {
    background-image: url('../../images/pieces/shogi/Ka/0KA.svg');
}
.shogi .cg-wrap piece.pbishop.white {
    background-image: url('../../images/pieces/shogi/Ka/0UM.svg');
}
.shogi .cg-wrap piece.knight.white {
    background-image: url('../../images/pieces/shogi/Ka/0KE.svg');
}
.shogi .cg-wrap piece.pknight.white {
    background-image: url('../../images/pieces/shogi/Ka/0NK.svg');
}
.shogi .cg-wrap piece.rook.white {
    background-image: url('../../images/pieces/shogi/Ka/0HI.svg');
}
.shogi .cg-wrap piece.prook.white {
    background-image: url('../../images/pieces/shogi/Ka/0RY.svg');
}
.shogi .cg-wrap piece.lance.white {
    background-image: url('../../images/pieces/shogi/Ka/0KY.svg');
}
.shogi .cg-wrap piece.plance.white {
    background-image: url('../../images/pieces/shogi/Ka/0NY.svg');
}
.shogi .cg-wrap piece.silver.white {
    background-image: url('../../images/pieces/shogi/Ka/0GI.svg');
}
.shogi .cg-wrap piece.psilver.white {
    background-image: url('../../images/pieces/shogi/Ka/0NG.svg');
}
.shogi .cg-wrap piece.gold.white {
    background-image: url('../../images/pieces/shogi/Ka/0KI.svg');
}
.shogi .cg-wrap piece.king.white {
    background-image: url('../../images/pieces/shogi/Ka/0GY.svg');
}
.shogi .cg-wrap piece.pawn.black {
    background-image: url('../../images/pieces/shogi/Ka/1FU.svg');
}
.shogi .cg-wrap piece.ppawn.black {
    background-image: url('../../images/pieces/shogi/Ka/1TO.svg');
}
.shogi .cg-wrap piece.bishop.black {
    background-image: url('../../images/pieces/shogi/Ka/1KA.svg');
}
.shogi .cg-wrap piece.pbishop.black {
    background-image: url('../../images/pieces/shogi/Ka/1UM.svg');
}
.shogi .cg-wrap piece.knight.black {
    background-image: url('../../images/pieces/shogi/Ka/1KE.svg');
}
.shogi .cg-wrap piece.pknight.black {
    background-image: url('../../images/pieces/shogi/Ka/1NK.svg');
}
.shogi .cg-wrap piece.rook.black {
    background-image: url('../../images/pieces/shogi/Ka/1HI.svg');
}
.shogi .cg-wrap piece.prook.black {
    background-image: url('../../images/pieces/shogi/Ka/1RY.svg');
}
.shogi .cg-wrap piece.lance.black {
    background-image: url('../../images/pieces/shogi/Ka/1KY.svg');
}
.shogi .cg-wrap piece.plance.black {
    background-image: url('../../images/pieces/shogi/Ka/1NY.svg');
}
.shogi .cg-wrap piece.silver.black {
    background-image: url('../../images/pieces/shogi/Ka/1GI.svg');
}
.shogi .cg-wrap piece.psilver.black {
    background-image: url('../../images/pieces/shogi/Ka/1NG.svg');
}
.shogi .cg-wrap piece.gold.black {
    background-image: url('../../images/pieces/shogi/Ka/1KI.svg');
}
.shogi .cg-wrap piece.king.black {
    background-image: url('../../images/pieces/shogi/Ka/1OU.svg');
}
