.shogi piece {
    --two-kanji-shadow-size: max(
        calc(var(--cg-width) / var(--cg-board-files, var(--files)) * 0.0113),
        calc(var(--cg-height) / var(--cg-board-ranks, var(--ranks)) * 0.0113)
    );
    filter: drop-shadow(0.68px 0.68px 0.68px #000);
    filter: drop-shadow(
        var(--two-kanji-shadow-size)
        var(--two-kanji-shadow-size)
        var(--two-kanji-shadow-size)
        #000
    );
}
.shogi piece::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.shogi piece.enemy::before {
    transform: rotate(180deg);
}
.shogi piece.p-piece::before {
    background-image: url('../../images/pieces/shogi/2kanji/0FU.svg');
}
.shogi piece.pp-piece::before {
    background-image: url('../../images/pieces/shogi/2kanji/0TO.svg');
}
.shogi piece.b-piece::before {
    background-image: url('../../images/pieces/shogi/2kanji/0KA.svg');
}
.shogi piece.pb-piece::before {
    background-image: url('../../images/pieces/shogi/2kanji/0UM.svg');
}
.shogi piece.n-piece::before {
    background-image: url('../../images/pieces/shogi/2kanji/0KE.svg');
}
.shogi piece.pn-piece::before {
    background-image: url('../../images/pieces/shogi/2kanji/0NK.svg');
}
.shogi piece.r-piece::before {
    background-image: url('../../images/pieces/shogi/2kanji/0HI.svg');
}
.shogi piece.pr-piece::before {
    background-image: url('../../images/pieces/shogi/2kanji/0RY.svg');
}
.shogi piece.l-piece::before {
    background-image: url('../../images/pieces/shogi/2kanji/0KY.svg');
}
.shogi piece.pl-piece::before {
    background-image: url('../../images/pieces/shogi/2kanji/0NY.svg');
}
.shogi piece.s-piece::before {
    background-image: url('../../images/pieces/shogi/2kanji/0GI.svg');
}
.shogi piece.ps-piece::before {
    background-image: url('../../images/pieces/shogi/2kanji/0NG.svg');
}
.shogi piece.g-piece::before {
    background-image: url('../../images/pieces/shogi/2kanji/0KI.svg');
}
.shogi piece.k-piece.white::before {
    background-image: url('../../images/pieces/shogi/2kanji/0GY.svg');
}
.shogi piece.k-piece.black::before {
    background-image: url('../../images/pieces/shogi/2kanji/0OU.svg');
}
