.shogi .cg-wrap piece.p-piece.ally {
    background-image: url('../../images/pieces/shogi/2kanji/0FU.svg');
}
.shogi .cg-wrap piece.pp-piece.ally {
    background-image: url('../../images/pieces/shogi/2kanji/0TO.svg');
}
.shogi .cg-wrap piece.b-piece.ally {
    background-image: url('../../images/pieces/shogi/2kanji/0KA.svg');
}
.shogi .cg-wrap piece.pb-piece.ally {
    background-image: url('../../images/pieces/shogi/2kanji/0UM.svg');
}
.shogi .cg-wrap piece.n-piece.ally {
    background-image: url('../../images/pieces/shogi/2kanji/0KE.svg');
}
.shogi .cg-wrap piece.pn-piece.ally {
    background-image: url('../../images/pieces/shogi/2kanji/0NK.svg');
}
.shogi .cg-wrap piece.r-piece.ally {
    background-image: url('../../images/pieces/shogi/2kanji/0HI.svg');
}
.shogi .cg-wrap piece.pr-piece.ally {
    background-image: url('../../images/pieces/shogi/2kanji/0RY.svg');
}
.shogi .cg-wrap piece.l-piece.ally {
    background-image: url('../../images/pieces/shogi/2kanji/0KY.svg');
}
.shogi .cg-wrap piece.pl-piece.ally {
    background-image: url('../../images/pieces/shogi/2kanji/0NY.svg');
}
.shogi .cg-wrap piece.s-piece.ally {
    background-image: url('../../images/pieces/shogi/2kanji/0GI.svg');
}
.shogi .cg-wrap piece.ps-piece.ally {
    background-image: url('../../images/pieces/shogi/2kanji/0NG.svg');
}
.shogi .cg-wrap piece.g-piece.ally {
    background-image: url('../../images/pieces/shogi/2kanji/0KI.svg');
}
.shogi .cg-wrap piece.k-piece.white.ally {
    background-image: url('../../images/pieces/shogi/2kanji/0GY.svg');
}
.shogi .cg-wrap piece.k-piece.black.ally {
    background-image: url('../../images/pieces/shogi/2kanji/0OU.svg');
}
.shogi .cg-wrap piece.p-piece.enemy {
    background-image: url('../../images/pieces/shogi/2kanji/1FU.svg');
}
.shogi .cg-wrap piece.pp-piece.enemy {
    background-image: url('../../images/pieces/shogi/2kanji/1TO.svg');
}
.shogi .cg-wrap piece.b-piece.enemy {
    background-image: url('../../images/pieces/shogi/2kanji/1KA.svg');
}
.shogi .cg-wrap piece.pb-piece.enemy {
    background-image: url('../../images/pieces/shogi/2kanji/1UM.svg');
}
.shogi .cg-wrap piece.n-piece.enemy {
    background-image: url('../../images/pieces/shogi/2kanji/1KE.svg');
}
.shogi .cg-wrap piece.pn-piece.enemy {
    background-image: url('../../images/pieces/shogi/2kanji/1NK.svg');
}
.shogi .cg-wrap piece.r-piece.enemy {
    background-image: url('../../images/pieces/shogi/2kanji/1HI.svg');
}
.shogi .cg-wrap piece.pr-piece.enemy {
    background-image: url('../../images/pieces/shogi/2kanji/1RY.svg');
}
.shogi .cg-wrap piece.l-piece.enemy {
    background-image: url('../../images/pieces/shogi/2kanji/1KY.svg');
}
.shogi .cg-wrap piece.pl-piece.enemy {
    background-image: url('../../images/pieces/shogi/2kanji/1NY.svg');
}
.shogi .cg-wrap piece.s-piece.enemy {
    background-image: url('../../images/pieces/shogi/2kanji/1GI.svg');
}
.shogi .cg-wrap piece.ps-piece.enemy {
    background-image: url('../../images/pieces/shogi/2kanji/1NG.svg');
}
.shogi .cg-wrap piece.g-piece.enemy {
    background-image: url('../../images/pieces/shogi/2kanji/1KI.svg');
}
.shogi .cg-wrap piece.k-piece.white.enemy {
    background-image: url('../../images/pieces/shogi/2kanji/1GY.svg');
}
.shogi .cg-wrap piece.k-piece.black.enemy {
    background-image: url('../../images/pieces/shogi/2kanji/1OU.svg');
}
