.shogi .cg-wrap piece.p-piece.white {
    background-image: url('../../images/pieces/shogi/ctkw3d/0FU.svg');
}
.shogi .cg-wrap piece.pp-piece.white {
    background-image: url('../../images/pieces/shogi/ctkw3d/0TO.svg');
}
.shogi .cg-wrap piece.b-piece.white {
    background-image: url('../../images/pieces/shogi/ctkw3d/0KA.svg');
}
.shogi .cg-wrap piece.pb-piece.white {
    background-image: url('../../images/pieces/shogi/ctkw3d/0UM.svg');
}
.shogi .cg-wrap piece.n-piece.white {
    background-image: url('../../images/pieces/shogi/ctkw3d/0KE.svg');
}
.shogi .cg-wrap piece.pn-piece.white {
    background-image: url('../../images/pieces/shogi/ctkw3d/0NK.svg');
}
.shogi .cg-wrap piece.r-piece.white {
    background-image: url('../../images/pieces/shogi/ctkw3d/0HI.svg');
}
.shogi .cg-wrap piece.pr-piece.white {
    background-image: url('../../images/pieces/shogi/ctkw3d/0RY.svg');
}
.shogi .cg-wrap piece.l-piece.white {
    background-image: url('../../images/pieces/shogi/ctkw3d/0KY.svg');
}
.shogi .cg-wrap piece.pl-piece.white {
    background-image: url('../../images/pieces/shogi/ctkw3d/0NY.svg');
}
.shogi .cg-wrap piece.s-piece.white {
    background-image: url('../../images/pieces/shogi/ctkw3d/0GI.svg');
}
.shogi .cg-wrap piece.ps-piece.white {
    background-image: url('../../images/pieces/shogi/ctkw3d/0NG.svg');
}
.shogi .cg-wrap piece.g-piece.white {
    background-image: url('../../images/pieces/shogi/ctkw3d/0KI.svg');
}
.shogi .cg-wrap piece.k-piece.white {
    background-image: url('../../images/pieces/shogi/ctkw3d/0GY.svg');
}
.shogi .cg-wrap piece.p-piece.black {
    background-image: url('../../images/pieces/shogi/ctkw3d/1FU.svg');
}
.shogi .cg-wrap piece.pp-piece.black {
    background-image: url('../../images/pieces/shogi/ctkw3d/1TO.svg');
}
.shogi .cg-wrap piece.b-piece.black {
    background-image: url('../../images/pieces/shogi/ctkw3d/1KA.svg');
}
.shogi .cg-wrap piece.pb-piece.black {
    background-image: url('../../images/pieces/shogi/ctkw3d/1UM.svg');
}
.shogi .cg-wrap piece.n-piece.black {
    background-image: url('../../images/pieces/shogi/ctkw3d/1KE.svg');
}
.shogi .cg-wrap piece.pn-piece.black {
    background-image: url('../../images/pieces/shogi/ctkw3d/1NK.svg');
}
.shogi .cg-wrap piece.r-piece.black {
    background-image: url('../../images/pieces/shogi/ctkw3d/1HI.svg');
}
.shogi .cg-wrap piece.pr-piece.black {
    background-image: url('../../images/pieces/shogi/ctkw3d/1RY.svg');
}
.shogi .cg-wrap piece.l-piece.black {
    background-image: url('../../images/pieces/shogi/ctkw3d/1KY.svg');
}
.shogi .cg-wrap piece.pl-piece.black {
    background-image: url('../../images/pieces/shogi/ctkw3d/1NY.svg');
}
.shogi .cg-wrap piece.s-piece.black {
    background-image: url('../../images/pieces/shogi/ctkw3d/1GI.svg');
}
.shogi .cg-wrap piece.ps-piece.black {
    background-image: url('../../images/pieces/shogi/ctkw3d/1NG.svg');
}
.shogi .cg-wrap piece.g-piece.black {
    background-image: url('../../images/pieces/shogi/ctkw3d/1KI.svg');
}
.shogi .cg-wrap piece.k-piece.black {
    background-image: url('../../images/pieces/shogi/ctkw3d/1OU.svg');
}
