.synochess .cg-wrap piece.pawn.white {
    background-image: url('../../images/pieces/synochess/intl/wP.svg');
}
.synochess .cg-wrap piece.bishop.white {
    background-image: url('../../images/pieces/synochess/intl/wB.svg');
}
.synochess .cg-wrap piece.knight.white {
    background-image: url('../../images/pieces/synochess/intl/wN.svg');
}
.synochess .cg-wrap piece.rook.white {
    background-image: url('../../images/pieces/synochess/intl/wR.svg');
}
.synochess .cg-wrap piece.queen.white {
    background-image: url('../../images/pieces/synochess/intl/wQ.svg');
}
.synochess .cg-wrap piece.king.white {
    background-image: url('../../images/pieces/synochess/intl/wK.svg');
}
.synochess .cg-wrap piece.silver.black {
    background-image: url('../../images/pieces/synochess/intl/bS.svg');
}
.synochess .cg-wrap piece.elephant.black {
    background-image: url('../../images/pieces/synochess/intl/bE.svg');
}
.synochess .cg-wrap piece.knight.black {
    background-image: url('../../images/pieces/synochess/intl/bN.svg');
}
.synochess .cg-wrap piece.rook.black {
    background-image: url('../../images/pieces/synochess/intl/bR.svg');
}
.synochess .cg-wrap piece.archbishop.black {
    background-image: url('../../images/pieces/synochess/intl/bA.svg');
}
.synochess .cg-wrap piece.cancellor.black {
    background-image: url('../../images/pieces/synochess/intl/bC.svg');
}
.synochess .cg-wrap piece.king.black {
    background-image: url('../../images/pieces/synochess/intl/bK.svg');
}
