.synochess .cg-wrap piece.p-piece.white {
    background-image: url('../../images/pieces/synochess/xq-red/wP.svg');
}
.synochess .cg-wrap piece.b-piece.white {
    background-image: url('../../images/pieces/synochess/xq-red/wB.svg');
}
.synochess .cg-wrap piece.n-piece.white {
    background-image: url('../../images/pieces/synochess/xq-red/wN.svg');
}
.synochess .cg-wrap piece.r-piece.white {
    background-image: url('../../images/pieces/synochess/xq-red/wR.svg');
}
.synochess .cg-wrap piece.q-piece.white {
    background-image: url('../../images/pieces/synochess/xq-red/wQ.svg');
}
.synochess .cg-wrap piece.k-piece.white {
    background-image: url('../../images/pieces/synochess/xq-red/wK.svg');
}
.synochess .cg-wrap piece.s-piece.black {
    background-image: url('../../images/pieces/synochess/xq-red/bS.svg');
}
.synochess .cg-wrap piece.e-piece.black {
    background-image: url('../../images/pieces/synochess/xq-red/bE.svg');
}
.synochess .cg-wrap piece.n-piece.black {
    background-image: url('../../images/pieces/synochess/xq-red/bN.svg');
}
.synochess .cg-wrap piece.r-piece.black {
    background-image: url('../../images/pieces/synochess/xq-red/bR.svg');
}
.synochess .cg-wrap piece.a-piece.black {
    background-image: url('../../images/pieces/synochess/xq-red/bA.svg');
}
.synochess .cg-wrap piece.c-piece.black {
    background-image: url('../../images/pieces/synochess/xq-red/bC.svg');
}
.synochess .cg-wrap piece.k-piece.black {
    background-image: url('../../images/pieces/synochess/xq-red/bK.svg');
}
