.synochess .cg-wrap piece.pawn.white {
    background-image: url('../../images/pieces/synochess/xq-red/wP.svg');
}
.synochess .cg-wrap piece.bishop.white {
    background-image: url('../../images/pieces/synochess/xq-red/wB.svg');
}
.synochess .cg-wrap piece.knight.white {
    background-image: url('../../images/pieces/synochess/xq-red/wN.svg');
}
.synochess .cg-wrap piece.rook.white {
    background-image: url('../../images/pieces/synochess/xq-red/wR.svg');
}
.synochess .cg-wrap piece.queen.white {
    background-image: url('../../images/pieces/synochess/xq-red/wQ.svg');
}
.synochess .cg-wrap piece.king.white {
    background-image: url('../../images/pieces/synochess/xq-red/wK.svg');
}
.synochess .cg-wrap piece.silver.black {
    background-image: url('../../images/pieces/synochess/xq-red/bS.svg');
}
.synochess .cg-wrap piece.elephant.black {
    background-image: url('../../images/pieces/synochess/xq-red/bE.svg');
}
.synochess .cg-wrap piece.knight.black {
    background-image: url('../../images/pieces/synochess/xq-red/bN.svg');
}
.synochess .cg-wrap piece.rook.black {
    background-image: url('../../images/pieces/synochess/xq-red/bR.svg');
}
.synochess .cg-wrap piece.archbishop.black {
    background-image: url('../../images/pieces/synochess/xq-red/bA.svg');
}
.synochess .cg-wrap piece.chancellor.black {
    background-image: url('../../images/pieces/synochess/xq-red/bC.svg');
}
.synochess .cg-wrap piece.king.black {
    background-image: url('../../images/pieces/synochess/xq-red/bK.svg');
}
