.synochess .cg-wrap piece.pawn.white {
    background-image: url('../../images/pieces/synochess/xq/wP.svg');
}
.synochess .cg-wrap piece.bishop.white {
    background-image: url('../../images/pieces/synochess/xq/wB.svg');
}
.synochess .cg-wrap piece.knight.white {
    background-image: url('../../images/pieces/synochess/xq/wN.svg');
}
.synochess .cg-wrap piece.rook.white {
    background-image: url('../../images/pieces/synochess/xq/wR.svg');
}
.synochess .cg-wrap piece.queen.white {
    background-image: url('../../images/pieces/synochess/xq/wQ.svg');
}
.synochess .cg-wrap piece.king.white {
    background-image: url('../../images/pieces/synochess/xq/wK.svg');
}
.synochess .cg-wrap piece.silver.black {
    background-image: url('../../images/pieces/xiangqi/hnz/red_pawn.svg');
}
.synochess .cg-wrap piece.elephant.black {
    background-image: url('../../images/pieces/xiangqi/hnz/red_elephant.svg');
}
.synochess .cg-wrap piece.knight.black {
    background-image: url('../../images/pieces/xiangqi/hnz/red_horse.svg');
}
.synochess .cg-wrap piece.rook.black {
    background-image: url('../../images/pieces/xiangqi/hnz/red_chariot.svg');
}
.synochess .cg-wrap piece.archbishop.black {
    background-image: url('../../images/pieces/xiangqi/hnz/red_advisor.svg');
}
.synochess .cg-wrap piece.chancellor.black {
    background-image: url('../../images/pieces/xiangqi/hnz/red_cannon.svg');
}
.synochess .cg-wrap piece.king.black {
    background-image: url('../../images/pieces/xiangqi/hnz/red_king.svg');
}
