.synochess .cg-wrap piece.pawn.white {
    background-image: url('../../images/pieces/synochess/blackdisc/wP.svg');
}
.synochess .cg-wrap piece.bishop.white {
    background-image: url('../../images/pieces/synochess/blackdisc/wB.svg');
}
.synochess .cg-wrap piece.knight.white {
    background-image: url('../../images/pieces/synochess/blackdisc/wN.svg');
}
.synochess .cg-wrap piece.rook.white {
    background-image: url('../../images/pieces/synochess/blackdisc/wR.svg');
}
.synochess .cg-wrap piece.queen.white {
    background-image: url('../../images/pieces/synochess/blackdisc/wQ.svg');
}
.synochess .cg-wrap piece.king.white {
    background-image: url('../../images/pieces/synochess/blackdisc/wK.svg');
}
.synochess .cg-wrap piece.silver.black {
    background-image: url('../../images/pieces/synochess/blackdisc/bS.svg');
}
.synochess .cg-wrap piece.elephant.black {
    background-image: url('../../images/pieces/synochess/blackdisc/bE.svg');
}
.synochess .cg-wrap piece.knight.black {
    background-image: url('../../images/pieces/synochess/blackdisc/bN.svg');
}
.synochess .cg-wrap piece.rook.black {
    background-image: url('../../images/pieces/synochess/blackdisc/bR.svg');
}
.synochess .cg-wrap piece.archbishop.black {
    background-image: url('../../images/pieces/synochess/blackdisc/bA.svg');
}
.synochess .cg-wrap piece.cancellor.black {
    background-image: url('../../images/pieces/synochess/blackdisc/bC.svg');
}
.synochess .cg-wrap piece.king.black {
    background-image: url('../../images/pieces/synochess/blackdisc/bK.svg');
}
