.amazons piece._-piece {
    background-image: url('../../images/pieces/brick.svg');
}
.amazons piece.q-piece.white {
    background-image: url('../../images/pieces/merida/wQ.svg');
}
.amazons piece.q-piece.black {
    background-image: url('../../images/pieces/merida/bQ.svg');
}
