.gorogoro .cg-wrap piece.p-piece.white {
    background-image: url('../../images/pieces/shogi/ctk/1FU.svg');
}
.gorogoro .cg-wrap piece.pp-piece.white {
    background-image: url('../../images/pieces/shogi/ctk/1TO.svg');
}
.gorogoro .cg-wrap piece.b-piece.white {
    background-image: url('../../images/pieces/shogi/ctk/1KA.svg');
}
.gorogoro .cg-wrap piece.pb-piece.white {
    background-image: url('../../images/pieces/shogi/ctk/1UM.svg');
}
.gorogoro .cg-wrap piece.n-piece.white {
    background-image: url('../../images/pieces/shogi/ctk/1KE.svg');
}
.gorogoro .cg-wrap piece.pn-piece.white {
    background-image: url('../../images/pieces/shogi/ctk/1NK.svg');
}
.gorogoro .cg-wrap piece.r-piece.white {
    background-image: url('../../images/pieces/shogi/ctk/1HI.svg');
}
.gorogoro .cg-wrap piece.pr-piece.white {
    background-image: url('../../images/pieces/shogi/ctk/1RY.svg');
}
.gorogoro .cg-wrap piece.l-piece.white {
    background-image: url('../../images/pieces/shogi/ctk/1KY.svg');
}
.gorogoro .cg-wrap piece.pl-piece.white {
    background-image: url('../../images/pieces/shogi/ctk/1NY.svg');
}
.gorogoro .cg-wrap piece.s-piece.white {
    background-image: url('../../images/pieces/shogi/ctk/1GI.svg');
}
.gorogoro .cg-wrap piece.ps-piece.white {
    background-image: url('../../images/pieces/shogi/ctk/1NG.svg');
}
.gorogoro .cg-wrap piece.g-piece.white {
    background-image: url('../../images/pieces/shogi/ctk/1KI.svg');
}
.gorogoro .cg-wrap piece.k-piece.white {
    background-image: url('../../images/pieces/shogi/ctk/1GY.svg');
}
.gorogoro .cg-wrap piece.p-piece.black {
    background-image: url('../../images/pieces//shogi/ctk/0FU.svg');
}
.gorogoro .cg-wrap piece.pp-piece.black {
    background-image: url('../../images/pieces//shogi/ctk/0TO.svg');
}
.gorogoro .cg-wrap piece.b-piece.black {
    background-image: url('../../images/pieces//shogi/ctk/0KA.svg');
}
.gorogoro .cg-wrap piece.pb-piece.black {
    background-image: url('../../images/pieces//shogi/ctk/0UM.svg');
}
.gorogoro .cg-wrap piece.n-piece.black {
    background-image: url('../../images/pieces//shogi/ctk/0KE.svg');
}
.gorogoro .cg-wrap piece.pn-piece.black {
    background-image: url('../../images/pieces//shogi/ctk/0NK.svg');
}
.gorogoro .cg-wrap piece.r-piece.black {
    background-image: url('../../images/pieces//shogi/ctk/0HI.svg');
}
.gorogoro .cg-wrap piece.pr-piece.black {
    background-image: url('../../images/pieces//shogi/ctk/0RY.svg');
}
.gorogoro .cg-wrap piece.l-piece.black {
    background-image: url('../../images/pieces//shogi/ctk/0KY.svg');
}
.gorogoro .cg-wrap piece.pl-piece.black {
    background-image: url('../../images/pieces//shogi/ctk/0NY.svg');
}
.gorogoro .cg-wrap piece.s-piece.black {
    background-image: url('../../images/pieces//shogi/ctk/0GI.svg');
}
.gorogoro .cg-wrap piece.ps-piece.black {
    background-image: url('../../images/pieces//shogi/ctk/0NG.svg');
}
.gorogoro .cg-wrap piece.g-piece.black {
    background-image: url('../../images/pieces//shogi/ctk/0KI.svg');
}
.gorogoro .cg-wrap piece.k-piece.black {
    background-image: url('../../images/pieces//shogi/ctk/0OU.svg');
}
