.shogun .cg-wrap piece.p-piece.black {
    background-image: url('../../images/pieces/shogun/medival/bP.svg');
}
.shogun .cg-wrap piece.b-piece.black {
    background-image: url('../../images/pieces/shogun/medival/bB.svg');
}
.shogun .cg-wrap piece.n-piece.black {
    background-image: url('../../images/pieces/shogun/medival/bN.svg');
}
.shogun .cg-wrap piece.r-piece.black {
    background-image: url('../../images/pieces/shogun/medival/bR.svg');
}
.shogun .cg-wrap piece.f-piece.black {
    background-image: url('../../images/pieces/shogun/medival/bF.svg');
}
.shogun .cg-wrap piece.k-piece.black {
    background-image: url('../../images/pieces/shogun/medival/bK.svg');
}
.shogun .cg-wrap piece.pf-piece.black {
    background-image: url('../../images/pieces/shogun/medival/bQ.svg');
}
.shogun .cg-wrap piece.pn-piece.black {
    background-image: url('../../images/pieces/shogun/medival/bG.svg');
}
.shogun .cg-wrap piece.pr-piece.black {
    background-image: url('../../images/pieces/shogun/medival/bM.svg');
}
.shogun .cg-wrap piece.pb-piece.black {
    background-image: url('../../images/pieces/shogun/medival/bA.svg');
}
.shogun .cg-wrap piece.pp-piece.black {
    background-image: url('../../images/pieces/shogun/medival/bC.svg');
}

.shogun .cg-wrap piece.p-piece.white {
    background-image: url('../../images/pieces/shogun/medival/wP.svg');
}
.shogun .cg-wrap piece.b-piece.white {
    background-image: url('../../images/pieces/shogun/medival/wB.svg');
}
.shogun .cg-wrap piece.n-piece.white {
    background-image: url('../../images/pieces/shogun/medival/wN.svg');
}
.shogun .cg-wrap piece.r-piece.white {
    background-image: url('../../images/pieces/shogun/medival/wR.svg');
}
.shogun .cg-wrap piece.f-piece.white {
    background-image: url('../../images/pieces/shogun/medival/wF.svg');
}
.shogun .cg-wrap piece.k-piece.white {
    background-image: url('../../images/pieces/shogun/medival/wK.svg');
}
.shogun .cg-wrap piece.pf-piece.white {
    background-image: url('../../images/pieces/shogun/medival/wQ.svg');
}
.shogun .cg-wrap piece.pn-piece.white {
    background-image: url('../../images/pieces/shogun/medival/wG.svg');
}
.shogun .cg-wrap piece.pr-piece.white {
    background-image: url('../../images/pieces/shogun/medival/wM.svg');
}
.shogun .cg-wrap piece.pb-piece.white {
    background-image: url('../../images/pieces/shogun/medival/wA.svg');
}
.shogun .cg-wrap piece.pp-piece.white {
    background-image: url('../../images/pieces/shogun/medival/wC.svg');
}