.shogun .cg-wrap piece.p-piece.black {
    background-image: url('../../images/pieces/merida/bP.svg');
}
.shogun .cg-wrap piece.b-piece.black {
    background-image: url('../../images/pieces/merida/bB.svg');
}
.shogun .cg-wrap piece.n-piece.black {
    background-image: url('../../images/pieces/merida/bN.svg');
}
.shogun .cg-wrap piece.r-piece.black {
    background-image: url('../../images/pieces/merida/bR.svg');
}
.shogun .cg-wrap piece.f-piece.black {
    background-image: url('../../images/pieces/shogun/blue/bF.svg');
}
.shogun .cg-wrap piece.k-piece.black {
    background-image: url('../../images/pieces/shogun/blue/bK.svg');
}
.shogun .cg-wrap piece.pf-piece.black {
    background-image: url('../../images/pieces/shogun/blue/bQ.svg');
}
.shogun .cg-wrap piece.pn-piece.black {
    background-image: url('../../images/pieces/shogun/blue/bG.svg');
}
.shogun .cg-wrap piece.pr-piece.black {
    background-image: url('../../images/pieces/shogun/blue/bM.svg');
}
.shogun .cg-wrap piece.pb-piece.black {
    background-image: url('../../images/pieces/shogun/blue/bA.svg');
}
.shogun .cg-wrap piece.pp-piece.black {
    background-image: url('../../images/pieces/shogun/blue/bC.svg');
}

.shogun .cg-wrap piece.p-piece.white {
    background-image: url('../../images/pieces/merida/wP.svg');
}
.shogun .cg-wrap piece.b-piece.white {
    background-image: url('../../images/pieces/merida/wB.svg');
}
.shogun .cg-wrap piece.n-piece.white {
    background-image: url('../../images/pieces/merida/wN.svg');
}
.shogun .cg-wrap piece.r-piece.white {
    background-image: url('../../images/pieces/merida/wR.svg');
}
.shogun .cg-wrap piece.f-piece.white {
    background-image: url('../../images/pieces/shogun/blue/wF.svg');
}
.shogun .cg-wrap piece.k-piece.white {
    background-image: url('../../images/pieces/shogun/red/wK.svg');
}
.shogun .cg-wrap piece.pf-piece.white {
    background-image: url('../../images/pieces/shogun/red/wQ.svg');
}
.shogun .cg-wrap piece.pn-piece.white {
    background-image: url('../../images/pieces/shogun/red/wG.svg');
}
.shogun .cg-wrap piece.pr-piece.white {
    background-image: url('../../images/pieces/shogun/red/wM.svg');
}
.shogun .cg-wrap piece.pb-piece.white {
    background-image: url('../../images/pieces/shogun/red/wA.svg');
}
.shogun .cg-wrap piece.pp-piece.white {
    background-image: url('../../images/pieces/shogun/red/wC.svg');
}
