.shogun .cg-wrap piece.f-piece.white {
    background-image: url('../../images/pieces/shogun/blue/wF.svg');
}
.shogun .cg-wrap piece.f-piece.black {
    background-image: url('../../images/pieces/shogun/blue/bF.svg');
}
.shogun .cg-wrap piece.pf-piece.white {
    background-image: url('../../images/pieces/shogun/blue/wQ.svg');
}
.shogun .cg-wrap piece.pf-piece.black {
    background-image: url('../../images/pieces/shogun/blue/bQ.svg');
}
.shogun .cg-wrap piece.pn-piece.white {
    background-image: url('../../images/pieces/shogun/blue/wG.svg');
}
.shogun .cg-wrap piece.pn-piece.black {
    background-image: url('../../images/pieces/shogun/blue/bG.svg');
}
.shogun .cg-wrap piece.pr-piece.white {
    background-image: url('../../images/pieces/shogun/blue/wM.svg');
}
.shogun .cg-wrap piece.pr-piece.black {
    background-image: url('../../images/pieces/shogun/blue/bM.svg');
}
.shogun .cg-wrap piece.pb-piece.white {
    background-image: url('../../images/pieces/shogun/blue/wA.svg');
}
.shogun .cg-wrap piece.pb-piece.black {
    background-image: url('../../images/pieces/shogun/blue/bA.svg');
}
.shogun .cg-wrap piece.pp-piece.white {
    background-image: url('../../images/pieces/shogun/blue/wC.svg');
}
.shogun .cg-wrap piece.pp-piece.black {
    background-image: url('../../images/pieces/shogun/blue/bC.svg');
}

.shogun .cg-wrap piece.p-piece.white {
    background-image: url('../../images/pieces/shogun/blue/wP.svg');
}
.shogun .cg-wrap piece.b-piece.white {
    background-image: url('../../images/pieces/shogun/blue/wB.svg');
}
.shogun .cg-wrap piece.n-piece.white {
    background-image: url('../../images/pieces/shogun/blue/wN.svg');
}
.shogun .cg-wrap piece.r-piece.white {
    background-image: url('../../images/pieces/shogun/blue/wR.svg');
}
.shogun .cg-wrap piece.k-piece.white {
    background-image: url('../../images/pieces/shogun/blue/wK.svg');
}
.shogun .cg-wrap piece.p-piece.black {
    background-image: url('../../images/pieces/shogun/blue/bP.svg');
}
.shogun .cg-wrap piece.b-piece.black {
    background-image: url('../../images/pieces/shogun/blue/bB.svg');
}
.shogun .cg-wrap piece.n-piece.black {
    background-image: url('../../images/pieces/shogun/blue/bN.svg');
}
.shogun .cg-wrap piece.r-piece.black {
    background-image: url('../../images/pieces/shogun/blue/bR.svg');
}
.shogun .cg-wrap piece.k-piece.black {
    background-image: url('../../images/pieces/shogun/blue/bK.svg');
}
