.shogun .cg-wrap piece.ferz.white {
    background-image: url('../../images/pieces/shogun/red/wF.svg');
}
.shogun .cg-wrap piece.ferz.black {
    background-image: url('../../images/pieces/shogun/red/bF.svg');
}
.shogun .cg-wrap piece.pferz.white {
    background-image: url('../../images/pieces/shogun/red/wQ.svg');
}
.shogun .cg-wrap piece.pferz.black {
    background-image: url('../../images/pieces/shogun/red/bQ.svg');
}
.shogun .cg-wrap piece.pknight.white {
    background-image: url('../../images/pieces/shogun/red/wG.svg');
}
.shogun .cg-wrap piece.pknight.black {
    background-image: url('../../images/pieces/shogun/red/bG.svg');
}
.shogun .cg-wrap piece.prook.white {
    background-image: url('../../images/pieces/shogun/red/wM.svg');
}
.shogun .cg-wrap piece.prook.black {
    background-image: url('../../images/pieces/shogun/red/bM.svg');
}
.shogun .cg-wrap piece.pbishop.white {
    background-image: url('../../images/pieces/shogun/red/wA.svg');
}
.shogun .cg-wrap piece.pbishop.black {
    background-image: url('../../images/pieces/shogun/red/bA.svg');
}
.shogun .cg-wrap piece.ppawn.white {
    background-image: url('../../images/pieces/shogun/red/wC.svg');
}
.shogun .cg-wrap piece.ppawn.black {
    background-image: url('../../images/pieces/shogun/red/bC.svg');
}

.shogun .cg-wrap piece.pawn.white {
    background-image: url('../../images/pieces/shogun/red/wP.svg');
}
.shogun .cg-wrap piece.bishop.white {
    background-image: url('../../images/pieces/shogun/red/wB.svg');
}
.shogun .cg-wrap piece.knight.white {
    background-image: url('../../images/pieces/shogun/red/wN.svg');
}
.shogun .cg-wrap piece.rook.white {
    background-image: url('../../images/pieces/shogun/red/wR.svg');
}
.shogun .cg-wrap piece.king.white {
    background-image: url('../../images/pieces/shogun/red/wK.svg');
}
.shogun .cg-wrap piece.pawn.black {
    background-image: url('../../images/pieces/shogun/red/bP.svg');
}
.shogun .cg-wrap piece.bishop.black {
    background-image: url('../../images/pieces/shogun/red/bB.svg');
}
.shogun .cg-wrap piece.knight.black {
    background-image: url('../../images/pieces/shogun/red/bN.svg');
}
.shogun .cg-wrap piece.rook.black {
    background-image: url('../../images/pieces/shogun/red/bR.svg');
}
.shogun .cg-wrap piece.king.black {
    background-image: url('../../images/pieces/shogun/red/bK.svg');
}
