.shogun piece.p-piece.black {
    background-image: url('../../images/pieces/green/bP.svg');
}
.shogun piece.b-piece.black {
    background-image: url('../../images/pieces/green/bB.svg');
}
.shogun piece.n-piece.black {
    background-image: url('../../images/pieces/green/bN.svg');
}
.shogun piece.r-piece.black {
    background-image: url('../../images/pieces/green/bR.svg');
}
.shogun piece.f-piece.black {
    background-image: url('../../images/pieces/shogun/cburnett/blue/bF.svg');
}
.shogun piece.k-piece.black {
    background-image: url('../../images/pieces/shogun/cburnett/blue/bK.svg');
}
.shogun piece.pf-piece.black {
    background-image: url('../../images/pieces/shogun/cburnett/blue/bQ.svg');
}
.shogun piece.pn-piece.black {
    background-image: url('../../images/pieces/shogun/cburnett/blue/bG.svg');
}
.shogun piece.pr-piece.black {
    background-image: url('../../images/pieces/shogun/cburnett/blue/bM.svg');
}
.shogun piece.pb-piece.black {
    background-image: url('../../images/pieces/shogun/cburnett/blue/bA.svg');
}
.shogun piece.pp-piece.black {
    background-image: url('../../images/pieces/shogun/cburnett/blue/bC.svg');
}

.shogun piece.p-piece.white {
    background-image: url('../../images/pieces/green/wP.svg');
}
.shogun piece.b-piece.white {
    background-image: url('../../images/pieces/green/wB.svg');
}
.shogun piece.n-piece.white {
    background-image: url('../../images/pieces/green/wN.svg');
}
.shogun piece.r-piece.white {
    background-image: url('../../images/pieces/green/wR.svg');
}
.shogun piece.f-piece.white {
    background-image: url('../../images/pieces/shogun/cburnett/blue/wF.svg');
}
.shogun piece.k-piece.white {
    background-image: url('../../images/pieces/shogun/cburnett/blue/wK.svg');
}
.shogun piece.pf-piece.white {
    background-image: url('../../images/pieces/shogun/cburnett/blue/wQ.svg');
}
.shogun piece.pn-piece.white {
    background-image: url('../../images/pieces/shogun/cburnett/blue/wG.svg');
}
.shogun piece.pr-piece.white {
    background-image: url('../../images/pieces/shogun/cburnett/blue/wM.svg');
}
.shogun piece.pb-piece.white {
    background-image: url('../../images/pieces/shogun/cburnett/blue/wA.svg');
}
.shogun piece.pp-piece.white {
    background-image: url('../../images/pieces/shogun/cburnett/blue/wC.svg');
}
