.mansindam piece.a-piece.ally {
    background-image: url('../../images/pieces/mansindam/Epson/wa.svg');
}
.mansindam piece.c-piece.ally {
    background-image: url('../../images/pieces/mansindam/Epson/wc.svg');
}
.mansindam piece.m-piece.ally {
    background-image: url('../../images/pieces/mansindam/Epson/wm.svg');
}
.mansindam piece.pc-piece.ally {
    background-image: url('../../images/pieces/mansindam/Epson/w+c.svg');
}
.mansindam piece.pm-piece.ally {
    background-image: url('../../images/pieces/mansindam/Epson/w+m.svg');
}
.mansindam piece.a-piece.enemy {
    background-image: url('../../images/pieces/mansindam/Epson/ba.svg');
}
.mansindam piece.c-piece.enemy {
    background-image: url('../../images/pieces/mansindam/Epson/bc.svg');
}
.mansindam piece.m-piece.enemy {
    background-image: url('../../images/pieces/mansindam/Epson/bm.svg');
}
.mansindam piece.pc-piece.enemy {
    background-image: url('../../images/pieces/mansindam/Epson/b+c.svg');
}
.mansindam piece.pm-piece.enemy {
    background-image: url('../../images/pieces/mansindam/Epson/b+m.svg');
}

.mansindam piece.p-piece.ally {
    background-image: url('../../images/pieces/mansindam/Epson/wp.svg');
}
.mansindam piece.b-piece.ally {
    background-image: url('../../images/pieces/mansindam/Epson/wb.svg');
}
.mansindam piece.n-piece.ally {
    background-image: url('../../images/pieces/mansindam/Epson/wn.svg');
}
.mansindam piece.r-piece.ally {
    background-image: url('../../images/pieces/mansindam/Epson/wr.svg');
}
.mansindam piece.pp-piece.ally {
    background-image: url('../../images/pieces/mansindam/Epson/w+p.svg');
}
.mansindam piece.pb-piece.ally {
    background-image: url('../../images/pieces/mansindam/Epson/w+b.svg');
}
.mansindam piece.pn-piece.ally {
    background-image: url('../../images/pieces/mansindam/Epson/w+n.svg');
}
.mansindam piece.pr-piece.ally {
    background-image: url('../../images/pieces/mansindam/Epson/w+r.svg');
}
.mansindam piece.q-piece.ally {
    background-image: url('../../images/pieces/mansindam/Epson/wq.svg');
}
.mansindam piece.k-piece.white.ally {
    background-image: url('../../images/pieces/mansindam/Epson/wk.svg');
}
.mansindam piece.k-piece.white.enemy {
    background-image: url('../../images/pieces/mansindam/Epson/wk_reversed.svg');
}
.mansindam piece.p-piece.enemy {
    background-image: url('../../images/pieces/mansindam/Epson/bp.svg');
}
.mansindam piece.b-piece.enemy {
    background-image: url('../../images/pieces/mansindam/Epson/bb.svg');
}
.mansindam piece.n-piece.enemy {
    background-image: url('../../images/pieces/mansindam/Epson/bn.svg');
}
.mansindam piece.r-piece.enemy {
    background-image: url('../../images/pieces/mansindam/Epson/br.svg');
}
.mansindam piece.pp-piece.enemy {
    background-image: url('../../images/pieces/mansindam/Epson/b+p.svg');
}
.mansindam piece.pb-piece.enemy {
    background-image: url('../../images/pieces/mansindam/Epson/b+b.svg');
}
.mansindam piece.pn-piece.enemy {
    background-image: url('../../images/pieces/mansindam/Epson/b+n.svg');
}
.mansindam piece.pr-piece.enemy {
    background-image: url('../../images/pieces/mansindam/Epson/b+r.svg');
}
.mansindam piece.q-piece.enemy {
    background-image: url('../../images/pieces/mansindam/Epson/bq.svg');
}
.mansindam piece.k-piece.black.enemy {
    background-image: url('../../images/pieces/mansindam/Epson/bk.svg');
}
.mansindam piece.k-piece.black.ally {
    background-image: url('../../images/pieces/mansindam/Epson/bk_reversed.svg');
}
