.mansindam .cg-wrap piece.a-piece.white {
    background-image: url('../../images/pieces/mansindam/intl/wA.svg');
}
.mansindam .cg-wrap piece.c-piece.white {
    background-image: url('../../images/pieces/mansindam/intl/wC.svg');
}
.mansindam .cg-wrap piece.m-piece.white {
    background-image: url('../../images/pieces/mansindam/intl/wM.svg');
}
.mansindam .cg-wrap piece.pc-piece.white {
    background-image: url('../../images/pieces/mansindam/intl/w+C.svg');
}
.mansindam .cg-wrap piece.pm-piece.white {
    background-image: url('../../images/pieces/mansindam/intl/w+M.svg');
}
.mansindam .cg-wrap piece.a-piece.black {
    background-image: url('../../images/pieces/mansindam/intl/bA.svg');
}
.mansindam .cg-wrap piece.c-piece.black {
    background-image: url('../../images/pieces/mansindam/intl/bC.svg');
}
.mansindam .cg-wrap piece.m-piece.black {
    background-image: url('../../images/pieces/mansindam/intl/bM.svg');
}
.mansindam .cg-wrap piece.pc-piece.black {
    background-image: url('../../images/pieces/mansindam/intl/b+C.svg');
}
.mansindam .cg-wrap piece.pm-piece.black {
    background-image: url('../../images/pieces/mansindam/intl/b+M.svg');
}

.mansindam .cg-wrap piece.p-piece.white {
    background-image: url('../../images/pieces/mansindam/intl/wP.svg');
}
.mansindam .cg-wrap piece.b-piece.white {
    background-image: url('../../images/pieces/mansindam/intl/wB.svg');
}
.mansindam .cg-wrap piece.n-piece.white {
    background-image: url('../../images/pieces/mansindam/intl/wN.svg');
}
.mansindam .cg-wrap piece.r-piece.white {
    background-image: url('../../images/pieces/mansindam/intl/wR.svg');
}
.mansindam .cg-wrap piece.pp-piece.white {
    background-image: url('../../images/pieces/mansindam/intl/w+P.svg');
}
.mansindam .cg-wrap piece.pb-piece.white {
    background-image: url('../../images/pieces/mansindam/intl/w+B.svg');
}
.mansindam .cg-wrap piece.pn-piece.white {
    background-image: url('../../images/pieces/mansindam/intl/w+N.svg');
}
.mansindam .cg-wrap piece.pr-piece.white {
    background-image: url('../../images/pieces/mansindam/intl/w+R.svg');
}
.mansindam .cg-wrap piece.q-piece.white {
    background-image: url('../../images/pieces/mansindam/intl/wQ.svg');
}
.mansindam .cg-wrap piece.k-piece.white {
    background-image: url('../../images/pieces/mansindam/intl/wK.svg');
}
.mansindam .cg-wrap piece.p-piece.black {
    background-image: url('../../images/pieces/mansindam/intl/bP.svg');
}
.mansindam .cg-wrap piece.b-piece.black {
    background-image: url('../../images/pieces/mansindam/intl/bB.svg');
}
.mansindam .cg-wrap piece.n-piece.black {
    background-image: url('../../images/pieces/mansindam/intl/bN.svg');
}
.mansindam .cg-wrap piece.r-piece.black {
    background-image: url('../../images/pieces/mansindam/intl/bR.svg');
}
.mansindam .cg-wrap piece.pp-piece.black {
    background-image: url('../../images/pieces/mansindam/intl/b+P.svg');
}
.mansindam .cg-wrap piece.pb-piece.black {
    background-image: url('../../images/pieces/mansindam/intl/b+B.svg');
}
.mansindam .cg-wrap piece.pn-piece.black {
    background-image: url('../../images/pieces/mansindam/intl/b+N.svg');
}
.mansindam .cg-wrap piece.pr-piece.black {
    background-image: url('../../images/pieces/mansindam/intl/b+R.svg');
}
.mansindam .cg-wrap piece.q-piece.black {
    background-image: url('../../images/pieces/mansindam/intl/bQ.svg');
}
.mansindam .cg-wrap piece.k-piece.black {
    background-image: url('../../images/pieces/mansindam/intl/bK.svg');
}
