.shinobi piece.p-piece.white {
    background-image: url('../../images/pieces/shinobi/cburnett/wP.svg');
}
.shinobi piece.l-piece.white {
    background-image: url('../../images/pieces/shinobi/cburnett/wL.svg');
}
.shinobi piece.h-piece.white {
    background-image: url('../../images/pieces/shinobi/cburnett/wH.svg');
}
.shinobi piece.c-piece.white {
    background-image: url('../../images/pieces/shinobi/cburnett/wC.svg');
}
.shinobi piece.k-piece.white {
    background-image: url('../../images/pieces/shinobi/cburnett/wK.svg');
}
.shinobi piece.m-piece.white {
    background-image: url('../../images/pieces/shinobi/cburnett/wM.svg');
}
.shinobi piece.d-piece.white {
    background-image: url('../../images/pieces/shinobi/cburnett/wD.svg');
}
.shinobi piece.j-piece.white {
    background-image: url('../../images/pieces/shinobi/cburnett/wJ.svg');
}
.shinobi piece.f-piece.white {
    background-image: url('../../images/pieces/shinobi/cburnett/wF.svg');
}
.shinobi piece.pp-piece.white {
    background-image: url('../../images/pieces/shinobi/cburnett/wC.svg');
}
.shinobi piece.pl-piece.white {
    background-image: url('../../images/pieces/shinobi/cburnett/wR.svg');
}
.shinobi piece.ph-piece.white {
    background-image: url('../../images/pieces/shinobi/cburnett/wN.svg');
}
.shinobi piece.pm-piece.white {
    background-image: url('../../images/pieces/shinobi/cburnett/wB.svg');
}

.shinobi piece.p-piece.black {
    background-image: url('../../images/pieces/green/bP.svg');
}
.shinobi piece.n-piece.black {
    background-image: url('../../images/pieces/green/bN.svg');
}
.shinobi piece.b-piece.black {
    background-image: url('../../images/pieces/green/bB.svg');
}
.shinobi piece.r-piece.black {
    background-image: url('../../images/pieces/green/bR.svg');
}
.shinobi piece.pp-piece.black {
    background-image: url('../../images/pieces/shinobi/cburnett/bC.svg');
}
.shinobi piece.k-piece.black {
    background-image: url('../../images/pieces/green/bK.svg');
}
.shinobi piece.q-piece.black {
    background-image: url('../../images/pieces/green/bQ.svg');
}
