.shinobi .cg-wrap piece.p-piece.white {
    background-image: url('../../images/pieces/shinobi/merida/wP.svg');
}
.shinobi .cg-wrap piece.l-piece.white {
    background-image: url('../../images/pieces/shinobi/merida/wL.svg');
}
.shinobi .cg-wrap piece.h-piece.white {
    background-image: url('../../images/pieces/shinobi/merida/wH.svg');
}
.shinobi .cg-wrap piece.c-piece.white {
    background-image: url('../../images/pieces/shinobi/merida/wC.svg');
}
.shinobi .cg-wrap piece.k-piece.white {
    background-image: url('../../images/pieces/shinobi/merida/wK.svg');
}
.shinobi .cg-wrap piece.m-piece.white {
    background-image: url('../../images/pieces/shinobi/merida/wM.svg');
}
.shinobi .cg-wrap piece.d-piece.white {
    background-image: url('../../images/pieces/shinobi/merida/wD.svg');
}
.shinobi .cg-wrap piece.j-piece.white {
    background-image: url('../../images/pieces/shinobi/merida/wJ.svg');
}
.shinobi .cg-wrap piece.pp-piece.white {
    background-image: url('../../images/pieces/shinobi/merida/wC.svg');
}
.shinobi .cg-wrap piece.pl-piece.white {
    background-image: url('../../images/pieces/shinobi/merida/wR.svg');
}
.shinobi .cg-wrap piece.ph-piece.white {
    background-image: url('../../images/pieces/shinobi/merida/wN.svg');
}
.shinobi .cg-wrap piece.pm-piece.white {
    background-image: url('../../images/pieces/shinobi/merida/wB.svg');
}

.shinobi .cg-wrap piece.p-piece.black {
    background-image: url('../../images/pieces/merida/bP.svg');
}
.shinobi .cg-wrap piece.n-piece.black {
    background-image: url('../../images/pieces/merida/bN.svg');
}
.shinobi .cg-wrap piece.b-piece.black {
    background-image: url('../../images/pieces/merida/bB.svg');
}
.shinobi .cg-wrap piece.r-piece.black {
    background-image: url('../../images/pieces/merida/bR.svg');
}
.shinobi .cg-wrap piece.pp-piece.black {
    background-image: url('../../images/pieces/shogun/merida/mono/bC.svg');
}
.shinobi .cg-wrap piece.k-piece.black {
    background-image: url('../../images/pieces/merida/bK.svg');
}
.shinobi .cg-wrap piece.q-piece.black {
    background-image: url('../../images/pieces/merida/bQ.svg');
}
