.ataxx .cg-wrap piece.white {
    background-image: url('../../images/pieces/ataxx/cat-dog/cat.svg');
}
.ataxx .cg-wrap piece.black {
    background-image: url('../../images/pieces/ataxx/cat-dog/dog.svg');
}
.ataxx .cg-wrap piece._-piece {
    background-image: url('../../images/pieces/brick.svg');
}
