.ataxx piece.white {
    background-image: url('../../images/pieces/ataxx/virus/red.svg');
}
.ataxx piece.black {
    background-image: url('../../images/pieces/ataxx/virus/blue.svg');
}
.ataxx piece._-piece {
    background-image: url('../../images/pieces/brick.svg');
}
