.ataxx piece.white {
    background-image: url('../../images/pieces/ataxx/zombie/man.svg');
}
.ataxx piece.black {
    background-image: url('../../images/pieces/ataxx/zombie/zombie.svg');
}
.ataxx piece._-piece {
    background-image: url('../../images/pieces/brick.svg');
}
