.haganeshogi .cg-wrap piece.k-piece.white {
    background-image: url('../../images/pieces/haganeshogi/wK.svg');
}
.haganeshogi .cg-wrap piece.k-piece.black {
    background-image: url('../../images/pieces/haganeshogi/bK.svg');
}
.haganeshogi .cg-wrap piece.a-piece.white {
    background-image: url('../../images/pieces/haganeshogi/wA.svg');
}
.haganeshogi .cg-wrap piece.b-piece.white {
    background-image: url('../../images/pieces/haganeshogi/wB.svg');
}
.haganeshogi .cg-wrap piece.c-piece.white {
    background-image: url('../../images/pieces/haganeshogi/wC.svg');
}
.haganeshogi .cg-wrap piece.d-piece.white {
    background-image: url('../../images/pieces/haganeshogi/wD.svg');
}
.haganeshogi .cg-wrap piece.e-piece.white {
    background-image: url('../../images/pieces/haganeshogi/wE.svg');
}
.haganeshogi .cg-wrap piece.f-piece.white {
    background-image: url('../../images/pieces/haganeshogi/wF.svg');
}
.haganeshogi .cg-wrap piece.g-piece.white {
    background-image: url('../../images/pieces/haganeshogi/wG.svg');
}
.haganeshogi .cg-wrap piece.h-piece.white {
    background-image: url('../../images/pieces/haganeshogi/wH.svg');
}
.haganeshogi .cg-wrap piece.i-piece.white {
    background-image: url('../../images/pieces/haganeshogi/wI.svg');
}
.haganeshogi .cg-wrap piece.j-piece.white {
    background-image: url('../../images/pieces/haganeshogi/wJ.svg');
}
.haganeshogi .cg-wrap piece.m-piece.white {
    background-image: url('../../images/pieces/haganeshogi/wM.svg');
}
.haganeshogi .cg-wrap piece.pa-piece.white {
    background-image: url('../../images/pieces/haganeshogi/w+A.svg');
}
.haganeshogi .cg-wrap piece.pb-piece.white {
    background-image: url('../../images/pieces/haganeshogi/w+B.svg');
}
.haganeshogi .cg-wrap piece.pc-piece.white {
    background-image: url('../../images/pieces/haganeshogi/w+C.svg');
}
.haganeshogi .cg-wrap piece.pd-piece.white {
    background-image: url('../../images/pieces/haganeshogi/w+D.svg');
}
.haganeshogi .cg-wrap piece.pe-piece.white {
    background-image: url('../../images/pieces/haganeshogi/w+E.svg');
}
.haganeshogi .cg-wrap piece.pf-piece.white {
    background-image: url('../../images/pieces/haganeshogi/w+F.svg');
}
.haganeshogi .cg-wrap piece.pg-piece.white {
    background-image: url('../../images/pieces/haganeshogi/w+G.svg');
}
.haganeshogi .cg-wrap piece.ph-piece.white {
    background-image: url('../../images/pieces/haganeshogi/w+H.svg');
}
.haganeshogi .cg-wrap piece.pi-piece.white {
    background-image: url('../../images/pieces/haganeshogi/w+I.svg');
}
.haganeshogi .cg-wrap piece.pj-piece.white {
    background-image: url('../../images/pieces/haganeshogi/w+J.svg');
}
.haganeshogi .cg-wrap piece.pm-piece.white {
    background-image: url('../../images/pieces/haganeshogi/w+M.svg');
}
.haganeshogi .cg-wrap piece.a-piece.black {
    background-image: url('../../images/pieces/haganeshogi/bA.svg');
}
.haganeshogi .cg-wrap piece.b-piece.black {
    background-image: url('../../images/pieces/haganeshogi/bB.svg');
}
.haganeshogi .cg-wrap piece.c-piece.black {
    background-image: url('../../images/pieces/haganeshogi/bC.svg');
}
.haganeshogi .cg-wrap piece.d-piece.black {
    background-image: url('../../images/pieces/haganeshogi/bD.svg');
}
.haganeshogi .cg-wrap piece.e-piece.black {
    background-image: url('../../images/pieces/haganeshogi/bE.svg');
}
.haganeshogi .cg-wrap piece.f-piece.black {
    background-image: url('../../images/pieces/haganeshogi/bF.svg');
}
.haganeshogi .cg-wrap piece.g-piece.black {
    background-image: url('../../images/pieces/haganeshogi/bG.svg');
}
.haganeshogi .cg-wrap piece.h-piece.black {
    background-image: url('../../images/pieces/haganeshogi/bH.svg');
}
.haganeshogi .cg-wrap piece.i-piece.black {
    background-image: url('../../images/pieces/haganeshogi/bI.svg');
}
.haganeshogi .cg-wrap piece.j-piece.black {
    background-image: url('../../images/pieces/haganeshogi/bJ.svg');
}
.haganeshogi .cg-wrap piece.m-piece.black {
    background-image: url('../../images/pieces/haganeshogi/bM.svg');
}
.haganeshogi .cg-wrap piece.pa-piece.black {
    background-image: url('../../images/pieces/haganeshogi/b+A.svg');
}
.haganeshogi .cg-wrap piece.pb-piece.black {
    background-image: url('../../images/pieces/haganeshogi/b+B.svg');
}
.haganeshogi .cg-wrap piece.pc-piece.black {
    background-image: url('../../images/pieces/haganeshogi/b+C.svg');
}
.haganeshogi .cg-wrap piece.pd-piece.black {
    background-image: url('../../images/pieces/haganeshogi/b+D.svg');
}
.haganeshogi .cg-wrap piece.pe-piece.black {
    background-image: url('../../images/pieces/haganeshogi/b+E.svg');
}
.haganeshogi .cg-wrap piece.pf-piece.black {
    background-image: url('../../images/pieces/haganeshogi/b+F.svg');
}
.haganeshogi .cg-wrap piece.pg-piece.black {
    background-image: url('../../images/pieces/haganeshogi/b+G.svg');
}
.haganeshogi .cg-wrap piece.ph-piece.black {
    background-image: url('../../images/pieces/haganeshogi/b+H.svg');
}
.haganeshogi .cg-wrap piece.pi-piece.black {
    background-image: url('../../images/pieces/haganeshogi/b+I.svg');
}
.haganeshogi .cg-wrap piece.pj-piece.black {
    background-image: url('../../images/pieces/haganeshogi/b+J.svg');
}
.haganeshogi .cg-wrap piece.pm-piece.black {
    background-image: url('../../images/pieces/haganeshogi/b+M.svg');
}
