.decimalshogi piece {
    --ctk-shadow-size: max(
        calc(var(--cg-width) / var(--cg-board-files, var(--files)) * 0.0385),
        calc(var(--cg-height) / var(--cg-board-ranks, var(--ranks)) * 0.03333)
    );
    filter: drop-shadow(2px 2px 2px #000);
    filter: drop-shadow(
        var(--ctk-shadow-size)
        var(--ctk-shadow-size)
        var(--ctk-shadow-size)
        #000
    );
}
.decimalshogi piece::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.decimalshogi piece.enemy::before {
    transform: rotate(180deg);
}
.decimalshogi piece.p-piece::before {
    background-image: url('../../images/pieces/shogi/ctk/0FU.svg');
}
.decimalshogi piece.pp-piece::before {
    background-image: url('../../images/pieces/shogi/ctk/0TO.svg');
}
.decimalshogi piece.b-piece::before {
    background-image: url('../../images/pieces/shogi/ctk/0KA.svg');
}
.decimalshogi piece.pb-piece::before {
    background-image: url('../../images/pieces/shogi/ctk/0UM.svg');
}
.decimalshogi piece.n-piece::before {
    background-image: url('../../images/pieces/shogi/ctk/0KE.svg');
}
.decimalshogi piece.pn-piece::before {
    background-image: url('../../images/pieces/shogi/ctk/0_JUMPING_HORSE.svg');
}
.decimalshogi piece.r-piece::before {
    background-image: url('../../images/pieces/shogi/ctk/0HI.svg');
}
.decimalshogi piece.pr-piece::before {
    background-image: url('../../images/pieces/shogi/ctk/0RY.svg');
}
.decimalshogi piece.l-piece::before {
    background-image: url('../../images/pieces/shogi/ctk/0KY.svg');
}
.decimalshogi piece.pl-piece::before {
    background-image: url('../../images/pieces/shogi/ctk/0_VERTICAL_MOVER.svg');
}
.decimalshogi piece.s-piece::before {
    background-image: url('../../images/pieces/shogi/ctk/0GI.svg');
}
.decimalshogi piece.ps-piece::before {
    background-image: url('../../images/pieces/shogi/ctk/0NG.svg');
}
.decimalshogi piece.g-piece::before {
    background-image: url('../../images/pieces/shogi/ctk/0KI.svg');
}
.decimalshogi piece.k-piece.white::before {
    background-image: url('../../images/pieces/shogi/ctk/0GY.svg');
}
.decimalshogi piece.k-piece.black::before {
    background-image: url('../../images/pieces/shogi/ctk/0OU.svg');
}

/* promoted gold = elephant */
.decimalshogi piece.pg-piece::before {
    background-image: url('../../images/pieces/shogi/ctk/0_ELEPHANT.svg');
}

/* queen */
.decimalshogi piece.q-piece::before {
    background-image: url('../../images/pieces/shogi/ctk/0_QUEEN.svg');
}
