.tori piece::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.tori piece.enemy::before {
    transform: rotate(180deg);
}
.tori piece.s-piece::before {
    background-image: url('../../images/pieces/tori/cz/0Swallow.svg');
}
.tori piece.ps-piece::before {
    background-image: url('../../images/pieces/tori/cz/0Goose.svg');
}
.tori piece.l-piece::before {
    background-image: url('../../images/pieces/tori/cz/0LeftQuail.svg');
}
.tori piece.r-piece::before {
    background-image: url('../../images/pieces/tori/cz/0RightQuail.svg');
}
.tori piece.p-piece::before {
    background-image: url('../../images/pieces/tori/cz/0Pheasant.svg');
}
.tori piece.c-piece::before {
    background-image: url('../../images/pieces/tori/cz/0Crane.svg');
}
.tori piece.f-piece::before {
    background-image: url('../../images/pieces/tori/cz/0Falcon.svg');
}
.tori piece.pf-piece::before {
    background-image: url('../../images/pieces/tori/cz/0Eagle.svg');
}
.tori piece.k-piece::before {
    background-image: url('../../images/pieces/tori/cz/0Phoenix.svg');
}
