.tori .cg-wrap piece.s-piece.ally {
    background-image: url('../../images/pieces/tori/Kanji/0Swallow.svg');
}
.tori .cg-wrap piece.ps-piece.ally {
    background-image: url('../../images/pieces/tori/Kanji/0Goose.svg');
}
.tori .cg-wrap piece.l-piece.ally {
    background-image: url('../../images/pieces/tori/Kanji/0LeftQuail.svg');
}
.tori .cg-wrap piece.r-piece.ally {
    background-image: url('../../images/pieces/tori/Kanji/0RightQuail.svg');
}
.tori .cg-wrap piece.p-piece.ally {
    background-image: url('../../images/pieces/tori/Kanji/0Pheasant.svg');
}
.tori .cg-wrap piece.c-piece.ally {
    background-image: url('../../images/pieces/tori/Kanji/0Crane.svg');
}
.tori .cg-wrap piece.f-piece.ally {
    background-image: url('../../images/pieces/tori/Kanji/0Falcon.svg');
}
.tori .cg-wrap piece.pf-piece.ally {
    background-image: url('../../images/pieces/tori/Kanji/0Eagle.svg');
}
.tori .cg-wrap piece.k-piece.ally {
    background-image: url('../../images/pieces/tori/Kanji/0Phoenix.svg');
}

.tori .cg-wrap piece.s-piece.enemy {
    background-image: url('../../images/pieces/tori/Kanji/1Swallow.svg');
}
.tori .cg-wrap piece.ps-piece.enemy {
    background-image: url('../../images/pieces/tori/Kanji/1Goose.svg');
}
.tori .cg-wrap piece.l-piece.enemy {
    background-image: url('../../images/pieces/tori/Kanji/1LeftQuail.svg');
}
.tori .cg-wrap piece.r-piece.enemy {
    background-image: url('../../images/pieces/tori/Kanji/1RightQuail.svg');
}
.tori .cg-wrap piece.p-piece.enemy {
    background-image: url('../../images/pieces/tori/Kanji/1Pheasant.svg');
}
.tori .cg-wrap piece.c-piece.enemy {
    background-image: url('../../images/pieces/tori/Kanji/1Crane.svg');
}
.tori .cg-wrap piece.f-piece.enemy {
    background-image: url('../../images/pieces/tori/Kanji/1Falcon.svg');
}
.tori .cg-wrap piece.pf-piece.enemy {
    background-image: url('../../images/pieces/tori/Kanji/1Eagle.svg');
}
.tori .cg-wrap piece.k-piece.enemy {
    background-image: url('../../images/pieces/tori/Kanji/1Phoenix.svg');
}
