.cannonshogi piece.p-piece.ally {
    background-image: url('../../images/pieces/shogi/ctim/0FU.svg');
}
.cannonshogi piece.pp-piece.ally {
    background-image: url('../../images/pieces/shogi/ctim/0TO.svg');
}
.cannonshogi piece.b-piece.ally {
    background-image: url('../../images/pieces/shogi/ctim/0KA.svg');
}
.cannonshogi piece.pb-piece.ally {
    background-image: url('../../images/pieces/shogi/ctim/0UM.svg');
}
.cannonshogi piece.n-piece.ally {
    background-image: url('../../images/pieces/shogi/ctim/0KE.svg');
}
.cannonshogi piece.pn-piece.ally {
    background-image: url('../../images/pieces/shogi/ctim/0NK.svg');
}
.cannonshogi piece.r-piece.ally {
    background-image: url('../../images/pieces/shogi/ctim/0HI.svg');
}
.cannonshogi piece.pr-piece.ally {
    background-image: url('../../images/pieces/shogi/ctim/0RY.svg');
}
.cannonshogi piece.l-piece.ally {
    background-image: url('../../images/pieces/shogi/ctim/0KY.svg');
}
.cannonshogi piece.pl-piece.ally {
    background-image: url('../../images/pieces/shogi/ctim/0NY.svg');
}
.cannonshogi piece.s-piece.ally {
    background-image: url('../../images/pieces/shogi/ctim/0GI.svg');
}
.cannonshogi piece.ps-piece.ally {
    background-image: url('../../images/pieces/shogi/ctim/0NG.svg');
}
.cannonshogi piece.g-piece.ally {
    background-image: url('../../images/pieces/shogi/ctim/0KI.svg');
}
.cannonshogi piece.k-piece.white.ally {
    background-image: url('../../images/pieces/shogi/ctim/0GY.svg');
}
.cannonshogi piece.k-piece.black.ally {
    background-image: url('../../images/pieces/shogi/ctim/0OU.svg');
}
.cannonshogi piece.p-piece.enemy {
    background-image: url('../../images/pieces/shogi/ctim/1FU.svg');
}
.cannonshogi piece.pp-piece.enemy {
    background-image: url('../../images/pieces/shogi/ctim/1TO.svg');
}
.cannonshogi piece.b-piece.enemy {
    background-image: url('../../images/pieces/shogi/ctim/1KA.svg');
}
.cannonshogi piece.pb-piece.enemy {
    background-image: url('../../images/pieces/shogi/ctim/1UM.svg');
}
.cannonshogi piece.n-piece.enemy {
    background-image: url('../../images/pieces/shogi/ctim/1KE.svg');
}
.cannonshogi piece.pn-piece.enemy {
    background-image: url('../../images/pieces/shogi/ctim/1NK.svg');
}
.cannonshogi piece.r-piece.enemy {
    background-image: url('../../images/pieces/shogi/ctim/1HI.svg');
}
.cannonshogi piece.pr-piece.enemy {
    background-image: url('../../images/pieces/shogi/ctim/1RY.svg');
}
.cannonshogi piece.l-piece.enemy {
    background-image: url('../../images/pieces/shogi/ctim/1KY.svg');
}
.cannonshogi piece.pl-piece.enemy {
    background-image: url('../../images/pieces/shogi/ctim/1NY.svg');
}
.cannonshogi piece.s-piece.enemy {
    background-image: url('../../images/pieces/shogi/ctim/1GI.svg');
}
.cannonshogi piece.ps-piece.enemy {
    background-image: url('../../images/pieces/shogi/ctim/1NG.svg');
}
.cannonshogi piece.g-piece.enemy {
    background-image: url('../../images/pieces/shogi/ctim/1KI.svg');
}
.cannonshogi piece.k-piece.white.enemy {
    background-image: url('../../images/pieces/shogi/ctim/1GY.svg');
}
.cannonshogi piece.k-piece.black.enemy {
    background-image: url('../../images/pieces/shogi/ctim/1OU.svg');
}

.cannonshogi piece.a-piece.ally {
    background-image: url('../../images/pieces/shogi/ctim/0SilverCannon.svg');
}
.cannonshogi piece.u-piece.ally {
    background-image: url('../../images/pieces/shogi/ctim/0GoldCannon.svg');
}
.cannonshogi piece.i-piece.ally {
    background-image: url('../../images/pieces/shogi/ctim/0IronCannon.svg');
}
.cannonshogi piece.c-piece.ally {
    background-image: url('../../images/pieces/shogi/ctim/0BronzeCannon.svg');
}

.cannonshogi piece.pa-piece.ally {
    background-image: url('../../images/pieces/shogi/ctim/0FlyingSilverCannon.svg');
}
.cannonshogi piece.pu-piece.ally {
    background-image: url('../../images/pieces/shogi/ctim/0FlyingGoldCannon.svg');
}
.cannonshogi piece.pi-piece.ally {
    background-image: url('../../images/pieces/shogi/ctim/0FlyingIronCannon.svg');
}
.cannonshogi piece.pc-piece.ally {
    background-image: url('../../images/pieces/shogi/ctim/0FlyingBronzeCannon.svg');
}

.cannonshogi piece.a-piece.enemy {
    background-image: url('../../images/pieces/shogi/ctim/1SilverCannon.svg');
}
.cannonshogi piece.u-piece.enemy {
    background-image: url('../../images/pieces/shogi/ctim/1GoldCannon.svg');
}
.cannonshogi piece.i-piece.enemy {
    background-image: url('../../images/pieces/shogi/ctim/1IronCannon.svg');
}
.cannonshogi piece.c-piece.enemy {
    background-image: url('../../images/pieces/shogi/ctim/1BronzeCannon.svg');
}

.cannonshogi piece.pa-piece.enemy {
    background-image: url('../../images/pieces/shogi/ctim/1FlyingSilverCannon.svg');
}
.cannonshogi piece.pu-piece.enemy {
    background-image: url('../../images/pieces/shogi/ctim/1FlyingGoldCannon.svg');
}
.cannonshogi piece.pi-piece.enemy {
    background-image: url('../../images/pieces/shogi/ctim/1FlyingIronCannon.svg');
}
.cannonshogi piece.pc-piece.enemy {
    background-image: url('../../images/pieces/shogi/ctim/1FlyingBronzeCannon.svg');
}
