.cannonshogi piece::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.cannonshogi piece.enemy::before {
    transform: rotate(180deg);
}
.cannonshogi piece.p-piece::before {
    background-image: url('../../images/pieces/shogi/cz/0_Cannon Pawn.svg');
}
.cannonshogi piece.pp-piece::before {
    background-image: url('../../images/pieces/shogi/cz/0TO.svg');
}
.cannonshogi piece.b-piece::before {
    background-image: url('../../images/pieces/shogi/cz/0KA.svg');
}
.cannonshogi piece.pb-piece::before {
    background-image: url('../../images/pieces/shogi/cz/0UM.svg');
}
.cannonshogi piece.n-piece::before {
    background-image: url('../../images/pieces/shogi/cz/0KE.svg');
}
.cannonshogi piece.pn-piece::before {
    background-image: url('../../images/pieces/shogi/cz/0NK.svg');
}
.cannonshogi piece.r-piece::before {
    background-image: url('../../images/pieces/shogi/cz/0HI.svg');
}
.cannonshogi piece.pr-piece::before {
    background-image: url('../../images/pieces/shogi/cz/0RY.svg');
}
.cannonshogi piece.l-piece::before {
    background-image: url('../../images/pieces/shogi/cz/0KY.svg');
}
.cannonshogi piece.pl-piece::before {
    background-image: url('../../images/pieces/shogi/cz/0NY.svg');
}
.cannonshogi piece.s-piece::before {
    background-image: url('../../images/pieces/shogi/cz/0GI.svg');
}
.cannonshogi piece.ps-piece::before {
    background-image: url('../../images/pieces/shogi/cz/0NG.svg');
}
.cannonshogi piece.g-piece::before {
    background-image: url('../../images/pieces/shogi/cz/0KI.svg');
}
.cannonshogi piece.k-piece.white::before {
    background-image: url('../../images/pieces/shogi/cz/0GY.svg');
}
.cannonshogi piece.k-piece.black::before {
    background-image: url('../../images/pieces/shogi/cz/0OU.svg');
}
.cannonshogi piece.a-piece::before {
    background-image: url('../../images/pieces/shogi/cz/0_Silver Cannon.svg');
}
.cannonshogi piece.u-piece::before {
    background-image: url('../../images/pieces/shogi/cz/0_Gold Cannon.svg');
}
.cannonshogi piece.i-piece::before {
    background-image: url('../../images/pieces/shogi/cz/0_Iron Cannon.svg');
}
.cannonshogi piece.c-piece::before {
    background-image: url('../../images/pieces/shogi/cz/0_Copper Cannon.svg');
}
.cannonshogi piece.pa-piece::before {
    background-image: url('../../images/pieces/shogi/cz/0_Flying Silver.svg');
}
.cannonshogi piece.pu-piece::before {
    background-image: url('../../images/pieces/shogi/cz/0_Flying Gold.svg');
}
.cannonshogi piece.pi-piece::before {
    background-image: url('../../images/pieces/shogi/cz/0_Flying Iron.svg');
}
.cannonshogi piece.pc-piece::before {
    background-image: url('../../images/pieces/shogi/cz/0_Flying Copper.svg');
}
