.chess_xiangqi piece.p-piece.white {
  background-image: url('../../images/pieces/chess_xiangqi/wP.webp');
}
.chess_xiangqi piece.r-piece.white {
  background-image: url('../../images/pieces/chess_xiangqi/wR.webp');
}
.chess_xiangqi piece.n-piece.white {
  background-image: url('../../images/pieces/chess_xiangqi/wN.webp');
}
.chess_xiangqi piece.b-piece.white {
  background-image: url('../../images/pieces/chess_xiangqi/wB.webp');
}
.chess_xiangqi piece.q-piece.white {
  background-image: url('../../images/pieces/chess_xiangqi/wQ.webp');
}
.chess_xiangqi piece.k-piece.white {
  background-image: url('../../images/pieces/chess_xiangqi/wK.webp');
}
.chess_xiangqi piece.u-piece.white {
  background-image: url('../../images/pieces/chess_xiangqi/wU.webp');
}
.chess_xiangqi piece.a-piece.black {
  background-image: url('../../images/pieces/chess_xiangqi/bA.svg');
}
.chess_xiangqi piece.c-piece.black {
  background-image: url('../../images/pieces/chess_xiangqi/bC.svg');
}
.chess_xiangqi piece.e-piece.black {
  background-image: url('../../images/pieces/chess_xiangqi/bE.svg');
}
.chess_xiangqi piece.h-piece.black {
  background-image: url('../../images/pieces/chess_xiangqi/bH.svg');
}
.chess_xiangqi piece.r-piece.black {
  background-image: url('../../images/pieces/chess_xiangqi/bR.svg');
}
.chess_xiangqi piece.s-piece.black {
  background-image: url('../../images/pieces/chess_xiangqi/bS.svg');
}
.chess_xiangqi piece.t-piece.black {
  background-image: url('../../images/pieces/chess_xiangqi/bT.svg');
}
.chess_xiangqi piece.w-piece.black {
  background-image: url('../../images/pieces/chess_xiangqi/bW.svg');
}

.chess_xiangqi piece._-piece {
  background-image: url('../../images/pieces/brick.svg');
}
