.chess_xiangqi .cg-wrap piece.p-piece.white {
  background-image: url('../../images/pieces/chess_xiangqi/wP.webp');
}
.chess_xiangqi .cg-wrap piece.r-piece.white {
  background-image: url('../../images/pieces/chess_xiangqi/wR.webp');
}
.chess_xiangqi .cg-wrap piece.n-piece.white {
  background-image: url('../../images/pieces/chess_xiangqi/wN.webp');
}
.chess_xiangqi .cg-wrap piece.b-piece.white {
  background-image: url('../../images/pieces/chess_xiangqi/wB.webp');
}
.chess_xiangqi .cg-wrap piece.q-piece.white {
  background-image: url('../../images/pieces/chess_xiangqi/wQ.webp');
}
.chess_xiangqi .cg-wrap piece.k-piece.white {
  background-image: url('../../images/pieces/chess_xiangqi/wK.webp');
}
.chess_xiangqi .cg-wrap piece.u-piece.white {
  background-image: url('../../images/pieces/chess_xiangqi/wU.webp');
}
.chess_xiangqi .cg-wrap piece.a-piece.black {
  background-image: url('../../images/pieces/chess_xiangqi/bA.svg');
}
.chess_xiangqi .cg-wrap piece.c-piece.black {
  background-image: url('../../images/pieces/chess_xiangqi/bC.svg');
}
.chess_xiangqi .cg-wrap piece.e-piece.black {
  background-image: url('../../images/pieces/chess_xiangqi/bE.svg');
}
.chess_xiangqi .cg-wrap piece.h-piece.black {
  background-image: url('../../images/pieces/chess_xiangqi/bH.svg');
}
.chess_xiangqi .cg-wrap piece.r-piece.black {
  background-image: url('../../images/pieces/chess_xiangqi/bR.svg');
}
.chess_xiangqi .cg-wrap piece.s-piece.black {
  background-image: url('../../images/pieces/chess_xiangqi/bS.svg');
}
.chess_xiangqi .cg-wrap piece.t-piece.black {
  background-image: url('../../images/pieces/chess_xiangqi/bT.svg');
}
.chess_xiangqi .cg-wrap piece.w-piece.black {
  background-image: url('../../images/pieces/chess_xiangqi/bW.svg');
}

.chess_xiangqi .cg-wrap piece._-piece {
  background-image: url('../../images/pieces/brick.svg');
}
