.standard .cg-wrap piece.p-piece.white {
    background-image: url('../../images/pieces/alpha/wP.svg');
}
.standard .cg-wrap piece.b-piece.white {
    background-image: url('../../images/pieces/alpha/wB.svg');
}
.standard .cg-wrap piece.n-piece.white {
    background-image: url('../../images/pieces/alpha/wN.svg');
}
.standard .cg-wrap piece.r-piece.white {
    background-image: url('../../images/pieces/alpha/wR.svg');
}
.standard .cg-wrap piece.q-piece.white {
    background-image: url('../../images/pieces/alpha/wQ.svg');
}
.standard .cg-wrap piece.k-piece.white {
    background-image: url('../../images/pieces/alpha/wK.svg');
}
.standard .cg-wrap piece.p-piece.black {
    background-image: url('../../images/pieces/alpha/bP.svg');
}
.standard .cg-wrap piece.b-piece.black {
    background-image: url('../../images/pieces/alpha/bB.svg');
}
.standard .cg-wrap piece.n-piece.black {
    background-image: url('../../images/pieces/alpha/bN.svg');
}
.standard .cg-wrap piece.r-piece.black {
    background-image: url('../../images/pieces/alpha/bR.svg');
}
.standard .cg-wrap piece.q-piece.black {
    background-image: url('../../images/pieces/alpha/bQ.svg');
}
.standard .cg-wrap piece.k-piece.black {
    background-image: url('../../images/pieces/alpha/bK.svg');
}
