.standard .cg-wrap piece.p-piece.white {
    background-image: url('../../images/pieces/kaneo/wP.svg');
}
.standard .cg-wrap piece.b-piece.white {
    background-image: url('../../images/pieces/kaneo/wB.svg');
}
.standard .cg-wrap piece.n-piece.white {
    background-image: url('../../images/pieces/kaneo/wN.svg');
}
.standard .cg-wrap piece.r-piece.white {
    background-image: url('../../images/pieces/kaneo/wR.svg');
}
.standard .cg-wrap piece.q-piece.white {
    background-image: url('../../images/pieces/kaneo/wQ.svg');
}
.standard .cg-wrap piece.k-piece.white {
    background-image: url('../../images/pieces/kaneo/wK.svg');
}
.standard .cg-wrap piece.p-piece.black {
    background-image: url('../../images/pieces/kaneo/bP.svg');
}
.standard .cg-wrap piece.b-piece.black {
    background-image: url('../../images/pieces/kaneo/bB.svg');
}
.standard .cg-wrap piece.n-piece.black {
    background-image: url('../../images/pieces/kaneo/bN.svg');
}
.standard .cg-wrap piece.r-piece.black {
    background-image: url('../../images/pieces/kaneo/bR.svg');
}
.standard .cg-wrap piece.q-piece.black {
    background-image: url('../../images/pieces/kaneo/bQ.svg');
}
.standard .cg-wrap piece.k-piece.black {
    background-image: url('../../images/pieces/kaneo/bK.svg');
}
