.standard piece.white {
    background-image: url('../../images/pieces/disguised/w.svg');
}
.standard piece.black {
    background-image: url('../../images/pieces/disguised/b.svg');
}
.standard piece._-piece {
    background-image: url('../../images/pieces/disguised/duck.svg');
}
