.standard .cg-wrap piece.white {
    background-image: url('../../images/pieces/disguised/w.svg');
}
.standard .cg-wrap piece.black {
    background-image: url('../../images/pieces/disguised/b.svg');
}
