.standard .cg-wrap piece.p-piece.white {
    background-image: url('../../images/pieces/green/wP.svg');
}
.standard .cg-wrap piece.b-piece.white {
    background-image: url('../../images/pieces/green/wB.svg');
}
.standard .cg-wrap piece.n-piece.white {
    background-image: url('../../images/pieces/green/wN.svg');
}
.standard .cg-wrap piece.r-piece.white {
    background-image: url('../../images/pieces/green/wR.svg');
}
.standard .cg-wrap piece.q-piece.white {
    background-image: url('../../images/pieces/green/wQ.svg');
}
.standard .cg-wrap piece.k-piece.white {
    background-image: url('../../images/pieces/green/wK.svg');
}
.standard .cg-wrap piece.p-piece.black {
    background-image: url('../../images/pieces/green/bP.svg');
}
.standard .cg-wrap piece.b-piece.black {
    background-image: url('../../images/pieces/green/bB.svg');
}
.standard .cg-wrap piece.n-piece.black {
    background-image: url('../../images/pieces/green/bN.svg');
}
.standard .cg-wrap piece.r-piece.black {
    background-image: url('../../images/pieces/green/bR.svg');
}
.standard .cg-wrap piece.q-piece.black {
    background-image: url('../../images/pieces/green/bQ.svg');
}
.standard .cg-wrap piece.k-piece.black {
    background-image: url('../../images/pieces/green/bK.svg');
}
