.standard .cg-wrap piece.pawn.white {
    background-image: url('../../images/pieces/santa/wP.png');
}
.standard .cg-wrap piece.bishop.white {
    background-image: url('../../images/pieces/santa/wB.png');
}
.standard .cg-wrap piece.knight.white {
    background-image: url('../../images/pieces/santa/wN.png');
}
.standard .cg-wrap piece.rook.white {
    background-image: url('../../images/pieces/santa/wR.png');
}
.standard .cg-wrap piece.queen.white {
    background-image: url('../../images/pieces/santa/wQ.png');
}
.standard .cg-wrap piece.king.white {
    background-image: url('../../images/pieces/santa/wK.png');
}
.standard .cg-wrap piece.pawn.black {
    background-image: url('../../images/pieces/santa/bP.png');
}
.standard .cg-wrap piece.bishop.black {
    background-image: url('../../images/pieces/santa/bB.png');
}
.standard .cg-wrap piece.knight.black {
    background-image: url('../../images/pieces/santa/bN.png');
}
.standard .cg-wrap piece.rook.black {
    background-image: url('../../images/pieces/santa/bR.png');
}
.standard .cg-wrap piece.queen.black {
    background-image: url('../../images/pieces/santa/bQ.png');
}
.standard .cg-wrap piece.king.black {
    background-image: url('../../images/pieces/santa/bK.png');
}
