.standard .cg-wrap piece.p-piece.white {
    background-image: url('../../images/pieces/santa/wP.png');
}
.standard .cg-wrap piece.b-piece.white {
    background-image: url('../../images/pieces/santa/wB.png');
}
.standard .cg-wrap piece.n-piece.white {
    background-image: url('../../images/pieces/santa/wN.png');
}
.standard .cg-wrap piece.r-piece.white {
    background-image: url('../../images/pieces/santa/wR.png');
}
.standard .cg-wrap piece.q-piece.white {
    background-image: url('../../images/pieces/santa/wQ.png');
}
.standard .cg-wrap piece.k-piece.white {
    background-image: url('../../images/pieces/santa/wK.png');
}
.standard .cg-wrap piece.p-piece.black {
    background-image: url('../../images/pieces/santa/bP.png');
}
.standard .cg-wrap piece.b-piece.black {
    background-image: url('../../images/pieces/santa/bB.png');
}
.standard .cg-wrap piece.n-piece.black {
    background-image: url('../../images/pieces/santa/bN.png');
}
.standard .cg-wrap piece.r-piece.black {
    background-image: url('../../images/pieces/santa/bR.png');
}
.standard .cg-wrap piece.q-piece.black {
    background-image: url('../../images/pieces/santa/bQ.png');
}
.standard .cg-wrap piece.k-piece.black {
    background-image: url('../../images/pieces/santa/bK.png');
}
