.standard piece._-piece {
    background-image: url('../../images/pieces/merida/Duck.svg');
}
.standard piece.p-piece.white {
    background-image: url('../../images/pieces/merida/wP.svg');
}
.standard piece.b-piece.white {
    background-image: url('../../images/pieces/merida/wB.svg');
}
.standard piece.i-piece.white {
    background-image: url('../../images/pieces/sinting/wlN.svg');
}
.standard piece.n-piece.white {
    background-image: url('../../images/pieces/sinting/wrN.svg');
}
.standard piece.r-piece.white {
    background-image: url('../../images/pieces/merida/wR.svg');
}
.standard piece.q-piece.white {
    background-image: url('../../images/pieces/merida/wQ.svg');
}
.standard piece.k-piece.white {
    background-image: url('../../images/pieces/merida/wK.svg');
}
.standard piece.p-piece.black {
    background-image: url('../../images/pieces/merida/bP.svg');
}
.standard piece.b-piece.black {
    background-image: url('../../images/pieces/merida/bB.svg');
}
.standard piece.i-piece.black {
    background-image: url('../../images/pieces/sinting/blN.svg');
}
.standard piece.n-piece.black {
    background-image: url('../../images/pieces/sinting/brN.svg');
}
.standard piece.r-piece.black {
    background-image: url('../../images/pieces/merida/bR.svg');
}
.standard piece.q-piece.black {
    background-image: url('../../images/pieces/merida/bQ.svg');
}
.standard piece.k-piece.black {
    background-image: url('../../images/pieces/merida/bK.svg');
}
