.kyoto .cg-wrap piece.p-piece.white {
    background-image: url('../../images/pieces/kyoto/Intl/1FU.svg');
}
.kyoto .cg-wrap piece.pp-piece.white {
    background-image: url('../../images/pieces/kyoto/Intl/1HI.svg');
}
.kyoto .cg-wrap piece.n-piece.white {
    background-image: url('../../images/pieces/kyoto/Intl/1KE.svg');
}
.kyoto .cg-wrap piece.pn-piece.white {
    background-image: url('../../images/pieces/kyoto/Intl/1KI.svg');
}
.kyoto .cg-wrap piece.l-piece.white {
    background-image: url('../../images/pieces/kyoto/Intl/1KY.svg');
}
.kyoto .cg-wrap piece.pl-piece.white {
    background-image: url('../../images/pieces/kyoto/Intl/1TO.svg');
}
.kyoto .cg-wrap piece.s-piece.white {
    background-image: url('../../images/pieces/kyoto/Intl/1GI.svg');
}
.kyoto .cg-wrap piece.ps-piece.white {
    background-image: url('../../images/pieces/kyoto/Intl/1KA.svg');
}
.kyoto .cg-wrap piece.k-piece.white {
    background-image: url('../../images/pieces/shogi/ctp/1GY.svg');
}
.kyoto .cg-wrap piece.p-piece.black {
    background-image: url('../../images/pieces/kyoto/Intl/0FU.svg');
}
.kyoto .cg-wrap piece.pp-piece.black {
    background-image: url('../../images/pieces/kyoto/Intl/0HI.svg');
}
.kyoto .cg-wrap piece.n-piece.black {
    background-image: url('../../images/pieces/kyoto/Intl/0KE.svg');
}
.kyoto .cg-wrap piece.pn-piece.black {
    background-image: url('../../images/pieces/kyoto/Intl/0KI.svg');
}
.kyoto .cg-wrap piece.l-piece.black {
    background-image: url('../../images/pieces/kyoto/Intl/0KY.svg');
}
.kyoto .cg-wrap piece.pl-piece.black {
    background-image: url('../../images/pieces/kyoto/Intl/0TO.svg');
}
.kyoto .cg-wrap piece.s-piece.black {
    background-image: url('../../images/pieces/kyoto/Intl/0GI.svg');
}
.kyoto .cg-wrap piece.ps-piece.black {
    background-image: url('../../images/pieces/kyoto/Intl/0KA.svg');
}
.kyoto .cg-wrap piece.k-piece.black {
    background-image: url('../../images/pieces/shogi/ctp/0OU.svg');
}
