.kyoto piece.p-piece.ally {
    background-image: url('../../images/pieces/kyoto/KanjiSwitch/0FU.svg');
}
.kyoto piece.pp-piece.ally {
    background-image: url('../../images/pieces/kyoto/KanjiSwitch/0HI.svg');
}
.kyoto piece.n-piece.ally {
    background-image: url('../../images/pieces/kyoto/KanjiSwitch/0KE.svg');
}
.kyoto piece.pn-piece.ally {
    background-image: url('../../images/pieces/kyoto/KanjiSwitch/0KI.svg');
}
.kyoto piece.l-piece.ally {
    background-image: url('../../images/pieces/kyoto/KanjiSwitch/0KY.svg');
}
.kyoto piece.pl-piece.ally {
    background-image: url('../../images/pieces/kyoto/KanjiSwitch/0TO.svg');
}
.kyoto piece.s-piece.ally {
    background-image: url('../../images/pieces/kyoto/KanjiSwitch/0GI.svg');
}
.kyoto piece.ps-piece.ally {
    background-image: url('../../images/pieces/kyoto/KanjiSwitch/0KA.svg');
}
.kyoto piece.k-piece {
    --two-kanji-shadow-size: max(
        calc(var(--cg-width) / var(--cg-board-files, var(--files)) * 0.0113),
        calc(var(--cg-height) / var(--cg-board-ranks, var(--ranks)) * 0.0113)
    );
    filter: drop-shadow(0.68px 0.68px 0.68px #000);
    filter: drop-shadow(
        var(--two-kanji-shadow-size)
        var(--two-kanji-shadow-size)
        var(--two-kanji-shadow-size)
        #000
    );
}
.kyoto piece.k-piece::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.kyoto piece.k-piece.enemy::before {
    transform: rotate(180deg);
}
.kyoto piece.k-piece.white::before {
    background-image: url('../../images/pieces/shogi/2kanji/0GY.svg');
}
.kyoto piece.k-piece.black::before {
    background-image: url('../../images/pieces/shogi/2kanji/0OU.svg');
}
.kyoto piece.p-piece.enemy {
    background-image: url('../../images/pieces/kyoto/KanjiSwitch/1FU.svg');
}
.kyoto piece.pp-piece.enemy {
    background-image: url('../../images/pieces/kyoto/KanjiSwitch/1HI.svg');
}
.kyoto piece.n-piece.enemy {
    background-image: url('../../images/pieces/kyoto/KanjiSwitch/1KE.svg');
}
.kyoto piece.pn-piece.enemy {
    background-image: url('../../images/pieces/kyoto/KanjiSwitch/1KI.svg');
}
.kyoto piece.l-piece.enemy {
    background-image: url('../../images/pieces/kyoto/KanjiSwitch/1KY.svg');
}
.kyoto piece.pl-piece.enemy {
    background-image: url('../../images/pieces/kyoto/KanjiSwitch/1TO.svg');
}
.kyoto piece.s-piece.enemy {
    background-image: url('../../images/pieces/kyoto/KanjiSwitch/1GI.svg');
}
.kyoto piece.ps-piece.enemy {
    background-image: url('../../images/pieces/kyoto/KanjiSwitch/1KA.svg');
}
