.piece-style-cwda-cwda piece.a-piece.black {
  background-image: url('../../images/pieces/cwda/bA.svg');
}
.piece-style-cwda-cwda piece.b-piece.black {
  background-image: url('../../images/pieces/cwda/bB.svg');
}
.piece-style-cwda-cwda piece.c-piece.black {
  background-image: url('../../images/pieces/cwda/bC.svg');
}
.piece-style-cwda-cwda piece.d-piece.black {
  background-image: url('../../images/pieces/cwda/bD.svg');
}
.piece-style-cwda-cwda piece.e-piece.black {
  background-image: url('../../images/pieces/cwda/bE.svg');
}
.piece-style-cwda-cwda piece.f-piece.black {
  background-image: url('../../images/pieces/cwda/bF.svg');
}
.piece-style-cwda-cwda piece.g-piece.black {
  background-image: url('../../images/pieces/cwda/bG.svg');
}
.piece-style-cwda-cwda piece.h-piece.black {
  background-image: url('../../images/pieces/cwda/bH.svg');
}
.piece-style-cwda-cwda piece.i-piece.black {
  background-image: url('../../images/pieces/cwda/bI.svg');
}
.piece-style-cwda-cwda piece.k-piece.black {
  background-image: url('../../images/pieces/cwda/bK.svg');
}
.piece-style-cwda-cwda piece.m-piece.black {
  background-image: url('../../images/pieces/cwda/bM.svg');
}
.piece-style-cwda-cwda piece.n-piece.black {
  background-image: url('../../images/pieces/cwda/bN.svg');
}
.piece-style-cwda-cwda piece.o-piece.black {
  background-image: url('../../images/pieces/cwda/bO.svg');
}
.piece-style-cwda-cwda piece.p-piece.black {
  background-image: url('../../images/pieces/cwda/bP.svg');
}
.piece-style-cwda-cwda piece.q-piece.black {
  background-image: url('../../images/pieces/cwda/bQ.svg');
}
.piece-style-cwda-cwda piece.r-piece.black {
  background-image: url('../../images/pieces/cwda/bR.svg');
}
.piece-style-cwda-cwda piece.s-piece.black {
  background-image: url('../../images/pieces/cwda/bS.svg');
}
.piece-style-cwda-cwda piece.w-piece.black {
  background-image: url('../../images/pieces/cwda/bW.svg');
}
.piece-style-cwda-cwda piece.a-piece.white {
  background-image: url('../../images/pieces/cwda/wA.svg');
}
.piece-style-cwda-cwda piece.b-piece.white {
  background-image: url('../../images/pieces/cwda/wB.svg');
}
.piece-style-cwda-cwda piece.c-piece.white {
  background-image: url('../../images/pieces/cwda/wC.svg');
}
.piece-style-cwda-cwda piece.d-piece.white {
  background-image: url('../../images/pieces/cwda/wD.svg');
}
.piece-style-cwda-cwda piece.e-piece.white {
  background-image: url('../../images/pieces/cwda/wE.svg');
}
.piece-style-cwda-cwda piece.f-piece.white {
  background-image: url('../../images/pieces/cwda/wF.svg');
}
.piece-style-cwda-cwda piece.g-piece.white {
  background-image: url('../../images/pieces/cwda/wG.svg');
}
.piece-style-cwda-cwda piece.h-piece.white {
  background-image: url('../../images/pieces/cwda/wH.svg');
}
.piece-style-cwda-cwda piece.i-piece.white {
  background-image: url('../../images/pieces/cwda/wI.svg');
}
.piece-style-cwda-cwda piece.k-piece.white {
  background-image: url('../../images/pieces/cwda/wK.svg');
}
.piece-style-cwda-cwda piece.m-piece.white {
  background-image: url('../../images/pieces/cwda/wM.svg');
}
.piece-style-cwda-cwda piece.n-piece.white {
  background-image: url('../../images/pieces/cwda/wN.svg');
}
.piece-style-cwda-cwda piece.o-piece.white {
  background-image: url('../../images/pieces/cwda/wO.svg');
}
.piece-style-cwda-cwda piece.p-piece.white {
  background-image: url('../../images/pieces/cwda/wP.svg');
}
.piece-style-cwda-cwda piece.q-piece.white {
  background-image: url('../../images/pieces/cwda/wQ.svg');
}
.piece-style-cwda-cwda piece.r-piece.white {
  background-image: url('../../images/pieces/cwda/wR.svg');
}
.piece-style-cwda-cwda piece.s-piece.white {
  background-image: url('../../images/pieces/cwda/wS.svg');
}
.piece-style-cwda-cwda piece.w-piece.white {
  background-image: url('../../images/pieces/cwda/wW.svg');
}
