.cwda piece.a-piece.black {
  background-image: url('../../images/pieces/alfaerie/belephantferzwarmachine.svg');
}
.cwda piece.b-piece.black {
  background-image: url('../../images/pieces/alfaerie/bbishop.svg');
}
.cwda piece.c-piece.black {
  background-image: url('../../images/pieces/alfaerie/bcardinal.svg');
}
.cwda piece.d-piece.black {
  background-image: url('../../images/pieces/alfaerie/bbishopwarmachine.svg');
}
.cwda piece.e-piece.black {
  background-image: url('../../images/pieces/alfaerie/bchancellor.svg');
}
.cwda piece.f-piece.black {
  background-image: url('../../images/pieces/alfaerie/bgreatwarmachineferz.svg');
}
.cwda piece.g-piece.black {
  background-image: url('../../images/pieces/alfaerie/bforwardrookbackwardsprince.svg');
}
.cwda piece.h-piece.black {
  background-image: url('../../images/pieces/alfaerie/bforwardknightbackwardsprince.svg');
}
.cwda piece.i-piece.black {
  background-image: url('../../images/pieces/alfaerie/bnarrowknightferz.svg');
}
.cwda piece.k-piece.black {
  background-image: url('../../images/pieces/alfaerie/bking.svg');
}
.cwda piece.m-piece.black {
  background-image: url('../../images/pieces/alfaerie/bwarmachinewazir.svg');
}
.cwda piece.n-piece.black {
  background-image: url('../../images/pieces/alfaerie/bknight.svg');
}
.cwda piece.o-piece.black {
  background-image: url('../../images/pieces/alfaerie/bforwardchancellorprince.svg');
}
.cwda piece.p-piece.black {
  background-image: url('../../images/pieces/alfaerie/bpawn.svg');
}
.cwda piece.q-piece.black {
  background-image: url('../../images/pieces/alfaerie/bqueen.svg');
}
.cwda piece.r-piece.black {
  background-image: url('../../images/pieces/alfaerie/brook.svg');
}
.cwda piece.s-piece.black {
  background-image: url('../../images/pieces/alfaerie/bhalfrook.svg');
}
.cwda piece.w-piece.black {
  background-image: url('../../images/pieces/alfaerie/belephantwazir.svg');
}
.cwda piece.a-piece.white {
  background-image: url('../../images/pieces/alfaerie/welephantferzwarmachine.svg');
}
.cwda piece.b-piece.white {
  background-image: url('../../images/pieces/alfaerie/wbishop.svg');
}
.cwda piece.c-piece.white {
  background-image: url('../../images/pieces/alfaerie/wcardinal.svg');
}
.cwda piece.d-piece.white {
  background-image: url('../../images/pieces/alfaerie/wbishopwarmachine.svg');
}
.cwda piece.e-piece.white {
  background-image: url('../../images/pieces/alfaerie/wchancellor.svg');
}
.cwda piece.f-piece.white {
  background-image: url('../../images/pieces/alfaerie/wgreatwarmachineferz.svg');
}
.cwda piece.g-piece.white {
  background-image: url('../../images/pieces/alfaerie/wforwardrookbackwardsprince.svg');
}
.cwda piece.h-piece.white {
  background-image: url('../../images/pieces/alfaerie/wforwardknightbackwardsprince.svg');
}
.cwda piece.i-piece.white {
  background-image: url('../../images/pieces/alfaerie/wnarrowknightferz.svg');
}
.cwda piece.k-piece.white {
  background-image: url('../../images/pieces/alfaerie/wking.svg');
}
.cwda piece.m-piece.white {
  background-image: url('../../images/pieces/alfaerie/wwarmachinewazir.svg');
}
.cwda piece.n-piece.white {
  background-image: url('../../images/pieces/alfaerie/wknight.svg');
}
.cwda piece.o-piece.white {
  background-image: url('../../images/pieces/alfaerie/wforwardchancellorprince.svg');
}
.cwda piece.p-piece.white {
  background-image: url('../../images/pieces/alfaerie/wpawn.svg');
}
.cwda piece.q-piece.white {
  background-image: url('../../images/pieces/alfaerie/wqueen.svg');
}
.cwda piece.r-piece.white {
  background-image: url('../../images/pieces/alfaerie/wrook.svg');
}
.cwda piece.s-piece.white {
  background-image: url('../../images/pieces/alfaerie/whalfrook.svg');
}
.cwda piece.w-piece.white {
  background-image: url('../../images/pieces/alfaerie/welephantwazir.svg');
}
