.asean piece.p-piece.white {
    background-image: url('../../images/pieces/makruk/ada/wP.svg');
}
.asean piece.b-piece.white {
    background-image: url('../../images/pieces/makruk/ada/wB.svg');
}
.asean piece.n-piece.white {
    background-image: url('../../images/pieces/makruk/ada/wN.svg');
}
.asean piece.r-piece.white {
    background-image: url('../../images/pieces/makruk/ada/wR.svg');
}
.asean piece.q-piece.white {
    background-image: url('../../images/pieces/makruk/ada/wQ.svg');
}
.asean piece.k-piece.white {
    background-image: url('../../images/pieces/makruk/ada/wK.svg');
}
.asean piece.p-piece.black {
    background-image: url('../../images/pieces/makruk/ada/bP.svg');
}
.asean piece.b-piece.black {
    background-image: url('../../images/pieces/makruk/ada/bB.svg');
}
.asean piece.n-piece.black {
    background-image: url('../../images/pieces/makruk/ada/bN.svg');
}
.asean piece.r-piece.black {
    background-image: url('../../images/pieces/makruk/ada/bR.svg');
}
.asean piece.q-piece.black {
    background-image: url('../../images/pieces/makruk/ada/bQ.svg');
}
.asean piece.k-piece.black {
    background-image: url('../../images/pieces/makruk/ada/bK.svg');
}
