.asean piece.p-piece.white {
    background-image: url('../../images/pieces/makruk/cambodian/wP.svg');
}
.asean piece.b-piece.white {
    background-image: url('../../images/pieces/makruk/cambodian/wB.svg');
}
.asean piece.n-piece.white {
    background-image: url('../../images/pieces/makruk/cambodian/wN.svg');
}
.asean piece.r-piece.white {
    background-image: url('../../images/pieces/makruk/cambodian/wR.svg');
}
.asean piece.q-piece.white {
    background-image: url('../../images/pieces/makruk/cambodian/wQ.svg');
}
.asean piece.k-piece.white {
    background-image: url('../../images/pieces/makruk/cambodian/wK.svg');
}
.asean piece.p-piece.black {
    background-image: url('../../images/pieces/makruk/cambodian/bP.svg');
}
.asean piece.b-piece.black {
    background-image: url('../../images/pieces/makruk/cambodian/bB.svg');
}
.asean piece.n-piece.black {
    background-image: url('../../images/pieces/makruk/cambodian/bN.svg');
}
.asean piece.r-piece.black {
    background-image: url('../../images/pieces/makruk/cambodian/bR.svg');
}
.asean piece.q-piece.black {
    background-image: url('../../images/pieces/makruk/cambodian/bQ.svg');
}
.asean piece.k-piece.black {
    background-image: url('../../images/pieces/makruk/cambodian/bK.svg');
}
