.asean piece.p-piece.white {
    background-image: url('../../images/pieces/green/wP.svg');
}
.asean piece.b-piece.white {
    background-image: url('../../images/pieces/green/wS.svg');
}
.asean piece.n-piece.white {
    background-image: url('../../images/pieces/green/wN.svg');
}
.asean piece.r-piece.white {
    background-image: url('../../images/pieces/green/wR.svg');
}
.asean piece.q-piece.white {
    background-image: url('../../images/pieces/shogun/cburnett/blue/wF.svg');
}
.asean piece.k-piece.white {
    background-image: url('../../images/pieces/green/wK.svg');
}
.asean piece.p-piece.black {
    background-image: url('../../images/pieces/green/bP.svg');
}
.asean piece.b-piece.black {
    background-image: url('../../images/pieces/green/bS.svg');
}
.asean piece.n-piece.black {
    background-image: url('../../images/pieces/green/bN.svg');
}
.asean piece.r-piece.black {
    background-image: url('../../images/pieces/green/bR.svg');
}
.asean piece.q-piece.black {
    background-image: url('../../images/pieces/shogun/cburnett/blue/bF.svg');
}
.asean piece.k-piece.black {
    background-image: url('../../images/pieces/green/bK.svg');
}
