.asean piece.p-piece.white {
    background-image: url('../../images/pieces/sittuyin/original/wP.svg');
}
.asean piece.b-piece.white {
    background-image: url('../../images/pieces/sittuyin/original/wB.svg');
}
.asean piece.n-piece.white {
    background-image: url('../../images/pieces/sittuyin/original/wN.svg');
}
.asean piece.r-piece.white {
    background-image: url('../../images/pieces/sittuyin/original/wR.svg');
}
.asean piece.q-piece.white {
    background-image: url('../../images/pieces/sittuyin/original/wQ.svg');
}
.asean piece.k-piece.white {
    background-image: url('../../images/pieces/sittuyin/original/wK.svg');
}
.asean piece.p-piece.black {
    background-image: url('../../images/pieces/sittuyin/original/bP.svg');
}
.asean piece.b-piece.black {
    background-image: url('../../images/pieces/sittuyin/original/bB.svg');
}
.asean piece.n-piece.black {
    background-image: url('../../images/pieces/sittuyin/original/bN.svg');
}
.asean piece.r-piece.black {
    background-image: url('../../images/pieces/sittuyin/original/bR.svg');
}
.asean piece.q-piece.black {
    background-image: url('../../images/pieces/sittuyin/original/bQ.svg');
}
.asean piece.k-piece.black {
    background-image: url('../../images/pieces/sittuyin/original/bK.svg');
}
