.asean piece.p-piece.white {
    background-image: url('../../images/pieces/merida/wP.svg');
}
.asean piece.b-piece.white {
    background-image: url('../../images/pieces/merida/wS.svg');
}
.asean piece.n-piece.white {
    background-image: url('../../images/pieces/merida/wN.svg');
}
.asean piece.r-piece.white {
    background-image: url('../../images/pieces/merida/wR.svg');
}
.asean piece.q-piece.white {
    background-image: url('../../images/pieces/shogun/merida/blue/wF.svg');
}
.asean piece.k-piece.white {
    background-image: url('../../images/pieces/merida/wK.svg');
}
.asean piece.p-piece.black {
    background-image: url('../../images/pieces/merida/bP.svg');
}
.asean piece.b-piece.black {
    background-image: url('../../images/pieces/merida/bS.svg');
}
.asean piece.n-piece.black {
    background-image: url('../../images/pieces/merida/bN.svg');
}
.asean piece.r-piece.black {
    background-image: url('../../images/pieces/merida/bR.svg');
}
.asean piece.q-piece.black {
    background-image: url('../../images/pieces/shogun/merida/blue/bF.svg');
}
.asean piece.k-piece.black {
    background-image: url('../../images/pieces/merida/bK.svg');
}
