.ordamirror .cg-wrap piece.p-piece.white {
    background-image: url('../../images/pieces/green/wP.svg');
}
.ordamirror .cg-wrap piece.a-piece.white {
    background-image: url('../../images/pieces/orda/cburnett/wA.svg');
}
.ordamirror .cg-wrap piece.h-piece.white {
    background-image: url('../../images/pieces/orda/cburnett/wH.svg');
}
.ordamirror .cg-wrap piece.l-piece.white {
    background-image: url('../../images/pieces/orda/cburnett/wL.svg');
}
.ordamirror .cg-wrap piece.f-piece.white {
    background-image: url('../../images/pieces/orda/cburnett/wF.svg');
}
.ordamirror .cg-wrap piece.k-piece.white {
    background-image: url('../../images/pieces/orda/cburnett/wK.svg');
}

.ordamirror .cg-wrap piece.p-piece.black {
    background-image: url('../../images/pieces/orda/cburnett/bP.svg');
}
.ordamirror .cg-wrap piece.a-piece.black {
    background-image: url('../../images/pieces/orda/cburnett/bA.svg');
}
.ordamirror .cg-wrap piece.h-piece.black {
    background-image: url('../../images/pieces/orda/cburnett/bH.svg');
}
.ordamirror .cg-wrap piece.l-piece.black {
    background-image: url('../../images/pieces/orda/cburnett/bL.svg');
}
.ordamirror .cg-wrap piece.f-piece.black {
    background-image: url('../../images/pieces/orda/cburnett/bF.svg');
}
.ordamirror .cg-wrap piece.k-piece.black {
    background-image: url('../../images/pieces/orda/cburnett/bK.svg');
}
