.capa .cg-wrap piece.archbishop.white {
    background-image: url('../../images/pieces/green/wA.svg');
}
.capa .cg-wrap piece.cancellor.white {
    background-image: url('../../images/pieces/green/wC.svg');
}
.capa .cg-wrap piece.archbishop.black {
    background-image: url('../../images/pieces/green/bA.svg');
}
.capa .cg-wrap piece.cancellor.black {
    background-image: url('../../images/pieces/green/bC.svg');
}

.capa .cg-wrap piece.pawn.white {
    background-image: url('../../images/pieces/green/wP.svg');
}
.capa .cg-wrap piece.bishop.white {
    background-image: url('../../images/pieces/green/wB.svg');
}
.capa .cg-wrap piece.knight.white {
    background-image: url('../../images/pieces/green/wN.svg');
}
.capa .cg-wrap piece.rook.white {
    background-image: url('../../images/pieces/green/wR.svg');
}
.capa .cg-wrap piece.queen.white {
    background-image: url('../../images/pieces/green/wQ.svg');
}
.capa .cg-wrap piece.king.white {
    background-image: url('../../images/pieces/green/wK.svg');
}
.capa .cg-wrap piece.pawn.black {
    background-image: url('../../images/pieces/green/bP.svg');
}
.capa .cg-wrap piece.bishop.black {
    background-image: url('../../images/pieces/green/bB.svg');
}
.capa .cg-wrap piece.knight.black {
    background-image: url('../../images/pieces/green/bN.svg');
}
.capa .cg-wrap piece.rook.black {
    background-image: url('../../images/pieces/green/bR.svg');
}
.capa .cg-wrap piece.queen.black {
    background-image: url('../../images/pieces/green/bQ.svg');
}
.capa .cg-wrap piece.king.black {
    background-image: url('../../images/pieces/green/bK.svg');
}
