.seirawan .cg-wrap piece.hawk.white {
    background-image: url('../../images/pieces/green/wH.svg');
}
.seirawan .cg-wrap piece.elephant.white {
    background-image: url('../../images/pieces/green/wE.svg');
}
.seirawan .cg-wrap piece.hawk.black {
    background-image: url('../../images/pieces/green/bH.svg');
}
.seirawan .cg-wrap piece.elephant.black {
    background-image: url('../../images/pieces/green/bE.svg');
}

.seirawan .cg-wrap piece.pawn.white {
    background-image: url('../../images/pieces/green/wP.svg');
}
.seirawan .cg-wrap piece.bishop.white {
    background-image: url('../../images/pieces/green/wB.svg');
}
.seirawan .cg-wrap piece.knight.white {
    background-image: url('../../images/pieces/green/wN.svg');
}
.seirawan .cg-wrap piece.rook.white {
    background-image: url('../../images/pieces/green/wR.svg');
}
.seirawan .cg-wrap piece.queen.white {
    background-image: url('../../images/pieces/green/wQ.svg');
}
.seirawan .cg-wrap piece.king.white {
    background-image: url('../../images/pieces/green/wK.svg');
}
.seirawan .cg-wrap piece.pawn.black {
    background-image: url('../../images/pieces/green/bP.svg');
}
.seirawan .cg-wrap piece.bishop.black {
    background-image: url('../../images/pieces/green/bB.svg');
}
.seirawan .cg-wrap piece.knight.black {
    background-image: url('../../images/pieces/green/bN.svg');
}
.seirawan .cg-wrap piece.rook.black {
    background-image: url('../../images/pieces/green/bR.svg');
}
.seirawan .cg-wrap piece.queen.black {
    background-image: url('../../images/pieces/green/bQ.svg');
}
.seirawan .cg-wrap piece.king.black {
    background-image: url('../../images/pieces/green/bK.svg');
}
