.seirawan piece.h-piece.white {
    background-image: url('../../images/pieces/kaneo/wH.svg');
}
.seirawan piece.e-piece.white {
    background-image: url('../../images/pieces/kaneo/wE.svg');
}
.seirawan piece.h-piece.black {
    background-image: url('../../images/pieces/kaneo/bH.svg');
}
.seirawan piece.e-piece.black {
    background-image: url('../../images/pieces/kaneo/bE.svg');
}
.seirawan piece.p-piece.white {
    background-image: url('../../images/pieces/kaneo/wP.svg');
}
.seirawan piece.b-piece.white {
    background-image: url('../../images/pieces/kaneo/wB.svg');
}
.seirawan piece.n-piece.white {
    background-image: url('../../images/pieces/kaneo/wN.svg');
}
.seirawan piece.r-piece.white {
    background-image: url('../../images/pieces/kaneo/wR.svg');
}
.seirawan piece.q-piece.white {
    background-image: url('../../images/pieces/kaneo/wQ.svg');
}
.seirawan piece.k-piece.white {
    background-image: url('../../images/pieces/kaneo/wK.svg');
}
.seirawan piece.p-piece.black {
    background-image: url('../../images/pieces/kaneo/bP.svg');
}
.seirawan piece.b-piece.black {
    background-image: url('../../images/pieces/kaneo/bB.svg');
}
.seirawan piece.n-piece.black {
    background-image: url('../../images/pieces/kaneo/bN.svg');
}
.seirawan piece.r-piece.black {
    background-image: url('../../images/pieces/kaneo/bR.svg');
}
.seirawan piece.q-piece.black {
    background-image: url('../../images/pieces/kaneo/bQ.svg');
}
.seirawan piece.k-piece.black {
    background-image: url('../../images/pieces/kaneo/bK.svg');
}
