div.not-found {
    display: flex;
    flex-flow: column;
    width: 100%;
    max-width: 1000px;
    align-items: center;
    padding: 0 0 50px 0;
}
.not-found .header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.not-found .header h1 {
    font-size: 7em;
    color: #b3b3b3;
    margin: 0 2rem 0 0;
}
.not-found .main-game-body p {
    padding: 0.2em;
}
.not-found .header strong {
    text-transform: uppercase;
    color: #b3b3b3;
    font-size: 2em;
    margin: 10px 0;
    display: block;
}
div.main-game-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@media (max-width: 799px) and (orientation: portrait) {
     div.main-game-body {
         display: none;
     }
}

    #message {
      opacity: 0;
      background: var(--invalid-queen);
      border: 1px solid #800000;
      border-radius: 20px;
      padding: 1.5em 1em;
      margin: 1em;
      margin-top: 10px;
      font-size: 18px;
      font-weight: bold;
      max-width: 600px;
      text-align: center;
    }

    #counter {
      margin-top: 10px;
      font-size: 16px;
    }

    #rules {
      padding: 1em;
      background: var(--bg-color2);
      box-shadow: var(--base-shadow);
      text-align: center;
      font-size: 16px;
      margin-bottom: 30px;
    }

    #reset-button {
      text-transform: uppercase;
      margin: 2em;
      padding: 1.2em;
      background: #1b78d0;
      border: none;
      color: white;
      font-weight: bold;
      border-radius: 6px;
    }
    #reset-button:hover {
        transform: scale(1.1);
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    }
    .light-square {
      background-color: #f0d9b5;
    }

    .dark-square {
      background-color: #b58863;
    }
