div.not-found {
    display: flex;
    flex-flow: column;
    width: 100%;
    max-width: 1000px;
    align-items: center;
    padding: 0 0 50px 0;
}
.not-found .header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.not-found .header h1 {
    font-size: 7em;
    color: #b3b3b3;
    margin: 0 2rem 0 0;
}
.not-found .header p {
    padding: 0;
}
.not-found .header strong {
    text-transform: uppercase;
    color: #b3b3b3;
    font-size: 2em;
    margin: 10px 0;
    display: block;
}
