:root {
    --main-max-width: auto;
    --ranks-top: 0px;
    --files-left: 0px;
    --pocketMargin: 0px;
}
.analysis-app {
    grid-area: main;
    display: grid;
}
.sidebar-first {
    box-shadow: none;
}
@media (max-width: 799px) and (orientation: portrait) {
    .analysis-app {
        grid-template-rows: auto;
        grid-template-areas: 'pocket-top' 'board' 'pocket-bot' 'move-controls' 'ceval' 'pv' 'misc-info' 'vari' 'tools' 'uboard' 'side';
    }
    under-left {
        display: none;
    }
}
@media (min-width: 800px) and (min-height: 500px) {
    .analysis-app {
        --board-scale: calc((var(--zoom) / 100));
    }
}

@media (min-width: 800px) {
    .analysis-app {
        grid-template-columns: minmax(230px, 20vw) 2vmin minmax(calc(70vmin * var(--board-scale)), calc(100vh * var(--board-scale) - calc(var(--site-header-height) + var(--site-header-margin)) - 3rem)) var(--gauge-gap) minmax(240px, 400px);
        grid-template-rows: min-content 1fr;
        grid-template-areas: 'side . board gauge pocket-top' 'side . board gauge tools' 'side . board gauge tools' 'side . board gauge pocket-bot' 'uleft . uboard . move-controls';
    }
    /* move rank numbers to the left side of the board */
    .cg-wrap coords.side {
        right: auto;
    }
    .cg-wrap coords.side coord {
        transform: translate(var(--ranks-left), 39%);
    }
}

/* .round-app grid has 2vmin grid-gap, but .analysis-app doesn't.
   Because of this the cross table needs extra top padding */
div#ctable-container {
    padding-top: 3vmin;
}

#gauge {
    grid-area: gauge;
    display: block;
    background-color: #fff;
    width: var(--gauge-gap);
    overflow: hidden;
    position: relative;
}
#gauge::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 5px rgba(0,0,0,0.7) inset;
}
#gauge .black {
    background-color: #888;
    transition: height 1s;
}
#gauge .tick {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 2px ridge #eee;
    opacity: 0.4;
}
#gauge .tick.zero {
    opacity: 1;
    border-bottom: 7px solid rgba(214,79,0,0.4);
    margin-top: -3px;
}
@media (max-width: 799px) and (orientation: portrait) {
    #gauge {
        display: none;
    }
}

.movelist-block{
    grid-area: moves;
    flex: 2 1 0;
    overflow-y: auto;
    overflow-x: hide;
    justify-content: initial;
    border-bottom: 1px solid var(--border-color);
}
#movelist {
    display: flex;
    height: auto;
    max-height: none;
    overflow-y: none;
}
@media (max-width: 799px) and (orientation: portrait) {
    .movelist-block {
        flex: initial;
        height: var(--movelist-max-height);
        max-height: var(--movelist-max-height);
    }
}
.analysis-tools {
    grid-area: tools;
    display: flex;
    flex-flow: column;
}

/* Engine info */
div#ceval {
    grid-area: ceval;
    background-color: var(--bg-color2);
    box-shadow: var(--btn-shadow);
    border-bottom: 1px solid var(--border-color);
}
.engine {
    display: flex;
    padding: 6px;
}
div.info {
    flex: 1 0 auto;
    align-self: center;
    line-height: 18px;
}
a.icon.icon-plus-square {
    opacity:0.9;
    color: var(--link-color-blue);
    background-color: var(--bg-body);
    font-size: 16px;
    margin-left: 4px;
    cursor: pointer;
}
div#pv {
    grid-area: pv;
    display: flex;
    flex: 0 1 auto;
    border-bottom: 1px solid var(--border-color);
    background-color: var(--bg-color0);
}
pvline {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    min-width: 0;
    max-width: var(--cg-width);
    height: 28px;
    line-height: 28px;
    padding-left: 6px;
}
@media (max-width: 799px) and (orientation: portrait) {
    pvline {
        padding-left: 0;
    }
}
score {
    flex: 0 0 75px;
    font-weight: bold;
    font-size: 22px;
    align-self: center;
    padding-left: 8px;
}

/* Local Fairy toggle */
label.switch {
position: relative;
display: inline-block;
width: 42px;
height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.sw-slider {
position: absolute;
cursor: pointer;
border: 1px solid #D3D3D3;
border-radius: 24px;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #C0C0C0;
-webkit-transition: .1s;
transition: .1s;
}

.sw-slider:before {
position: absolute;
content: "";
height: 22px;
width: 22px;
left: 0px;
bottom: 0px;
box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
background-color: #F5F5F5;
border-radius: 50%;
-webkit-transition: .1s;
transition: .1s
}

input:checked + .sw-slider {
background-color: #629924;
}

input:focus + .sw-slider {
box-shadow: 0 0 8px #808080;
}

input:checked + .sw-slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(18px);
}

.sw-slider:hover {
box-shadow: 0 0 8px #808080;
}

/* loader */
#loader-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.1%;
    z-index: 1000;
}
#loader {
    display: none;
    position: relative;
    top: 100px;
    left: 50%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 4px solid var(--bg-color2);
    border-top: 4px solid DimGray;
    -webkit-animation: spin 0.6s linear infinite;
    animation: spin 0.6s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

input[type="checkbox"] {
    vertical-align: middle;
}

/* analysis chart */
.chart-container {
    position: relative;
}
#chart {
    width:100%;
    height:240px;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 20%, rgba(128,128,128,0.2) 50%, rgba(255,255,255,0) 80%, rgba(255,255,255,0) 100%);
}
