.blogs > p {
    margin: .5em 3em .5em 3em;
}
.blogs > ul {
    margin: .5em 3em .5em 3em;
}
iframe {
    display: block;
    margin: auto;
}
@media (max-width: 799px) and (orientation: portrait) {
    div.blogs {
        width: 100%;
    }
    .blogs > p {
        margin: .5em ;
    }
    .blogs > ul {
        margin: .5em;
    }
}
