.standard8x8 .cg-wrap {
    background-image: url('images/board/8x8brown.svg');
}
.standard10x8 .cg-wrap {
    background-image: url('images/board/10x8brown.svg');
}
.standard10x10 .cg-wrap {
    background-image: url('images/board/10x10brown.svg');
}
.grand10x10 .cg-wrap {
    background-image: url('images/board/Grandboard.svg');
}
.makruk8x8 .cg-wrap {
    background-image: url('images/board/makruk2.svg');
}
.sittuyin8x8 .cg-wrap {
    background-image: url('images/board/sittuyin.svg');
}
.shogi9x9 .cg-wrap {
    background-image: url('images/board/shogi.svg');
}
.shogi7x7 .cg-wrap {
    background-image: url('images/board/ToriPlain.svg');
}
.shogi5x6 .cg-wrap {
    background-image: url('images/board/gorogoroboard.svg');
}
.shogi5x5 .cg-wrap {
    background-image: url('images/board/minishogi.svg');
}
.shogi3x4 .cg-wrap {
    background-image: url('images/board/dobutsuboard.svg');
}
.xiangqi9x10 .cg-wrap {
    background-image: url('images/board/xiangqi.svg');
}
.xiangqi7x7 .cg-wrap {
    background-image: url('images/board/minixiangqi.svg');
}
.janggi9x10 .cg-wrap {
    background-image: url('images/board/JanggiBrown.svg');
}
.shogun8x8 .cg-wrap {
    background-image: url('images/board/ShogunPlain.svg');
}
.pandemonium9x9 .cg-wrap {
    background-image: url('images/board/9x9pandemonium.svg');
}