/*
 * Chessground base css properties.
 *
 * You need to include the css files in themes folder in order to have the
 * board and pieces displayed!
 */
.cg-wrap {
  background-size: cover;
  position: relative;
  display: block;
}
/* 8x8 */
.cg-wrap.cg-512 {
  width: 512px;
  height: 512px;
}
.cg-wrap.cg-512.mini {
  width: 256px;
  height: 256px;
}
/* 10x8 */
.cg-wrap.cg-640 {
  width: 640px;
  height: 512px;
}
.cg-wrap.cg-640.mini {
  width: 320px;
  height: 256px;
}
/* 9x9 */
.cg-wrap.cg-576 {
  width: 468px;
  height: 540px;
}
.cg-wrap.cg-576.mini {
  width: 304px;
  height: 351px;
}
/* 5x5 */
.cg-wrap.cg-260 {
  width: 390px;
  height: 450px;
}
.cg-wrap.cg-260.mini {
  width: 260px;
  height: 300px;
}
/* 3x4 */
.cg-wrap.cg-156 {
  width: 212px;
  height: 480px;
}
.cg-wrap.cg-156.mini {
  width: 156px;
  height: 240px;
}

/* 7x7 */
.cg-wrap.cg-448 {
  width: 448px;
  height: 448px;
}
.cg-wrap.cg-448.mini {
  width: 224px;
  height: 224px;
}
/* 9x10 */
.cg-wrap.cg-576-640 {
  width: 576px;
  height: 640px;
}
.cg-wrap.cg-576-640.mini {
  width: 288px;
  height: 320px;
}
/* 10x10 */
.cg-wrap.cg-640-640 {
  width: 640px;
  height: 640px;
}
.cg-wrap.cg-640-640.mini {
  width: 320px;
  height: 320px;
}

cg-board {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 0;
  background-size: cover;
  cursor: pointer;
}
cg-board square {
  position: absolute;
  top: 0;
  left: 0;
  width: 12.5%;
  height: 12.5%;
  pointer-events: none;
}
.cg-640 cg-board square{
  width: 10%;
  height: 12.5%;
}
.cg-576 cg-board square{
  width: 11.11%;
  height: 11.11%;
}
.cg-260 cg-board square{
  width: 20%;
  height: 20%;
}
.cg-156 cg-board square{
  width: 33.33%;
  height: 25%;
}
.cg-448 cg-board square{
  width: 14.28%;
  height: 14.28%;
}
.cg-576-640 cg-board square{
  width: 11.11%;
  height: 10%;
}
.cg-640-640 cg-board square{
  width: 10%;
  height: 10%;
}

cg-board square.move-dest {
  background: radial-gradient(rgba(20, 85, 30, 0.5) 22%, #208530 0, rgba(0, 0, 0, 0.3) 0, rgba(0, 0, 0, 0) 0);
  pointer-events: auto;
}
cg-board square.premove-dest {
  background: radial-gradient(rgba(20, 30, 85, 0.5) 22%, #203085 0, rgba(0, 0, 0, 0.3) 0, rgba(0, 0, 0, 0) 0);
}
cg-board square.oc.move-dest {
  background: radial-gradient(transparent 0%, transparent 80%, rgba(20, 85, 0, 0.3) 80%);
}
cg-board square.oc.premove-dest {
  background: radial-gradient(transparent 0%, transparent 80%, rgba(20, 30, 85, 0.2) 80%);
}
cg-board square.move-dest:hover {
  background: rgba(20, 85, 30, 0.3);
}
cg-board square.premove-dest:hover {
  background: rgba(20, 30, 85, 0.2);
}
cg-board square.last-move {
  will-change: transform;
  background-color: rgba(155, 199, 0, 0.41);
}
cg-board square.selected {
  background-color: rgba(20, 85, 30, 0.5);
}
cg-board square.check {
  background: radial-gradient(ellipse at center, rgba(255, 0, 0, 1) 0%, rgba(231, 0, 0, 1) 25%, rgba(169, 0, 0, 0) 89%, rgba(158, 0, 0, 0) 100%);
}
cg-board square.current-premove {
  background-color: rgba(20, 30, 85, 0.5);
}
.cg-wrap piece {
  position: absolute;
  top: 0;
  left: 0;
  width: 12.5%;
  height: 12.5%;
  background-size: cover;
  z-index: 2;
  will-change: transform;
  pointer-events: none;
}
.blindfold piece {
  opacity: 0;
}
.cg-wrap.cg-640 piece {
  width: 10%;
  height: 12.5%;
}
.cg-wrap.cg-576 piece {
  width: 11.11%;
  height: 11.11%;
}
.cg-wrap.cg-260 piece {
  width: 20%;
  height: 20%;
}
.cg-wrap.cg-156 piece {
  width: 33.33%;
  height: 25%;
}
.cg-wrap.cg-448 piece {
  width: 14.28%;
  height: 14.28%;
}
.cg-wrap.cg-576-640 piece{
  width: 11.11%;
  height: 10%;
}
.cg-wrap.cg-640-640 piece{
  width: 10%;
  height: 10%;
}

cg-board piece.dragging {
  cursor: move;
  z-index: 9;
}
cg-board piece.anim {
  z-index: 8;
}
cg-board piece.fading {
  z-index: 1;
  opacity: 0.5;
}
.cg-wrap square.move-dest:hover {
  background-color: rgba(20, 85, 30, 0.3);
}
.cg-wrap piece.ghost {
  opacity: 0.3;
}
.cg-wrap svg {
  overflow: hidden;
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 2;
  opacity: 0.6;
}
.cg-wrap svg image {
  opacity: 0.5;
}
.cg-wrap coords {
  position: absolute;
  display: flex;
  pointer-events: none;
  opacity: 0.8;
  font-size: 0.85em;
  font-weight: bold;
}
.cg-wrap coords.ranks {
  right: var(--ranks-right);
  top: var(--ranks-top);
  flex-flow: column-reverse;
  height: 100%;
  width: 12px;
}
.cg-wrap coords.ranks.black {
  flex-flow: column;
}
.cg-wrap coords.files {
  bottom: var(--files-bottom);
  left: var(--files-left);
  flex-flow: row;
  width: 100%;
  height: 16px;
  text-align: center;
}
.cg-wrap coords.files.black {
  flex-flow: row-reverse;
}
.cg-wrap coords coord {
  flex: 1 1 auto;
}
.cg-wrap coords.ranks coord {
  transform: translateY(39%);
}
