div.main-feature-board {
    background: var(--bg-color1);
    box-shadow: var(--base-shadow);
    margin-left: 4%;
    width: 92%;
    padding: 1em;
}
@media (max-width: 799px) and (orientation: portrait) {
    div.main-feature-board {
        margin-left: 0;
        width: 100%;
    }
}
table {
  margin: 1em;      
}
tr{box-shadow: 0 1px 0 var(--border-color); width: 90%;}
td, th{padding: 1em;}
h1, h3 {color: darkgoldenrod;}
b {color: green; font-size: 1.3em;}
a {color: var(--link-hover);}
span.green-text-right {
    font-weight: normal;
    padding-left: 0.5em;
}
@media (max-width: 799px) and (orientation: portrait) {
    span.green-text-right {
        display: none;
    }
}
p.explanation {
    box-shadow: var(--base-shadow);
    margin: 3em 10% 1em 10%;
    padding: 2em 3em 3em 3em;
    background: var(--feature-btn);
    font-size: 1.3em;
}
 @media (max-width: 799px) and (orientation: portrait) {
    .explanation {
        font-size: 1.1em;
        margin: 3em 0 1em 0;
        padding: 2em 1em 3em 1em
    }
}
