div.main-feature-board {
    margin-left: 5%;
    width: 90%;
    padding: 0px;
}
@media (max-width: 799px) and (orientation: portrait) {
    div.main-feature-board {
        margin: 0;
        width: 100%;
    }
}
