.chess[data-icon],#layer2chesscont [data-icon],#chessl3cont [data-icon]:before,#chessl3cont .l3links:hover,#chessl3cont a:hover {
    color: #90bfd5;
}
.fairy[data-icon],#layer2fairycont [data-icon],#fairyl3cont [data-icon]:before,#fairyl3cont .l3links:hover,#fairyl3cont a:hover {
    color: #62B956;
}
.army[data-icon],#layer2armycont [data-icon],#armyl3cont [data-icon]:before,#armyl3cont .l3links:hover,#armyl3cont a:hover{
    color: #7f8dff;
}
.makruk[data-icon],#layer2makrukcont [data-icon],#makrukl3cont [data-icon]:before,#makrukl3cont .l3links:hover,#makrukl3cont a:hover {
    color: #d4aa00;
}
.shogi[data-icon],#layer2shogicont [data-icon],#shogil3cont [data-icon]:before,#shogil3cont .l3links:hover,#shogil3cont a:hover {
    color: #c68948;
}
.xiangqi[data-icon],#layer2xiangqicont [data-icon],#xiangqil3cont [data-icon]:before,#xiangqil3cont .l3links:hover,#xiangqil3cont a:hover{
    color: #ff5555;
}
