.janggi .cg-wrap piece.pawn.white {
  background-image: url('images/pieces/janggi/hanjagreen/blue_pawn.svg');
}
.janggi .cg-wrap piece.bishop.white {
  background-image: url('images/pieces/janggi/hanjagreen/blue_elephant.svg');
}
.janggi .cg-wrap piece.knight.white {
  background-image: url('images/pieces/janggi/hanjagreen/blue_horse.svg');
}
.janggi .cg-wrap piece.rook.white {
  background-image: url('images/pieces/janggi/hanjagreen/blue_chariot.svg');
}
.janggi .cg-wrap piece.advisor.white {
  background-image: url('images/pieces/janggi/hanjagreen/blue_advisor.svg');
}
.janggi .cg-wrap piece.cannon.white {
  background-image: url('images/pieces/janggi/hanjagreen/blue_cannon.svg');
}
.janggi .cg-wrap piece.king.white {
  background-image: url('images/pieces/janggi/hanjagreen/blue_king.svg');
}

.janggi .cg-wrap piece.pawn.black {
  background-image: url('images/pieces/janggi/hanjagreen/red_pawn.svg');
}
.janggi .cg-wrap piece.bishop.black {
  background-image: url('images/pieces/janggi/hanjagreen/red_elephant.svg');
}
.janggi .cg-wrap piece.knight.black {
  background-image: url('images/pieces/janggi/hanjagreen/red_horse.svg');
}
.janggi .cg-wrap piece.rook.black {
  background-image: url('images/pieces/janggi/hanjagreen/red_chariot.svg');
}
.janggi .cg-wrap piece.advisor.black {
  background-image: url('images/pieces/janggi/hanjagreen/red_advisor.svg');
}
.janggi .cg-wrap piece.cannon.black {
  background-image: url('images/pieces/janggi/hanjagreen/red_cannon.svg');
}
.janggi .cg-wrap piece.king.black {
  background-image: url('images/pieces/janggi/hanjagreen/red_king.svg');
}
