
/* Layer 3 - Three Column Layout Desktop */

/* Main Container of all 3 columns  */

.layer-3-container {
    grid-area: vpanel;
    background-color: var(--bg-color1);
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding: 10px;
    gap: 10px;
    /* border: 1px solid red; */
}

/* Columns  */

.layer-3-container .layer-2-category {
    display: flex;
    justify-content: flex-start;
    padding:15px;
    /* border: 1px solid yellow; */
}

.layer-3-container .layer-2-category:hover {
border: none;
background-color: var(--vpanel-button) ;
color: #999;
transform: scale(1);
cursor: default;
}



/* First Column  */

.layer-3-container .l3v .variant-title-l2 {
    /* border: 1px solid red; */
 display: flex;
 flex-direction: row;
 width: 100%;
 margin-bottom: 25px;
 justify-content: center;
 align-items: center;
 font-size: 1.1rem;

}

.layer-3-container .l3links-cont {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* border: 1px solid yellow; */
    text-transform: none;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1rem;
    text-align: left; 
   
}

.layer-3-container .l3links-cont .l3links {
    /* border: 1px solid pink; */
    display: flex;
    justify-content: flex-start;
    font-size: 1rem;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.layer-3-container h5 {
    /* border: 1px solid red; */
    padding: 10px;
}

/* Second Column with Image */

[data-icon]:before {
    font-size: 1.8em;
    vertical-align: middle;
    opacity: 0.6;
    padding-right: 4px;
}

.layer-3-container .l3img {
    display: block;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    padding: 0;
    width: 100%;
}

.layer-3-container .l3img .generic-shogi {
    /* border: 1px solid blue; */
    width: 100%;
}

/* Third Column with Text */

.layer-3-container .l3t .variant-extra-info {
    /* border: 1px solid red; */
    padding: 0;
    margin-bottom: 20px;
    width: 100%;
}

/* Setting max height for all columns  */

.chess-l3 {
    max-height: 375px;
}

#chess960l3cont .variant-extra-info, #capablancal3cont .variant-extra-info, #schessl3cont .variant-extra-info {
    font-size: 0.8rem;
}

