@import "layer-1.css";
@import "chess-l2.css";
@import "fairy-l2.css";
@import "layer-3.css";
.lobby {
    grid-area: main;
    display: grid;
    grid-gap: 10px;
}
@media (max-width: 799px) and (orientation: portrait) {
    .lobby {
        grid-template-areas: 'table' 'app' 'vpanel' 'side' 'uleft' 'utable' 'blog';
    }

    .sidebar-second {

    margin: 1em 0 1em 0;

    }

}
@media (min-width: 800px) {
    .lobby {
        grid-template-columns: 3fr 1fr;
        grid-template-areas: 'app table';
        min-height: 540px;
        grid-gap: 18px;
    }
}
.seeks {
    display: grid;
    grid-area: app;
}
.seeks  [data-icon]:before {
    font-size: 20px;
}
.seeks [class*=" icon-"]:before {
    font-size: 18px;
}

.stream {
    display: block;
    line-height: 0.9;
    margin-bottom: 0.5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.stream .icon {
    color: var(--gold);
    margin-right: 0.2rem;
}
.stream .icon::before {
    font-size: 1.5em;
}

/* VARIANT INFO PANEL  */

.generic-fairy p img {
    height: 15px;
    width: auto;
    filter: saturate(0.1);
}

.active-player{
    background: #294d6d;
    border-radius: 13px;
    color: #ffffff;
    padding: 18px;
    width: 100%;
    margin-bottom: 8px;
}
.active-player counter{
    display: block;
    font-size: 15px;
}
.invite-model{
    display: flex;
    padding: 60px 24px 24px;
    position: relative;
}
.invite-model #closecontainer{
    position: static;
}
.invite-frnd{
    flex: 0 0 50%;
}

.invite-model .section-title{
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 10px;
    padding: 0;
    display: none;
}
.invite-model .container{
    padding: 0;
}
.join-form{
    flex: 0 0 100%;
}
.invite-frnd{
    padding: 0 26px 0 0;
    position: relative;
    display: none;
}
.invite-frnd:before{
    content: 'or';
    position: absolute;
    right: -9px;
    top: 0;
    opacity: 0.5;
    font-size: 1.2em;
}
.join-form #create-button button{
    padding: 10px 2px;
    font-size: 16px;
    box-shadow: var(--base-shadow);
    border-radius: 10px;
    border: none;
    outline: none;
    width: 100%;
    max-width: 200px;
    margin: auto;
    color: var(--button-text);
    text-transform: uppercase;

}
.join-form #create-button button:hover{
    color: var(--button-text-hover);
    background: var(--button-new-game-hover);
}
.invite-frnd:after{
    content: '';
    width: 1px;
    height: calc(100% - 25px);
    background: #c0c0c0;
    position: absolute;
    right: -2px;
    top: 25px;
}
.invite-title{
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    top: 20px;
    text-transform: uppercase;
}
@media (max-width: 799px) and (orientation: portrait){
    .invite-model{
        padding-left: 10px;
        padding-right: 10;
        padding-bottom: 20px;
    }
    .invite-frnd{
        padding: 0 15px 0 0;
    }
    .join-form{
        padding-left: 15px;
    }
}
.invite-frnd p{
    margin-bottom: 15px;
    padding: 0;
    font-size: 1.2em;
}
.invite-frnd input{
    width: 100%;
    margin: 0 0 15px;
    height: 45px;
    outline: none;
}
.invite-frnd .lobby-button{
    background: var(--button-new-game);
    color: var(--button-text);
    max-width: 200px;
    margin: auto;
    display: block;
    padding: 10px 2px;
    text-transform: uppercase;
    font-size: 16px;
}
.invite-frnd .lobby-button:hover{
    color: var(--button-text-hover);
    background: var(--button-new-game-hover);
}

.two-col .invite-title{
    position: absolute;
    display: block;
}
.two-col .invite-frnd{
    display: block;
}
.two-col .section-title{
    display: block;
}
.two-col .join-form {
    flex: 0 0 50%;
    padding: 0 0 0 26px;
}