@import "layer1.css";
@import "chess-l2.css";
@import "fairy-l2.css";
.lobby {
    grid-area: main;
    display: grid;
    grid-gap: 2vmin;
}
@media (max-width: 799px) and (orientation: portrait) {
    .lobby {
        grid-template-areas: 'app' 'vpanel' 'table' 'side' 'uleft' 'utable' 'blog';
    }
}
@media (min-width: 800px) {
    .lobby {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: fit-content(0) minmax(375px, max-content) fit-content(0);
        grid-template-areas: 'side app app table' 'side vpanel vpanel table' 'uleft blog blog utable';
    }
}
.seeks {
    display: grid;
    grid-area: app;
}
.seeks  [data-icon]:before {
    font-size: 20px;
}
.seeks [class*=" icon-"]:before {
    font-size: 18px;
}

.stream {
    display: block;
    line-height: 0.9;
    margin-bottom: 0.5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.stream .icon {
    color: var(--gold);
    margin-right: 0.2rem;
}
.stream .icon::before {
    font-size: 1.5em;
}

/* VARIANT INFO PANEL  */

.generic-fairy p img {
    height: 15px;
    width: auto;
    filter: saturate(0.1);
}
