@import "layer-1.css";
@import "chess-l2.css";
@import "fairy-l2.css";
@import "layer-3.css";
.lobby {
    grid-area: main;
    display: grid;
    grid-gap: 2vmin;
}
@media (max-width: 799px) and (orientation: portrait) {
    .lobby {
        grid-template-areas: 'table' 'app' 'vpanel' 'side' 'blog' 'utable' 'uleft' 'tv' 'puzzle';
    }
    .sidebar-second {
    margin: 1em 0 1em 0;
    }
}
@media (min-width: 800px) {
    .lobby {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: fit-content(0) 380px fit-content(0);
        grid-auto-rows: 1fr;
        grid-template-areas: 'side app app table' 'side vpanel vpanel table' 'tv blog blog puzzle' 'uleft blog blog utable';
    }
}
.lobby aside {
  margin-top: 2em;
}
.lobby-count {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  position: absolute;
  bottom: 0;
}
@media only screen and (max-width: 799px) {
  .lobby-count {
    width: 100%;
    flex-flow: row;
    position: relative;
  }
  .lobby-count > a {
  margin: 5px;
  width: 50%;
  text-align: center;
}
}
.tv {
    grid-area: tv;
    display: block;
}
.tv #mainboard {
    padding-bottom: calc((var(--cg-height) / (var(--ranks)) * 2));
}
.puzzle {
    grid-area: puzzle;
    display: block;
}
.puzzle .text {
    display: block;
    text-align: right;
    margin-right: 1ch;
}
.stream {
    display: block;
    line-height: 0.9;
    margin-bottom: 0.5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.stream .icon {
    color: var(--gold);
    margin-right: 0.2rem;
}
.stream .icon::before {
    font-size: 1.5em;
}

/* VARIANT INFO PANEL  */

.generic-fairy p img {
    height: 15px;
    width: auto;
    filter: saturate(0.1);
}

.mini .pocket.top {
    border-radius: 3px 3px 0px 0px;
    position: absolute;
    height: calc(100% / var(--ranks));
    top: unset;
}
.mini cg-board {
  top: calc(100% / var(--ranks));
}
.cg-wrap.cg-512.mini, .cg-wrap.cg-640.mini, .cg-wrap.cg-576.mini, .cg-wrap.cg-448-516.mini, .cg-wrap.cg-260-360.mini, .cg-wrap.cg-260.mini, .cg-wrap.cg-156.mini, .cg-wrap.cg-448.mini, .cg-wrap.cg-576-640.mini, .cg-wrap.cg-640-640.mini, .cg-wrap.cg-540.mini {
  width: unset;
}

.mini .pocket.bottom {
    border-radius: 3px 3px 0px 0px;
    position: absolute;
    top: calc((100% / var(--ranks)) * (var(--ranks) + 1));
    margin: 0;
}
rating {
    font-size: 0.9em;
    float: none;
}

#header-block {
    display: 'inline-flex';
    margin-bottom: 1.5rem;
}
.container input#fen {
  margin: 0.6em 0 0.6em;
}
div.tc-block {
    padding: 1em;
    background: var(--bg-color2);
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}
games-grid {
    display: grid;
    row-gap: 4px;
    --auto-grid-min-size: 12rem;
    justify-content: center;
    overflow-x:hidden;
    height: 100%;
    grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
}
.noread {
    margin-left: .3em;
    padding: 1px 5px 1px 4px;
    font-weight: bold;
    font-size: 13px;
    border-radius: 3px;
    background: var(--rusty);
    color: #fff;
    text-shadow: 0 1px 1px #000 !important;
    box-shadow: 0 3px 4px rgba(0,0,0,.15) inset;
}
span.indicator {
    color: var(--rusty);
}
