.makruk .cg-wrap piece.pawn.white {
  background-image: url('images/pieces/makruk2/wP.svg');
}
.makruk .cg-wrap piece.silver.white {
  background-image: url('images/pieces/makruk2/wB.svg');
}
.makruk .cg-wrap piece.knight.white {
  background-image: url('images/pieces/makruk2/wN.svg');
}
.makruk .cg-wrap piece.rook.white {
  background-image: url('images/pieces/makruk2/wR.svg');
}
.makruk .cg-wrap piece.met.white {
  background-image: url('images/pieces/makruk2/wQ.svg');
}
.makruk .cg-wrap piece.ferz.white {
  background-image: url('images/pieces/makruk2/wF.svg');
}
.makruk .cg-wrap piece.king.white {
  background-image: url('images/pieces/makruk2/wK.svg');
}
.makruk .cg-wrap piece.pawn.black {
  background-image: url('images/pieces/makruk2/bP.svg');
}
.makruk .cg-wrap piece.silver.black {
  background-image: url('images/pieces/makruk2/bB.svg');
}
.makruk .cg-wrap piece.knight.black {
  background-image: url('images/pieces/makruk2/bN.svg');
}
.makruk .cg-wrap piece.rook.black {
  background-image: url('images/pieces/makruk2/bR.svg');
}
.makruk .cg-wrap piece.met.black {
  background-image: url('images/pieces/makruk2/bQ.svg');
}
.makruk .cg-wrap piece.ferz.black {
  background-image: url('images/pieces/makruk2/bF.svg');
}
.makruk .cg-wrap piece.king.black {
  background-image: url('images/pieces/makruk2/bK.svg');
}
