.makruk .cg-wrap piece.pawn.white {
  background-image: url('images/pieces/makruk3/wP.svg');
}
.makruk .cg-wrap piece.silver.white {
  background-image: url('images/pieces/makruk3/wB.svg');
}
.makruk .cg-wrap piece.knight.white {
  background-image: url('images/pieces/makruk3/wN.svg');
}
.makruk .cg-wrap piece.rook.white {
  background-image: url('images/pieces/makruk3/wR.svg');
}
.makruk .cg-wrap piece.met.white {
  background-image: url('images/pieces/makruk3/wQ.svg');
}
.makruk .cg-wrap piece.ferz.white {
  background-image: url('images/pieces/makruk3/wF.svg');
}
.makruk .cg-wrap piece.king.white {
  background-image: url('images/pieces/makruk3/wK.svg');
}
.makruk .cg-wrap piece.pawn.black {
  background-image: url('images/pieces/makruk3/bP.svg');
}
.makruk .cg-wrap piece.silver.black {
  background-image: url('images/pieces/makruk3/bB.svg');
}
.makruk .cg-wrap piece.knight.black {
  background-image: url('images/pieces/makruk3/bN.svg');
}
.makruk .cg-wrap piece.rook.black {
  background-image: url('images/pieces/makruk3/bR.svg');
}
.makruk .cg-wrap piece.met.black {
  background-image: url('images/pieces/makruk3/bQ.svg');
}
.makruk .cg-wrap piece.ferz.black {
  background-image: url('images/pieces/makruk3/bF.svg');
}
.makruk .cg-wrap piece.king.black {
  background-image: url('images/pieces/makruk3/bK.svg');
}
