.makruk .cg-wrap piece.pawn.white {
  background-image: url('images/pieces/makruk/ada/wP.svg');
}
.makruk .cg-wrap piece.silver.white {
  background-image: url('images/pieces/makruk/ada/wB.svg');
}
.makruk .cg-wrap piece.knight.white {
  background-image: url('images/pieces/makruk/ada/wN.svg');
}
.makruk .cg-wrap piece.rook.white {
  background-image: url('images/pieces/makruk/ada/wR.svg');
}
.makruk .cg-wrap piece.met.white {
  background-image: url('images/pieces/makruk/ada/wQ.svg');
}
.makruk .cg-wrap piece.ferz.white {
  background-image: url('images/pieces/makruk/ada/wF.svg');
}
.makruk .cg-wrap piece.king.white {
  background-image: url('images/pieces/makruk/ada/wK.svg');
}
.makruk .cg-wrap piece.pawn.black {
  background-image: url('images/pieces/makruk/ada/rP.svg');
}
.makruk .cg-wrap piece.silver.black {
  background-image: url('images/pieces/makruk/ada/rB.svg');
}
.makruk .cg-wrap piece.knight.black {
  background-image: url('images/pieces/makruk/ada/rN.svg');
}
.makruk .cg-wrap piece.rook.black {
  background-image: url('images/pieces/makruk/ada/rR.svg');
}
.makruk .cg-wrap piece.met.black {
  background-image: url('images/pieces/makruk/ada/rQ.svg');
}
.makruk .cg-wrap piece.ferz.black {
  background-image: url('images/pieces/makruk/ada/rF.svg');
}
.makruk .cg-wrap piece.king.black {
  background-image: url('images/pieces/makruk/ada/rK.svg');
}
