.orda .cg-wrap piece.pawn.white {
  background-image: url('images/pieces/orda/wP.svg');
}
.orda .cg-wrap piece.bishop.white {
  background-image: url('images/pieces/orda/wB.svg');
}
.orda .cg-wrap piece.knight.white {
  background-image: url('images/pieces/orda/wN.svg');
}
.orda .cg-wrap piece.rook.white {
  background-image: url('images/pieces/orda/wR.svg');
}
.orda .cg-wrap piece.queen.white {
  background-image: url('images/pieces/orda/wQ.svg');
}
.orda .cg-wrap piece.king.white {
  background-image: url('images/pieces/orda/wK.svg');
}
.orda .cg-wrap piece.hawk.white {
  background-image: url('images/pieces/orda/wH.svg');
}
.orda .cg-wrap piece.pawn.black {
  background-image: url('images/pieces/orda/bP.svg');
}
.orda .cg-wrap piece.archbishop.black {
  background-image: url('images/pieces/orda/bA.svg');
}
.orda .cg-wrap piece.hawk.black {
  background-image: url('images/pieces/orda/bH.svg');
}
.orda .cg-wrap piece.lancer.black {
  background-image: url('images/pieces/orda/bL.svg');
}
.orda .cg-wrap piece.yurt.black {
  background-image: url('images/pieces/orda/bY.svg');
}
.orda .cg-wrap piece.king.black {
  background-image: url('images/pieces/orda/bK.svg');
}
.orda .cg-wrap piece.queen.black {
  background-image: url('images/pieces/orda/bQ.svg');
}
