div.patron {
    margin-left: 10%;
    position: absolute;
    width: 70%;
    height: 110%;
    padding: 0px;
}
@media (max-width: 700px) {
    div.patron{
        margin-left: 2%;
        width: 96%;
        height: 100%;
    }
}
.patron-txt {
    position: relative;
    width: 45%;
    height: 200px;
    margin-left: 20px;
}
@media (max-width: 700px) {
    .patron-txt{
        width: 95%;
        height: 150px;
    }
}
.btm-txt {
   margin-left: 20%;
}
@media (max-width: 700px) {
.btm-txt { 
    margin-top: 25%;
    margin-left: 10%;
    }
}
    
.banner {
    margin-bottom: 2.5em;
    background: #629924;
    color: #fff;
    text-align: center;
    font-size: 1.3em;
    min-height: 200px;
    padding: 1em 0;
    justify-content: space-between
}
.patronbutton {
    position: absolute;
    top: 40%;
    left: 50%;
    height: 60px;
    min-width: 20%;
    text-align: center;
    background: #1b78d0;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    padding: 13px;
    margin: 10px;
    font-weight: normal;
    color: white;
    border-radius: 8px;
    font-size: 1.5em;
    white-space: nowrap;
}

@media (max-width: 700px) {
.patronbutton{
    height: 10%;
    width: 40%;
    top: 65%;
    left: 5%;
    }
}
.patronbutton1 {
    position: absolute;
    top: 40%;
    left: 73%;
    min-height: 60px;
    min-width: 20%;
    text-align: center;
    background: #1b78d0;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    font-weight: normal;
    color: white;
    border-radius: 8px;
    font-size: 1.5em;
    white-space: nowrap;
}
@media (max-width: 700px) {
.patronbutton1{
    height: 10%;
    width: 40%;
    top: 65%;
    left: 50%;
    }
}
.patronbutton:hover, .patronbutton1:hover {
    box-shadow: 0 4px 10px 0px rgba(0,0,0,.225);
    filter: brightness(1.15);
    color: white;
}

