div.patron {
    margin-left: 10%;
    position: absolute;
    width: 80%;
    height: 110%;
    padding: 0px;
}
@media (max-width: 700px) {
    div.patron{
        margin-left: 2%;
        width: 96%;
        height: 120%;
    }
}
.tablepatron1 {
    width: 100%;
}
.pth1 {width: 60%;}
@media (max-width: 700px) {.pth1 {width: 70%;}}
.pth2 {width: 20%;}
@media (max-width: 700px) {.pth2 {width: 15%;}}
.pth3 {width: 20%;}
@media (max-width: 700px) {.pth3 {width: 15%;}}
.patron-txt {
    position: relative;
    height: 200px;
    margin: 10px;
    margin-left: 20px;
}
@media (max-width: 700px) {
    .patron-txt{
        height: 250px;
    }
}
.btm-txt {
   margin-left: 25%;
}
@media (max-width: 700px) {
.btm-txt { 
    margin-left: 10%;
    }
}
@media (max-width: 399px) {
.btm-txt { 
    margin-top: 35%;
    margin-left: 10%;
    }
}
    
.banner {
    margin-bottom: 2.5em;
    background: #629924;
    color: #fff;
    text-align: center;
    font-size: 1.3em;
    min-height: 200px;
    padding: 1em 0;
    justify-content: space-between
}
.patronbutton {
    text-align: center;
    background: #1b78d0;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    padding: 15px;
    margin: 10px;
    font-weight: normal;
    color: white;
    border-radius: 8px;
    font-size: 1.4em;
    white-space: nowrap;
}

@media (max-width: 700px) {
.patronbutton{
   font-size: 1em;
    }
}
.patronbutton:hover {
    box-shadow: 0 4px 10px 0px rgba(0,0,0,.225);
    filter: brightness(1.15);
    color: white;
}
