div.patron {
    margin-left: 10%;
    position: absolute;
    width: 80%;
    height: 110%;
    padding: 0px;
}
@media (max-width: 700px) {
    div.patron{
        margin-left: 2%;
        width: 96%;
        height: 130%;
    }
}
#patr-board {
    width: 100%;
    display: flex;
    height: 200px;
    padding: 10px;
}

#patr-board div:nth-of-type(2) {align-self: center;}


.patron-txt {
    position: relative;
    height: 200px;
    margin: 10px;
    margin-left: 20px;
}
@media (max-width: 700px) {
    .patron-txt{
        height: 250px;
    }
}
.btm-txt {
   margin-left: 150px;
}
@media (max-width: 700px) {
.btm-txt { 
    margin-top: 50px;
    margin-left: 50px;;
    }
}
@media (max-width: 399px) {
.btm-txt { 
    margin-top: 150px;
    }
}
    
.banner {
    margin-bottom: 2.5em;
    background: #629924;
    color: #fff;
    text-align: center;
    font-size: 1.3em;
    min-height: 200px;
    padding: 1em 0;
    justify-content: space-between
}
.patronbutton {
    width: 100px;
    text-align: center;
    background: #1b78d0;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    padding: 15px;
    margin: 20px;
    font-weight: normal;
    color: white;
    border-radius: 8px;
    font-size: 1em;
    white-space: nowrap;
}
.patronbutton:hover {
    box-shadow: 0 4px 10px 0px rgba(0,0,0,.225);
    filter: brightness(1.15);
    color: white;
}
