/* Board settings */
.settings-pieces, .settings-boards {
    display: block;
    border: none;
    margin: 12px;
}
label.piece, label.board {
    background-position: center;
    background-repeat: no-repeat;
    padding: 30px 30px;
}
label.piece {
    background-size: contain;
}
label.board {
    background-size: 90%;
}

label.piece.piece0.standard {
    background-image: url('images/pieces/merida/wN.svg');
}
label.piece.piece1.standard {
    background-image: url('images/pieces/green/wN.svg');
}
label.piece.piece2.standard {
    background-image: url('images/pieces/alpha/wN.svg');
}
label.piece.piece3.standard {
    background-image: url('images/pieces/kaneo/wN.svg');
}
label.piece.piece4.standard {
    background-image: url('images/pieces/santa/wN.png');
}

label.piece.piece0.capa {
    background-image: url('images/pieces/merida/wA.svg');
}
label.piece.piece1.capa {
    background-image: url('images/pieces/merida/wH.svg');
}
label.piece.piece2.capa {
    background-image: url('images/pieces/green/wA.svg');
}
label.piece.piece3.capa {
    background-image: url('images/pieces/merida/wAr.svg');
}
label.piece.piece4.capa {
    background-image: url('images/pieces/kaneo/wA.svg');
}

label.piece.piece0.seirawan {
    background-image: url('images/pieces/merida/wH.svg');
}
label.piece.piece1.seirawan {
    background-image: url('images/pieces/merida/wA.svg');
}
label.piece.piece2.seirawan {
    background-image: url('images/pieces/green/wH.svg');
}
label.piece.piece3.seirawan {
    background-image: url('images/pieces/merida/wAr.svg');
}
label.piece.piece4.seirawan {
    background-image: url('images/pieces/kaneo/wH.svg');
}

label.piece.piece0.makruk {
    background-image: url('images/pieces/makruk/ada/bB.svg');
}
label.piece.piece1.makruk {
    background-image: url('images/pieces/makruk/ada/rB.svg');
}
label.piece.piece2.makruk {
    background-image: url('images/pieces/makruk/cambodian/bB.svg');
}
label.piece.piece3.makruk {
    background-image: url('images/pieces/sittuyin/original/bB.svg');
}
label.piece.piece4.makruk {
    background-image: url('images/pieces/merida/bS.svg');
}

label.piece.piece0.sittuyin  {
    background-image: url('images/pieces/sittuyin/original/bK.svg');
}
label.piece.piece1.sittuyin  {
    background-image: url('images/pieces/sittuyin/Ka_greenred/bK.svg');
}
label.piece.piece2.sittuyin  {
    background-image: url('images/pieces/sittuyin/Ka_blackred/bK.svg');
}
label.piece.piece3.sittuyin  {
    background-image: url('images/pieces/makruk/ada/bK.svg');
}
label.piece.piece4.sittuyin  {
    background-image: url('images/pieces/merida/bS.svg');
}

label.piece.piece0.asean {
    background-image: url('images/pieces/merida/bS.svg');
}
label.piece.piece1.asean {
    background-image: url('images/pieces/makruk/ada/bB.svg');
}
label.piece.piece2.asean {
    background-image: url('images/pieces/makruk/cambodian/bB.svg');
}
label.piece.piece3.asean {
    background-image: url('images/pieces/sittuyin/original/bB.svg');
}

label.piece.piece0.shogi {
    background-image: url('images/pieces/shogi/ctk/0KA.svg');
}
label.piece.piece1.shogi {
    background-image: url('images/pieces/shogi/2kanji/0KA.svg');
}
label.piece.piece2.shogi {
    background-image: url('images/pieces/shogi/ctw/0KA.svg');
}
label.piece.piece3.shogi {
    background-image: url('images/pieces/shogi/ctp/0KA.svg');
}
label.piece.piece4.shogi {
    background-image: url('images/pieces/shogi/ctm/0KA.svg');
}
label.piece.piece5.shogi {
    background-image: url('images/pieces/shogi/ctp3d/0KA.svg');
}
label.piece.piece6.shogi {
    background-image: url('images/pieces/shogi/ctkw3d/0KA.svg');
}
label.piece.piece7.shogi {
    background-image: url('images/pieces/shogi/Ka/0KA.svg');
}
label.piece.piece8.shogi {
    background-image: url('images/pieces/shogi/ctim/0KA.svg');
}
label.piece.piece9.shogi {
    background-image: url('images/pieces/shogi/bw/0KA.svg');
}

label.piece.piece0.kyoto {
    background-image: url('images/pieces/shogi/ctk/0KA.svg');
}
label.piece.piece1.kyoto {
    background-image: url('images/pieces/kyoto/Kanji/0KA.svg');
}
label.piece.piece2.kyoto {
    background-image: url('images/pieces/kyoto/KanjiSwitch/0GI.svg');
}
label.piece.piece3.kyoto {
    background-image: url('images/pieces/kyoto/Intl/0KA.svg');
}
label.piece.piece4.kyoto {
    background-image: url('images/pieces/shogi/Ka/0KA.svg');
}

label.piece.piece0.dobutsu {
    background-image: url('images/pieces/shogi/Ka/0GY.svg');
}

label.piece.piece0.tori {
    background-image: url('images/pieces/tori/Intl/0PhoenixBlack.svg');
}
label.piece.piece1.tori {
    background-image: url('images/pieces/tori/Kanji/0Phoenix.svg');
}
label.piece.piece2.tori {
    background-image: url('images/pieces/tori/minimalist/0PhoenixBlack.svg');
}

label.piece.piece0.xiangqi {
    background-image: url('images/pieces/xiangqi/2dhanzi/RK.svg');
}
label.piece.piece1.xiangqi {
    background-image: url('images/pieces/xiangqi/2dintl/RK.svg');
}
label.piece.piece2.xiangqi {
    background-image: url('images/pieces/xiangqi/playok/red_king.svg');
}
label.piece.piece3.xiangqi {
    background-image: url('images/pieces/xiangqi/ct3/red_king.svg');
}
label.piece.piece4.xiangqi {
    background-image: url('images/pieces/xiangqi/hnz/red_king.svg');
}
label.piece.piece5.xiangqi {
    background-image: url('images/pieces/xiangqi/ct2/red_king2.svg');
}
label.piece.piece6.xiangqi {
    background-image: url('images/pieces/xiangqi/hnzw/red_king.svg');
}
label.piece.piece7.xiangqi {
    background-image: url('images/pieces/xiangqi/ct2w/red_king.svg');
}
label.piece.piece8.xiangqi {
    background-image: url('images/pieces/xiangqi/wikim/red_king.svg');
}
label.piece.piece9.xiangqi {
    background-image: url('images/pieces/xiangqi/Ka/red_king.svg');
}

label.piece.piece0.janggi {
    background-image: url('images/pieces/janggi/hanjablue/blue_king.svg');
}
label.piece.piece1.janggi {
    background-image: url('images/pieces/janggi/hanjagreen/blue_king.svg');
}
label.piece.piece2.janggi {
    background-image: url('images/pieces/janggi/intlkakao/blue_king.svg');
}
label.piece.piece3.janggi {
    background-image: url('images/pieces/janggi/intlwooden/blue_king.svg');
}
label.piece.piece4.janggi {
    background-image: url('images/pieces/janggi/Ka_kakao/blue_king.svg');
}
label.piece.piece5.janggi {
    background-image: url('images/pieces/janggi/Ka_wooden/blue_king.svg');
}

label.piece.piece0.shako {
    background-image: url('images/pieces/merida/shako/wC.svg');
}
label.piece.piece1.shako {
    background-image: url('images/pieces/kaneo/wC.svg');
}
label.piece.piece2.shako {
    background-image: url('images/pieces/green/synoshako/wC.svg');
}

label.piece.piece0.shogun {
    background-image: url('images/pieces/shogun/merida/blue/wC.svg');
}
label.piece.piece1.shogun {
    background-image: url('images/pieces/shogun/merida/red/wC.svg');
}
label.piece.piece2.shogun {
    background-image: url('images/pieces/shogun/merida/mono/wC.svg');
}
label.piece.piece3.shogun {
    background-image: url('images/pieces/shogun/cburnett/blue/wC.svg');
}
label.piece.piece4.shogun {
    background-image: url('images/pieces/shogun/cburnett/red/wC.svg');
}
label.piece.piece5.shogun {
    background-image: url('images/pieces/shogun/cburnett/mono/wC.svg');
}

label.piece.piece0.orda {
    background-image: url('images/pieces/orda/merida/bH.svg');
}
label.piece.piece1.orda {
    background-image: url('images/pieces/orda/cburnett/bH.svg');
}

label.piece.piece0.synochess {
    background-image: url('images/pieces/synochess/intl-red/bR.svg');
}
label.piece.piece1.synochess {
    background-image: url('images/pieces/synochess/xq-red/bR.svg');
}
label.piece.piece2.synochess {
    background-image: url('images/pieces/green/syno-red/bR.svg');
}
label.piece.piece3.synochess {
    background-image: url('images/pieces/xiangqi/ct3/red_chariot.svg');
}
label.piece.piece4.synochess {
    background-image: url('images/pieces/xiangqi/hnzw/red_chariot.svg');
}
label.piece.piece5.synochess {
    background-image: url('images/pieces/xiangqi/hnz/red_chariot.svg');
}

label.piece.piece0.hoppel {
    background-image: url('images/pieces/merida/bN.svg');
}
label.piece.piece1.hoppel {
    background-image: url('images/pieces/hoppel/grafted/bN.svg');
}
label.piece.piece2.hoppel {
    background-image: url('images/pieces/hoppel/animal/bN.svg');
}

label.piece.piece0.shinobi {
    background-image: url('images/pieces/shinobi/merida/wJ.svg');
}
label.piece.piece1.shinobi {
    background-image: url('images/pieces/shinobi/cburnett/wJ.svg');
}

label.piece.piece0.empire {
    background-image: url('images/pieces/empire/merida/wC.svg');
}
label.piece.piece1.empire {
    background-image: url('images/pieces/empire/cburnett/wC.svg');
}

label.piece.piece0.ordamirror {
    background-image: url('images/pieces/orda/merida/bH.svg');
}
label.piece.piece1.ordamirror {
    background-image: url('images/pieces/orda/cburnett/bH.svg');
}
