/* Board settings */
.settings-pieces, .settings-boards {
    display: block;
    border: none;
    margin: 12px;
}
label.piece, label.board {
    background-position: center;
    background-repeat: no-repeat;
    padding: 30px 30px;
}
label.piece {
    background-size: contain;
}
label.board {
    background-size: 90%;
}

/* Gray colored "?" */
label.piece.piece98 {
    background-image: url('images/pieces/invisible.svg');
}
/* Gray colored "ABC" */
label.piece.piece99 {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='80px' height='80px'><rect x='12' y='12' width='56' height='56' fill='gray'/><rect x='17' y='17' width='46' height='46' fill='lightgray'/><text font-family='Noto Sans, Sans-Serif' font-size='30' x='50%' y='50%' fill='black' text-anchor='middle' dominant-baseline='central'>A</text></svg>");
}

label.piece.piece0.ataxx {
    background-image: url('images/pieces/disguised/3d-red.svg');
}
label.piece.piece1.ataxx {
    background-image: url('images/pieces/ataxx/virus/red.svg');
}
label.piece.piece2.ataxx {
    background-image: url('images/pieces/ataxx/zombie/zombie.svg');
}
label.piece.piece3.ataxx {
    background-image: url('images/pieces/ataxx/cat-dog/dog.svg');
}

label.piece.piece0.standard {
    background-image: url('images/pieces/merida/wN.svg');
}
label.piece.piece1.standard {
    background-image: url('images/pieces/green/wN.svg');
}
label.piece.piece2.standard {
    background-image: url('images/pieces/alpha/wN.svg');
}
label.piece.piece3.standard {
    background-image: url('images/pieces/kaneo/wN.svg');
}
label.piece.piece4.standard {
    background-image: url('images/pieces/santa/wN.png');
}
label.piece.piece5.standard {
    background-image: url('images/pieces/maestro/wN.svg');
}
label.piece.piece6.standard {
    background-image: url('images/pieces/dubrovny/wN.svg');
}
label.piece.piece7.standard {
    background-image: url('images/pieces/atopdown/wn.svg');
}
label.piece.piece8.standard {
    background-image: url('images/pieces/luffy/wN.svg');
}
label.piece.piece9.standard {
    background-image: url('images/pieces/firi/wpb.svg');
}
label.piece.piece10.standard {
    background-image: url('images/pieces/sinting/wlN.svg');
}
label.piece.piece11.standard {
    background-image: url('images/pieces/disguised/w.svg');
}
label.piece.piece0.capa {
    background-image: url('images/pieces/merida/wA.svg');
}
label.piece.piece1.capa {
    background-image: url('images/pieces/merida/wH.svg');
}
label.piece.piece2.capa {
    background-image: url('images/pieces/green/wA.svg');
}
label.piece.piece3.capa {
    background-image: url('images/pieces/merida/wAr.svg');
}
label.piece.piece4.capa {
    background-image: url('images/pieces/kaneo/wA.svg');
}
label.piece.piece5.capa {
    background-image: url('images/pieces/shogun/merida/blue/wA.svg');
}
label.piece.piece6.capa {
    background-image: url('images/pieces/disguised/w.svg');
}

label.piece.piece0.dragon {
    background-image: url('images/pieces/green/wD.svg');
}
label.piece.piece1.dragon {
    background-image: url('images/pieces/merida/wD.svg');
}
label.piece.piece2.dragon {
    background-image: url('images/pieces/paradigm/wD.svg');
}
label.piece.piece3.dragon {
    background-image: url('images/pieces/disguised/w.svg');
}

label.piece.piece0.seirawan {
    background-image: url('images/pieces/merida/wE.svg');
}
label.piece.piece1.seirawan {
    background-image: url('images/pieces/merida/wC.svg');
}
label.piece.piece2.seirawan {
    background-image: url('images/pieces/green/wE.svg');
}
label.piece.piece3.seirawan {
    background-image: url('images/pieces/merida/wCh.svg');
}
label.piece.piece4.seirawan {
    background-image: url('images/pieces/kaneo/wE.svg');
}
label.piece.piece5.seirawan {
    background-image: url('images/pieces/shogun/merida/mono/wM.svg');
}
label.piece.piece6.seirawan {
    background-image: url('images/pieces/disguised/w.svg');
}

label.piece.piece0.makruk {
    background-image: url('images/pieces/makruk/ada/bB.svg');
}
label.piece.piece1.makruk {
    background-image: url('images/pieces/makruk/ada/rB.svg');
}
label.piece.piece2.makruk {
    background-image: url('images/pieces/makruk/cambodian/bB.svg');
}
label.piece.piece3.makruk {
    background-image: url('images/pieces/sittuyin/original/bB.svg');
}
label.piece.piece4.makruk {
    background-image: url('images/pieces/merida/bS.svg');
}
label.piece.piece5.makruk {
    background-image: url('images/pieces/green/bS.svg');
}
label.piece.piece6.makruk {
    background-image: url('images/pieces/disguised/b.svg');
}

label.piece.piece0.sittuyin  {
    background-image: url('images/pieces/sittuyin/original/bK.svg');
}
label.piece.piece1.sittuyin  {
    background-image: url('images/pieces/sittuyin/Ka_greenred/bK.svg');
}
label.piece.piece2.sittuyin  {
    background-image: url('images/pieces/sittuyin/Ka_blackred/bK.svg');
}
label.piece.piece3.sittuyin  {
    background-image: url('images/pieces/makruk/ada/bK.svg');
}
label.piece.piece4.sittuyin  {
    background-image: url('images/pieces/merida/bS.svg');
}
label.piece.piece5.sittuyin  {
    background-image: url('images/pieces/green/bS.svg');
}
label.piece.piece6.sittuyin {
    background-image: url('images/pieces/disguised/sittuyin-g.svg');
}

label.piece.piece0.asean {
    background-image: url('images/pieces/merida/bS.svg');
}
label.piece.piece1.asean {
    background-image: url('images/pieces/makruk/ada/bB.svg');
}
label.piece.piece2.asean {
    background-image: url('images/pieces/makruk/cambodian/bB.svg');
}
label.piece.piece3.asean {
    background-image: url('images/pieces/sittuyin/original/bB.svg');
}
label.piece.piece4.asean {
    background-image: url('images/pieces/green/bS.svg');
}
label.piece.piece5.asean {
    background-image: url('images/pieces/disguised/b.svg');
}

label.piece.piece0.shogi {
    background-image: url('images/pieces/shogi/ctk/0KA.svg');
}
label.piece.piece1.shogi {
    background-image: url('images/pieces/shogi/2kanji/0KA.svg');
}
label.piece.piece2.shogi {
    background-image: url('images/pieces/shogi/ctw/0KA.svg');
}
label.piece.piece3.shogi {
    background-image: url('images/pieces/shogi/ctp/0KA.svg');
}
label.piece.piece4.shogi {
    background-image: url('images/pieces/shogi/ctm/0KA.svg');
}
label.piece.piece5.shogi {
    background-image: url('images/pieces/shogi/ctp3d/0KA.svg');
}
label.piece.piece6.shogi {
    background-image: url('images/pieces/shogi/ctkw3d/0KA.svg');
}
label.piece.piece7.shogi {
    background-image: url('images/pieces/shogi/Ka/0KA.svg');
}
label.piece.piece8.shogi {
    background-image: url('images/pieces/shogi/ctim/0KA.svg');
}
label.piece.piece9.shogi {
    background-image: url('images/pieces/shogi/bw/0KA.svg');
}
label.piece.piece10.shogi {
    background-image: url('images/pieces/shogi/bnw/0KA.svg');
}
label.piece.piece11.shogi {
    background-image: url('images/pieces/shogi/Portella/Kanji/0KA.png');
}
label.piece.piece12.shogi {
    background-image: url('images/pieces/shogi/Portella/Intl/0KA.png');
}
label.piece.piece13.shogi {
    background-image: url('images/pieces/shogi/cz/0KA.svg');
}
label.piece.piece14.shogi {
    background-image: url('images/pieces/firi/bb.svg');
}
label.piece.piece15.shogi {
    background-image: url('images/pieces/disguised/shogi-ally.svg');
}

label.piece.piece0.kyoto {
    background-image: url('images/pieces/shogi/ctk/0KA.svg');
}
label.piece.piece1.kyoto {
    background-image: url('images/pieces/kyoto/Kanji/0KA.svg');
}
label.piece.piece2.kyoto {
    background-image: url('images/pieces/kyoto/KanjiSwitch/0GI.svg');
}
label.piece.piece3.kyoto {
    background-image: url('images/pieces/kyoto/Intl/0KA.svg');
}
label.piece.piece4.kyoto {
    background-image: url('images/pieces/shogi/Ka/0KA.svg');
}
label.piece.piece5.kyoto {
    background-image: url('images/pieces/disguised/shogi-ally.svg');
}

label.piece.piece0.dobutsu {
    background-image: url('images/pieces/shogi/Ka/0GY.svg');
}
label.piece.piece1.dobutsu {
    background-image: url('images/pieces/disguised/dobutsu-w.svg');
}

label.piece.piece0.tori {
    background-image: url('images/pieces/tori/Intl/0PhoenixBlack.svg');
}
label.piece.piece1.tori {
    background-image: url('images/pieces/tori/Kanji/0Phoenix.svg');
}
label.piece.piece2.tori {
    background-image: url('images/pieces/tori/minimalist/0PhoenixBlack.svg');
}
label.piece.piece3.tori {
    background-image: url('images/pieces/tori/Portella/0PhoenixBlack.png');
}
label.piece.piece4.tori {
    background-image: url('images/pieces/tori/cz/0Phoenix.svg');
}
label.piece.piece5.tori {
    background-image: url('images/pieces/disguised/shogi-ally.svg');
}

label.piece.piece0.cannonshogi {
    background-image: url('images/pieces/shogi/ctp3d/0GoldCannon.svg');
}
label.piece.piece1.cannonshogi {
    background-image: url('images/pieces/shogi/ctim/0GoldCannon.svg');
}
label.piece.piece2.cannonshogi {
    background-image: url('images/pieces/shogi/bnw/0GoldCannon.svg');
}
label.piece.piece3.cannonshogi {
    background-image: url('images/pieces/shogi/cz/0_Gold Cannon.svg');
}
label.piece.piece4.cannonshogi {
    background-image: url('images/pieces/shogi/cz/alt/0_Gold Cannon.svg');
}
label.piece.piece5.cannonshogi {
    background-image: url('images/pieces/firi/ba.svg');
}
label.piece.piece6.cannonshogi {
    background-image: url('images/pieces/disguised/b.svg');
}

label.piece.piece0.xiangqi {
    background-image: url('images/pieces/xiangqi/lishu/RK.svg');
}
label.piece.piece1.xiangqi {
    background-image: url('images/pieces/xiangqi/2dintl/RK.svg');
}
label.piece.piece2.xiangqi {
    background-image: url('images/pieces/xiangqi/playok/red_king.svg');
}
label.piece.piece3.xiangqi {
    background-image: url('images/pieces/xiangqi/ct3/red_king.svg');
}
label.piece.piece4.xiangqi {
    background-image: url('images/pieces/xiangqi/hnz/red_king.svg');
}
label.piece.piece5.xiangqi {
    background-image: url('images/pieces/xiangqi/ct2/red_king2.svg');
}
label.piece.piece6.xiangqi {
    background-image: url('images/pieces/xiangqi/lishuw/red_king.svg');
}
label.piece.piece7.xiangqi {
    background-image: url('images/pieces/xiangqi/ct2w/red_king.svg');
}
label.piece.piece8.xiangqi {
    background-image: url('images/pieces/xiangqi/wikim/red_king.svg');
}
label.piece.piece9.xiangqi {
    background-image: url('images/pieces/xiangqi/Ka/red_king.svg');
}
label.piece.piece10.xiangqi {
    background-image: url('images/pieces/xiangqi/ttxqhanzi/red_king.svg');
}
label.piece.piece11.xiangqi {
    background-image: url('images/pieces/xiangqi/ttxqintl/red_king.svg');
}
label.piece.piece12.xiangqi {
    background-image: url('images/pieces/xiangqi/2dhanzi/RK.svg');
}
label.piece.piece13.xiangqi {
    background-image: url('images/pieces/xiangqi/hnzw/red_king.svg');
}
label.piece.piece14.xiangqi {
    background-image: url('images/pieces/xiangqi/eventhanzi/red_king.svg');
}
label.piece.piece15.xiangqi {
    background-image: url('images/pieces/xiangqi/eventhanziguided/red_king.svg');
}
label.piece.piece16.xiangqi {
    background-image: url('images/pieces/xiangqi/eventintl/red_king.svg');
}
label.piece.piece17.xiangqi {
    background-image: url('images/pieces/xiangqi/euro/red_king.svg');
}
label.piece.piece18.xiangqi {
    background-image: url('images/pieces/disguised/3d-red.svg');
}

label.piece.piece0.janggi {
    background-image: url('images/pieces/janggi/hanjablue/blue_king.svg');
}
label.piece.piece1.janggi {
    background-image: url('images/pieces/janggi/hanjagreen/blue_king.svg');
}
label.piece.piece2.janggi {
    background-image: url('images/pieces/janggi/intlkakao/blue_king.svg');
}
label.piece.piece3.janggi {
    background-image: url('images/pieces/janggi/intlwooden/blue_king.svg');
}
label.piece.piece4.janggi {
    background-image: url('images/pieces/janggi/Ka_kakao/blue_king.svg');
}
label.piece.piece5.janggi {
    background-image: url('images/pieces/janggi/Ka_wooden/blue_king.svg');
}
label.piece.piece6.janggi {
    background-image: url('images/pieces/janggi/intlblue/blue_king.svg');
}
label.piece.piece7.janggi {
    background-image: url('images/pieces/janggi/intlgreen/blue_king.svg');
}
label.piece.piece8.janggi {
    background-image: url('images/pieces/disguised/janggi-b.svg');
}

label.piece.piece0.shatranj {
    background-image: url('images/pieces/merida/wN.svg');
}
label.piece.piece1.shatranj {
    background-image: url('images/pieces/green/wN.svg');
}
label.piece.piece2.shatranj {
    background-image: url('images/pieces/disguised/b.svg');
}
label.piece.piece0.shako {
    background-image: url('images/pieces/merida/shako/wC.svg');
}
label.piece.piece1.shako {
    background-image: url('images/pieces/kaneo/wC.svg');
}
label.piece.piece2.shako {
    background-image: url('images/pieces/green/synoshako/wC.svg');
}
label.piece.piece3.shako {
    background-image: url('images/pieces/disguised/w.svg');
}

label.piece.piece0.shogun {
    background-image: url('images/pieces/shogun/merida/blue/wC.svg');
}
label.piece.piece1.shogun {
    background-image: url('images/pieces/shogun/merida/red/wC.svg');
}
label.piece.piece2.shogun {
    background-image: url('images/pieces/shogun/merida/mono/wC.svg');
}
label.piece.piece3.shogun {
    background-image: url('images/pieces/shogun/cburnett/blue/wC.svg');
}
label.piece.piece4.shogun {
    background-image: url('images/pieces/shogun/cburnett/red/wC.svg');
}
label.piece.piece5.shogun {
    background-image: url('images/pieces/shogun/cburnett/mono/wC.svg');
}
label.piece.piece6.shogun {
    background-image: url('images/pieces/disguised/w.svg');
}

label.piece.piece0.orda {
    background-image: url('images/pieces/orda/merida/bH.svg');
}
label.piece.piece1.orda {
    background-image: url('images/pieces/orda/cburnett/bH.svg');
}
label.piece.piece2.orda {
    background-image: url('images/pieces/disguised/g.svg');
}

label.piece.piece0.khans {
    background-image: url('images/pieces/orda/merida/bT.svg');
}
label.piece.piece1.khans {
    background-image: url('images/pieces/orda/cburnett/bT.svg');
}
label.piece.piece2.khans {
    background-image: url('images/pieces/disguised/g.svg');
}

label.piece.piece0.synochess {
    background-image: url('images/pieces/synochess/intl-red/bR.svg');
}
label.piece.piece1.synochess {
    background-image: url('images/pieces/synochess/xq-red/bR.svg');
}
label.piece.piece2.synochess {
    background-image: url('images/pieces/green/syno-red/bR.svg');
}
label.piece.piece3.synochess {
    background-image: url('images/pieces/xiangqi/ct3/red_chariot.svg');
}
label.piece.piece4.synochess {
    background-image: url('images/pieces/xiangqi/hnzw/red_chariot.svg');
}
label.piece.piece5.synochess {
    background-image: url('images/pieces/xiangqi/hnz/red_chariot.svg');
}
label.piece.piece6.synochess {
    background-image: url('images/pieces/disguised/r.svg');
}

label.piece.piece0.hoppel {
    background-image: url('images/pieces/merida/bN.svg');
}
label.piece.piece1.hoppel {
    background-image: url('images/pieces/hoppel/grafted/bN.svg');
}
label.piece.piece2.hoppel {
    background-image: url('images/pieces/hoppel/animal/bN.svg');
}
label.piece.piece3.hoppel {
    background-image: url('images/pieces/disguised/b.svg');
}

label.piece.piece0.mansindam {
    background-image: url('images/pieces/mansindam/intl/wn.svg');
}
label.piece.piece1.mansindam {
    background-image: url('images/pieces/mansindam/YuGothic/wn.svg');
}
label.piece.piece2.mansindam {
    background-image: url('images/pieces/mansindam/Epson/wn.svg');
}
label.piece.piece3.mansindam {
    background-image: url('images/pieces/mansindam/tomato/wn.svg');
}
label.piece.piece4.mansindam {
    background-image: url('images/pieces/disguised/w.svg');
}

label.piece.piece0.shinobi {
    background-image: url('images/pieces/shinobi/merida/wJ.svg');
}
label.piece.piece1.shinobi {
    background-image: url('images/pieces/shinobi/cburnett/wJ.svg');
}
label.piece.piece2.shinobi {
    background-image: url('images/pieces/disguised/p.svg');
}

label.piece.piece0.empire {
    background-image: url('images/pieces/empire/merida/wC.svg');
}
label.piece.piece1.empire {
    background-image: url('images/pieces/empire/cburnett/wC.svg');
}
label.piece.piece2.empire {
    background-image: url('images/pieces/disguised/g.svg');
}

label.piece.piece0.ordamirror {
    background-image: url('images/pieces/orda/merida/bH.svg');
}
label.piece.piece1.ordamirror {
    background-image: url('images/pieces/orda/cburnett/bH.svg');
}
label.piece.piece2.ordamirror {
    background-image: url('images/pieces/disguised/g.svg');
}

label.piece.piece0.chak {
    background-image: url('images/pieces/chak/WV.svg');
}
label.piece.piece1.chak {
    background-image: url('images/pieces/chak/ronin/WV.svg');
}
label.piece.piece2.chak {
    background-image: url('images/pieces/chak/maya/WV.svg');
}
label.piece.piece3.chak {
    background-image: url('images/pieces/chak/mayav2/1_WV.svg');
}
label.piece.piece4.chak {
    background-image: url('images/pieces/disguised/chak-w.svg');
}
label.piece.piece0.chennis {
    background-image: url('images/pieces/chennis/wMN.svg');
}
label.piece.piece1.chennis {
    background-image: url('images/pieces/shogun/cburnett/mono/wC.svg');
}
label.piece.piece2.chennis {
    background-image: url('images/pieces/chennis/wMN_r.svg');
}
label.piece.piece3.chennis {
    background-image: url('images/pieces/chennis/bMN_r.svg');
}
label.piece.piece4.chennis {
    background-image: url('images/pieces/shogun/merida/mono/wC.svg');
}
label.piece.piece5.chennis {
    background-image: url('images/pieces/disguised/w.svg');
}

label.piece.piece0.spartan {
    background-image: url('images/pieces/spartan/bK.svg');
}
label.piece.piece1.spartan {
    background-image: url('images/pieces/green/spartan/bK.svg');
}
label.piece.piece2.spartan {
    background-image: url('images/pieces/disguised/b.svg');
}

label.piece.piece0.shocking {
    background-image: url('images/pieces/shocking/bC.svg');
}
label.piece.piece1.shocking {
    background-image: url('images/pieces/disguised/b.svg');
}

label.piece.piece0.borderlands {
    background-image: url('images/pieces/borderlands/bC.svg');
}
label.piece.piece1.borderlands {
    background-image: url('images/pieces/disguised/b.svg');
}

label.piece.piece0.xiangfu {
    background-image: url('images/pieces/xiangqi/eventintl/xiangfu/red_crossbow.svg');
}
label.piece.piece1.xiangfu {
    background-image: url('images/pieces/xiangqi/eventhanzi/xiangfu/red_crossbow.svg');
}
label.piece.piece2.xiangfu {
    background-image: url('images/pieces/xiangqi/eventhanziguided/xiangfu/red_crossbow.svg');
}
label.piece.piece3.xiangfu {
    background-image: url('images/pieces/disguised/b.svg');
}

label.piece.piece0.melonvariant {
    background-image: url('images/pieces/alfaerie/bcannonpawn.svg');
}
label.piece.piece1.melonvariant {
    background-image: url('images/pieces/disguised/b.svg');
}

label.piece.piece0.battleofideologies {
    background-image: url('images/pieces/battleofideologies/bZ.svg');
}
label.piece.piece1.battleofideologies {
    background-image: url('images/pieces/disguised/b.svg');
}
