:root {
    --main-max-width: auto;
}
.round-app {
    grid-area: app;
    display: grid;
    grid-column-gap: 2vmin;
}

@media (max-width: 799px) and (orientation: portrait) {
    .round-app {
        grid-template-rows: auto auto auto 36px auto auto min-content 36px auto auto auto auto auto auto auto auto;
        grid-template-areas: 'move-controls' 'mat-top' 'pocket-top' 'user-top' 'clock-top' 'expi-top' 'board' 'user-bot' 'offer' 'expi-bot' 'clock-bot' 'pocket-bot' 'mat-bot' 'game-controls' 'moves' 'uboard' 'uleft';
    }
    under-left {
        display: none;
    }
}

@media (min-width: 800px) {
    .round-app {
        grid-template-columns: minmax(calc(70vmin * var(--board-scale)), calc(100vh * var(--board-scale) - calc(var(--site-header-height) + var(--site-header-margin)) - 3rem)) minmax(240px, 400px);
        grid-template-rows: min-content auto auto min-content auto auto auto auto auto auto auto min-content auto auto min-content;
        grid-template-areas: 'board .' 'board mat-top' 'board pocket-top' 'board clock-top' 'board expi-top' 'board user-top' 'board move-controls' 'board moves' 'board offer' 'board game-controls' 'board user-bot' 'board expi-bot' 'board clock-bot' 'board pocket-bot' 'board mat-bot' 'board .';
    }
}

.cg-wrap svg {
    position: absolute;
}

/* Janggi setup buttons */
#janggi-setup-buttons {
    display: grid;
    grid-template-columns: 22% 12% 22%;
    grid-gap: 11%;
    justify-content: center;
}
#janggi-setup-buttons button {
    border-radius:3px;
    border: 1px solid var(--janggi-setup);
    height: 40px;
    color: var(--font-color);
    background: var(--bg-color2);
    cursor: pointer;
}

#janggi-setup-buttons > button:nth-child(2):hover {
    color:#fff;
    background: var(--green-hover);
}
#janggi-setup-buttons > #flipLeft:hover, #janggi-setup-buttons > #flipRight:hover {
    background: var(--rusty);
}

/* draw/rematch offer dialog */
#offer-dialog {
    display: flex;
    grid-area: offer;
    justify-content: space-between;
    align-items: stretch;
    align-content: center;
    background: var(--bg-color2);
    border-bottom: 1px solid var(--border-color);
}
#offer-dialog .reject {
    color: var(--bad);
    font-size: 1.5rem;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-color0);
}
#offer-dialog .text {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}
#offer-dialog .accept {
    color: var(--good);
    font-size: 1.2rem;
    width: 20%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-color0);
}

/* game start expiration */
.expiration {
    font-size: 0.9rem;
    justify-content: center;
    line-height: 2;
    background: var(--good);
    color: #fff;
}
.expiration.emerg {
    background: var(--bad);
}
.expiration strong {
    font-size: 1rem;
    margin: 0 0.3em 0 0.3em;
}
#expiration-top {
    grid-area: expi-top;
    border-top-right-radius: 3px;
}
#expiration-bottom {
    grid-area: expi-bot;
    border-bottom-right-radius: 3px;
}
@-webkit-keyframes bar-glider-anim {
    0% {
        transform: translateX(-1300px)
    }
    100% {
        transform: translateX(2100px)
    }
}
@keyframes bar-glider-anim {
    0% {
        transform: translateX(-1300px)
    }
    100% {
        transform: translateX(2100px)
    }
}
.bar-glider {
    position:relative;
    overflow:hidden
}
.bar-glider::after {
    content:'';
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    width:70px;
    background:linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,0.3));
    -webkit-animation:bar-glider-anim 3s linear infinite;
    animation:bar-glider-anim 3s linear infinite
}

@media (min-width: 800px) {
    [data-zen="on"] .round-app {
        grid-template-rows: min-content auto min-content auto 0 auto auto auto 0 auto min-content auto min-content
    }
}
@media (max-width: 799px) and (orientation: portrait) {
    [data-zen="on"] .round-app {
        grid-template-rows: auto auto 36px auto auto min-content 36px auto auto auto auto auto auto auto;
    }
}
a#zen-button {
    display: none;
    border: none;
    color: #fff;
    background: var(--green-hover);
    cursor: pointer;
    text-transform: uppercase;
    line-height: 1.5;
    height: max-content;
    transition: all 150ms;
    border-bottom-right-radius: 3px;
    opacity: 0.6;
}
a#zen-button:hover {
    background: var(--green-switch);
    opacity: 0.9;
}
.icon-check {
    align-self: center;
    padding: 0.5em 1em;
}
.icon-check::before {
    opacity: 0.9;
    margin-right: 0.4em;
}
[data-zen="on"] round-player0,
[data-zen="on"] round-player1,
[data-zen="on"] .sidebar-first,
[data-zen="on"] .site-title-nav,
[data-zen="on"] .crosstable,
[data-zen="on"] move,
[data-zen="on"] #spectators {
    display: none;
}
[data-zen="on"] a#zen-button {
    display: flex;
}
