.seirawan .cg-wrap piece.hawk.white {
  background-image: url('images/pieces/kaneo/wH.svg');
}
.seirawan .cg-wrap piece.elephant.white {
  background-image: url('images/pieces/kaneo/wE.svg');
}
.seirawan .cg-wrap piece.hawk.black {
  background-image: url('images/pieces/kaneo/bH.svg');
}
.seirawan .cg-wrap piece.elephant.black {
  background-image: url('images/pieces/kaneo/bE.svg');
}
.seirawan .cg-wrap piece.pawn.white {
  background-image: url('images/pieces/kaneo/wP.svg');
}
.seirawan .cg-wrap piece.bishop.white {
  background-image: url('images/pieces/kaneo/wB.svg');
}
.seirawan .cg-wrap piece.knight.white {
  background-image: url('images/pieces/kaneo/wN.svg');
}
.seirawan .cg-wrap piece.rook.white {
  background-image: url('images/pieces/kaneo/wR.svg');
}
.seirawan .cg-wrap piece.queen.white {
  background-image: url('images/pieces/kaneo/wQ.svg');
}
.seirawan .cg-wrap piece.king.white {
  background-image: url('images/pieces/kaneo/wK.svg');
}
.seirawan .cg-wrap piece.pawn.black {
  background-image: url('images/pieces/kaneo/bP.svg');
}
.seirawan .cg-wrap piece.bishop.black {
  background-image: url('images/pieces/kaneo/bB.svg');
}
.seirawan .cg-wrap piece.knight.black {
  background-image: url('images/pieces/kaneo/bN.svg');
}
.seirawan .cg-wrap piece.rook.black {
  background-image: url('images/pieces/kaneo/bR.svg');
}
.seirawan .cg-wrap piece.queen.black {
  background-image: url('images/pieces/kaneo/bQ.svg');
}
.seirawan .cg-wrap piece.king.black {
  background-image: url('images/pieces/kaneo/bK.svg');
}
