.grid9x9 .cg-wrap {
  background-image: url('images/board/shogi.svg');
}
.shogi .cg-wrap piece.pawn.white {
  background-image: url('images/pieces/shogi/hd1/BFU.svg');
}
.shogi .cg-wrap piece.ppawn.white {
  background-image: url('images/pieces/shogi/hd1/BTO.svg');
}
.shogi .cg-wrap piece.bishop.white {
  background-image: url('images/pieces/shogi/hd1/BKA.svg');
}
.shogi .cg-wrap piece.pbishop.white {
  background-image: url('images/pieces/shogi/hd1/BUM.svg');
}
.shogi .cg-wrap piece.knight.white {
  background-image: url('images/pieces/shogi/hd1/BKE.svg');
}
.shogi .cg-wrap piece.pknight.white {
  background-image: url('images/pieces/shogi/hd1/BNK.svg');
}
.shogi .cg-wrap piece.rook.white {
  background-image: url('images/pieces/shogi/hd1/BHI.svg');
}
.shogi .cg-wrap piece.prook.white {
  background-image: url('images/pieces/shogi/hd1/BRY.svg');
}
.shogi .cg-wrap piece.lance.white {
  background-image: url('images/pieces/shogi/hd1/BKY.svg');
}
.shogi .cg-wrap piece.plance.white {
  background-image: url('images/pieces/shogi/hd1/BNY.svg');
}
.shogi .cg-wrap piece.silver.white {
  background-image: url('images/pieces/shogi/hd1/BGI.svg');
}
.shogi .cg-wrap piece.psilver.white {
  background-image: url('images/pieces/shogi/hd1/BNG.svg');
}
.shogi .cg-wrap piece.gold.white {
  background-image: url('images/pieces/shogi/hd1/BKI.svg');
}
.shogi .cg-wrap piece.king.white {
  background-image: url('images/pieces/shogi/hd1/BOU.svg');
}
.shogi .cg-wrap piece.pawn.black {
  background-image: url('images/pieces/shogi/hd1/WFU.svg');
}
.shogi .cg-wrap piece.ppawn.black {
  background-image: url('images/pieces/shogi/hd1/WTO.svg');
}
.shogi .cg-wrap piece.bishop.black {
  background-image: url('images/pieces/shogi/hd1/WKA.svg');
}
.shogi .cg-wrap piece.pbishop.black {
  background-image: url('images/pieces/shogi/hd1/WUM.svg');
}
.shogi .cg-wrap piece.knight.black {
  background-image: url('images/pieces/shogi/hd1/WKE.svg');
}
.shogi .cg-wrap piece.pknight.black {
  background-image: url('images/pieces/shogi/hd1/WNK.svg');
}
.shogi .cg-wrap piece.rook.black {
  background-image: url('images/pieces/shogi/hd1/WHI.svg');
}
.shogi .cg-wrap piece.prook.black {
  background-image: url('images/pieces/shogi/hd1/WRY.svg');
}
.shogi .cg-wrap piece.lance.black {
  background-image: url('images/pieces/shogi/hd1/WKY.svg');
}
.shogi .cg-wrap piece.plance.black {
  background-image: url('images/pieces/shogi/hd1/WNY.svg');
}
.shogi .cg-wrap piece.silver.black {
  background-image: url('images/pieces/shogi/hd1/WGI.svg');
}
.shogi .cg-wrap piece.psilver.black {
  background-image: url('images/pieces/shogi/hd1/WNG.svg');
}
.shogi .cg-wrap piece.gold.black {
  background-image: url('images/pieces/shogi/hd1/WKI.svg');
}
.shogi .cg-wrap piece.king.black {
  background-image: url('images/pieces/shogi/hd1/WOU.svg');
}
