.grid9x9 .cg-wrap {
  background-image: url('images/board/shogic.svg');
}
.shogi .cg-wrap piece.pawn.white {
  background-image: url('images/pieces/shogi/ctp/0FU.svg');
}
.shogi .cg-wrap piece.ppawn.white {
  background-image: url('images/pieces/shogi/ctp/0TO.svg');
}
.shogi .cg-wrap piece.bishop.white {
  background-image: url('images/pieces/shogi/ctp/0KA.svg');
}
.shogi .cg-wrap piece.pbishop.white {
  background-image: url('images/pieces/shogi/ctp/0UM.svg');
}
.shogi .cg-wrap piece.knight.white {
  background-image: url('images/pieces/shogi/ctp/0KE.svg');
}
.shogi .cg-wrap piece.pknight.white {
  background-image: url('images/pieces/shogi/ctp/0NK.svg');
}
.shogi .cg-wrap piece.rook.white {
  background-image: url('images/pieces/shogi/ctp/0HI.svg');
}
.shogi .cg-wrap piece.prook.white {
  background-image: url('images/pieces/shogi/ctp/0RY.svg');
}
.shogi .cg-wrap piece.lance.white {
  background-image: url('images/pieces/shogi/ctp/0KY.svg');
}
.shogi .cg-wrap piece.plance.white {
  background-image: url('images/pieces/shogi/ctp/0NY.svg');
}
.shogi .cg-wrap piece.silver.white {
  background-image: url('images/pieces/shogi/ctp/0GI.svg');
}
.shogi .cg-wrap piece.psilver.white {
  background-image: url('images/pieces/shogi/ctp/0NG.svg');
}
.shogi .cg-wrap piece.gold.white {
  background-image: url('images/pieces/shogi/ctp/0KI.svg');
}
.shogi .cg-wrap piece.king.white {
  background-image: url('images/pieces/shogi/ctp/0OU.svg');
}
.shogi .cg-wrap piece.pawn.black {
  background-image: url('images/pieces/shogi/ctp/1FU.svg');
}
.shogi .cg-wrap piece.ppawn.black {
  background-image: url('images/pieces/shogi/ctp/1TO.svg');
}
.shogi .cg-wrap piece.bishop.black {
  background-image: url('images/pieces/shogi/ctp/1KA.svg');
}
.shogi .cg-wrap piece.pbishop.black {
  background-image: url('images/pieces/shogi/ctp/1UM.svg');
}
.shogi .cg-wrap piece.knight.black {
  background-image: url('images/pieces/shogi/ctp/1KE.svg');
}
.shogi .cg-wrap piece.pknight.black {
  background-image: url('images/pieces/shogi/ctp/1NK.svg');
}
.shogi .cg-wrap piece.rook.black {
  background-image: url('images/pieces/shogi/ctp/1HI.svg');
}
.shogi .cg-wrap piece.prook.black {
  background-image: url('images/pieces/shogi/ctp/1RY.svg');
}
.shogi .cg-wrap piece.lance.black {
  background-image: url('images/pieces/shogi/ctp/1KY.svg');
}
.shogi .cg-wrap piece.plance.black {
  background-image: url('images/pieces/shogi/ctp/1NY.svg');
}
.shogi .cg-wrap piece.silver.black {
  background-image: url('images/pieces/shogi/ctp/1GI.svg');
}
.shogi .cg-wrap piece.psilver.black {
  background-image: url('images/pieces/shogi/ctp/1NG.svg');
}
.shogi .cg-wrap piece.gold.black {
  background-image: url('images/pieces/shogi/ctp/1KI.svg');
}
.shogi .cg-wrap piece.king.black {
  background-image: url('images/pieces/shogi/ctp/1GY.svg');
}
