.grid9x9 .cg-board-wrap {
  background-image: url('images/board/shogi.svg');
}
.shogi .cg-board-wrap piece.pawn.white {
  background-image: url('images/pieces/shogi/1FU.svg');
}
.shogi .cg-board-wrap piece.ppawn.white {
  background-image: url('images/pieces/shogi/1TO.svg');
}
.shogi .cg-board-wrap piece.bishop.white {
  background-image: url('images/pieces/shogi/1KA.svg');
}
.shogi .cg-board-wrap piece.pbishop.white {
  background-image: url('images/pieces/shogi/1UM.svg');
}
.shogi .cg-board-wrap piece.knight.white {
  background-image: url('images/pieces/shogi/1KE.svg');
}
.shogi .cg-board-wrap piece.pknight.white {
  background-image: url('images/pieces/shogi/1NK.svg');
}
.shogi .cg-board-wrap piece.rook.white {
  background-image: url('images/pieces/shogi/1HI.svg');
}
.shogi .cg-board-wrap piece.prook.white {
  background-image: url('images/pieces/shogi/1RY.svg');
}
.shogi .cg-board-wrap piece.lance.white {
  background-image: url('images/pieces/shogi/1KY.svg');
}
.shogi .cg-board-wrap piece.plance.white {
  background-image: url('images/pieces/shogi/1NY.svg');
}
.shogi .cg-board-wrap piece.silver.white {
  background-image: url('images/pieces/shogi/1GI.svg');
}
.shogi .cg-board-wrap piece.psilver.white {
  background-image: url('images/pieces/shogi/1NG.svg');
}
.shogi .cg-board-wrap piece.gold.white {
  background-image: url('images/pieces/shogi/1KI.svg');
}
.shogi .cg-board-wrap piece.king.white {
  background-image: url('images/pieces/shogi/1OU.svg');
}
.shogi .cg-board-wrap piece.pawn.black {
  background-image: url('images/pieces/shogi/0FU.svg');
}
.shogi .cg-board-wrap piece.ppawn.black {
  background-image: url('images/pieces/shogi/0TO.svg');
}
.shogi .cg-board-wrap piece.bishop.black {
  background-image: url('images/pieces/shogi/0KA.svg');
}
.shogi .cg-board-wrap piece.pbishop.black {
  background-image: url('images/pieces/shogi/0UM.svg');
}
.shogi .cg-board-wrap piece.knight.black {
  background-image: url('images/pieces/shogi/0KE.svg');
}
.shogi .cg-board-wrap piece.pknight.black {
  background-image: url('images/pieces/shogi/0NK.svg');
}
.shogi .cg-board-wrap piece.rook.black {
  background-image: url('images/pieces/shogi/0HI.svg');
}
.shogi .cg-board-wrap piece.prook.black {
  background-image: url('images/pieces/shogi/0RY.svg');
}
.shogi .cg-board-wrap piece.lance.black {
  background-image: url('images/pieces/shogi/0KY.svg');
}
.shogi .cg-board-wrap piece.plance.black {
  background-image: url('images/pieces/shogi/0NY.svg');
}
.shogi .cg-board-wrap piece.silver.black {
  background-image: url('images/pieces/shogi/0GI.svg');
}
.shogi .cg-board-wrap piece.psilver.black {
  background-image: url('images/pieces/shogi/0NG.svg');
}
.shogi .cg-board-wrap piece.gold.black {
  background-image: url('images/pieces/shogi/0KI.svg');
}
.shogi .cg-board-wrap piece.king.black {
  background-image: url('images/pieces/shogi/0GY.svg');
}
