html {
  min-height: 100%;
}
body {
  font: 14px 'Noto Sans', Sans-Serif;
  margin: 0;
  color: #505050;
  background: #eee;
  cursor: default;
}
body.no-select {
  -moz-user-select: none;
  -webkit-user-select: none;
}

div#preload {
    /* preload board .svg images */
    display: none;
}

header{
  height: 32px;
}

iframe {
  border: none;
}

.profile-wrapper, .players-wrapper{
  display: grid;
  grid-template-columns: auto 60% auto;
  grid-gap: 18px;
  justify-content: center;
}

.main-wrapper{
  display: grid;
  grid-template-columns: 20% auto 25%;
  grid-template-rows: minmax(0, 1fr) 40px;
  grid-gap: 18px;
  justify-content: center;
}

main{
  margin-top:30px;
  display: grid;
  grid-template-columns: auto auto;
}
main.profile{
  display: inline;
}

.sidebar-first{
  margin-top: 30px;
  flex:1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: right;
}
.sidebar-second{
  margin-top: 30px;
  flex:1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
under-left {
  grid-column: 1;
  grid-row-start: 2;
}
under-board {
  grid-column: 2;
  width: calc(var(--cgwrapwidth));
}
textarea {
  width: calc(var(--cgwrapwidth));
  resize: none;
}
div#pgn {
  width: calc(var(--cgwrapwidth));
}
under-right {
  grid-column: 3;
  grid-row-start: 2;
  flex:1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

div.about {
  width: 50%;
  margin: 0 auto;
  border-radius: 3px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2), 0 2px 4px 0 rgba(0,0,0,0.19);
  background-color: white;
  padding: 24px;
}

a.nav-link:link, a.nav-link:visited {
    background-color: DimGray;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
a.nav-link:hover, a.nav-link:active {
    background-color: LightSlateGray;
}

a.user-link:link, a.user-link:visited {
    display: inline-block;
    color: #505050;
    text-decoration: none;
}
a.user-link:hover, a.user-link:active {
    color: RoyalBlue;
}

.round-data{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  background: White;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2), 0 2px 4px 0 rgba(0,0,0,0.19);
}

div#result {
  display: block;
  padding: 12px 0;
  font-size: 18px;
  text-align: center;
  border-top: 1px solid LightGray;
}

.lobby-button, .donate-button {
  width: 280px;
  background-color: Gray;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2), 0 2px 4px 0 rgba(0,0,0,0.19);
}
.lobby-button:hover {
  background-color: LightGray;
}
.donate-button {
  background-color: White;
  color: GoldenRod;
}
.donate-button:hover {
  background-color: GoldenRod;
  color: White;
}

#after-game-controls {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  background: White;
  box-shadow: 2px 1px 2px 0 rgba(0,0,0,0.2);
}

button.rematch {
  border: none;
  background-color: WhiteSmoke;
  padding: 12px 0;
  cursor: pointer;
}
button.rematch:hover {
  background-color: LightSkyBlue ;
}

button.newopp, button.analysis {
  border: none;
  background-color: white;
  padding: 12px 0;
  cursor: pointer;
}
button.newopp:hover,  button.analysis:hover {
  background-color: DarkSeaGreen;
}

.game-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: White;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2), 0 2px 4px 0 rgba(0,0,0,0.19);
  margin-bottom: 16px;
  padding: 12px;
  font-size: 14px;
}

div.info0, div.info1 {
  display: flex;
  flex-flow: row;
  margin-bottom: 6px;
}
div.info2 {
  padding-left: 14px;
}
div.info0::before {
  content: [data-icon];
  font-size: 42px;
}
div.info1::before {
  content: [data-icon];
  font-size: 42px;
  margin-right: 5%;
}

games-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 12px;
  width: 50%;
  margin: 0 auto;
}
div.info-result {
  padding: 8px;
}
div.info-result.win {
  color: Green;
}
div.info-result.lose {
  color: Red;
}
tc {
  padding: 8px;
  vertical-align: top;
}
round-player {
  padding: 8px;
  font-size: 16px;
}
.player-data {
  display: block;
  flex-direction: row;
  justify-content: center;
}
player-title {
  color:GoldenRod;
}
i-variant {
  font-size: 36px;
}
i-side.online {
  margin-right: .4em;
  font-size: 14px;
}
.icon-online::before {
  color: #629924;
  vertical-align: -2;
  margin-right: .4em;
}
.icon-offline::before {
  color: LightGray;
  vertical-align: -2;
  margin-right: .4em;
}
rating {
  float: right;
  font-size: 16px;
}
i {
  font-size: 18px;
}

ul {
    list-style: none;
}
ul.header {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li.header {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.topnav {
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 40px;
  line-height: 40px;
  color: white;
  background-color: DimGray;
  text-align: center;
}

.topnav a {
  float: left;
  display: block;
  height: 40px;
  padding: 0px 4px 0px 4px;
  color: white;
  background-color: DimGray;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: LightSlateGray;
}

.topnav .tool-container #username {
  padding: 0px 4px 0px 4px;
  float: right;
}

.topnav .tool-container button {
  float: right;
  width: 40px;
  height: 40px;
  padding: 0px 4px 0px 4px;
  background-color: DimGray;
  font-size: 17px;
  border: none;
  cursor: pointer;
  color: white;
}

.topnav .tool-container button:hover {
  background: LightSlateGray;
}

table#seeks {
  width: 550px;
  border-collapse: collapse;
  border-spacing: 0;
  border-radius: 3px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2), 0 2px 4px 0 rgba(0,0,0,0.19);
}

#seeks thead tr{
  display:block;
}

#seeks tbody {
  height: 550px;
  display:block;
  overflow-y: auto;
}

#seeks td, #seeks th {
  padding: 8px;
  width:100%;
  line-height: 28px;
}

#seeks tr {
  height: 28px;
  border: 1px solid #ddd;
}

#seeks tr:nth-child(even) {
  width:100%;
  background-color: #f2f2f2;
}

#seeks tbody tr:hover {
  width:100%;
  background-color: #ddd;
}

#seeks th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: Gray;
  color: white;
}

#players tr {
  background-color: White;
}

/* profile games */
player-head {
  font-size: 24px;
}
.i-tv, .i-dl {
  float: right;
  padding: 0px 4px 0px 4px;
  color: #505050;
  text-decoration: none;
}

a.i-tv:link, a.i-dl:link {
    display: inline-block;
    text-decoration: none;
}
a.i-tv:hover, a.i-dl:hover {
    color: RoyalBlue;
}

table#games, table#players {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0px;
  border-radius: 3px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2), 0 2px 4px 0 rgba(0,0,0,0.19);
}

td.player-data {
  padding: 8px;
}

#games th {
  height: 80px;
  background-color: WhiteSmoke;
}

#games td {
  padding: 6px 12px 6px 12px;
}

#games tr {
  width:100%;
  border: 1px solid #ddd;
  padding: 3px;
  background-color: WhiteSmoke;
}

#games tr:nth-child(odd) {
  width:100%;
  background-color: White;
}

#games tbody tr:hover {
  width:100%;
  background-color: #d1e6fa;
  cursor: pointer;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Input fields */
select, input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Center the image and position the close button */
#closecontainer {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  position: relative;
}

.container {
  text-align: center;
  padding: 24px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 10 auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border-radius: 3px;
  width: 30%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -16px;
  top: -16px;
  color: DimGray;
  background: #fff;
  width: 32px;
  height: 32px;
  font-size: 18px;
  border-radius: 50%;
}

.close:hover, .close:focus {
  cursor: "pointer";
  background: red;
}

div.btn-controls {
  display: flex;
  justify-content: space-between;
  background-color: WhiteSmoke;
  box-shadow: 2px 1px 2px 0 rgba(0,0,0,0.2);
}

.btn-controls button {
  flex: 1;
  height: 40px;
  border: none;
  background-color: WhiteSmoke;
  cursor: pointer;
}

.btn-controls button:disabled {
  color: LightGray;
}

.btn-controls button:hover {
  background-color: DarkSeaGreen;
}

.btn-controls button#gear.selected {
  background-color: DarkSeaGreen;
}

.btn-controls button:focus {
  outline:none;
}
.btn-controls button::-moz-focus-inner {
  border:0;
}

/* Clock */
.clock-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.more-time {
  float: right;
  font-size: 32px;
}
button.icon.icon-plus-square {
  border: none;
  color: LightBlue;
  background: #eee;
  font-size: 36px;
  cursor: pointer;
}
button.icon.icon-plus-square:hover {
  color: LightSkyBlue;
}
button.icon:focus {
  outline:none;
}
button.icon::-moz-focus-inner {
  border:0;
}

.clock {
  display: inline;
  text-align: center;
  font-family: "Roboto Mono", "Roboto";
  font-size: 50px;
  box-shadow: 2px 1px 2px 0 rgba(0,0,0,0.2);
}
.clock.time {
  color: #404040;
  background-color: White;
}
.clock.time.min {
  padding-left: 12px;
  box-sizing: border-box;
}
.clock.time.sec {
  padding-right: 12px;
  box-sizing: border-box;
}
.clock.sep {
  background-color: White;
  color: #404040;
}

.clock.time.running, .clock.sep.running {
  color: Black;
  background-color: rgb(208, 224, 189);
}
.clock.sep.running.low {
  color: Gray;
}

.clock.time.hurry, .clock.sep.hurry {
  background-color: MistyRose;
}

.connecting.clock.time, .connecting.clock.sep {
    animation: clock-blink .5s cubic-bezier(.5,0,1,1) infinite alternate;
}
@keyframes clock-blink {
    from { opacity: 1 }
    to { opacity: 0 }
}

/* Playing color */
button.icon {
  margin: 5px;
  padding: 5px;
}
button.icon.icon-circle, button.icon.icon-circle-o {
    font-size: 24px;
}
button.icon.icon-adjust {
    font-size: 36px;
}


/* A.I. Level https://codepen.io/skeddles/pen/PbROLK */
input[type=radio] {
  position: absolute;
  visibility: hidden;
  display: none;
}

label {
  display: inline-block;
  cursor: pointer;
  padding: 5px 12px;
}

.ai-radio-group input[type=radio]:checked + label {
  color: White;
  background: DimGray;
}

.ai-radio-group label + input[type=radio] + label {
  border-left: solid 1px #675f6b;
}

.ai-radio-group {
  border: solid 1px #675f6b;
  display: inline-block;
  margin: 12px;
  overflow: hidden;
}

/* Board settings */
.settings-pieces, .settings-boards {
  display: flex;
  border: none;
  margin: 12px;
}
label.piece, label.board {
  background-size: contain;
  background-repeat: no-repeat;
  padding: 30px 30px;
}

label.board.board0.shogi {
  background-image: url('images/board/shogi.svg');
}
label.board.board1.shogi {
  background-image: url('images/board/Shogiban1.png');
}
label.board.board2.shogi {
  background-image: url('images/board/Shogiban2.png');
}
label.board.board3.shogi {
  background-image: url('images/board/shogic.svg');
}
label.board.board4.shogi {
  background-image: url('images/board/ShogiMaple.png');
}
label.board.board5.shogi {
  background-image: url('images/board/ShogiCheckeredWood.png');
}

label.piece.piece0.shogi {
  background-image: url('images/pieces/shogi/ctk/0KA.svg');
}
label.piece.piece1.shogi {
  background-image: url('images/pieces/shogi/0KA.svg');
}
label.piece.piece2.shogi {
  background-image: url('images/pieces/shogi/ctw/0KA.svg');
}
label.piece.piece3.shogi {
  background-image: url('images/pieces/shogi/ctp/0KA.svg');
}

label.board.board0.xiangqi {
  background-image: url('images/board/xiangqi.svg');
}
label.board.board1.xiangqi {
  background-image: url('images/board/xiangqic.svg');
}
label.board.board2.xiangqi {
  background-image: url('images/board/xiangqiCTexture.png');
}
label.board.board3.xiangqi {
  background-image: url('images/board/xiangqiPaper.png');
}
label.board.board4.xiangqi {
  background-image: url('images/board/xiangqiWood.png');
}
label.piece.piece0.xiangqi {
  background-image: url('images/pieces/xiangqi/red_king.svg');
}
label.piece.piece1.xiangqi {
  background-image: url('images/pieces/xiangqi/euro/red_king.svg');
}
label.piece.piece2.xiangqi {
  background-image: url('images/pieces/xiangqi/ct2/red_king2.svg');
}
label.piece.piece3.xiangqi {
  background-image: url('images/pieces/xiangqi/hnz/red_king.svg');
}

label.piece.piece0.seirawan, label.piece.piece0.shouse {
  background-image: url('images/pieces/merida/wH.svg');
}
label.piece.piece1.seirawan, label.piece.piece1.shouse {
  background-image: url('images/pieces/merida/wA.svg');
}
label.piece.piece2.seirawan, label.piece.piece2.shouse {
  background-image: url('images/pieces/green/wA.svg');
}
label.piece.piece3.seirawan, label.piece.piece3.shouse {
  background-image: url('images/pieces/merida/WA2.svg');
}

label.board.board0.capablanca, label.board.board0.capahouse, label.board.board0.gothic, label.board.board0.gothhouse {
  background-image: url('images/board/10x8brown.svg');
}
label.board.board1.capablanca, label.board.board1.capahouse, label.board.board1.gothic, label.board.board1.gothhouse {
  background-image: url('images/board/10x8blue.svg');
}
label.board.board2.capablanca, label.board.board2.capahouse, label.board.board2.gothic, label.board.board2.gothhouse {
  background-image: url('images/board/10x8green.svg');
}
label.board.board3.capablanca, label.board.board3.capahouse, label.board.board3.gothic, label.board.board3.gothhouse {
  background-image: url('images/board/10x8maple.jpg');
}
label.board.board4.capablanca, label.board.board4.capahouse, label.board.board4.gothic, label.board.board4.gothhouse {
  background-image: url('images/board/10x8olive.jpg');
}
label.board.board0.grand, label.board.board0.grandhouse {
  background-image: url('images/board/10x10brown.svg');
}
label.board.board1.grand, label.board.board1.grandhouse {
  background-image: url('images/board/10x10blue.svg');
}
label.board.board2.grand, label.board.board2.grandhouse {
  background-image: url('images/board/10x10green.svg');
}
label.board.board3.grand, label.board.board3.grandhouse {
  background-image: url('images/board/10x10maple.jpg');
}
label.board.board4.grand, label.board.board4.grandhouse {
  background-image: url('images/board/10x10olive.jpg');
}

label.piece.piece0.capablanca, label.piece.piece0.capahouse, label.piece.piece0.grand, label.piece.piece0.grandhouse, label.piece.piece0.gothic, label.piece.piece0.gothhouse {
  background-image: url('images/pieces/merida/wA.svg');
}
label.piece.piece1.capablanca, label.piece.piece1.capahouse, label.piece.piece1.grand, label.piece.piece1.grandhouse, label.piece.piece1.gothic, label.piece.piece1.gothhouse {
  background-image: url('images/pieces/merida/wH.svg');
}
label.piece.piece2.capablanca, label.piece.piece2.capahouse, label.piece.piece2.grand, label.piece.piece2.grandhouse, label.piece.piece2.gothic, label.piece.piece2.gothhouse {
  background-image: url('images/pieces/green/wH.svg');
}
label.piece.piece3.capablanca, label.piece.piece3.capahouse, label.piece.piece3.grand, label.piece.piece3.grandhouse, label.piece.piece3.gothic, label.piece.piece3.gothhouse {
  background-image: url('images/pieces/merida/WA2.svg');
}

label.board.board0.makruk {
  background-image: url('images/board/makruk.svg');
}
label.board.board1.makruk {
  background-image: url('images/board/makruk.jpg');
}
label.piece.piece0.makruk {
  background-image: url('images/pieces/makruk/wk.svg');
}

label.board.board0.sittuyin {
  background-image: url('images/board/sittuyin.svg');
}
label.board.board1.sittuyin {
  background-image: url('images/board/sittuyin.jpg');
}
label.piece.piece0.sittuyin {
  background-image: url('images/pieces/makruk/wk.svg');
}
label.piece.piece1.sittuyin {
  background-image: url('images/pieces/sittuyin/wk.svg');
}

label.board.board0.placement, label.board.board0.crazyhouse, label.board.board0.standard, label.board.board0.seirawan, label.board.board0.shouse {
  background-image: url('images/board/8x8brown.svg');
}
label.board.board1.placement, label.board.board1.crazyhouse, label.board.board1.standard, label.board.board1.seirawan, label.board.board1.shouse {
  background-image: url('images/board/8x8blue.svg');
}
label.board.board2.placement, label.board.board2.crazyhouse, label.board.board2.standard, label.board.board2.seirawan, label.board.board2.shouse {
  background-image: url('images/board/8x8green.svg');
}
label.board.board3.placement, label.board.board3.crazyhouse, label.board.board3.standard, label.board.board3.seirawan, label.board.board3.shouse {
  background-image: url('images/board/8x8maple.jpg');
}
label.board.board4.placement, label.board.board4.crazyhouse, label.board.board4.standard, label.board.board4.seirawan, label.board.board4.shouse {
  background-image: url('images/board/8x8olive.jpg');
}
label.piece.piece0.placement, label.piece.piece0.crazyhouse, label.piece.piece0.standard {
  background-image: url('images/pieces/merida/wN.svg');
}
label.piece.piece1.placement, label.piece.piece1.crazyhouse, label.piece.piece1.standard {
  background-image: url('images/pieces/green/wN.svg');
}
label.piece.piece2.placement, label.piece.piece2.crazyhouse, label.piece.piece2.standard {
  background-image: url('images/pieces/alpha/wN.svg');
}

/* Chat */
.chat {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  background: White;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2), 0 2px 4px 0 rgba(0,0,0,0.19);
}

user {
  margin-right: 4px;
  font-weight: bold;
}

/* hack: max-height = seek table th+tr height */
ol {
  display: flex;
  order: 1;
  overflow-x:hide;
  overflow-y:auto;
  margin: 0;
  padding: 0;
}

ol#lobbychat-messages {
  max-height: 562px;
}

ol#roundchat-messages {
  max-height: calc(var(--cgwrapheight) - 156px);
}

li.message {
  overflow-wrap: word-break;
  word-break: break-word;
  padding: 3px;
  font-size: .9em;
}

li.message.offer {
  color: DarkSeaGreen;
}

li.message.server {
  color: Red;
}

#chat-entry {
  display: flex;
  order: 2;
  border: 1px solid #ddd;
  margin: 0;
  padding: 3px;
  margin-top: auto;
}

#movelist-block {
  overflow-y: auto;
  max-height: calc(var(--cgwrapheight) - var(--pocketheight) - 40px);
}
/* movelist border: 1px solid #ddd; */
div#moves {
  display: inline;
  background: White;
  height: 100px;
  max-height: 100px;
}
div.anal#moves {
  display: inline;
  background: White;
}

ol.movelist {
  display: inline;
}
li.move {
  line-height: 1.9em;
  display: inline;
  float: left;
  width: 42%;
  padding-left: 6px;
  box-sizing: border-box;
  justify-content: center;
}
eval {
  font-size: .8em;
  padding-right: 8px;
  color: Gray;
  float: right;
}

li.move.counter {
  color: Gray;
  width: 16%;
  background-color: WhiteSmoke;
  text-align: center;
}

li.move:hover {
    background-color: LightSkyBlue;
}
li.move.active {
    background-color: LightBlue;
}
li.move.hidden {
  visibility: hidden;
}

/* cg-resize */
body.resizing {
 -webkit-user-select:none;
 -moz-user-select:none;
 -ms-user-select:none;
 user-select:none
}
cg-resize {
 display:none
}
@media (min-width: 800px) {
 cg-resize {
  display:block;
  position:absolute;
  right:-9px;
  bottom:-9px;
  width:22px;
  height:22px;
  cursor:nwse-resize
 }
 cg-resize::before,
 cg-resize::after {
  background:#000;
  content:'';
  position:absolute;
  width:12px;
  height:1px
 }
 cg-resize::before {
  width:5px;
  -webkit-transform:translate(7px, 8px) rotate(-45deg);
  transform:translate(7px, 8px) rotate(-45deg)
 }
 cg-resize::after {
  -webkit-transform:translate(1px, 6px) rotate(-45deg);
  transform:translate(1px, 6px) rotate(-45deg)
 }
 cg-resize:hover {
  border-radius:50%;
  background:rgba(214,79,0,0.5)
 }
 .resizing cg-resize {
  border-radius:50%;
  background:rgba(98,153,36,0.5)
 }
}

/* range input slider */
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  border-radius: 5px;
  background: LightGray;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: DimGray;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: DimGray;
  cursor: pointer;
}

/* docsify */
body.no-sidebar .sidebar,
body.no-sidebar .sidebar-toggle {
    display: none !important;
}

body.no-sidebar .content {
    left: 0px !important;
}

/* analysis gauge */
#gauge {
  height: 100%;  /* !!! */
  background-color: #fff;
  width: 17px;
  overflow: hidden;
  position: relative;
}
#gauge::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 5px rgba(0,0,0,0.7) inset;
}
#gauge .black {
  background-color: #888;
  transition: height 1s;
}
#gauge .tick {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 2px ridge #eee;
  opacity: 0.4;
}
#gauge .tick.zero {
  opacity: 1;
  border-bottom: 7px solid rgba(214,79,0,0.4);
  margin-top: -3px;
}

div#pv {
  background-color: WhiteSmoke;
  box-shadow: 2px 1px 2px 0 rgba(0,0,0,0.2);
}

pv {
  display: flex;
  margin: 6px;
  white-space: nowrap;
  overflow: hidden;
}

score {
  margin: 6px;
  font-weight: bold;
  font-size: 22px;
}