:root {
    --base-shadow: 0 3px 6px 0 rgba(0,0,0,0.2), 0 2px 4px 0 rgba(0,0,0,0.19);
    --btn-shadow: 2px 1px 2px 0 rgba(0,0,0,0.2);
    --dark-mode: 0;
    --font-color: #4d4d4d;
    --text-shadow: #fff;
    --bg-body: #edebe9 linear-gradient(to bottom, #dbd7d1, #edebe9 116px) no-repeat;
    --bg-color0: #dbd7d1;
    --bg-color1: White;
    --bg-color2: WhiteSmoke;
    --bg-seek: rgba(255,255,255,0.8);
    --game-hover: #d1e6fa;
    --green-hover: #89b25b;
    --blue-active: #d1e4f6;
    --blue-hover: #1b78d0;
    --good: #629924;
    --bad: #c33;
    --gold: GoldenRod;
    --rusty: rgba(214,79,0,0.5);
    --ct-current: #e2834d;
    --clock-hurry-bg: MistyRose;
    --clock-running-bg: rgb(208, 224, 189);
    --clock-running-color: Black;
}
[data-theme="dark"] {
    --dark-mode: 1;
    --font-color: #bababa;
    --text-shadow: none;
    --bg-body: #262421;
    --bg-color0: #262421;
    --bg-color1: #2e2a24;
    --bg-color2: #333333;
    --bg-seek: #2e2a24;
    --game-hover: #223344;
    --green-hover: #537c23;
    --blue-active: #293a49;
    --blue-hover: #3692e7;
    --gold: DarkGoldenRod;
    --rusty: rgba(214,79,0,0.5);
    --ct-current: #a1420a;
    --clock-hurry-bg: #502826;
    --clock-running-bg: #384722;
    --clock-running-color: #e3e3e3;
}

html {
  font-size: 14px ;
  min-height: 100%;
  font-family: 'Noto Sans', Sans-Serif;
}
body {
  margin: 0;
  color: var(--font-color);
  background: var(--bg-body);
  cursor: default;
}
body.no-select {
  -moz-user-select: none;
  -webkit-user-select: none;
}

div#preload {
    /* preload board .svg images */
    display: none;
}

header{
  height: 32px;
}

iframe {
  border: none;
}

.center {
  display: block;
  margin: auto;
}

.profile-wrapper, .players-wrapper{
  display: grid;
  grid-template-columns: auto 70% auto;
  justify-content: center;
}

.main-wrapper{
  display: grid;
  grid-template-columns: 20% auto 25%;
  grid-template-rows: minmax(0, 1fr) 40px;
  grid-gap: 18px;
  justify-content: center;
}

main {
  margin-top:30px;
  display: grid;
  grid-template-columns: auto auto;
}
main.profile, main.players {
  display: inline;
}

.sidebar-first{
  margin-top: 30px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: right;
}
.sidebar-second{
  margin-top: 30px;
  flex:1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
under-left {
  grid-column: 1;
  grid-row-start: 2;
}
under-board {
  grid-column: 2;
  width: calc(var(--cgwrapwidth));
}
textarea {
  width: calc(var(--cgwrapwidth));
  color: var(--font-color);
  background-color: var(--bg-color1);
  resize: none;
}
div.pgn {
  width: calc(var(--cgwrapwidth));
}
under-right {
  grid-column: 3;
  grid-row-start: 2;
  flex:1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

div.about, div.guide, div.patron, div.closed {
  width: 75%;
  margin: 0 auto;
  border-radius: 3px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  box-shadow: var(--base-shadow);
  background-color: var(--bg-color1);
  padding: 24px;
}
div.patron {
  width: 50%;
}
div.guide {
  width: 100%;
}
div.closed {
  width: 610px;
}
ul.guide {
  list-style:none;
  margin-right: 24px;
}
ul.guide li {
  margin-bottom: 24px;
}

.nav-link:link, .nav-link:visited {
  color: var(--font-color);
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 0 var(--text-shadow);
  display: inline-block;
  padding-right: 8px;
}
.nav-link:hover, .nav-link:active {
  color: var(--blue-hover);
}
.nav-link.home {
  font-size: 25px;
}
.nav-link.login {
    float: right;
}


.topnav {
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 40px;
  line-height: 40px;
  color: var(--font-color);
  text-align: center;
}

.topnav a {
  float: left;
  display: block;
  height: 40px;
  padding: 0px 4px 0px 4px;
  text-decoration: none;
  font-size: 17px;
}

.topnav .tool-container button {
  float: right;
  color: var(--font-color);
  background-color: inherit;
  width: 40px;
  height: 40px;
  padding: 0px 4px 0px 4px;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .tool-container button:hover {
  color: var(--blue-hover);
}

a, .user-link:link, .user-link:visited {
    display: inline-block;
    color: var(--font-color);
    text-decoration: none;
}
a, .user-link:hover, .user-link:active {
    color: RoyalBlue;
}
.reflist {
    padding: 6px;
    text-decoration: none;
}
.round-data{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  background: var(--bg-color1);
  box-shadow: var(--base-shadow);
}

div#result {
  display: block;
  padding: 12px 0;
  font-size: 18px;
  text-align: center;
  border-top: 1px solid LightGray;
}

.lobby-button, .donate-button, button#request-analysis {
  width: 270px;
  background-color: var(--bg-color2);
  border: none;
  color: var(--font-color);
  padding: 15px 2px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: var(--base-shadow);
}
button#request-analysis {
  width: 200px;
  padding: 4px;
  margin: 2px 2px;
  border-radius: 4px;
  color: White;
  background-color: var(--blue-hover);
}
.lobby-button:hover {
  background-color: var(--bg-color1);
}
.donate-button {
  background-color: var(--bg-color2);
  color: var(--gold);
}
.donate-button:hover {
  background-color: var(--gold);
  color: White;
}

#after-game-controls {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  background: var(--bg-color1);
  box-shadow: var(--btn-shadow);
}

button.rematch {
  border: none;
  color: var(--font-color);
  background-color: var(--bg-color0);
  padding: 12px 0;
  cursor: pointer;
}
button.rematch:hover {
  background-color: var(--green-hover) ;
}

button.newopp, button.analysis {
  border: none;
  color: var(--font-color);
  background-color: var(--bg-color0);
  padding: 12px 0;
  cursor: pointer;
}
button.newopp:hover,  button.analysis:hover {
  background-color: var(--green-hover);
}

.game-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--bg-color1);
  box-shadow: var(--base-shadow);
  margin-bottom: 16px;
  padding: 12px;
  font-size: 14px;
}

div.info1.icon, div.info0.icon::before {
  opacity: 0.7;
}
div.info0, div.info1 {
  display: flex;
  flex-flow: row;
  margin-bottom: 6px;
}
div.info0.games {
  padding-top: 16px;
}
div.info2 {
  padding-left: 10px;
  padding-bottom: 6px;
}
div.info2.games {
  padding-top: 26px;
}
div.info0::before {
  content: [data-icon];
  font-size: 42px;
}
div.info1::before {
  content: [data-icon];
  font-size: 42px;
  margin-right: 5%;
}
span.icon {
  padding-right: 6px;
}
.games-info {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  justify-content: space-between;
  padding: 12px;
  margin: 0 auto;
}
div.info-middle {
  align-items:center;
  justify-content: center;
}
div.versus {
  display: flex;
  justify-content: center;
}
vs {
  padding: 0 6px 0 6px;
}
.info-result {
  text-align: center;
}
div.info-result {
  padding: 8px;
}
.info-result.win {
  color: var(--good);;
}
.info-result.lose {
  color: var(--bad);
}
div.anal-meta {
}
tc {
  padding: 8px;
  vertical-align: top;
}
round-player {
  padding: 8px;
  font-size: 16px;
}
.player-data {
  display: block;
  flex-direction: row;
  justify-content: center;
  padding: 2px 6px;
}
player-title {
  color:var(--gold);
}
.variant {
  font-size: 18px;
}
i-side.icon-white::before, i-side.icon-black::before {
  vertical-align: -2;
  margin-right: .4em;
}
.icon-online::before {
  color: var(--good);
  vertical-align: -2;
  margin-right: .4em;
}
.icon-offline::before {
  color: LightGray;
  vertical-align: -2;
  margin-right: .4em;
}
rating {
  float: right;
  font-size: 16px;
}
rating span {
  font-size: 12px;
}
good {
  color: var(--good);
}
bad {
  color: var(--bad);
}
vs-swords {
  font-size: 2em;
  padding: 4 8 0 8;
}
vs-swords.lobby {
  display:inline-block;
  font-size:24px;
  color: var(--good);
  vertical-align: bottom;
}
vs-swords.lobby.opp {
  color: var(--bad);
}
.sub-ratings {
  display: flex;
  flex-flow: row;
  font-size: 3em;
}
.sub-ratings a.empty {
  opacity: 0.3;
}
.sub-ratings a.active {
  background: var(--bg-color1);
  opacity: 1;
}
.sub-ratings h3{
  font-size: 12px;
  font-weight:normal;
  font-family: 'Roboto';
  letter-spacing: 1.1px;
  margin: 0;
}
.sub-ratings a {
  display: flex;
  flex: 1 1 100%;
  flex-flow: row;
  align-items: center;
  color: var(--font-color);
  text-decoration: none;
  padding: 0.3em;
  opacity: 0.7;
}
.sub-ratings a:hover {
  background: var(--bg-color1);
}
.sub-ratings a:hover::before {
  color: LightSkyBlue;
}
.sub-ratings a .info2 {
  display: flex;
}
.sub-ratings a span rating {
  float: left;
}

.highscore {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
   grid-gap: 10px;
   padding-left: 15px;
}
.card {
  border: 1px solid #d3d3d3;
  border-radius: .25rem;
  background-color: var(--bg-color1);
}
.card div.info0 {
  color: WhiteSmoke;
  background-color: var(--gold);
}
.player-data.odd {
  background-color: var(--bg-color1);
}
.player-data.even {
  background-color: var(--bg-color2);
}

ul.header {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li.header {
    float: right;
}

#username {
  padding: 0px 4px 0px 4px;
  float: right;
}

table#seeks {
  width: 610px;
  border-collapse: collapse;
  border-spacing: 0;
  border-radius: 3px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  box-shadow: var(--base-shadow);
  background-size: contain;
  background-image: url('images/Background2.svg');
  background-color: var(--bg-seek);
  background-blend-mode: overlay;
}

#seeks thead tr{
  display:block;
}

#seeks tbody {
  height: 100%;
  max-height: 550px;
  display:block;
  overflow-y: auto;
  -ms-overflow-style: scrollbar;
}

#seeks td, #seeks th {
  padding: 8px;
  width:100%;
  line-height: 28px;
  white-space: nowrap;
}

#seeks tr {
  border: 1px solid var(--bg-color2);
}

#seeks tbody tr:hover {
  width:100%;
  background-color: var(--rusty);
}

#seeks th {
  text-align: left;
  background-color: var(--bg-color2);
}

#players {
  background-color: var(--bg-color1);
}

/* profile games */
player-head {
  font-size: 24px;
}
.i-at, .i-tv, .i-dl, .i-ch {
  float: right;
  padding: 0px 4px 0px 4px;
  color: #505050;
  text-decoration: none;
}
.i-pgn {
  float: left;
  padding: 10px;
  color: RoyalBlue;
}
a.i-at:link, a.i-tv:link, a.i-dl:link, a.i-ch:link, a.i-pgn:link {
    display: inline-block;
    text-decoration: none;
}
a.i-at:hover, a.i-tv:hover, a.i-dl:hover, a.i-ch:hover {
    color: RoyalBlue;
}
.i-pgn:hover {
    color: #004f98;
}

table#games, table#players {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0px;
  border-radius: 3px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  box-shadow: var(--base-shadow);
}

td.player-data {
  padding: 8px;
}

#games th {
  height: 80px;
  background-color: var(--bg-color2);
}

#games td {
  padding: 6px 12px 6px 12px;
}

#games tr {
  display: flex;
  width:100%;
  border: 1px solid var(--bg-color1);
  padding: 3px;
  background-color: var(--bg-color2);
}

#games tr:nth-child(odd) {
  width:100%;
  background-color: var(--bg-color1);
}

#games tbody tr:hover {
  width:100%;
  background-color: var(--game-hover);
  cursor: pointer;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Input fields */
select, input {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline;
  border: 1px solid #aaa;
  box-sizing: border-box;
  color: var(--font-color);
  background: var(--bg-color1);
}

/* Center the image and position the close button */
#closecontainer {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  position: relative;
}

.container {
  text-align: center;
  padding: 24px;
}

#count {
  font-family: "Roboto Mono", "Roboto";
  font-size: 30px;
  text-align: center;
  background-color: var(--bg-color1);
  box-shadow: var(--base-shadow);
  margin-bottom: 15px;
  margin-left: 50px;
  margin-right: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: var(--bg-color1);
  margin: 10 auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border-radius: 3px;
  width: 30%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -16px;
  top: -16px;
  color: DimGray;
  background: #fff;
  width: 32px;
  height: 32px;
  font-size: 18px;
  border-radius: 50%;
}

.close:hover, .close:focus {
  cursor: "pointer";
  background: var(--bad);
}

div.btn-controls {
  display: flex;
  justify-content: space-between;
  box-shadow: var(--btn-shadow);
}

.btn-controls button {
  flex: 1;
  height: 40px;
  border: none;
  color: var(--font-color);
  background-color: var(--bg-color2);
  cursor: pointer;
}

button:disabled {
  color: var(--bg-color1);
}

.btn-controls button:hover {
  background-color: var(--green-hover);
}

.btn-controls button#gear.selected {
  background-color: var(--green-hover);
}

.btn-controls button:focus {
  outline:none;
}
.btn-controls button::-moz-focus-inner {
  border:0;
}

/* Clock */
.clock-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.more-time {
  float: right;
  font-size: 32px;
}
button.icon.icon-plus-square {
  border: none;
  color: LightBlue;
  background-color: var(--bg-body);
  font-size: 36px;
  cursor: pointer;
}
button.icon.icon-plus-square:hover {
  color: LightSkyBlue;
}
button.icon:focus {
  outline:none;
}
button.icon::-moz-focus-inner {
  border:0;
}

.clock {
  display: inline;
  text-align: center;
  font-family: "Roboto Mono", "Roboto";
  font-size: 50px;
  box-shadow: var(--btn-shadow);
}
.clock.time, .clock.sep {
  background-color: var(--bg-color1);
}
.clock.time.min {
  padding-left: 12px;
  box-sizing: border-box;
}
.clock.time.sec {
  padding-right: 12px;
  box-sizing: border-box;
}

.clock.time.running, .clock.sep.running {
  color: var(--clock-running-color);
  background-color: var(--clock-running-bg);
}
.clock.sep.running.low {
  color: Gray;
}

.clock.time.hurry, .clock.sep.hurry {
  background-color: var(--clock-hurry-bg);
}

.connecting.clock.time, .connecting.clock.sep {
    animation: clock-blink .5s cubic-bezier(.5,0,1,1) infinite alternate;
}
@keyframes clock-blink {
    from { opacity: 1 }
    to { opacity: 0 }
}

/* Playing color */
button.icon {
  margin: 5px;
  padding: 5px;
}
button.icon.icon-black, button.icon.icon-white {
  font-size: 24px;
}
button.icon.icon-adjust {
    font-size: 36px;
}

/* Casual/Rated and A.I. Level https://codepen.io/skeddles/pen/PbROLK */
input[type=radio] {
  position: absolute;
  visibility: hidden;
  display: none;
}

label {
  display: inline-block;
  cursor: pointer;
  padding: 5px 12px;
}

.radio-group input[type=radio]:checked + label {
  color: White;
  background: DimGray;
}

.radio-group label + input[type=radio] + label {
  border-left: solid 1px #675f6b;
}

.radio-group {
  border: solid 1px #675f6b;
  display: inline-block;
  margin: 12px;
  overflow: hidden;
}

/* Chat */
.chat {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  background: var(--bg-color1);
  box-shadow: var(--base-shadow);
}

user {
  padding-right: 6px;
  font-weight: bold;
}
div.chatroom {
  background: var(--bg-color1);
  padding: 6px;
}

/* hack: max-height = seek table th+tr height */
ol#lobbychat-messages, ol#roundchat-messages {
  display: flex;
  flex: 1;
  order: 1;
  overflow-x:hide;
  overflow-y:auto;
  margin: 0;
  padding: 0;
}

ol#lobbychat-messages {
  max-height: 536px;
}

ol#roundchat-messages {
  max-height: calc(var(--cgwrapheight) - 188px);
}

li.message {
  overflow-wrap: word-break;
  word-break: break-word;
  padding-left: 6px;
  padding-bottom: 6px;
  font-size: .9em;
}

li.message.offer {
  color: DarkSeaGreen;
}

li.message.server {
  color: var(--bad);
}

#chat-entry {
  display: flex;
  order: 2;
  border: 1px solid var(--bg-color2);
  margin: 0;
  padding: 3px;
  margin-top: auto;
  color: var(--font-color);
  background: var(--bg-color1);
}
#spectators {
  overflow-wrap: break-word
}

#movelist-block {
  overflow-y: auto;
  max-height: calc(var(--cgwrapheight) - var(--pocketheight) - var(--PVheight) - 40px);
}
/* movelist border: 1px solid #ddd; */
div#moves {
  display: inline;
  background: var(--bg-color1);
  height: 100px;
  max-height: 100px;
}
div.anal#moves {
  display: inline;
  background: var(--bg-color1);
}

ol.movelist {
  display: inline;
}
li.move {
  line-height: 1.9em;
  display: inline;
  float: left;
  width: 42%;
  padding-left: 6px;
  box-sizing: border-box;
  justify-content: center;
}
eval {
  font-size: .8em;
  padding-right: 8px;
  color: Gray;
  float: right;
}

li.move.counter {
  color: Gray;
  width: 16%;
  background-color: var(--bg-color2);
  text-align: center;
}

li.move:hover {
  color: var(font-color);
  background-color: var(--blue-hover);
}
li.move.active {
  background-color: var(--blue-active);
}
li.move.hidden {
  visibility: hidden;
}

/* cg-resize */
body.resizing {
 -webkit-user-select:none;
 -moz-user-select:none;
 -ms-user-select:none;
 user-select:none
}
cg-resize {
 display:none
}
@media (min-width: 800px) {
 cg-resize {
  display:block;
  position:absolute;
  right:-9px;
  bottom:-9px;
  width:22px;
  height:22px;
  cursor:nwse-resize
 }
 cg-resize::before,
 cg-resize::after {
  background:#000;
  content:'';
  position:absolute;
  width:12px;
  height:1px
 }
 cg-resize::before {
  width:5px;
  -webkit-transform:translate(7px, 8px) rotate(-45deg);
  transform:translate(7px, 8px) rotate(-45deg)
 }
 cg-resize::after {
  -webkit-transform:translate(1px, 6px) rotate(-45deg);
  transform:translate(1px, 6px) rotate(-45deg)
 }
 cg-resize:hover {
  border-radius:50%;
  background:rgba(214,79,0,0.5)
 }
 .resizing cg-resize {
  border-radius:50%;
  background:rgba(98,153,36,0.5)
 }
}

/* range input slider */
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  border-radius: 5px;
  background: LightGray;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: DimGray;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: DimGray;
  cursor: pointer;
}

/* analysis */
#gauge {
  height: 100%;  /* !!! */
  background-color: #fff;
  width: 17px;
  overflow: hidden;
  position: relative;
}
#gauge::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 5px rgba(0,0,0,0.7) inset;
}
#gauge .black {
  background-color: #888;
  transition: height 1s;
}
#gauge .tick {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 2px ridge #eee;
  opacity: 0.4;
}
#gauge .tick.zero {
  opacity: 1;
  border-bottom: 7px solid rgba(214,79,0,0.4);
  margin-top: -3px;
}

div#pv {
  background-color: var(--bg-color2);
  box-shadow: var(--btn-shadow);
}

pv {
  display: flex;
  margin: 6px;
  white-space: nowrap;
  overflow: hidden;
}

score {
  margin: 6px;
  font-weight: bold;
  font-size: 22px;
}

/* games */
grid-container{
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  overflow-x:hidden;
}
minigame {
  border: 1px solid var(--bg-color2);
  padding: 6px;
  background-color: var(--bg-color2);
}
minigame:hover {
  background-color: var(--game-hover);
  cursor: pointer;
}

/* analysis chart */
.chart-container {
  position: relative;
}
#chart {
  width:100%;
  height:240px;
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 20%, rgba(128,128,128,0.2) 50%, rgba(255,255,255,0) 80%, rgba(255,255,255,0) 100%);
}

/* loader */
#loader-wrapper {
   position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.1%;
    z-index: 1000;
}
#loader {
  display: none;
  position: relative;
  top: 100px;
  left: 50%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 4px solid var(--bg-color2);
  border-top: 4px solid DimGray;
  -webkit-animation: spin 0.6s linear infinite;
  animation: spin 0.6s linear infinite;
}
 
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

input[type="checkbox"] {
  vertical-align: middle;
}

input#fen {
  width: 100%;
}

div.ctable{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 1vmin;
  padding-bottom: 1vmin;
}
.crosstable {
  display: flex;
  width: 100%;
  line-height: 1.9em;
  background-color: var(--bg-color1);
  box-shadow: var(--base-shadow);
}
.crosstable povs {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column;
  text-align: center;
}
.crosstable povs a {
  color: var(--font-color);
}
.crosstable povs .win {
  font-weight: bold;
}
.crosstable povs.current a {
  color: #fff;
  background-color: var(--ct-current);
}
.ct-users {
  flex: 7 1 auto;
  display: flex;
  flex-flow: column;
  max-width: 40vw;
  text-align: left;
  padding-left: 2vmin;
  background-color: var(--bg-color2);
}
.ct-users a {
  color: var(--font-color);
}
.ct-score {
  flex: 0 0 auto;
  display: flex;
  flex-flow: column;
  font-weight: bold;
  text-align: right;
  padding-right: 2vmin;
  background-color: var(--bg-color2);
}
.crosstable fill {
  flex: 14.25 1 auto;
}
.crosstable povs a {
  flex: 0 0 50%;
}