html {
  min-height: 100%;
}
body {
  font: 16px 'Noto Sans', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, Sans-Serif;
  margin: 0;
  color: #707070;
  background: #eee;
  background-image: linear-gradient(to bottom, #d7d7d7 0%, #eeeeee 116px);
  overflow-x: hidden;
  cursor: default;
}
body.no-select {
  -moz-user-select: none;
  -webkit-user-select: none;
}

div#preload {
    /* preload board .svg images */
    display: none;
}

header{
  height: 32px;
}

.main-wrapper{
  display: grid;
  grid-template-columns: 400px auto 400px;
  grid-template-rows: minmax(0, 1fr) 40px;
  grid-gap: 16px;
  justify-content: center;
}

.main{
  margin-top:30px;
}
.sidebar-first{
  margin-top: 30px;
  flex:1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: right;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2), 0 2px 4px 0 rgba(0,0,0,0.19);
}
.sidebar-second{
  margin-top: 30px;
  flex:1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
.under-stuff{
  grid-row-start: 2;
}
a:link, a:visited {
    background-color: DarkGray;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
a:hover, a:active {
    background-color: LightSlateGray;
}

.round-data{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  background: White;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2), 0 2px 4px 0 rgba(0,0,0,0.19);
}

result {
  padding: 12px 0;
  font-size: 18px;
  text-align: center;
}

.lobby-button {
  width: 280px;
  background-color: Gray;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2), 0 2px 4px 0 rgba(0,0,0,0.19);
}
.lobby-button:hover {
  background-color: LightGray;
}

.after-game{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  background: White;
  box-shadow: 2px 1px 2px 0 rgba(0,0,0,0.2);
}

button.rematch {
  border: none;
  background-color: WhiteSmoke;
  padding: 24px 0;
  cursor: pointer;
}
button.rematch:hover {
  background-color: LightSkyBlue ;
}

button.newopp {
  border: none;
  background-color: white;
  padding: 12px 0;
  cursor: pointer;
}
button.newopp:hover {
  background-color: DarkSeaGreen;
}

i {
    font-size: 18px;
}

ul {
    list-style: none;
}
ul.header {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li.header {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.topnav {
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 40px;
  line-height: 40px;
  color: white;
  background-color: DimGray;
  text-align: center;
}

.topnav a {
  float: left;
  display: block;
  height: 40px;
  padding: 0px 4px 0px 4px;
  color: white;
  background-color: DimGray;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: LightSlateGray;
}

.topnav .tool-container #username {
  padding: 0px 4px 0px 4px;
  float: right;
}

.topnav .tool-container button {
  float: right;
  width: 40px;
  height: 40px;
  padding: 0px 4px 0px 4px;
  background-color: DimGray;
  font-size: 17px;
  border: none;
  cursor: pointer;
  color: white;
}

.topnav .tool-container button:hover {
  background: LightSlateGray;
}

table#seeks {
  width: 500px;
  border-collapse: collapse;
  border-spacing: 0;
  border-radius: 3px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2), 0 2px 4px 0 rgba(0,0,0,0.19);
}

#seeks thead tr{
  display:block;
}

#seeks tbody {
  height: 500px;
  display:block;
  overflow-y: auto;
}

#seeks td, #seeks th {
  padding: 8px;
  width:100%;
  line-height: 28px;
}

#seeks tr {
  height: 28px;
  border: 1px solid #ddd;
}

#seeks tr:nth-child(even) {
  width:100%;
  background-color: #f2f2f2;
}

#seeks tbody tr:hover {
  width:100%;
  background-color: #ddd;
}

#seeks th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: Gray;
  color: white;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Input fields */
select, input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Center the image and position the close button */
#closecontainer {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  position: relative;
}

.container {
  text-align: center;
  padding: 24px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 10 auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border-radius: 3px;
  width: 30%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -16px;
  top: -16px;
  color: DimGray;
  background: #fff;
  width: 32px;
  height: 32px;
  font-size: 18px;
  border-radius: 50%;
}

.close:hover, .close:focus {
  cursor: "pointer";
  background: red;
}

player {
  padding: 4px;
  font-size: 18px;
}

div.btn-controls {
  display: flex;
  justify-content: space-between;
  background-color: WhiteSmoke;
  box-shadow: 2px 1px 2px 0 rgba(0,0,0,0.2);
}

.btn-controls button {
  flex: 1;
  height: 40px;
  border: none;
  background-color: WhiteSmoke;
  cursor: pointer;
}

.btn-controls button:hover {
  background-color: DarkSeaGreen;
}

.btn-controls button:focus {
  outline:none;
}
.btn-controls button::-moz-focus-inner {
  border:0;
}

/* Clock */
.clock {
  display: flex;
  flex-wrap: nowrap;
  text-align: center;
  font-family: "Roboto Mono", "Roboto";
  font-size: 50px;
}

.clock.time {
  color: DarkGray;
  background-color: White;
  box-shadow: 2px 1px 2px 0 rgba(0,0,0,0.2);
}
.clock.time.min {
  padding-left: 12px;
  box-sizing: border-box;
}
.clock.time.sec {
  padding-right: 12px;
  box-sizing: border-box;
}
.clock.sep {
  background-color: White;
  color: DarkGray;
  box-shadow: 3px 0 2px 0 rgba(0,0,0,0.2);
}

.clock.time.running, .clock.sep.running {
  color: Black;
  background-color: rgb(208, 224, 189);
}
.clock.sep.running.low {
  color: Gray;
}

.clock.time.hurry, .clock.sep.hurry {
  background-color: MistyRose;
}

.offline .clock .time {
    animation: clock-blink .5s cubic-bezier(.5,0,1,1) infinite alternate;
}
@keyframes clock-blink {
    from { opacity: 1 }
    to { opacity: 0 }
}

/* Playing color */
button.icon {
  margin: 5px;
  padding: 5px;
}
button.icon.icon-circle, button.icon.icon-circle-o {
    font-size: 24px;
}
button.icon.icon-adjust {
    font-size: 36px;
}


/* A.I. Level https://codepen.io/skeddles/pen/PbROLK */
input[type=radio] {
  position: absolute;
  visibility: hidden;
  display: none;
}

label {
  color: #9a929e;
  display: inline-block;
  cursor: pointer;
  padding: 5px 12px;
}

input[type=radio]:checked + label {
  color: #ccc8ce;
  background: #675f6b;
}

label + input[type=radio] + label {
  border-left: solid 1px #675f6b;
}

.radio-group {
  border: solid 1px #675f6b;
  display: inline-block;
  margin: 12px;
  overflow: hidden;
}

/* Chat */
.chat {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  background: White;
}

user {
  margin-right: 4px;
  font-weight: bold;
}

/* hack: max-height = seek table th+tr height */
ol {
  display: flex;
  order: 1;
  overflow-x:hide;
  overflow-y:auto;
  margin: 0;
  padding: 0;
}

ol#lobbychat-messages {
  max-height: 512px;
}

ol#roundchat-messages {
  max-height: calc(var(--cgwrapheight) - 28px);
}

li.message {
  overflow-wrap: word-break;
  word-break: break-word;
  padding: 3px;
  font-size: .9em;
}

li.message.offer {
  color: DarkSeaGreen;
}

#chat-entry {
  display: flex;
  order: 2;
  border: 1px solid #ddd;
  margin: 0;
  padding: 3px;
  margin-top: auto;
}

/* movelist border: 1px solid #ddd; */
#moves {
  display: inline;
  background: White;
  height: 100px;
  max-height: 100px;
  overflow: auto;
}

ol.movelist {
  display: inline;
}
li.move {
  line-height: 1.5em;
  float: left;
  display: inline;
  width: 42%;
  padding-left: 6px;
  box-sizing: border-box;
  justify-content: center;
}
li.move.counter {
  width: 16%;
  background-color: WhiteSmoke;
  text-align: center;
}

li.move:hover {
    background-color: LightSkyBlue;
}
li.move.active {
    background-color: LightBlue;
}

/* cg-resize */
body.resizing {
 -webkit-user-select:none;
 -moz-user-select:none;
 -ms-user-select:none;
 user-select:none
}
cg-resize {
 display:none
}
@media (min-width: 800px) {
 cg-resize {
  display:block;
  position:absolute;
  right:-9px;
  bottom:-9px;
  width:22px;
  height:22px;
  cursor:nwse-resize
 }
 cg-resize::before,
 cg-resize::after {
  background:#000;
  content:'';
  position:absolute;
  width:12px;
  height:1px
 }
 cg-resize::before {
  width:5px;
  -webkit-transform:translate(7px, 8px) rotate(-45deg);
  transform:translate(7px, 8px) rotate(-45deg)
 }
 cg-resize::after {
  -webkit-transform:translate(1px, 6px) rotate(-45deg);
  transform:translate(1px, 6px) rotate(-45deg)
 }
 cg-resize:hover {
  border-radius:50%;
  background:rgba(214,79,0,0.5)
 }
 .resizing cg-resize {
  border-radius:50%;
  background:rgba(98,153,36,0.5)
 }
}
