.sittuyin .cg-wrap piece.pawn.white {
  background-image: url('images/pieces/makruk/ada/rP.svg');
}
.sittuyin .cg-wrap piece.silver.white {
  background-image: url('images/pieces/makruk/ada/rB.svg');
}
.sittuyin .cg-wrap piece.knight.white {
  background-image: url('images/pieces/makruk/ada/rN.svg');
}
.sittuyin .cg-wrap piece.rook.white {
  background-image: url('images/pieces/makruk/ada/rR.svg');
}
.sittuyin .cg-wrap piece.met.white {
  background-image: url('images/pieces/makruk/ada/rQ.svg');
}
.sittuyin .cg-wrap piece.ferz.white {
  background-image: url('images/pieces/makruk/ada/rQ.svg');
}
.sittuyin .cg-wrap piece.king.white {
  background-image: url('images/pieces/makruk/ada/rK.svg');
}
.sittuyin .cg-wrap piece.pawn.black {
  background-image: url('images/pieces/makruk/ada/bP.svg');
}
.sittuyin .cg-wrap piece.silver.black {
  background-image: url('images/pieces/makruk/ada/bB.svg');
}
.sittuyin .cg-wrap piece.knight.black {
  background-image: url('images/pieces/makruk/ada/bN.svg');
}
.sittuyin .cg-wrap piece.rook.black {
  background-image: url('images/pieces/makruk/ada/bR.svg');
}
.sittuyin .cg-wrap piece.met.black {
  background-image: url('images/pieces/makruk/ada/bQ.svg');
}
.sittuyin .cg-wrap piece.ferz.black {
  background-image: url('images/pieces/makruk/ada/bQ.svg');
}
.sittuyin .cg-wrap piece.king.black {
  background-image: url('images/pieces/makruk/ada/bK.svg');
}
