.sittuyin .cg-wrap piece.pawn.white {
  background-image: url('images/pieces/makruk/cambodian/wP.svg');
}
.sittuyin .cg-wrap piece.silver.white {
  background-image: url('images/pieces/makruk/cambodian/wB.svg');
}
.sittuyin .cg-wrap piece.knight.white {
  background-image: url('images/pieces/makruk/cambodian/wN.svg');
}
.sittuyin .cg-wrap piece.rook.white {
  background-image: url('images/pieces/makruk/cambodian/wR.svg');
}
.sittuyin .cg-wrap piece.met.white {
  background-image: url('images/pieces/makruk/cambodian/wQ.svg');
}
.sittuyin .cg-wrap piece.ferz.white {
  background-image: url('images/pieces/makruk/cambodian/wQ.svg');
}
.sittuyin .cg-wrap piece.king.white {
  background-image: url('images/pieces/makruk/cambodian/wK.svg');
}
.sittuyin .cg-wrap piece.pawn.black {
  background-image: url('images/pieces/makruk/cambodian/bP.svg');
}
.sittuyin .cg-wrap piece.silver.black {
  background-image: url('images/pieces/makruk/cambodian/bB.svg');
}
.sittuyin .cg-wrap piece.knight.black {
  background-image: url('images/pieces/makruk/cambodian/bN.svg');
}
.sittuyin .cg-wrap piece.rook.black {
  background-image: url('images/pieces/makruk/cambodian/bR.svg');
}
.sittuyin .cg-wrap piece.met.black {
  background-image: url('images/pieces/makruk/cambodian/bQ.svg');
}
.sittuyin .cg-wrap piece.ferz.black {
  background-image: url('images/pieces/makruk/cambodian/bQ.svg');
}
.sittuyin .cg-wrap piece.king.black {
  background-image: url('images/pieces/makruk/cambodian/bK.svg');
}
