.sittuyin .cg-wrap piece.pawn.white {
  background-image: url('images/pieces/sittuyin/Ka_greenred/wP.svg');
}
.sittuyin .cg-wrap piece.silver.white {
  background-image: url('images/pieces/sittuyin/Ka_greenred/wB.svg');
}
.sittuyin .cg-wrap piece.knight.white {
  background-image: url('images/pieces/sittuyin/Ka_greenred/wN.svg');
}
.sittuyin .cg-wrap piece.rook.white {
  background-image: url('images/pieces/sittuyin/Ka_greenred/wR.svg');
}
.sittuyin .cg-wrap piece.met.white {
  background-image: url('images/pieces/sittuyin/Ka_greenred/wQ.svg');
}
.sittuyin .cg-wrap piece.ferz.white {
  background-image: url('images/pieces/sittuyin/Ka_greenred/wQ.svg');
}
.sittuyin .cg-wrap piece.king.white {
  background-image: url('images/pieces/sittuyin/Ka_greenred/wK.svg');
}
.sittuyin .cg-wrap piece.pawn.black {
  background-image: url('images/pieces/sittuyin/Ka_greenred/bP.svg');
}
.sittuyin .cg-wrap piece.silver.black {
  background-image: url('images/pieces/sittuyin/Ka_greenred/bB.svg');
}
.sittuyin .cg-wrap piece.knight.black {
  background-image: url('images/pieces/sittuyin/Ka_greenred/bN.svg');
}
.sittuyin .cg-wrap piece.rook.black {
  background-image: url('images/pieces/sittuyin/Ka_greenred/bR.svg');
}
.sittuyin .cg-wrap piece.met.black {
  background-image: url('images/pieces/sittuyin/Ka_greenred/bQ.svg');
}
.sittuyin .cg-wrap piece.ferz.black {
  background-image: url('images/pieces/sittuyin/Ka_greenred/bQ.svg');
}
.sittuyin .cg-wrap piece.king.black {
  background-image: url('images/pieces/sittuyin/Ka_greenred/bK.svg');
}
