.smini .cg-wrap piece.pawn.white {
  background-image: url('images/pieces/shogi/ctk/0FU.svg');
}
.smini .cg-wrap piece.ppawn.white {
  background-image: url('images/pieces/shogi/ctk/0TO.svg');
}
.smini .cg-wrap piece.bishop.white {
  background-image: url('images/pieces/shogi/ctk/0KA.svg');
}
.smini .cg-wrap piece.pbishop.white {
  background-image: url('images/pieces/shogi/ctk/0UM.svg');
}
.smini .cg-wrap piece.rook.white {
  background-image: url('images/pieces/shogi/ctk/0HI.svg');
}
.smini .cg-wrap piece.prook.white {
  background-image: url('images/pieces/shogi/ctk/0RY.svg');
}
.smini .cg-wrap piece.silver.white {
  background-image: url('images/pieces/shogi/ctk/0GI.svg');
}
.smini .cg-wrap piece.psilver.white {
  background-image: url('images/pieces/shogi/ctk/0NG.svg');
}
.smini .cg-wrap piece.gold.white {
  background-image: url('images/pieces/shogi/ctk/0KI.svg');
}
.smini .cg-wrap piece.king.white {
  background-image: url('images/pieces/shogi/ctk/0OU.svg');
}
.smini .cg-wrap piece.pawn.black {
  background-image: url('images/pieces/shogi/ctk/1FU.svg');
}
.smini .cg-wrap piece.ppawn.black {
  background-image: url('images/pieces/shogi/ctk/1TO.svg');
}
.smini .cg-wrap piece.bishop.black {
  background-image: url('images/pieces/shogi/ctk/1KA.svg');
}
.smini .cg-wrap piece.pbishop.black {
  background-image: url('images/pieces/shogi/ctk/1UM.svg');
}
.smini .cg-wrap piece.rook.black {
  background-image: url('images/pieces/shogi/ctk/1HI.svg');
}
.smini .cg-wrap piece.prook.black {
  background-image: url('images/pieces/shogi/ctk/1RY.svg');
}
.smini .cg-wrap piece.silver.black {
  background-image: url('images/pieces/shogi/ctk/1GI.svg');
}
.smini .cg-wrap piece.psilver.black {
  background-image: url('images/pieces/shogi/ctk/1NG.svg');
}
.smini .cg-wrap piece.gold.black {
  background-image: url('images/pieces/shogi/ctk/1KI.svg');
}
.smini .cg-wrap piece.king.black {
  background-image: url('images/pieces/shogi/ctk/1GY.svg');
}
