.standard .cg-wrap piece.pawn.white {
  background-image: url('images/pieces/merida/wP.svg');
}
.standard .cg-wrap piece.bishop.white {
  background-image: url('images/pieces/merida/wB.svg');
}
.standard .cg-wrap piece.knight.white {
  background-image: url('images/pieces/merida/wN.svg');
}
.standard .cg-wrap piece.rook.white {
  background-image: url('images/pieces/merida/wR.svg');
}
.standard .cg-wrap piece.queen.white {
  background-image: url('images/pieces/merida/wQ.svg');
}
.standard .cg-wrap piece.king.white {
  background-image: url('images/pieces/merida/wK.svg');
}
.standard .cg-wrap piece.pawn.black {
  background-image: url('images/pieces/merida/bP.svg');
}
.standard .cg-wrap piece.bishop.black {
  background-image: url('images/pieces/merida/bB.svg');
}
.standard .cg-wrap piece.knight.black {
  background-image: url('images/pieces/merida/bN.svg');
}
.standard .cg-wrap piece.rook.black {
  background-image: url('images/pieces/merida/bR.svg');
}
.standard .cg-wrap piece.queen.black {
  background-image: url('images/pieces/merida/bQ.svg');
}
.standard .cg-wrap piece.king.black {
  background-image: url('images/pieces/merida/bK.svg');
}
