/* variant stats chart */
#stats-chart {
    width: 100%;
    height: 90%;
}
.highcharts-background {
    fill: var(--bg-color0);
}
.highcharts-legend-item text {
    fill: var(--link-color) !important;
    transition: fill 250ms;
}
.highcharts-legend-item:hover text {
    fill: var(--link-hover) !important;
}
