@charset "UTF-8";

@font-face {
  font-family: "pychess";
  src:url("fonts/pychess.eot");
  src:url("fonts/pychess.eot?#iefix") format("embedded-opentype"),
    url("fonts/pychess.woff") format("woff"),
    url("fonts/pychess.ttf") format("truetype"),
    url("fonts/pychess.svg#pychess") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "pychess" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "pychess" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-adjust:before {
  content: "\61";
}
.icon-black:before {
  content: "\62";
}
.icon-white:before {
  content: "\63";
}
.icon-flag-o:before {
  content: "\64";
}
.icon-hand-paper-o:before {
  content: "\65";
}
.icon-music:before {
  content: "\66";
}
.icon-search:before {
  content: "\67";
}
.icon-sign-in:before {
  content: "\68";
}
.icon-sign-out:before {
  content: "\69";
}
.icon-abort:before {
  content: "\6a";
}
.icon-volume-up:before {
  content: "\6b";
}
.icon-fast-backward:before {
  content: "\6c";
}
.icon-fast-forward:before {
  content: "\6d";
}
.icon-step-backward:before {
  content: "\6e";
}
.icon-step-forward:before {
  content: "\6f";
}
.icon-refresh:before {
  content: "\70";
}
.icon-thumbs-o-up:before {
  content: "\71";
}
.icon-trash-o:before {
  content: "\72";
}
.icon-bars:before {
  content: "\73";
}
.icon-cog:before {
  content: "\74";
}
.icon-bolt:before {
  content: "\75";
}
.icon-comment-o:before {
  content: "\76";
}
.icon-bell-o:before {
  content: "\77";
}
.icon-trophy:before {
  content: "\78";
}
.icon-paper-plane:before {
  content: "\79";
}
.icon-list:before {
  content: "\7a";
}
.icon-download:before {
  content: "\41";
}
.icon-ban:before {
  content: "\42";
}
.icon-volume-off:before {
  content: "\43";
}
.icon-droid:before {
  content: "\44";
}
.icon-bot:before {
  content: "\45";
}
.icon-dark:before {
  content: "\46";
}
.icon-light:before {
  content: "\47";
}
.icon-h-square:before {
  content: "\48";
}
.icon-online:before {
  content: "\49";
}
.icon-offline:before {
  content: "\4a";
}
.icon-shogiking:before {
  content: "\4b";
}
.icon-schess:before {
  content: "\4c";
}
.icon-standardchess:before {
  content: "\4d";
}
.icon-crazyhouse:before {
  content: "\4e";
}
.icon-xiangqi:before {
  content: "\4f";
}
.icon-capablanca:before {
  content: "\50";
}
.icon-makruk:before {
  content: "\51";
}
.icon-sittuyin:before {
  content: "\52";
}
.icon-placement:before {
  content: "\53";
}
.icon-tv:before {
  content: "\54";
}
.icon-retweet:before {
  content: "\55";
}
.icon-dice:before {
  content: "\56";
}
