.synochess .cg-wrap piece.pawn.white {
  background-image: url('images/pieces/xqsyno/wP.svg');
}
.synochess .cg-wrap piece.bishop.white {
  background-image: url('images/pieces/xqsyno/wB.svg');
}
.synochess .cg-wrap piece.knight.white {
  background-image: url('images/pieces/xqsyno/wN.svg');
}
.synochess .cg-wrap piece.rook.white {
  background-image: url('images/pieces/xqsyno/wR.svg');
}
.synochess .cg-wrap piece.queen.white {
  background-image: url('images/pieces/xqsyno/wQ.svg');
}
.synochess .cg-wrap piece.king.white {
  background-image: url('images/pieces/xqsyno/wK.svg');
}
.synochess .cg-wrap piece.silver.black {
  background-image: url('images/pieces/xqsyno/bS.svg');
}
.synochess .cg-wrap piece.elephant.black {
  background-image: url('images/pieces/xqsyno/bE.svg');
}
.synochess .cg-wrap piece.knight.black {
  background-image: url('images/pieces/xqsyno/bN.svg');
}
.synochess .cg-wrap piece.rook.black {
  background-image: url('images/pieces/xqsyno/bR.svg');
}
.synochess .cg-wrap piece.archbishop.black {
  background-image: url('images/pieces/xqsyno/bA.svg');
}
.synochess .cg-wrap piece.cancellor.black {
  background-image: url('images/pieces/xqsyno/bC.svg');
}
.synochess .cg-wrap piece.king.black {
  background-image: url('images/pieces/xqsyno/bK.svg');
}
