@import "group-colors.css";
iframe {
    display: block;
    margin: auto;
}
.guide p img, .guide table {
    margin-left: auto;
    margin-right: auto;
}
.guide p img {
    display: block;
}
.guide table th, .guide table td {
    text-align: center;
    padding: 4px;
}
div.guide ol, div.guide ul {
    list-style-position: inside;
    padding: 1.2rem;
    margin: 0;
}
