.xiangqi .cg-wrap piece.pawn.white {
  background-image: url('images/pieces/xiangqi/ct2w/red_pawn.svg');
}
.xiangqi .cg-wrap piece.bishop.white {
  background-image: url('images/pieces/xiangqi/ct2w/red_elephant.svg');
}
.xiangqi .cg-wrap piece.knight.white {
  background-image: url('images/pieces/xiangqi/ct2w/red_horse.svg');
}
.xiangqi .cg-wrap piece.rook.white {
  background-image: url('images/pieces/xiangqi/ct2w/red_chariot.svg');
}
.xiangqi .cg-wrap piece.advisor.white {
  background-image: url('images/pieces/xiangqi/ct2w/red_advisor.svg');
}
.xiangqi .cg-wrap piece.cannon.white {
  background-image: url('images/pieces/xiangqi/ct2w/red_cannon.svg');
}
.xiangqi .cg-wrap piece.king.white {
  background-image: url('images/pieces/xiangqi/ct2w/red_king.svg');
}

.xiangqi .cg-wrap piece.pawn.black {
  background-image: url('images/pieces/xiangqi/ct2w/black_pawn.svg');
}
.xiangqi .cg-wrap piece.bishop.black {
  background-image: url('images/pieces/xiangqi/ct2w/black_elephant.svg');
}
.xiangqi .cg-wrap piece.knight.black {
  background-image: url('images/pieces/xiangqi/ct2w/black_horse.svg');
}
.xiangqi .cg-wrap piece.rook.black {
  background-image: url('images/pieces/xiangqi/ct2w/black_chariot.svg');
}
.xiangqi .cg-wrap piece.advisor.black {
  background-image: url('images/pieces/xiangqi/ct2w/black_advisor.svg');
}
.xiangqi .cg-wrap piece.cannon.black {
  background-image: url('images/pieces/xiangqi/ct2w/black_cannon.svg');
}
.xiangqi .cg-wrap piece.king.black {
  background-image: url('images/pieces/xiangqi/ct2w/black_king.svg');
}
