<!doctype html>
<html>
<head>
<title>404</title>
<meta charset="utf-8"/>
<meta name="robots" content="noindex"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
  body { text-align: center; padding: 150px; }
  h1 { font-size: 50px; }
  body { font: 20px Helvetica, sans-serif; color: #333; }
  article { display: block; text-align: left; width: 650px; margin: 0 auto; }
  a { text-decoration: none; }
  a:hover { text-decoration: none; }
</style>
</head>
<body>
<article>
    <h1>404 PAGE NOT FOUND!</h1>
    <div>
        <p>Sorry but games not saved on PyChess-Variants server yet.</p>
        <p>Return to <a href="{{ home }}">the homepage</a></p>
    </div>
</article>
</body>
</html>