<!doctype html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <script id="api-reference" data-url="/openapi.json"></script>
    <script>
      document.getElementById('api-reference').dataset.configuration = JSON.stringify({
        theme: 'default',
        layout: 'modern',
        defaultHttpClient: { targetKey: 'js', clientKey: 'fetch' },
        metaData: {
          title: 'PyChess API Reference',
          ogDescription: 'HTTP API for PyChess, the free chess variants server.',
          ogTitle: 'PyChess API Reference'
        }
      });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@scalar/api-reference"></script>
  </body>
</html>
