{% extends "template.html" %}
{% block content %}
<div id="main-wrap">
<main class="page-menu">
<aside>
    <ul class="guide">
    <li><a href="{{ home }}/blogs"><span>By PyChess</span></a></li>
    <li><a href="{{ home }}/blogs/community"><span>Community</span></a></li>
    {% for topic in site_tags %}
    <li>
    <a href="{{ home }}/blogs?tags={{ topic | urlencode }}"><span>#{{ topic }}</span></a>
    </li>
    {% endfor %}
    </ul>
</aside>
<div class="blogs">
    <div class="box-top"><h1>{% trans %}PyChess Blogs{% endtrans %}</h1></div>
    <div class="blog">
    {%- for blog in blogs -%}
    <a class="card" href="{{ blog['url'] if blog['url'] else (home + '/blogs/' + blog['_id']) }}"><span class="card-media"><img style="background-image: url('{{ blog['image_src'] }}')" alt="{{ blog['imageAlt'] }}"></img><span class="date">{{ blog['date'] }}</span><span class="author"><player-title>{{ blog['author_title'] }} </player-title>{{ blog['author'] }}</span></span><span class="info"><span class="title">{{ blog['title'] }}</span><span class="sub-title">{{ blog['intro'] }}</span></span></a>
    {%- endfor -%}
    </div>
</div>
</main>
</div>
{% endblock %}
{% block js %}
    <script src="{{ js }}"></script>
{% endblock %}
