<h1 id="kambodzsai-sakk-ikonhttpsgithubcomgbtamipychess-variantsblobmasterstaticiconscambodiansvg-kambodzsai-sakk-cambodian-chess-ok-ouk-chatrang"><img src="https://www.pychess.org/static/icons/cambodian.svg" alt="Kambodzsai sakk ikon" /> Kambodzsai sakk (Cambodian Chess, Ok, Ouk Chatrang)</h1>
<p><img src="https://www.pychess.org/static/images/MakrukGuide/Makruk.png?raw=true" alt="Kambodzsai sakk ábra" /></p>
<p>A kambodzsai sakk, másnéven "<em>Ok</em>" (khmer nyelven: អុក) vagy "<em>Ouk Chatrang</em>" a makruk (thai sakk) egy változata, melyet Kambodzsában játszanak.</p>
<p>Ha nem ismered a makruk szabályait, kérlek előbb olvasd el az arról szóló leírást.</p>
<h2 id="szabályok">Szabályok</h2>
<p>Ezekben az apró különbségekben tér el a makruktól:</p>
<p>Ha még egy bábu sem került leütésre, akkor az alábbi lehetőségei vannak a játékosnak:</p>
<ul>
<li>a király első lépésében (ha nincs sakkban) két távolabbi mezőre is ugorhat: világosként <em>b2</em>-re vagy <em>f2</em>-re, sötétként <em>c2-re</em> vagy <em>g2-re</em>.</li>
<li>a vezér első lépésében kettőt léphet előre</li>
</ul>