<h1 id="cambodianhttpsgithubcomgbtamipychess-variantsblobmasterstaticiconscambodiansvg-échecs-cambodgiens-ok-ouk-chatrang"><img src="https://www.pychess.org/static/icons/cambodian.svg" alt="Cambodian" /> Échecs cambodgiens (Ok, Ouk Chatrang)</h1>
<p><img src="https://www.pychess.org/static/images/MakrukGuide/Makruk.png?raw=true" alt="Cambodian Board" /></p>
<p>Les échecs cambodgiens, aussi appelés "Ok" (អុក en Khmer) ou "Ouk Chatrang", c'est une variante du makruk jouée au Cambodge.</p>
<p>Si vous ne connaissez pas les règles du makruk, veuillez consulter son guide.</p>
<h2 id="règles">Règles</h2>
<p>Les seules différences entre les échecs cambodgiens et le makruk sont suivantes :</p>
<p>Si aucune pièce n'est encore capturée, les joueurs peuvent :</p>
<ul>
<li>Au premier coup de roi et s'il n'est pas en échec, lui déplacer comme un cavalier (seulement à gauche ou à droit).</li>
<li>Au premier coup de la dame (<em>met</em>), elle déplacer deux cases devant.</li>
</ul>