<h1 id="capahouse960httpsgithubcomgbtamipychess-variantsblobmasterstaticiconscapahouse960svg-capahouse-960"><img src="https://www.pychess.org/static/icons/Capahouse960.svg" alt="Capahouse960" /> Capahouse 960</h1>
<p>A Capahouse 960 egy sakkvariáns, ami a Capablanca-sakkot kombinálja a Crazyhouse behozási szabályaival és a Sakk960 (más néven Fischer random sakk) szabályaival.</p>
<p>Mivel ez a játék a Capablanca-sakk egy változata, annak szabályai az arra vonatkozó leírásban megtalálhatók. </p>
<p>Ezt a játékot egy Capahouse játszma indítása előtt a 960-as opciót bepipálva lehet játszani.</p>
<p>A 960 és a Crazyhouse szabályai emlékeztetőnek:</p>
<h2 id="crazyhouse-szabályok">Crazyhouse szabályok</h2>
<p>A leütött bábuk saját bábuként visszahelyezhetők a táblára, ezt nevezzük behozási szabálynak. Egy bábu behozása lépésnek számít. A jegyzés során a behozást <strong>@</strong> karakterrel jelöljük, tehát pl. egy leütött bástya visszahelyezése az e4 mezőre: <strong>R@e4</strong>.</p>
<p>Behozási (visszahelyezési) szabályok:</p>
<ul>
<li>Bábut nem lehet úgy behozni, hogy az azonnal mattot adjon.</li>
<li>Gyalogot nem lehet az utolsó sorba behozni (mert utána nem lenne szabályos lépése).</li>
<li>Egy átváltoztatott gyalog (pl. vezér) leütés után visszaváltozik gyaloggá és csak úgy lehet újra játékba hozni.</li>
<li>A 2. sorba (fehér esetén) és a 7. sorba (fekete esetén) visszahelyezett gyalogok nem léphetnek kettőt első lépésként.</li>
<li>Behozott bástya nem sáncolhat.</li>
</ul>
<h2 id="a-960-szabályai">A 960 szabályai</h2>
<p>A hátsó sor bábui véletlenszerűen vannak összekeverve két szabály betartásával:</p>
<p>A két futó nem állhat azonos színű mezőn (tehát az egyik egy világos, a másik pedig egy sötét mezőn áll, mint a standard sakkban).<br />
A királynak egy olyan mezőn kell állnia, ami a két bástya között van.<br />
A sötét bábuk a megfelelő világos bábukkal szemben kezdenek.</p>
<p>A sáncolás a standard sakk szabálya szerint működik, azaz mindegy, hogy a bástya melyik mezőn áll, a sáncolás során a király és a bástya ugyanarra a mezőre érkezik, mint a standard sakkban. Ha például a király a vezérszárnyra sáncol, akkor a c1 mezőre érkezik, a bástya pedig a d1 mezőre.</p>