<h1 id="capablanca960httpsgithubcomgbtamipychess-variantsblobmasterstaticiconscaparandomsvg-capablanca960"><img src="https://www.pychess.org/static/icons/caparandom.svg" alt="Capablanca960" /> Capablanca960</h1>
<p>Capablanca960 est une variante d'échecs. Il s'agit d'échecs Capablanca, avec la randomisation de la position initiale dans l'esprit du Chess960. Les mêmes règles s'appliquent. Comme le Capablanca960 est une dérivée des échecs Capablanca, se reporter à son guide pour les règles. Les règles pertinentes provenant du Chess960 sont reproduites ci-dessous.</p>
<p>Notons qu'il y a plus de 960 positions de départ possibles. Le « 960 » est un nom plutôt qu'un chiffre littéral.</p>
<p>Cette variante peut être jouée en crochant l'option « Chess960 » pendant la création d'une partie d'échecs Capablanca.</p>
<h2 id="règles-du-chess960">Règles du Chess960</h2>
<p>L'emplacement initial des pièces sur la première et la dernière rangées est tiré au hasard, de façon à ce que les deux camps ont la même disposition. Les contraintes suivantes sont respectées :</p>
<ul>
<li>Les deux fous doivent commencer sur des cases de couleurs différentes.</li>
<li>Le roi doivent se trouver entre les deux tours.</li>
</ul>
<p>De plus, après le roque la position du roi et de la tour impliquée est la même qu'aux échecs Capablanca, à savoir : pour le roque du côté <em>a</em>, le roi blanc (noir) se trouve sur c1 (c8) et la tour sur d1 (d8), tandis que pour le roque du côté <em>j</em>, le roi blanc (noir) se trouve sur i1 (i8) et la tour sur h1 (h8).</p>
<p>Toute autre règle est la même qu'aux échecs Capablanca.</p>