<h1 id="capablancahttpsgithubcomgbtamipychess-variantsblobmasterstaticiconscapablancasvg-échecs-capablanca"><img src="https://www.pychess.org/static/icons/capablanca.svg" alt="capablanca" /> Échecs Capablanca</h1>
<p><img src="https://www.pychess.org/static/images/CVariantsGuide/Capablanca.png" alt="Capablanca setup" /></p>
<p>Les échecs Capablanca (<em>Capablanca chess</em> en anglais) furent inventés par l'ancien champion du monde José Raúl Capablanca dans les années 20s. Ils se jouent sur un échiquier de taille 10 x 8, et introduisent deux nouvelles pièces hybrides.</p>
<h2 id="règles">Règles</h2>
<p>Les échecs Capablanca se jouent sur un échiquier de 10 x 8. Avec un tableau plus grand, viennent aussi deux nouvelles pièces hybrides, la princesse (fou + cavalier) et l'impératrice (tour + cavalier). La princesse commence entre le cavalier et le fou de l'aile dame, et l'impératrice commence entre le cavalier et le fou de l'aile roi. Quant au roque, le roi se déplace trois cases au lieu de deux. Les pions peuvent se promouvoir en princesse et en impératrice en plus des options normales.</p>
<p>Quelques d'autres variantes existe ayant toutes les mêmes pièces mais avec une différente position initiale. Sur ce site, les échecs gothiques (<em>Gothic Chess</em> en anglais) en est une.</p>
<h2 id="nouvelles-pièces">Nouvelles pièces</h2>
<h3 id="princesse-archevéque">Princesse (Archevéque)</h3>
<p><img src="https://www.pychess.org/static/images/CVariantsGuide/Princesses.png" alt="Archbishop" /></p>
<p>Des symboles utilisés pour la princesse. (Notons que le faucon vient du S-Chess.)</p>
<p><img src="https://www.pychess.org/static/images/CVariantsGuide/Archbishop.png" alt="Archbishop moves" /></p>
<p>La princesse (aussi appelée l'archevéque, <em>archbishop</em> en anglais) est une pièce hybride qui se déplace soit comme un fou, soit comme un cavalier. Elle est notée par la lettre <em>A</em> en notation algébrique.</p>
<p>Elle est souvent représentée par un fusion des symboles du fou et du cavalier. La plupart des variantes ne précise pas son apparence ; c'est pourquoi nous vous offrons plusieurs choix.</p>
<p>La princesse est l'unique pièce qui peut mater le roi toute seule, un fait qui se voit du diagramme ci-dessus.</p>
<p>Elle vaut plus qu'une tour, mais moins qu'une impératrice ou une dame.</p>
<h3 id="impératrice-chancelier">Impératrice (Chancelier)</h3>
<p><img src="https://www.pychess.org/static/images/CVariantsGuide/Empresses.png" alt="Chancellor" /></p>
<p>Des symboles utilisés pour l'impératrice. (Notons que l'éléphant vient du S-Chess.)</p>
<p><img src="https://www.pychess.org/static/images/CVariantsGuide/Chancellor.png" alt="Chancellor moves" /></p>
<p>L'impératrice (aussi appelé le chancelier, <em>chancellor</em> en anglais) est une pièce hybride qui se déplace soit comme une tour, soit comme un cavalier. Elle est notée par la lettre <em>C</em> en notation algébrique.</p>
<p>Elle est souvent représentée par une fusion des symboles de la tour et du cavalier. La plupart des variantes ne précise pas son apparence ; c'est pourquoi nous vous offrons plusieurs choix.</p>
<p>L'impératrice vaut plus d'une princesse, et vaut autant que ou un peu moins qu'une dame.</p>
<h3 id="conseils">Conseils</h3>
<p>Sachant que la théorie pour beaucoup de variantes sur ce site n'est guère développée, nous pouvons tentativement vous offrir le conseil suivant.</p>
<p>Ne sortez pas toujours des coups qui seraient « ordinaires » en échecs occidentaux, même dans des variantes qui y ressemblent. Par exemple, il est parfois propice dans la phase d'ouverture de développer seulement quelques pièces et les positionner de façon optimale, au lieu de les développer toutes mais sans direction.</p>
<p>Amusez-vous bien à plus jouer, et n'hésitez pas à nous contacter si vous devinez plus des conseils de stratégie ou des astuces !</p>