<h1 id="960-ikonhttpsgithubcomgbtamipychess-variantsblobmasterstaticicons960svg-sakk960-chess960"><img src="https://www.pychess.org/static/icons/960.svg" alt="960 ikon" /> Sakk960 (Chess960)</h1>
<p>A Sakk960, vagy más néven <em>Fischer random sakk</em> egy sakkváltozat, amit Bobby Fischer hozott létre azért, hogy a játékot még inkább variálhatóvá tegye és hogy az ne függjön annyira a megnyitások memorizálásától. Ez a variáns igazán jól megkülönbözteti azokat a játékosokat, akik magas szintre fejlesztették a stratégiai és taktikai tudásukat, azoktól, akik leginkább a megnyitások memorizálására támaszkodnak. Összesen 960-féle megengedett alapállás létezik, ezért használják erre a sakkváltozatra a Sakk960 megnevezést.</p>
<p>Ezt a játékot egy sakkjátszma indítása előtt a 960-as opciót bepipálva lehet játszani.</p>
<h2 id="szabályok">Szabályok</h2>
<p>A hátsó sor bábui véletlenszerűen vannak összekeverve két szabály betartásával:</p>
<ul>
<li>A két futó nem állhat azonos színű mezőn (tehát az egyik egy világos, a másik pedig egy sötét mezőn áll, mint a standard sakkban).</li>
<li>A királynak egy olyan mezőn kell állnia, ami a két bástya között van.</li>
</ul>
<p>A sötét bábuk a megfelelő világos bábukkal szemben kezdenek.</p>
<p>A sáncolás a standard sakk szabálya szerint működik, azaz mindegy, hogy a bástya melyik mezőn áll, a sáncolás során a király és a bástya ugyanarra a mezőre érkezik, mint a standard sakkban. Ha például a király a vezérszárnyra sáncol, akkor a c1 mezőre érkezik, a bástya pedig a d1 mezőre. </p>
<p>A további szabályok a standard sakkban megszokotottak.</p>