<h1 id="960httpsgithubcomgbtamipychess-variantsblobmasterstaticicons960svg-chess960-fischer’s-random-chess"><img src="https://www.pychess.org/static/icons/960.svg" alt="960" /> Chess960 (Fischer’s Random Chess)</h1>
<p>O Chess960 foi criado por Bobby Fischer com o intuito de fazer o jogo mais variável e de remover um grande aspecto relativo à memorização de aberturas que o Xadrez normal nos força. Esta é uma das variantes mais populares que existem, e é esta que separa aqueles que dominam a estratégia e as tácticas dos que necessitam de memorizar aberturas.</p>
<p>Esta variante pode ser jogada através da seleção da opção "Chess960" ao criar uma partida de Xadrez Normal (Standard Chess).</p>
<h2 id="regras">Regras</h2>
<p>As peças na primeira linha são dispostas aleatoriamente, mas duas regras devem ser obedecidas:</p>
<ul>
<li>Os Bispos são posicionados em casas com cores diferentes.</li>
<li>O Rei é posicionado entre duas Torres.</li>
</ul>
<p>O Roque é considerado uma regra notável aqui. Basicamente, independentemente da posição das Torres, Se for possível efetuar o Roque, a posição final irá ser igual ao do Roque no Xadrez Normal. Por exemplo, o Grande Roque (do lado da Dama) fará com que o Rei termine na coluna C e a Torre na coluna D (Notação: 0-0-0).</p>
<p>Todas as outras regras do Xadrez são aplicadas nesta variante.</p>
<h2 id="estratégia">Estratégia</h2>
<p>A estratégia e as tácticas do Xadrez Normal são aplicadas aqui, com a exceção das aberturas! Pelo facto da posição inicial ser aleatória, as aberturas do Xadrez normal não se aplicam. </p>