<h1 id="960httpsgithubcomgbtamipychess-variantsblobmastericonsdicesvg-chess960-fischer’s-random-chess"><img src="https://www.pychess.org/icons/dice.svg" alt="960" /> Chess960 (Fischer’s Random Chess)</h1>
<h2 id="intro">Intro</h2>
<p>Chess960 was created by Bobby Fischer to make the game more variable and remove a lot of the rote memorization for openings that standard chess forces you into. This is one of the most popular variants, and it will separate those who have truly mastered strategy and tactics from those who rely on memorizing opening lines.</p>
<p>This can be played by checking the 960 box for a standard chess game.</p>
<h2 id="rules">Rules</h2>
<p>The starting bottom ranks are randomized, but two rules must be followed:</p>
<ul>
<li>The bishops must be placed on opposite-color squares.</li>
<li>The king must be placed on a square between the rooks.</li>
</ul>
<p>Castling is the other major rule to take note of. Basically, regardless of where the rooks are, if you castle, the end position will be the same as if the rooks were in standard position. For example, a queenside castle will result with the king on the c file and the rook on the d file (notation: 0-0-0).</p>
<p>All other rules are the same.</p>
<h2 id="strategy">Strategy</h2>
<p>Normal chess strategy and tactics apply, except for openings! Since the starting position is random, standard opening lines don’t apply.</p>