<h1 id="crazyhousehttpsgithubcomgbtamipychess-variantsblobmastericonscrazyhousesvg-crazyhouse"><img src="https://www.pychess.org/icons/Crazyhouse.svg" alt="Crazyhouse" /> Crazyhouse</h1>
<h2 id="intro">Intro</h2>
<p>Crazyhouse is a popular chess variant where captured chess pieces can be dropped back on the board as your own piece (as in Shogi). This leads to a much different game than standard chess. A competitive scene also exists for crazyhouse.</p>
<h2 id="rules">Rules</h2>
<p>As above, drops can be performed with captured pieces. This would be in lieu of moving a piece on the board. These are noted with @. So for example,R@e4 means rook drop at e4. The rules for dropping pieces are as follows:</p>
<ul>
<li>Drops resulting in immediate checkmate are permitted. Unlike in shogi, this includes pawn drops.</li>
<li>Pawns may not be dropped on the players' 1st or 8th ranks.</li>
<li>Pawns that have been promoted and later captured are dropped as pawns.</li>
<li>Dropped white and black pawns on the 2nd and 7th ranks, respectively, are permitted to make a two-square move as their first move after the drop.</li>
<li>A dropped rook can't castle.</li>
</ul>
<h2 id="strategy">Strategy</h2>
<p>Strategy <a href="https://lichess.org/variant/crazyhouse">as on Lichess</a></p>
<ul>
<li>Pawns and knights increase in relative importance in Crazyhouse, while rooks, queens, and bishops decrease in relative importance. If a king is put in check by any of the latter three pieces, from two or more squares away, dropping a pawn next to the king becomes defensively useful. A knight, on the other hand, cannot be blocked by anything and its offensive value is more manifest. That piece can be used effectively to maintain a strategic influence over a region.</li>
<li>After an early exchange of queens, it is usually unwise to reintroduce the queen too soon, particularly if she can be harassed by dropped minor pieces. Careful preparation is needed in order to reintroduce the queen to maximum effect</li>
<li>Pawns could be dropped deep in the enemy position where, for example, they can fork pieces or give an uncomfortable check.</li>
<li>Initiative is paramount.</li>
</ul>