<h1 id="crazyhouse960httpsgithubcomgbtamipychess-variantsblobmastericonscrazyhouse960svg-crazyhouse-960"><img src="https://www.pychess.org/icons/Crazyhouse960.svg" alt="Crazyhouse960" /> Crazyhouse 960</h1>
<h2 id="intro">Intro</h2>
<p>Crazyhouse 960 is a custom variant combining the rules of Crazyhouse with the random placement of Chess 960. The same rules apply to both games. As this is considered a derivative of Crazyhouse, please check the Crazyhouse rules in its separate guide. 960 rules are as below for a reminder.</p>
<p>This variant can be played by checking the "Chess960" option when creating a Crazyhouse game.</p>
<h2 id="960-rules">960 Rules</h2>
<p>The starting bottom ranks are randomized, but two rules must be followed:</p>
<p>The bishops must be placed on opposite-color squares.<br />
The king must be placed on a square between the rooks.<br />
Castling is the other major rule to take note of. Basically, regardless of where the rooks are, if you castle, the end position will be the same as if the rooks were in standard position. For example, a queenside castle will result with the king on the c file and the rook on the d file (notation: 0-0-0).</p>
<p>All other rules are as in Crazyhouse.</p>
<h2 id="clarifications">Clarifications</h2>
<p>A king may not castle with a dropped rook.</p>