<h1 id="crazyhouse960-ikonhttpsgithubcomgbtamipychess-variantsblobmasterstaticiconscrazyhouse960svg-crazyhouse-960"><img src="https://www.pychess.org/static/icons/Crazyhouse960.svg" alt="Crazyhouse960 ikon" /> Crazyhouse 960</h1>
<p>Crazyhouse 960 egy sakkváltozat, ami a Crazyhouse behozási szabályait kombinálja a Sakk960 ( más néven <em>Fischer random sakk</em>) szabályaival (véletlenszerűen összekevert bábuk).</p>
<p>Mivel ez a játék a Crazyhouse egy változata, annak szabályai az arra vonatkozó leírásban megtalálhatók. A 960 szabályai emlékeztetőnek:</p>
<h2 id="a-960-szabályai">A 960 szabályai</h2>
<p>A hátsó sor bábui véletlenszerűen vannak összekeverve két szabály betartásával:</p>
<ul>
<li>A két futó nem állhat azonos színű mezőn (tehát az egyik egy világos, a másik pedig egy sötét mezőn áll, mint a standard sakkban).</li>
<li>A királynak egy olyan mezőn kell állnia, ami a két bástya között van.</li>
</ul>
<p>A sötét bábuk a megfelelő világos bábukkal szemben kezdenek.</p>
<p>A sáncolás a standard sakk szabálya szerint működik, azaz mindegy, hogy a bástya melyik mezőn áll, a sáncolás során a király és a bástya ugyanarra a mezőre érkezik, mint a standard sakkban. Ha például a király a vezérszárnyra sáncol, akkor a c1 mezőre érkezik, a bástya pedig a d1 mezőre. </p>
<p>Minden további Crazyhouse szabály itt is érvényes.</p>
<p>Ezt a játékot egy Crazyhouse játszma indítása előtt a 960-as opciót bepipálva lehet játszani.</p>