{% extends "template.html" %}
{% block content %}
<div id="main-wrap">
<main class="page-menu">
<aside></aside>
<div class="guide">{% include faq %}<div>
</main>
</div>
{% endblock %}
{% block js %}
<script src="{{ js }}"></script>
<script>
document.addEventListener('DOMContentLoaded', function() {
  var hash = window.location.hash.substring(1);
  var detailsElements = document.querySelectorAll('details');
  
  detailsElements.forEach(function(detailsElement, index) {
    if (index + 1 === parseInt(hash)) {
      detailsElement.open = true;
      
      window.scrollTo({
        top: detailsElement.offsetTop,
        behavior: 'smooth'
      });
    }
  });
});

// Fetch all the details element.
const details = document.querySelectorAll("details");

// Add the onclick listeners.
details.forEach((targetDetail) => {
  targetDetail.addEventListener("click", () => {
    // Close all the details that are not targetDetail.
    details.forEach((detail) => {
      if (detail !== targetDetail) {
        detail.removeAttribute("open");
      }
    });
  });
});
</script>
{% endblock %}
