{% extends "template.html" %}
{% block content %}
<div class="profile-wrapper">
<aside class="sidebar-first"></aside>

<style>div.main-feature-board {
    background: var(--bg-color1);
    box-shadow: var(--base-shadow);
    margin-left: 5%;
    width: 90%;
    padding: 0px;
}
@media (max-width: 799px) and (orientation: portrait) {
    div.main-feature-board {
        margin: 0;
        width: 100%;
    }
}
table {
  margin: 1em;      
}
tr{box-shadow: 0 1px 0 var(--border-color);}
td, th{padding: 1em;}
h1, h3 {color: darkgoldenrod;}
b {color: green; font-size: 1.3em;}
a {color: var(--link-hover);}
span.green-text-right {
    font-weight: normal;
    padding-left: 0.5em;
}
@media (max-width: 799px) and (orientation: portrait) {
    span.green-text-right {
        display: none;
    }
}
p.explanation {
    margin: 3em 10% 1em 10%;
    padding: 2em 3em 3em 3em;
    background: var(--feature-btn);
    font-size: 1.3em;
}
 @media (max-width: 799px) and (orientation: portrait) {
    .explanation {
        font-size: 1.1em;
        margin: 3em 0 1em 0;
        padding: 2em 1em 3em 1em
    }
}
    </style>
    <div class="main-feature-board">
<table style="width: 100%;"><thead><tr><th style="width: 70%;"><h1>Website</h1></th><th style="width: 30%;"><h3>Registered account</h3></th></tr></thead>
<tbody>
     <tr><td>Zero ads</td><td><b class="icon icon-check"><span class="green-text-right">Yes</span></b></td></tr>
     <tr><td>No tracking</td><td><b class="icon icon-check"><span class="green-text-right">Yes</span></b></td></tr>
     <tr><td>Play <a href="https://www.pychess.org/tournaments">tournaments</a></td><td><b class="icon icon-check"><span class="green-text-right">Unlimited></span></b></td></tr>
     <tr><td><a href="https://www.pychess.org/variants">40+ chess variants</a></td><td><b class="icon icon-check"><span class="green-text-right">Yes</span></b></td></tr>
     <tr><td>Deep Fairy-Stockfish 16 NNUE server analysis</td><td><b class="icon icon-check"><span class="green-text-right">Unlimited</span></b></td></tr>
     <tr><td>Instant local Fairy-Stockfish 14+ analysis (depth 99)</td><td><b class="icon icon-check"><span class="green-text-right">Unlimited</span></b></td></tr>
     <tr><td><a href="https://www.pychess.org/puzzle/chess">Tactical puzzles</a></td><td><b class="icon icon-check"><span class="green-text-right">Unlimited</span></b></td></tr>
     <tr><td>Download/Upload any game as PGN</td><td><b class="icon icon-check"><span class="green-text-right">Yes</span></b></td></tr>
     <tr><td><a href="https://www.pychess.org/video">Video library</a></td><td><b class="icon icon-check"><span class="green-text-right">Unlimited</span></b></td></tr>
     <tr><td>Available in 15+ languages</td><td><b class="icon icon-check"><span class="green-text-right">Yes</span></b></td></tr>
     <tr><td>Light/dark theme, custom boards, pieces and background</td><td><b class="icon icon-check"><span class="green-text-right"></span></b></td></tr>
     <tr><td><div style="font-weight: bold;">All features to come, forever</div></td><td><b class="icon icon-check"></b></td></tr>
</tbody></table>
        <p class="explanation"><strong>Yes, all features on PyChess are for free, for everybody and forever!</strong><br>Like Lichess, we believe every player deserves the best!<br>If you love PyChess,<br><a style="color: white;  margin-top: 1em; display: block; background: #629924" href="/patron">Support us by becoming a patron!!</a></p>
    </div>
<aside class="sidebar-second"></aside>
{% endblock %}
{% block js %}
    <script src="{{ js }}"></script>
{% endblock %}
