{% extends "template.html" %}
{% block content %}
<div class="profile-wrapper">
<aside class="sidebar-first"></aside>

<style>div.main-feature-board {
    background: var(--bg-color1);
    box-shadow: var(--base-shadow);
    margin-left: 5%;
    width: 90%;
    padding: 0px;
}
@media (max-width: 799px) and (orientation: portrait) {
    div.main-feature-board {
        margin: 0;
        width: 100%;
    }
table {
  margin: 1em;      
}
tr{box-}
    </style>

<table><thead><tr><th>Website</th><th>Registered account</th></tr>
     <tr><td></td><td><b class="icon icon-check"></b></td></tr>
     <tr><td></td><td><b class="icon icon-check"></b></td></tr>
     <tr><td></td><td><b class="icon icon-check"></b></td></tr>
     <tr><td></td><td><b class="icon icon-check"></b></td></tr>
     <tr><td></td><td><b class="icon icon-check"></b></td></tr>
     <tr><td></td><td><b class="icon icon-check"></b></td></tr>
     <tr><td></td><td><b class="icon icon-check"></b></td></tr>
     <tr><td></td><td><b class="icon icon-check"></b></td></tr>
</thead></table>
  
<aside class="sidebar-second"></aside>
{% endblock %}
{% block js %}
    <script src="{{ js }}"></script>
{% endblock %}
