{% extends "template.html" %}
{% block content %}
<div class="profile-wrapper">
<aside class="sidebar-first"></aside>
<div class="main-feature-board">
<table style="width: 100%;"><thead><tr><th style="width: 70%;"><h1>Website</h1></th><th style="width: 30%;"><h3>All registered accounts</h3></th></tr></thead>
<tbody>
     <tr><td><div style="font-weight: bold;">Zero ads</div></td><td><b class="icon icon-check"><span class="green-text-right">Yes</span></b></td></tr>
     <tr><td><div style="font-weight: bold;">No tracking</div></td><td><b class="icon icon-check"><span class="green-text-right">Yes</span></b></td></tr>
     <tr><td>Play <a href="https://www.pychess.org/tournaments">tournaments</a></td><td><b class="icon icon-check"><span class="green-text-right">Unlimited</span></b></td></tr>
     <tr><td>Correspondence chess variants</td><td><b class="icon icon-check"><span class="green-text-right">Yes</span></b></td></tr>
     <tr><td><a href="https://www.pychess.org/variants">50+ chess variants</a></td><td><b class="icon icon-check"><span class="green-text-right">Yes</span></b></td></tr>
     <tr><td><a href="https://www.pychess.org/editor/chess">Board editor</a></td><td><b class="icon icon-check"><span class="green-text-right">Yes</span></b></td></tr>
     <tr><td>Deep Fairy-Stockfish 14+ NNUE server analysis</td><td><b class="icon icon-check"><span class="green-text-right">Unlimited</span></b></td></tr>
     <tr><td>Instant local Fairy-Stockfish 14+ analysis (depth 99)</td><td><b class="icon icon-check"><span class="green-text-right">Unlimited</span></b></td></tr>
     <tr><td><a href="https://www.pychess.org/puzzle/chess">Tactical puzzles</a></td><td><b class="icon icon-check"><span class="green-text-right">Unlimited</span></b></td></tr>
     <tr><td>Download/Upload any game as PGN</td><td><b class="icon icon-check"><span class="green-text-right">Yes</span></b></td></tr>
     <tr><td><a href="https://www.pychess.org/video">Video library</a></td><td><b class="icon icon-check"><span class="green-text-right">Unlimited</span></b></td></tr>
     <tr><td><a href="https://app.transifex.com/gbtami/pychess-variants/dashboard/">Available in 15+ languages</a></td><td><b class="icon icon-check"><span class="green-text-right">Yes</span></b></td></tr>
     <tr><td>Light/dark theme, various board themes, piece sets and blindfold pieces.</td><td><b class="icon icon-check"><span class="green-text-right">Yes</span></b></td></tr>
     <tr><td><div style="font-weight: bold;">All features to come, forever</div></td><td><b class="icon icon-check"><span class="green-text-right">Yes</span></b></td></tr>
</tbody></table>
        <p class="explanation"><strong>Yes, all features on PyChess are for free, for everybody and forever!</strong><br>Like Lichess, we believe every player deserves the best.<br>If you love PyChess,<br><a style="padding: 0.7em; text-align: center; border-radius: 6px; box-shadow: var(--base-shadow); color: white; font-weight: bold; margin-top: 1em; display: block; background: #629924" href="/patron">Support us by becoming a patron!!</a></p>
</div>
<aside class="sidebar-second"></aside>
{% endblock %}
{% block js %}
    <script src="{{ js }}"></script>
{% endblock %}
