<h1 id="gothichttpsgithubcomgbtamipychess-variantsblobmasterstaticiconscapablancasvg-gothic-chess"><img src="https://www.pychess.org/static/icons/capablanca.svg" alt="gothic" /> Gothic Chess</h1>
<p><img src="https://www.pychess.org/static/images/CVariantsGuide/Gothic.png" alt="Gothic setup" /></p>
<p>Gothic chess was created by Ed Trice in 2000. In 2019, the name was changed to Trice's Chess. The game uses the same pieces and 10 x 8 board as Capablanca chess, but has a different starting arrangement. </p>
<h2 id="rules">Rules</h2>
<p>The game is played on a 10 x 8 board, with additional files for the new Archbishop (Knight/Bishop) and Chancellor (Knight/Rook) pieces between the Bishop and Knight. The archbishop is on the queen side, and the chancellor is on the king side. For castling, the king then moves three squares instead of two. Pawns may promote to the archbishop and chancellor as well.</p>
<h2 id="new-pieces">New Pieces</h2>
<h3 id="archbishop">Archbishop</h3>
<p><img src="https://www.pychess.org/static/images/CVariantsGuide/Princesses.png" alt="Archbishop" /></p>
<p>Various symbols used for the archbishop. (Note that the hawk is only for Seiwaran Chess)</p>
<p><img src="https://www.pychess.org/static/images/CVariantsGuide/Archbishop.png" alt="Archbishop moves" /></p>
<p>The archbishop (A) is a compound piece combining the moves of the <strong>bishop</strong> and <strong>knight</strong>. In terms of fairy pieces, this is generically known as the princess, but also has other names in different variants.</p>
<p>The piece is often symbolized with a combination of a knight and bishop; most variants often do not specify how the piece should look otherwise (which is why we offer different piece sets to choose from). However, in the case of Gothic chess, Ed Trice often uses the 3rd symbol depicted above.</p>
<p>The archbishop is unique in that it is the only piece that can checkmate on its own, which you may be able to appreciate if you look at its movement/attack pattern.</p>
<p>The value of an archbishop is considered slightly better than a rook, but less than the chancellor and queen.</p>
<h3 id="chancellor">Chancellor</h3>
<p><img src="https://www.pychess.org/static/images/CVariantsGuide/Empresses.png" alt="Chancellor" /></p>
<p>Various symbols used for the chancellor. (Note that the elephant is only for Seiwaran Chess)</p>
<p><img src="https://www.pychess.org/static/images/CVariantsGuide/Chancellor.png" alt="Chancellor moves" /></p>
<p>The chancellor (C) is a compound piece combining the moves of the <strong>rook</strong> and the <strong>knight</strong>. In terms of fairy pieces, this is generically known as the empress, but also has other names in different variants. </p>
<p>The piece is often symbolized with a combination of a knight and rook; most variants often do not specify how the piece should look otherwise (which is why we offer different piece sets to choose from). However, in the case of Gothic chess, Ed Trice often uses the 1st symbol depicted above.</p>
<p>The value of a chancellor is considered better than an archbishop, but equivalent or slightly less than a queen.</p>
<h3 id="strategy">Strategy</h3>
<p>Relatively little is known about many of the variants here. Creativity and attention to detail are always important. And so the following advice is tentative. </p>
<p>Try not to make "routine" developing moves. Sometimes it is worth spending more time to reposition fewer pieces optimally, rather than to develop many pieces suboptimally in less time. Even the variants which appear to resemble chess cannot be played with routine chess moves for very long.</p>
<p>Continue to play more and if you discover new strategies or advice, let us know!</p>