<h1 id="grandhousehttpsgithubcomgbtamipychess-variantsblobmasterstaticiconsgrandhousesvg-grandhouse"><img src="https://www.pychess.org/static/icons/Grandhouse.svg" alt="Grandhouse" /> Grandhouse</h1>
<p>O Grandhouse é uma variante personalizada que segue as regras do Grand Chess com a regra de colocação de peças do Crazyhouse. São aplicadas as regras de ambos os jogos. Por esta ser considerada uma variante de Grand Chess, por favor dê uma leitura nas regras do Crand Chess disponibilizadas num guia em separado. As regras do Crazyhouse São disponibilizadas abaixo como um memorando.</p>
<p>Pelo facto do tabuleiro ser maior do que o normal, a maioria das regras são diferentes para as últimas três linhas. Os Peões não podem ser colocados nas últimas três linhas.</p>
<h2 id="regras-de-crazyhouse">Regras de Crazyhouse</h2>
<p>A colocação de peças pode ser efetuada com as peças capturadas, que é considerada como se fosse uma jogada efetuada no tabuleiro. A notação das colocações é feita com o símbolo @. Por exemplo, T@e4 significa que a Torre irá ser colocada na casa e4. Existem algumas regras relativas à colocação de peças: </p>
<ul>
<li>Colocações de peças que resultem em Xeque-Mate imediato são permitidas. Ao contrário do Shogi, isto inclui a colocação de Peões.</li>
<li>Os Peões não podem ser colocados na primeira ou nas <strong>linhas 8 - 10</strong>.</li>
<li>Os Peões que são promovidas e capturados irão ser considerados Peões para colocação.</li>
<li>Os Peões que são colocados na 3ª e 8ª fila, respetivamente, poderão mover-se duas casas na sua primeira jogada após a colocação.</li>
</ul>
<p>Todas as outras regras são as mesmas do Grand Chess.</p>
<h2 id="estratégia">Estratégia</h2>
<p>Como o Crazyhouse normal, o valor das peças não corresponde ao do Xadrez normal, e também como o Crazyhouse normal, o sacrificio de peças para desenvolvimento rápido e eficaz, ataques ao Rei inimigo, ou puramente defensivos é geralmente recomendado. De vez em quando é melhor reforçar a defesa à volta do Rei em vez de tentar salvar as peças. Aqui nesta variante talvez será melhor consultar estratégias do Crazyhouse normal…</p>