<h1 id="grandhousehttpsgithubcomgbtamipychess-variantsblobmasterstaticiconsgrandhousesvg-grandhouse"><img src="https://www.pychess.org/static/icons/Grandhouse.svg" alt="Grandhouse" /> Grandhouse</h1>
<p>Grandhouse is a custom variant combining the rules of Grand chess with the drop rules of Crazyhouse. The same rules apply to both games. As this is considered a derivative of Capablanca chess, please check the Grand chess rules in its separate guide. Crazyhouse rules are as below for a reminder.</p>
<h2 id="crazyhouse-rules">Crazyhouse Rules</h2>
<p>Drops can be performed with captured pieces, which would be done in lieu of moving a piece on the board. Drops are annotated with @. So for example,R@e4 means rook drop at e4. The rules for dropping pieces are as follows:</p>
<ul>
<li>Drops resulting in immediate checkmate are permitted. Unlike in shogi, this includes pawn drops.</li>
<li>Pawns may not be dropped on the players' 1st or 8th ranks.</li>
<li>Pawns that have been promoted and later captured are dropped as pawns.</li>
<li>Dropped white and black pawns on the 2nd and 7th ranks, respectively, are permitted to make a two-square move as their first move after the drop.</li>
<li>A dropped rook can't castle.</li>
</ul>
<p>All other rules are as in Grand chess.</p>