<h1 id="grandhousehttpsgithubcomgbtamipychess-variantsblobmasterstaticiconsgrandhousesvg-grandhouse"><img src="https://www.pychess.org/static/icons/Grandhouse.svg" alt="Grandhouse" /> Grandhouse</h1>
<p>Az Grandhouse egy sakkvariáns, ami az Grand sakkot kombinálja a Crazyhouse behozási szabályaival. Mivel ez a játék a Grand sakk egy változata, annak szabályai az arra vonatkozó leírásban megtalálhatók. A Crazyhouse szabályai emlékeztetőnek:</p>
<h2 id="crazyhouse-szabályok">Crazyhouse szabályok</h2>
<p>A leütött bábuk saját bábuként visszahelyezhetők a táblára, ezt nevezzük behozási szabálynak. Egy bábu behozása lépésnek számít. A jegyzés során a behozást <strong>@</strong> karakterrel jelöljük, tehát pl. egy leütött bástya visszahelyezése az e4 mezőre: <strong>R@e4</strong>.</p>
<p>Behozási (visszahelyezési) szabályok:</p>
<ul>
<li>Bábut nem lehet úgy behozni, hogy az azonnal mattot adjon.</li>
<li>Gyalogot nem lehet az <strong>utolsó három sorba</strong> behozni.</li>
<li>Egy átváltoztatott gyalog (pl. vezér) leütés után visszaváltozik gyaloggá és csak úgy lehet újra játékba hozni.</li>
<li>A 3. sorba és a 8. sorba visszahelyezett gyalogok nem léphetnek kettőt első lépésként.</li>
</ul>
<p>A Crazyhouse szabályaitól annyiban tér el, hogy <strong>a gyalogok az utolsó három sorba nem hozhatók be</strong>. (A standard Crazyhouse-ban csak az utolsó sorba nem lehet őket visszahelyezni).</p>
<h2 id="stratégia">Stratégia</h2>
<p>Ahogyan a standard Crazyhouse-ban sem, úgy itt sem annyira fontos a bábuk értéke (mint a standard sakkban), mert egy-egy bábu feláldozása segíthet egy jobb helyzet kialakításában (legyen az támadás vagy akár védekezés), a behozási lehetőség miatt pedig az anyagi különbség gyorsan kiküszöbölhetővé válik.</p>