<h1 id="grandhttpsgithubcomgbtamipychess-variantsblobmasterstaticiconsgrandsvg-grand-chess"><img src="https://www.pychess.org/static/icons/grand.svg" alt="Grand" /> Grand Chess</h1>
<p><img src="https://www.pychess.org/static/images/CVariantsGuide/Grand.png" alt="Grand Chess setup" /></p>
<p>O Grand Chess foi criado por Christian Freeling em 1984 e esta é uma das variantes mais prestigiadas de acordo com o website Chess Variants.</p>
<h2 id="regras">Regras</h2>
<p>A Variante é jogada num tabuleiro de 10x10, com filas adicionais para as novas peças denomidadas por Marechal (Cavalo/Torre) e o Cardeal (Cavalo/Torre) e estão ambos posicionados no lado do Rei. Pelo facto do tabuleiro ser maior do que o normal, a maioria das peças estão posicionadas na linha acima do habitual, com a exceção das Torres que estão na primeira e última linha.</p>
<p>Além da posição inicial e das novas peças existem três diferenças de grande relevo:</p>
<ul>
<li>Os Peões podem ser promovidos quando atingem a oitava ou nona linha. A Promoção tem obrigatória de acontecer na décima linha. Caso não seja possível (ler a próxima regra), entao o Peão está impossibilidade de se movimentar.</li>
<li>Os Peões só podem ser promovidos a peças da mesma cor que tenham sido capturadas.</li>
<li>Não existe Roque.</li>
</ul>
<p>(De notar que mesmo pelo facto dos nomes Marechal e Cardeal, a notação usada no site corresponde a A e C dos mesmos,<br />
(como no Capablanca Chess), a fim de facilitar a compatibilidade com outro Software de variantes de Xadrez.)</p>
<h2 id="novas-peças">Novas Peças</h2>
<h3 id="cardeal">Cardeal</h3>
<p><img src="https://www.pychess.org/static/images/CVariantsGuide/Princesses.png" alt="Cardinal" /></p>
<p>Várias representações do Cardeal. (De notar que o para o Seirawan Chess é usado o Falcão)</p>
<p><img src="https://www.pychess.org/static/images/CVariantsGuide/Archbishop.png" alt="Cardinal moves" /></p>
<p>O Cardeal (A no Pychess, para Arcebispo) é uma peça composta pela combinação dos movimentos do <strong>Bispo</strong> e do <strong>Cavalo</strong>. Em termos de peças heterodoxas de xadrez, esta é geralmente reconhecida como a Princesa, mas também tem é denominada de várias maneiras em variantes diferentes.</p>
<p>A simbolização desta peça é feita pela combinação entre o Cavalo e o Bispo; na maioria das variantes, não é especificado como é feita a representação em termos de grafismo das peças (por esta razão temos disponíveis várias representações para escolha).</p>
<p>O Cardeal é uma peça unica pelo facto de ser a unica a capaz de dar cheque-mate por si mesma, razão pela qual esta deve ser vista, se observares os seus padrões de movimento e ataque.</p>
<p>O Cardeal é considerado um pouco mais valioso do que uma Torre, mas menos do que o Marechal e a Dama.</p>
<h3 id="marechal">Marechal</h3>
<p><img src="https://www.pychess.org/static/images/CVariantsGuide/Empresses.png" alt="Marshal" /></p>
<p>Várias representações do Marechal. (De notar que o para o Seirawan Chess é usado o Elefante)</p>
<p><img src="https://www.pychess.org/static/images/CVariantsGuide/Chancellor.png" alt="Marshal moves" /></p>
<p>O Marechal (C no Pychess, para Chancelor) é uma peça composta pela combinação dos movimentos da <strong>Torre</strong> e do <strong>Cavalo</strong>. Em termos de peças heterodoxas de xadrez, esta é geralmente reconhecida como a Imperatriz, mas também tem é denominada de várias maneiras em variantes diferentes.</p>
<p>A simbolização desta peça é feita pela combinação entre o Cavalo e a Torre; na maioria das variantes, não é especificado como é feita a representação em termos de grafismo das peças (por esta razão temos disponíveis várias representações para escolha).</p>
<p>O Marechal é considerado melhor do que o Cardeal, mas equivalente ou um bocado inferior à Dama.</p>
<h2 id="estratégia">Estratégia</h2>
<p>De todas as variantes disponíveis neste site existem poucas estratégias. Apela-se à criatividade e atenção ao detalhe do próprio jogador. Daí o conselho que iremos dar é apenas puramente provisório.</p>
<p>Tente não fazer jogadas "rotinadas" vindas do Xadrez normal. De vez em quando é melhor perder mais tempo com a reorganização de algumas peças a fim de optimizá-las correctamente ao invés de tentar posicioná-las de forma minimazada e no menor tempo possível. Até mesmo as variantes que se assemelham ao Xadrez normal não podem ser jogadas com estratégias "rotinadas" deste por muito tempo.</p>
<p>Jogue muitas partidas e se descobrir novas estratégias ou conselhos, não hesite em mandar-nos!</p>