<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/chessground.css">
    <link rel="stylesheet" href="/static/standard.css">
    <link rel="stylesheet" href="/static/shogi0k.css">
    <link rel="stylesheet" href="/static/xiangqi.css">
    <link rel="stylesheet" href="/static/capasei0.css">
    <link rel="stylesheet" href="/static/makruk.css">
    <link rel="stylesheet" href="/static/extensions.css">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/site.css">
  </head>
  <div id="preload">
    <img src="/static/images/board/brown.svg"/>
    <img src="/static/images/board/xiangqi.svg"/>
    <img src="/static/images/board/capablanca.svg"/>
    <img src="/static/images/board/makruk.svg"/>
    <img src="/static/images/board/sittuyin.svg"/>
    <img src="/static/images/board/shogi.svg"/>
  </div>
  <body id="pychess-variants" style="--cgwrapwidth: 512px; --cgwrapheight: 512px"
        data-view="{{ view }}"
        data-home="{{ home }}"
        data-user="{{ username }}"
        data-anon="{{ anon }}"
        data-country="{{ country }}"
        data-gameid="{{ gameid }}"
        data-date="{{ date }}"
        data-result="{{ result }}"
        data-status="{{ status }}"
        data-profile="{{ profile }}"
        data-variant="{{ variant }}"
        data-chess960="{{ chess960 }}"
        data-level="{{ level }}"
        data-wplayer="{{ wplayer }}"
        data-wtitle="{{ wtitle }}"
        data-bplayer="{{ bplayer }}"
        data-btitle="{{ btitle }}"
        data-fen="{{ fen }}"
        data-base="{{ base }}"
        data-inc="{{ inc }}">
    <div class="topnav">
      <a class="nav-link active" href="/">PyChess</a>
      <a class="nav-link" href="/tv">Tv</a>
      <a class="nav-link" href="/players">Players</a>
      <a class="nav-link" href="/about">About</a>
      <div class="tool-container">
        <button id="btn-pieces"></button>
        <button id="btn-sound" onclick="toggleAudio();" title="Toggle sound"><div class="icon icon-volume-up"></div></button>
        <div id="username"></div>
        {% if guest %}
        <button id="btn-login" onclick="loginFunction()" title="Login with Lichess"><div class="icon icon-sign-in"></div></button>
        {% endif %}
      </div>
    </div>
    <div id="placeholder" class="main-wrapper"></div>
  </body>
</html>

<script src="/static/pychess-variants.js"></script>

<script>
var silence = false;

function toggleAudio() {
    silence = !silence;
    var snd_btn = document.getElementById("btn-sound");
    var allaudio = document.getElementsByTagName('audio');
    if (silence) snd_btn.innerHTML = '<div class="icon icon-volume-off"></div>';
    else snd_btn.innerHTML = '<div class="icon icon-volume-up"></div>';
    for (var j = 0; j < allaudio.length; j++) allaudio[j].muted = silence;
}

function loginFunction() {
  console.log("LOGIN WITH LICHESS");
  home = document.querySelector("body").getAttribute("data-home");
  window.location.assign(home + '/login');
}
</script>
