<p><img src="https://www.pychess.org/static/favicon/apple-icon-152x152.png?raw=true" alt="Xiangqi" /></p>
<h1 id="pychess-variants">Pychess Variants</h1>
<p>Vous pouvez jouer plusieurs variantes du jeu d'échecs ici. Disponible sont plusieurs jeux, des jeux d'échecs traditionnels provenant des quatre coins du monde aux variantes modernes basées sur les échecs occidentaux. Chaque jeu apporte son intérêt unique ; n'hésitez pas d'en essayer chacun ! Vous pouvez cliquer les liens à gauche pour en savoir plus.</p>
<h2 id="astuces">Astuces</h2>
<p>Sur la page de jeu, vous pouvez naviguer directement à la page d'information de cette variante-là en cliquant sur son nom dans la boîte en haut à gauche.</p>
<p><img src="https://www.pychess.org/static/images/CVariantsGuide/Link.png?raw=true" alt="Link" /></p>
<p>À chaque variante appartiennent ses propres pièces et plateaux ! Découvrir la gamme en cliquant le symbole de roue dentée dans la boîte de notation à droite du plateau de jeu. Pour les jeux d'Asie utilisant des pièces avec le <em>hanzi/kanji</em> (écriture chinois/japonais), des pièces internationalisées sont aussi disponibles (avec des symboles abstraits au lieu du <em>hanzi/kanji</em>).</p>
<p>Dans le même endroit, vous pouvez aussi changer la taille du plateau avec le curseur là-bas.</p>
<p><img src="https://www.pychess.org/static/images/CVariantsGuide/Settings.png?raw=true" alt="Settings" /></p>
<p>Si vous voulez vous familiariser avec des pièces et règles d'une variante avant de vous lancer en partie classée, soyez libre de défier le bot <em>Random-Mover</em>, qui ne fait que des coups tirés au hasard.</p>
<h2 id="variantes-du-jeu-déchecs-avec-les-pièces-standardes">Variantes du jeu d'échecs avec les pièces standardes</h2>
<p><img src="https://www.pychess.org/static/images/CVariantsGuide/Chess.png?raw=true" alt="Chess" /></p>
<p><strong>Les échecs (occidentaux)</strong> - Le jeu d'échecs classiques, sans aucune modification, tel qu'il est joué sous les règles de la FIDÉ.</p>
<p><strong>Chess960</strong> - L'emplacement initial des pièces sur la première et la dernière rangées est tiré au hasard, de façon à ce que les deux camps ont la même disposition.</p>
<p><strong>Crazyhouse</strong> - Prendre les pièces adversaires et les parachuter sur l'échiquier en tant que les vôtres.</p>
<p><strong>Placement Chess</strong> - Avec seulement les pions sur l'échiquier, les deux joueurs, chacun à son tour, placent leurs pièces sur leur première rangée. Après cette phase de placement commence la partie normale.</p>
<p><strong>Crazyhouse 960</strong> - Mélangeant les règles du Crazyhouse avec une position de départ aléatoire du Chess960.</p>
<h2 id="variantes-avec-des-pièces-féeriques">Variantes avec des pièces féeriques</h2>
<p><img src="https://www.pychess.org/static/images/CVariantsGuide/Capablanca.png?raw=true" alt="Capablanca" /></p>
<p><strong>Capablanca Chess</strong> - Jouez avec des pièce hybrides, la princesse (fou + cavalier) et l'impératrice (tour + cavalier), sur un échiquier de 10x8.</p>
<p><strong>Gothic Chess / Trice's Chess</strong> - Comme les échecs Capablanca, mais avec une position de départ légèrement différente.</p>
<p><strong>S-Chess / Seirawan Chess / SHARPER Chess</strong> - Deux pièces hybrides, le faucon (fou + cavalier) et l'éléphant (tour + cavalier) peuvent rentrer dans l'échiquier après qu'une pièce de la première rangée se déplace pour la première fois.</p>
<p><strong>Grand Chess</strong> - Jouez avec des pièce hybrides, la princesse (fou + cavalier) et l'impératrice (tour + cavalier), sur un grand échiquier de 10x10.</p>
<p><strong>Shako</strong> - On fait venir deux pièces du xiangqi, le canon et l'éléphant, sur un échiquier de 10x10.</p>
<p><strong>Shogun Chess</strong> - Utilisant des pièces principalement occidentaux qui se promeuvent et peuvent être parachutées, comme dans le shogi.</p>
<p><strong>Orda Chess</strong> - Une variante asymétrique. Un côté joue avec l'armée classique, alors que l'autre dirige des pièces qui se déplacent comme des cavaliers mais qui prennent des pièces adversaires de différentes façons.</p>
<p><strong>Capablanca 960</strong> - Capablanca avec les règles du Chess960.</p>
<p><strong>Capahouse</strong> - Capablanca avec les règles du Crazyhouse.</p>
<p><strong>Capahouse 960</strong> - Capablanca avec les règles du Crazyhouse et du Chess960.</p>
<p><strong>S-House</strong> - S-Chess avec les règles du Crazyhouse.</p>
<p><strong>Grandhouse</strong> - Grand Chess avec les règles du Crazyhouse.</p>
<h2 id="variantes-du-jeu-de-shogi">Variantes du jeu de shogi</h2>
<p><img src="https://www.pychess.org/static/images/ShogiGuide/Shogi.png?raw=true" alt="Shogi" /></p>
<p><strong>Shogi (échecs japonais)</strong> - Le jeu d'échecs traditionnel au Japon. Les pièces se promeuvent et peuvent être parachutées.</p>
<p><strong>Minishogi</strong> - Le shogi sur un shogiban de 5x5.</p>
<p><strong>Kyoto Shogi</strong> - Le shogi sur un shogiban de 5x5 où les pièces basculent entre formes après chaque coup.</p>
<h2 id="variantes-du-jeu-de-xiangqi">Variantes du jeu de xiangqi</h2>
<p><img src="https://www.pychess.org/static/images/XiangqiGuide/Xiangqi.png?raw=true" alt="Xiangqi" /></p>
<p><strong>Xiangqi (échecs chinois)</strong> - Le jeu d'échecs traditionnel en Chine.</p>
<p><strong>Janggi (échecs coréens)</strong> - Le jeu d'échecs traditionnel en Corée (du nord et du sud). Il ressemble au xiangqi, mais se joue très différemment. On utilise les règles du tournoi.</p>
<p><strong>Minixiangqi</strong> - Le xiangqi sur un echiquier de 7x7.</p>
<h2 id="jeux-de-lasie-du-sud-est">Jeux de l'Asie du Sud-Est</h2>
<p><img src="https://www.pychess.org/static/images/MakrukGuide/MakrukSmall.png?raw=true" alt="Makruk" /></p>
<p><strong>Makruk (échecs thaïlandais)</strong> - Le jeu d'échecs traditionnel en Thaïlande. Il ressemble beaucoup au chaturanga, ancestre des échecs occidentaux.</p>
<p><strong>Cambodian Chess / Ok / Ouk Chatrang (échecs cambodgiens)</strong> - Le jeu d'échecs traditionnel au Cambodge. Il est presque identique au makruk, hormis quelques pouvoirs spéciaux (appelés des <em>sutras</em>) dans la phase d'ouverture.</p>
<p><strong>Sittuyin (échecs birmans)</strong> - Le jeu d'échecs traditionnel en Birmanie. Il ressemble au makruk, mais les joueurs placent les pièces comme ils veulent avant de commencer jouer.</p>
<p><strong>Makpong</strong> - Une variante de makruk où il est interdit de bouger le roi tant qu'il est en échec, sauf s'il prendre la pièce qui lui donne échec.</p>