<p><img src="https://www.pychess.org/static/favicon/apple-icon-152x152.png?raw=true" alt="Xiangqi" /></p>
<h1 id="pychess-variants">Pychess Variants</h1>
<p>Many chess variants are available to play here.  Available games range from traditional versions of chess played around the world to modern inventions derived from western chess. Each game has something to offer, so please don't hesitate to give each game a try! You can click the links on the left to learn even more about each variant.</p>
<h2 id="tips">Tips</h2>
<p>Within the game page, you can also find a link directly to that variant's page by clicking on the variant name itself in the top left box.</p>
<p><img src="https://www.pychess.org/static/images/CVariantsGuide/Link.png?raw=true" alt="Link" /></p>
<p>Each variant also has its own selection of piece sets and boards to choose from! Especially for the Asian variants that use Chinese characters, you can find internationalized pieces for those variants to use as well. To change the settings, click the gear button in the game replay box on the right. You can also scale the board size using the slider here.</p>
<p><img src="https://www.pychess.org/static/images/CVariantsGuide/Settings.png?raw=true" alt="Settings" /></p>
<p>If you need to practice with the piece moves and rules before diving into a real game, feel free to start a game against the <em>Random Mover</em> bot. </p>
<h2 id="chess-variants-using-standard-pieces">Chess variants using standard pieces</h2>
<p><img src="https://www.pychess.org/static/images/CVariantsGuide/Chess.png?raw=true" alt="Chess" /></p>
<p><strong>Chess (Western/International Chess)</strong> - Chess, unmodified, as it's played by FIDE standards</p>
<p><strong>Chess 960</strong> - Starting positions in the back row are randomized</p>
<p><strong>Crazyhouse</strong> - Take captured pieces and drop them back on to the board as your own</p>
<p><strong>Placement Chess</strong> - Choose where your pieces start</p>
<p><strong>Crazyhouse 960</strong> - Combines Crazyhouse and Chess 960</p>
<h2 id="chess-variants-using-fairy-pieces">Chess variants using fairy pieces</h2>
<p><img src="https://www.pychess.org/static/images/CVariantsGuide/Capablanca.png?raw=true" alt="Capablanca" /></p>
<p><strong>Capablanca Chess</strong> - Play with the hybrid pieces, archbishop (B+N) and chancellor (R+N), on a 10x8 board</p>
<p><strong>Gothic Chess / Trice's Chess</strong> - Like Capablanca Chess but with a different starting setup</p>
<p><strong>S-Chess / Seirawan Chess / SHARPER Chess</strong> - Hybrid pieces, the hawk (B+N) and elephant (R+N) can enter the board after moving a back rank piece</p>
<p><strong>Grand Chess</strong> - Play with the hybrid pieces, archbishop (B+N) and chancellor (R+N), on a <em>grand</em> 10x10 board</p>
<p><strong>Shako</strong> - Introduces the cannon and elephant from Xiangqi into a 10x10 chess board</p>
<p><strong>Shogun Chess</strong> - Pieces promote and can be dropped, similar to Shogi</p>
<p><strong>Capablanca 960</strong> - Capablanca with Chess 960 rules</p>
<p><strong>Capahouse</strong> - Capablanca with Crazyhouse drop rules</p>
<p><strong>Capahouse 960</strong> - Capablanca with Crazyhouse and 960 rules</p>
<p><strong>S-House</strong> - S-Chess with Crazyhouse drop rules</p>
<p><strong>Grandhouse</strong> - Grand Chess with Crazyhouse drop rules</p>
<h2 id="shogi-variants">Shogi variants</h2>
<p><img src="https://www.pychess.org/static/images/ShogiGuide/Shogi.png?raw=true" alt="Shogi" /></p>
<p><strong>Shogi (Japanese Chess)</strong> - Pieces promote and can be dropped</p>
<p><strong>Minishogi</strong> - Shogi on a 5x5 board</p>
<p><strong>Kyoto Shogi</strong> - 5x5 Shogi where pieces flip to a different piece each move</p>
<h2 id="xiangqi-variants">Xiangqi variants</h2>
<p><img src="https://www.pychess.org/static/images/XiangqiGuide/Xiangqi.png?raw=true" alt="Xiangqi" /></p>
<p><strong>Xiangqi (Chinese Chess)</strong> - Open fire on your opponent in this highly aggressive ancient game</p>
<p><strong>Janggi (Korean Chess)</strong> - Similar to Xiangqi, but plays very differently. Tournament rules are used.</p>
<p><strong>Minixiangqi</strong> - Xiangqi on a 7x7 board</p>
<h2 id="southeast-asian-variants">Southeast Asian variants</h2>
<p><img src="https://www.pychess.org/static/images/MakrukGuide/MakrukSmall.png?raw=true" alt="Makruk" /></p>
<p><strong>Makruk (Thai Chess)</strong> - A game closely resembling the original Chaturanga</p>
<p><strong>Cambodian Chess / Ok / Ouk Chatrang</strong> - Makruk with a few additional opening abilities</p>
<p><strong>Sittuyin (Burmese Chess)</strong> - Similar to Makruk, but pieces are placed at the start of the match</p>