<h1 id="janggi-ikonhttpsgithubcomgbtamipychess-variantsblobmasterstaticiconsjanggisvg-janggi-koreai-sakk"><img src="https://www.pychess.org/static/icons/Janggi.svg" alt="Janggi ikon" /> Janggi (Koreai sakk)</h1>
<p><img src="https://www.pychess.org/static/images/JanggiGuide/Boards.png" alt="Janggi tábla" /></p>
<p>A janggi (장기), avagy a koreai sakk egy klasszikus táblajáték, mely Koreában őshonos. A játék a kínai sakkból (xiangqi) eredeztethető és nagyon hasonló ahhoz.</p>
<h2 id="tábla-és-kezdőpozíciók">Tábla és kezdőpozíciók</h2>
<p>Az egyik oldal itt piros színű (melynek neve <em>Han</em>), a másik pedig kék (melynek neve <em>Cho</em>). A kék helyett zöld szín is használatos. Ez a két oldal a kínai történelemből ismert Chu-Han belviszályt reprezentálja. A bábukra a nevek kínai írásjegyekkel (handzsa) vannak felfestve, de a kék bábukon a folyóírásos (kézírásos) változatuk szerepel, ezért a piros és a kék bábuk nem ugyanúgy néznek ki.</p>
<p>A kezdőállás a fenti képeken látható (azonban a ló és az elefánt felcserélhető, lásd lentebb). A játékot a kínai sakkhoz hasonlóan 9x10-es táblán játsszák, a bábuk pedig a mezők metszéspontjain állnak/mozognak, nem pedig a mezőkön belül. A 3x3-as terület a tábla alján a <em>palota</em>. A király és a testőrei csak a palotán belül tudnak mozogni.</p>
<p>A játszma megkezdése előtt mindkét játékos megválaszthatja a lovak és az elefántok kezdőpozícióját. Négy opció közül lehet választani:</p>
<ol>
<li><em>Külső lovak</em>: mindkét ló a tábla széléhez van közelebb (<em>won ang ma</em>)</li>
<li><em>Belső lovak</em>: mindkét ló a királyhoz van közelebb (<em>yang gwee ma</em>)</li>
<li><em>Bal belső, jobb külső ló</em>: a bal oldali ló a királyhoz, a jobb oldali pedig a tábla széléhez van közelebb (<em>gwee ma</em>)</li>
<li><em>Bal külső, jobb belső ló</em>: a bal oldali ló a tábla széléhez, a jobb oldali pedig a királyhoz van közelebb (<em>mat sang jang gi</em>)</li>
</ol>
<p>A fenti pozíciókból a piros játékos (Han) választ először, viszont a kék játékos (Cho) lép elsőnek.</p>
<h2 id="bábuk">Bábuk</h2>
<p>A tradicionális készletek a kínai írásjegyeket használják, de a könnyebb érthetőség végett ez az útmutató a nemzetközi bábukészleten alapul (melyen a figurák ábrái láthatók).</p>
<p>Több bábunak is van speciális lépéslehetősége a palotákon belül (erről később lesz szó részletesen). Az ábrákon ezek világosabb árnyalatú zölddel vannak jelölve.</p>
<h3 id="király">Király</h3>
<p><img src="https://www.pychess.org/static/images/JanggiGuide/Kings.png" alt="Király bábuk" /> </p>
<p>A <em>király</em> (vagy a kínai neve alapján: <em>tábornok</em>) csak a palotán belül tud mozogni (egyszerre egy mezőt), ami azt jelenti, hogy ha a közepén áll, akkor maximum 8 lehetséges lépése van. Ha bármely más helyen áll, akkor maximum 3 lehetséges lépése marad.</p>
<p><em>Speciális szabály:</em> amikor a két király szemben áll egymással (egy vonalban), úgy, hogy nincs köztük bábu, akkor a soron következő játékosnak el kell lépnie a királyával vagy a két király közé kell léptetnie egy bábut, különben döntetlennel véget ér a játszma. Ezt a szabályt <strong>bikjang</strong>-nak nevezik.</p>
<h3 id="testőr">Testőr</h3>
<p><img src="https://www.pychess.org/static/images/JanggiGuide/Advisors.png" alt="Testőr bábuk" /> </p>
<p>A <em>testőr</em> is ugyanúgy mozoghat, mint a király: egy lépést, kizárólag a palotán belül.</p>
<p><img src="https://www.pychess.org/static/images/JanggiGuide/Palace.png" alt="Király és a testőrei ábra" /></p>
<h3 id="ló">Ló</h3>
<p><img src="https://www.pychess.org/static/images/JanggiGuide/Horses.png" alt="Ló bábuk" /></p>
<p><img src="https://www.pychess.org/static/images/JanggiGuide/HorseDiagram.png" alt="Ló ábra" /></p>
<p>A <em>ló</em> hasonlóan mozog, mint a sakkban a huszár. Azonban az L-alakzattól eltérően inkább úgy tekintsünk a mozgására, hogy egyet lép vízszintesen vagy függőlegesen, majd átlóban egyet valamelyik irányba, egy Y-alakzatra emlékeztetve. Ennek az az oka, hogy a ló blokkolható, ha egy bábu mellette áll.</p>
<h3 id="elefánt">Elefánt</h3>
<p><img src="https://www.pychess.org/static/images/JanggiGuide/Elephants.png" alt="Elefánt bábuk" /></p>
<p><img src="https://www.pychess.org/static/images/JanggiGuide/ElephantDiagram.png" alt="Elefánt ábra" /></p>
<p>Az <em>elefánt</em> nagyon más, mint ami a kínai sakkban megtalálható. Hasonló a lóhoz, de az elefánt két mezőt lép átlóban, ezért a mozgása inkább egy nyújtott Y-alakzatot ír le. A lóhoz hasonlóan az elefánt is blokkolható a köztes mezőkön álló bábukkal.</p>
<h3 id="szekér-bástya">Szekér (Bástya)</h3>
<p><img src="https://www.pychess.org/static/images/JanggiGuide/Chariots.png" alt="Szekér bábuk" /></p>
<p><img src="https://www.pychess.org/static/images/JanggiGuide/ChariotDiagram.png" alt="Szekér ábra" /></p>
<p>A <em>szekér</em> (vagy más néven: <em>bástya</em>) ugyanúgy mozog, mint a sakkban a bástya: akárhány mezőt vízszintesen vagy függőlegesen. A királyt leszámítva ez a legértékesebb bábu.</p>
<p><em>Mozgás a palotán belül</em>: a palotán belül az átlók mentén is tud mozogni.</p>
<h3 id="ágyú">Ágyú</h3>
<p><img src="https://www.pychess.org/static/images/JanggiGuide/Cannons.png" alt="Ágyú bábuk" /></p>
<p><img src="https://www.pychess.org/static/images/JanggiGuide/CannonDiagram_HU.png" alt="Ágyú ábra" /></p>
<p>Az ágyú hasonlóan mozog és üt, mint a szekér: akárhány mezőt vízszintesen vagy függőlegesen, de a mozgáshoz és az ütéshez is egy köztes bábura van szüksége, amit "átugrik", és csak az azt követő bábut tudja leütni, vagy csak az azt követő üres mezők valamelyikére tud lépni. Tehát az ágyú a hozzá legközelebbi bábut nem tudja leütni. Ha az ágyú vonalában nincs bábu, akkor az lépni sem tud.</p>
<p><em>Fontos szabály</em>: Az ágyú egy másik ágyút nem tud sem átugrani, sem leütni.</p>
<p><em>Mozgás a palotán belül</em>: a palotán belül az átlók mentén is tud mozogni, ha valamelyik sarokban áll és a palota közepén van egy bábu, amit átugorhat.</p>
<h3 id="gyalog">Gyalog</h3>
<p><img src="https://www.pychess.org/static/images/JanggiGuide/Pawns.png" alt="Gyalog bábuk" /></p>
<p><img src="https://www.pychess.org/static/images/JanggiGuide/PawnDiagram.png" alt="Gyalog ábra" /></p>
<p>A <em>gyalog</em> előre vagy oldalirányba egyet tud lépni és így is tud ütni.</p>
<p><em>Mozgás a palotán belül</em>: a palotán belül az átlók mentén mentén is mozoghatnak egy mezőt, de csak előrefelé.</p>
<h2 id="játszmajegyzés">Játszmajegyzés</h2>
<p>A koordinátákat csak számokkal jelölik. A kék játékos nézőpontjából a sorok fentről lefelé 1-10-ig vannak számozva, de a 10. sor <em>0</em>-val jelölve. Az oszlopok balról jobbra 1-9-es számokkal vannak jelölve. Egy bábu helyét (a legtöbb sakkváltozattal ellentétben) először a <em>sor</em> majd az <em>oszlop</em> számával határozzuk meg. Például, ha a kék szekér a bal alsó sarokban áll, akkor a <strong>01</strong>-gyel írjuk le a helyét. A felette lévő mező a <strong>91</strong>-es. A kék király kezdőpozíciója a <strong>95</strong>-ös.</p>
<p>A jegyzésnek nincs egy standardizált nemzetközi változata. Az eredeti, koreai jegyzésmódszer a következő: </p>
<p><strong>(mező)(a bábu neve koreaiul)(célmező)</strong></p>
<p>Ezen az oldalon a következő jegyzésmódszer van használatban: </p>
<p><strong>(a bábu angol nevének rövidítése)(mező)-(célmező)</strong></p>
<p>A további jelzések itt is a sakkban már megszokottak:</p>
<p>ütés: <strong>x</strong></p>
<p>sakk: <strong>+</strong></p>
<p>matt: <strong>#</strong></p>
<p>Példa: ha a bal oldali szekér három mezőt lép előre a kezdőhelyéről, akkor azt így jelöljük: <strong>R01-71</strong>. Az "R" a bástya (szekér) angol nevének rövidítése.</p>
<h3 id="rövidítések">Rövidítések</h3>
<p>K = Király</p>
<p>A = Testőr</p>
<p>E = Elefánt</p>
<p>H = Ló</p>
<p>C = Ágyú</p>
<p>R = Szekér (Bástya)</p>
<p>P = Gyalog</p>
<h2 id="szabályok-játékmenet">Szabályok: játékmenet</h2>
<p>Akárcsak a sakkban, a cél itt is mattot adni a királynak. Más sakkváltozatokkal ellentétben azonban a janggiban passzolni is lehet, így patthelyzet nem alakulhat ki. <strong>Ezen az oldalon úgy lehet passzolni egy játszma közben, hogy a Ctrl gombot lenyomva tartva kattintunk a királyra</strong>.</p>
<p>Amikor a két király szemben áll egymással (egy vonalban), úgy, hogy nincs köztük bábu, akkor a soron következő játékosnak el kell lépnie a királyával vagy a két király közé kell léptetnie egy bábut, különben döntetlennel véget ér a játszma. Ezt a szabályt <strong>bikjang</strong>-nak nevezik. Azokon a versenyeken, ahol a döntetlen nem megengedett, a táblán maradt bábuk értékét összeszámolják és a magasabb értékkel rendelkező játékos nyer.</p>
<p>Jelenleg az oldalon a versenyszabályok vannak érvényben, amik nem engedik meg a döntetlent. Ebből adódóan <em>bikjang</em> esetén pontszámításra kerül sor.</p>
<table>
<thead>
<tr>
<th id="bábu">Bábu</th>
<th id="érték">Érték</th>
</tr>
</thead>
<tbody>
<tr>
<td>Szekér</td>
<td>13</td>
</tr>
<tr>
<td>Ágyú</td>
<td>7</td>
</tr>
<tr>
<td>Ló</td>
<td>5</td>
</tr>
<tr>
<td>Elefánt</td>
<td>3</td>
</tr>
<tr>
<td>Testőr</td>
<td>3</td>
</tr>
<tr>
<td>Gyalog</td>
<td>2</td>
</tr>
</tbody>
</table>
<p>A kék játékos (Cho) kezdi a játszmát, ezért kompenzációként a piros (Han) 1,5 többletpontot kap a játszma elején. Ezt a szabályt úgy nevezik, hogy <strong>deom</strong>. A fél pont a döntetlenek elkerülése végett adódik hozzá a pontszámhoz.</p>
<p>Lehetséges egyszerre sakkot adni és bikjangot előidézni. Ebben az esetben a bikjang élvez prioritást.</p>
<p>A lépésismétlés nem megengedett, azonban változó, hogy ezt milyen módon kezelik. Ezen az oldalon a lépésismétlés nincs szabályozva, ezért ilyen esetekben a játékosoknak egymás közt kell eldönteniük, hogy hogyan oldják fel a helyzetet.</p>
<h2 id="különbségek-a-kínai-sakkhoz-xiangqi-képest">Különbségek a kínai sakkhoz (xiangqi) képest</h2>
<p>A fenti szabályokon kívül még:</p>
<ul>
<li>A janggiban nincs folyó (ami elválasztja a két oldalt a tábla közepén). Ebből következik, hogy a gyalogok már a kezdettől fogva tudnak oldalra is lépni és nem változtathatók át. Az elefántok teljesen másképp mozognak és itt nincsenek a saját térfelükre korlátozva.</li>
<li>A bábuk nyolcszög formájúak, nem pedig kör alakúak. Továbbá a nagyságuk attól is függ, mennyire értékesek (pl. a király a legnagyobb, mert az a legértékesebb),</li>
<li>A táblán a kezdőpozíciók megjelölésére <strong>x</strong>-et használnak, nem pedig keresztet.</li>
<li>A király a palota közepén kezd, nem a hátuljában.</li>
<li>Az ágyúnak a lépéshez és az ütéshez is kell egy bábu, amit átugrik (a xiangqiban tud lépni átugrás nélkül is). Az ágyú nem üthet le másik ágyút (a xiangqiban igen).</li>
<li>A palotán belül a szekér, az agyú és a gyalog is tud az átlók mentén mozogni. </li>
<li>A király és a testőrök minden irányban tudnak mozogni (a xiangqiban a testőrök csak átlóban, a király pedig vagy vízszintesen vagy függőlegesen tud lépni).</li>
</ul>
<h2 id="stratégia">Stratégia</h2>
<p><a href="https://www.youtube.com/playlist?list=PL9corMEVRvP-HUJcF7I670pEqV3XNbkKM">Amphibian Hoplite youtube csatornája (angol nyelvű)</a> nagyon hasznos lehet a kezdőknek.</p>
<p><a href="https://www.youtube.com/watch?v=pX_ZDjeqlJs">Egy másik angol nyelvű videó</a>, ami az alapvető megnyitásokat mutatja be.</p>
<p>(Megjegyzés: magyar nyelvű tartalomról jelenleg nincs tudomásunk.)</p>
<h3 id="általános-koncepciók">Általános koncepciók</h3>
<ul>
<li>A gyalogok struktúrája nagyon fontos. Mivel képesek oldalirányba is lépni, akkor a legerősebbek, ha párban vannak és védik egymást. A hármas csoportba szervezett gyalogok nem előnyösek. Továbbá a gyalogokat itt nem ajánlott előrefelé vinni, ha nem muszáj.</li>
</ul>
<p><img src="https://www.pychess.org/static/images/JanggiGuide/BadPawns.png" alt="Rossz gyalogformáció" /></p>
<ul>
<li><p>A játszma kezdetén megválasztott elefánt-ló pozíciók nagyban befolyásolják a megnyitásokat. A külső elefánt képes a tábla közepe felé lépni a két gyalog közé. A belső elefánt számára nincs szabad mező, mert ott állnak a gyalogok (viszont így védi azokat).</p></li>
<li><p>A fentiből következik, hogy az elefánt pozíciója meghatározza azt, hogy <strong>melyik oldalt nyitjuk meg</strong>. Például, ha bal oldalon külső elefánttal játszunk (és az ellenfél szemben lévő elefántja is a külső oldalon van), akkor ajánlott a bal szélső gyalogot oldalra léptetni ezzel megnyitva az utat a szekérnek. Ez azért előnyös, mert az ellenfél szélső gyalogja nem léphet el onnan (hiszen akkor leüthetnénk a szekerét). Ha a másik gyalogját az ágyúja elé lépteti (ezzel is védve a szélső gyalogot), akkor az elefánttal megtámadhatjuk ezt az ágyú előtti gyalogot, hiszen ha a szélső gyaloggal ütné az elefántunkat, akkor megnyílna az út a bal szélen és a szekerünkkel leüthetnénk az ellenfél szekerét.</p></li>
</ul>
<p><img src="https://www.pychess.org/static/images/JanggiGuide/ActiveElephant2.png" alt="Támadó elefánt ábra" /></p>