<h1 id="janggihttpsgithubcomgbtamipychess-variantsblobmasterstaticiconsjanggisvg-janggi"><img src="https://www.pychess.org/static/icons/Janggi.svg" alt="Janggi" /> Janggi</h1>
<p><img src="https://www.pychess.org/static/images/JanggiGuide/Boards.png" alt="Boards" /></p>
<p><em>Janggi</em> (장기, pronounced like “<em>jahng-ghee</em>”), or Korean Chess, is a classic board game native to Korea. The game is derived from Xiangqi and is very similar to it.</p>
<h2 id="rules-board-and-setup">Rules: Board and Setup</h2>
<p>There are two sides, one is colored red (called Han), and the other blue (called Cho). The blue side can also be colored green. These two sides represent the two sides in the Chu-Han Contention from Chinese history. Red pieces are written using Chinese characters (hanja), while blue pieces are written in cursive-style hanja.</p>
<p>Setup for all pieces except for the horse and elephant are as in the picture above. Like xiangqi, janggi is placed on a 9 x 10 board, where pieces are placed on intersections rather than squares. The 3x3 square with the X on each side is called the <em>Palace</em>. Unlike in most other chess variants, in janggi, players can choose the starting positions of the horses and elephants. There are four types to choose from:</p>
<ol>
<li>Both horses are closer to the edge (<em>won ang ma</em>)</li>
<li>Both horses are closer to the general (<em>yang gwee ma</em>)</li>
<li>Left inner horse, right outer horse (<em>gwee ma</em>)</li>
<li>Left outer horse, right inner horse (<em>mat sang jang gi</em>)</li>
</ol>
<p>Red (Han) chooses his positioning first, then Blue (Cho) chooses. However, Blue is the first to move the pieces.</p>
<p>For repetitions and other game-end scenarios:</p>
<ul>
<li>Perpetual check is a loss for the player checking after the third repetition</li>
<li>Repetitions that are not perpetual are adjucated by material counting after the third repetitions</li>
<li>When the 50-move rule is reached (100 half-moves without capture), game is adjucated by material counting</li>
</ul>
<h2 id="the-pieces">The Pieces</h2>
<p>This guide will be based on the internationalized set. Traditional sets use Chinese characters (hanja), and many sites, including Wikipedia, already explain the rules as such.</p>
<p>Several pieces have special moves utilizing the diagonals in either palace, which will be discussed below. In the diagrams, a lighter shade of green is used.</p>
<h3 id="king">King</h3>
<p><img src="https://www.pychess.org/static/images/JanggiGuide/Kings.png" alt="Kings" /> </p>
<p>The <strong>King</strong> (also known by its Chinese name, the <strong>general</strong>) is restricted to the palace and can move within lines of the palace. This means that when the King is in the center, it has 8 possible moves. However, on any other spot in the Palace, it only has 3 moves.</p>
<p><em>Special rule:</em> When a King faces the other King, this causes <em>bikjang</em>. The next player must then move his king out of the way or else the game is ended. See rules below regarding bikjang.</p>
<p><img src="https://www.pychess.org/static/images/JanggiGuide/Palace.png" alt="King and advisor" /></p>
<h3 id="advisor">Advisor</h3>
<p><img src="https://www.pychess.org/static/images/JanggiGuide/Advisors.png" alt="Advisors" /> </p>
<p>The <strong>Advisor</strong> (also known by its Western name, the <strong>guard</strong>) moves exactly like the King, which is one space along lines within the palace. Like the King, the Advisor is confined to the palace.</p>
<h3 id="horse">Horse</h3>
<p><img src="https://www.pychess.org/static/images/JanggiGuide/Horses.png" alt="Horses" /></p>
<p><img src="https://www.pychess.org/static/images/JanggiGuide/HorseDiagram.png" alt="Horse movement" /></p>
<p>The <strong>Horse</strong> (also called by its Western name, the <strong>knight</strong>) moves almost exactly like a chess knight. However, instead of the usual “two steps orthogonally, then one to the side” teaching, it’s better to think of it as <em>one step orthogonally, then diagonally forward in either direction</em>, like a Y shape. The reason for this is that the horse <strong>can be blocked</strong> if a piece is adjacent to it. That will block off the two endpoints of that Y. Therefore, there can be situations where two horses are targeting each other, but only one can attack while the other is blocked. Strong moves take advantage of blocking the horse and limiting its movement.</p>
<h3 id="elephant">Elephant</h3>
<p><img src="https://www.pychess.org/static/images/JanggiGuide/Elephants.png" alt="Elephants" /></p>
<p><img src="https://www.pychess.org/static/images/JanggiGuide/ElephantDiagram.png" alt="Elephant movement" /></p>
<p>The <strong>Elephant</strong> is much different than its xiangqi counterpart. Movement is similar to the horse in that it moves in a Y-shaped pattern. While the horse moves one step orthogonally and then one step further diagonally, the elephant moves one step orthogonally and then <em>two</em> steps diagonally. The elephant, like the horse, can be blocked on any intervening point along this path.</p>
<h3 id="chariot">Chariot</h3>
<p><img src="https://www.pychess.org/static/images/JanggiGuide/Chariots.png" alt="Chariots" /></p>
<p><img src="https://www.pychess.org/static/images/JanggiGuide/ChariotDiagram.png" alt="Chariot movement" /></p>
<p>The <strong>Chariot</strong> (also called by its Western name, the <strong>rook</strong>) moves exactly like a chess rook: any number of squares orthogonally. This is the most valuable piece in the game, excluding the king.</p>
<p><em>Palace move</em>: When in the palace, the chariot can also move along the diagonal lines.</p>
<h3 id="cannon">Cannon</h3>
<p><img src="https://www.pychess.org/static/images/JanggiGuide/Cannons.png" alt="Cannons" /></p>
<p><img src="https://www.pychess.org/static/images/JanggiGuide/CannonDiagram.png" alt="Cannon movement" /></p>
<p>The <strong>Cannon</strong> is slightly different than its xiangqi counterpart. It moves orthogonally like the chariot, but it needs an intervening piece (called a "screen") to hop over first. It can then capture the next piece along the same line. Unlike xiangqi, the Cannon cannot move without a screen.</p>
<p><em>EXCEPTION</em>: The cannon cannot use another cannon as a screen. Additionally, it can't capture the opponent's cannons.</p>
<p><em>Palace move</em>: When in the palace, the cannon can also move along the diagonal line. Practically speaking, the cannon must be on one corner, where it can move or attack the opposite corner if a non-cannon piece is in the center (as in the diagram).</p>
<h3 id="pawn">Pawn</h3>
<p><img src="https://www.pychess.org/static/images/JanggiGuide/Pawns.png" alt="Pawns" /></p>
<p><img src="https://www.pychess.org/static/images/JanggiGuide/PawnDiagram.png" alt="Pawn movement" /></p>
<p>The <strong>Pawn</strong> (also called by its Chinese name, the <strong>soldier</strong>) moves and captures by moving forward or sideways one square. This is different than the xiangqi pawn, which needed to cross the river first to move sideways.</p>
<p><em>Palace move</em>: When in the palace, the pawn can also move forwards along the diagonal lines.</p>
<h2 id="notation">Notation</h2>
<p>Janggi notation works much differently than other variants. First of all, coordinate numbering. From blue's perspective, ranks are numbered from 1 to 10 going down from top to botttom. However, the 10th rank is called 0. Files are numbered 1 to 9 from left to right. Describing a piece location is the opposite of chess. A location is described by <em>rank</em> then <em>file</em> (in all other variants, it's file, then rank). So for example, the blue chariot in the bottom left corner is at <strong>01</strong>. The intersection above it is <strong>91</strong>. The blue king is located at <strong>95</strong>.</p>
<p>Describing moves does not have a standardized international version. We use a modified version of the Korean way. In Korean, the syntax is (starting location)(piece name in Korean)(ending location). Here on Pychess, we use (English piece abbreviation)(starting location)-(ending location). Like in chess, captures are denoted with x instead of -, check has a + at the end, and checkmate is #.</p>
<p>For example, the left chariot moving three spaces up is denoted by R01-71. "R" refers to the chariot. For piece abbreviations, see below.</p>
<h3 id="abbreviations">Abbreviations</h3>
<p>K = <strong>K</strong>ing</p>
<p>A = <strong>A</strong>dvisor</p>
<p>E = <strong>E</strong>lephant</p>
<p>H = <strong>H</strong>orse</p>
<p>C = <strong>C</strong>annon</p>
<p>R = Cha<strong>R</strong>iot</p>
<p>P = <strong>P</strong>awn</p>
<h2 id="rules-gameplay">Rules: Gameplay</h2>
<p>Like chess, the goal is to checkmate the other king.</p>
<p>Unlike most other chess variants, you may pass in Janggi. Therefore, stalemate is impossible. <strong>To pass in Pychess, ctrl+click on your King, or simply click the pass button on the right.</strong></p>
<p>Unlike Xiangqi, the kings may face each other on the same file in Janggi. This creates a situation called <strong>bikjang</strong> ("laughing generals"). If the next player to move does not make a move to break bikjang (for example moving a king or moving a piece in between), then the game ends in a draw. For tournaments that don't allow draws, the value of the pieces on the board are counted up, and the player with the higher value wins.</p>
<table>
<thead>
<tr>
<th id="piece">Piece</th>
<th id="value">Value</th>
</tr>
</thead>
<tbody>
<tr>
<td>Chariot</td>
<td>13</td>
</tr>
<tr>
<td>Cannon</td>
<td>7</td>
</tr>
<tr>
<td>Horse</td>
<td>5</td>
</tr>
<tr>
<td>Elephant</td>
<td>3</td>
</tr>
<tr>
<td>Advisor</td>
<td>3</td>
</tr>
<tr>
<td>Pawn</td>
<td>2</td>
</tr>
</tbody>
</table>
<p>Because blue (Cho) starts the game, they start with an advantage and thus red (Han) also receives 1.5 points (<em>deom</em>) as a compensation. The .5 is added to avoid ties.</p>
<p>Currently, Pychess uses tournament style and does not allow draws. Therefore, games are settled by points when bikjang occurs.</p>
<p>Additionally, it's possible to cause bikjang and check at the same time. In this case, bikjang takes priority.</p>
<p>Repetition is illegal; however, the way this is handled is variable. Repetition is not handled in Pychess, so in the event of repetition, the players should adjudicate the outcome between themselves.</p>
<h2 id="differences-from-xiangqi">Differences from Xiangqi</h2>
<p>Aside from the rules above…</p>
<ul>
<li>There is no river in Janggi. Consequently, pawns and elephants move differently. Pawns can move sideways from the start. The Elephant moves completely differently.</li>
<li>Visually, pieces are on octagons rather than circles. Piece sizes also vary based on value. Kings (generals) are named after the two sides rather than being called "general." Boards use x's instead of crosses for starting pieces.</li>
<li>The Kings start in the middle of the palace instead of the back of the palace.</li>
<li>Cannons are different in that they both move and capture the same way (by jumping over a piece first). They also have additional restrictions.</li>
<li>The Palace affects all piece movement except the Horse and Elephant. Kings and advisors moves along the lines instead of only orthogonally or diagonally. Chariots, cannons, and pawns can move along the diagonals.</li>
</ul>
<h2 id="strategy">Strategy</h2>
<p><a href="https://www.youtube.com/playlist?list=PL9corMEVRvP-HUJcF7I670pEqV3XNbkKM">These videos by Amphibian Hoplite</a> are an excellent start for English players. Available resources in English are otherwise fairly limited.</p>
<p><a href="https://www.youtube.com/watch?v=pX_ZDjeqlJs">Here</a> is another video by Kolo (AKA Galdian) that also goes over opening principles.</p>
<h3 id="general-concepts">General Concepts</h3>
<ul>
<li>Pawn structure is very important. Because pawns can move sideways, they're strongest when protecting each other in pairs. A line of three pawns is a poor formation (because they're stretched out thin). Also because of this, it's not advised to advance pawns if possible.</li>
</ul>
<p><img src="https://www.pychess.org/static/images/JanggiGuide/BadPawns.png" alt="Bad Pawn Formations" /></p>
<ul>
<li>Regarding the choice of horse-elephant positioning in setup, one way to think about it is how your elephants are positioned, and this has significant implications for the opening. An elephant on the outer position is able to move into towards the center between two pawns. However, an elephant in the inner position is blocked by the pawns (although it does protect them).</li>
<li>Continuing from this, the positioning of your elephant determines which <strong>edge file to open up</strong>. For example, when playhing a setup where the left elephant can advance (and the opponent's opposite elephant is also on the outside), you want to move your left edge pawn to the side, opening up the chariot's file. The reason for this is that now the opponent's edge pawn cannot move, so if you attack the cannon file pawn with your elephant, if his edge pawn defends, he would lose his chariot. Note that if the opponent instead had two inner elephants, then you would instead open up the opposite edge.</li>
</ul>
<p><img src="https://www.pychess.org/static/images/JanggiGuide/ActiveElephant.png" alt="Activating the elephant and chariot" /></p>