<h1 id="kiotó-sógi-ikonhttpsgithubcomgbtamipychess-variantsblobmasterstaticiconskyotoshogisvg-kiotó-sógi-kyoto-shogi"><img src="https://www.pychess.org/static/icons/KyotoShogi.svg" alt="Kiotó sógi ikon" /> Kiotó Sógi (Kyoto Shogi)</h1>
<p><img src="https://www.pychess.org/static/images/ShogiGuide/Kyoto.png" alt="ábra" /></p>
<p>A <em>Kiotó Sógi</em> egy sógi variáns, melyet Tamiya Katsuya talált fel 1976 körül. A játékot 5x5-ös táblán játszák és eléggé különbözik a standard sógitól vagy a minisógitól. A legfőbb különbség az, hogy minden bábu minden lépés után átfordul a másik oldalára, ezáltal egy másik bábuvá alakul. A következő lépés után megint átfordul, így újra az előző bábuvá alakul. Minden lépés során ez a két oldal váltakozik.</p>
<p>Például a lándzsás előléptetett gyaloggá (tokin) fordul át. Az előbbinek az eredeti japán neve rövidítve <strong>kyo</strong>, míg utóbbié <strong>to</strong>. A két szó összetételéből adódik a játék neve is: <strong>kyoto</strong>, ami egyben a japán nagyváros, <em>Kyoto</em> (Kiotó) neve is. A játék neve tehát egyfajta szóviccen alapul.</p>
<h2 id="szabályok">Szabályok</h2>
<p>Mivel ez a játék a standard sógin alapul, kérlek olvasd el a sógi útmutatót, ha még nem ismered az alapvető szabályokat.</p>
<p>A kezdőállás a fenti ábrán látható. A standard sógival ellentétben a király kivételével minden bábu átfordul egy-egy lépés után. A sárkánykirály és a sárkányló kivételével minden bábu jelen van itt is, mint a standard sógiban.</p>
<table>
<thead>
<tr>
<th id="kezdő_bábu">Kezdő bábu</th>
<th id="másik_oldala">Másik oldala</th>
</tr>
</thead>
<tbody>
<tr>
<td>Tokin</td>
<td>Lándzsás</td>
</tr>
<tr>
<td>Ezüsttábornok</td>
<td>Futó</td>
</tr>
<tr>
<td>Aranytábornok</td>
<td>Lovas</td>
</tr>
<tr>
<td>Gyalog</td>
<td>Bástya</td>
</tr>
</tbody>
</table>
<p>További szabályok:</p>
<ul>
<li>Amikor visszahelyezünk egy bábut a táblára, akkor választhatunk, hogy melyik oldalára fordítva kerüljön vissza.</li>
<li>Léphetünk úgy egy bábuval, hogy utána (miután átváltozik) nem lesz szabályos lépése. Például a bástyával léphetünk az utolsó sorba, majd miután gyaloggá változik, nem fog tudni lépni, csak leütni lehet. Ez a standard sógiban illegális lépés lenne.</li>
</ul>