<h1 id="makponghttpsgithubcomgbtamipychess-variantsblobmasterstaticiconsmakpongsvg-makpong"><img src="https://www.pychess.org/static/icons/makpong.svg" alt="Makpong" /> Makpong</h1>
<p><img src="https://www.pychess.org/static/images/MakrukGuide/Makruk.png?raw=true" alt="Makpong Board" /></p>
<p>Makpong is a variant of Makruk (Thai chess) designed to reduce draws. It is played in Makruk single elimination tournaments in Thailand to decide a winner after a certain number of Makruk games have been drawn.</p>
<p>If you are not familiar with the rules of Makruk, please see that first.</p>
<h2 id="rules">Rules</h2>
<p>The only difference from Makruk is as follows:</p>
<ul>
<li>The king may not move away from check</li>
</ul>
<p>There were generally three ways to answer a check: move the king away, block with another piece, or capture the attacker. In Makpong, you are not allowed to move away from check, so you can only answer it by blocking the check or capturing the attacker. You are allowed to capture the attacker with the king, provided that it is legal to do so.</p>