<h1 id="makruk-ikonhttpsgithubcomgbtamipychess-variantsblobmasterstaticiconsmakruksvg-makruk-thai-sakk"><img src="https://www.pychess.org/static/icons/makruk.svg" alt="Makruk ikon" /> Makruk (Thai sakk)</h1>
<p><img src="https://www.pychess.org/static/images/MakrukGuide/Makruk.png?raw=true" alt="Makruk ábra" /></p>
<p>A <em>makruk</em>, avagy a thai sakk egy klasszikus táblajáték, mely Thaiföldön őshonos és a <a href="https://hu.wikipedia.org/wiki/Csaturanga">csaturangából</a> eredeztethető, akárcsak a sakk.<br />
A játékot Kambodzsában is játsszák (apró szabálymódosításokkal), ott <em>Ouk Chatrang</em> vagy <em>Ok</em> néven ismert.</p>
<p>Makrukot játszva megtapasztalhatjuk, hogy milyen volt a sakk, mielőtt még a modern időkben bevezetett szabályok felgyorsították volna a játékot. A kissé lassabb tempó jó lehetőséget ad arra, hogy türelmet gyakoroljunk és a stratégiai gondolkodásunkat fejlesszük.</p>
<p>Vlagyimir Kramnyik azt mondta, hogy <em>"a thai makruk stratégiaibb, mint a nemzetközi sakk. A lépéseidet teljes odafigyeléssel kell megtervezned, mert a makruk a sakk végjátékához hasonlítható.”</em></p>
<h2 id="szabályok">Szabályok</h2>
<p>A szabályok általánosságban véve nagyon hasonlóak a sakkéhoz, ezért ez az útmutató inkább a különbségekre fókuszál. A legfontosabb különbségek, hogy a bábuk egy része másképpen mozog, a gyalogok a 3. sorban kezdenek, illetve a király mindig a bal oldalon áll, színtől függetlenül. A cél itt is az ellenfél királyának mattolása, a patthelyzet pedig itt is döntetlent eredményez.</p>
<h2 id="bábuk">Bábuk</h2>
<p>Zárójelben a bábuk eredeti neve.</p>
<h3 id="király-kun">Király (<em>Kun</em>)</h3>
<p><img src="https://www.pychess.org/static/images/MakrukGuide/King.png?raw=true" alt="király ábra" /> </p>
<p>A király ugyanúgy lép és üt, mint a sakkban, azonban nem sáncolhat.</p>
<h3 id="vezér-met">Vezér (<em>Met</em>)</h3>
<p><img src="https://www.pychess.org/static/images/MakrukGuide/Queen.png?raw=true" alt="vezér ábra" /></p>
<p>A vezér itt sokkal gyengébb bábu, mint a sakkban, mert csak egy mezőt tud lépni átlóban. Értéke nagyjából 1,5 - 2 gyalognak felel meg. A vezér megfelelő a támadások vezetésére és hasznos lehet az ellenfél fenyegetésére.</p>
<h3 id="futó-kon">Futó (<em>Kon</em>)</h3>
<p><img src="https://www.pychess.org/static/images/MakrukGuide/Bishop.png?raw=true" alt="futó ábra" /></p>
<p>A futó egy mezőt léphet átlósan, vagy egy mezőt előre (mint a sógiban az ezüsttábornok).</p>
<p>A futó egy erős bábu arra, hogy az ellőtte lévő mezőket kontrollálja, de a király védelmezésére is megfelelő lehet.</p>
<p>A futó itt értékesebb, mint a vezér, de általánosságban elmondható, hogy kevésbé értékes, mint a huszár, mert a futó nem tud olyan könnyen elmenekülni a veszélyes helyzetekből, mint a huszár.</p>
<h3 id="huszár-ma">Huszár (<em>Ma</em>)</h3>
<p><img src="https://www.pychess.org/static/images/MakrukGuide/Knight.png?raw=true" alt="Huszár ábra" /></p>
<p>A huszár ugyanúgy mozog, mint a sakkban (L-alakzatban és képes átugrani a köztes bábukat). Értékes és erős, központi figura.</p>
<h3 id="bástya-rua">Bástya (<em>Rua</em>)</h3>
<p><img src="https://www.pychess.org/static/images/MakrukGuide/Rook.png?raw=true" alt="Bástya ábra" /></p>
<p>A bástya ugyanúgy mozog, mint a sakkban (akárhány mezőt vízszintesen vagy függőlegesen). Erős vezér hiányában a bástya a domináns egység.</p>
<h3 id="gyalog-bia">Gyalog (<em>Bia</em>)</h3>
<p><img src="https://www.pychess.org/static/images/MakrukGuide/Pawn.png?raw=true" alt="Gyalog ábra" /> <img src="https://github.com/gbtami/pychess-variants/blob/master/static/images/MakrukGuide/ProPawn.png?raw=true" alt="Átváltoztatott gyalog ábra" /></p>
<p>A gyalog ugyanúgy mozog, mint a sakkban (egyet előre), és úgy is üt (átlóban előre egyet). Nem léphet kettőt első lépésként. Amikor a gyalogok elérik a 6. sort (illetve a a másik oldalról a 3. sort), akkor átváltoznak és úgy lépnek/ütnek, mint a vezér (átlóban egyet).</p>
<p>Az átváltoztatott gyalog gyakori a végjátékokban, ahol a mattadásban nyújthat segítséget. Továbbá jó csali lehet, akit először el kell fogni ahhoz, hogy az általa védett király mattolható legyen. Szerepe lehet az ellenséges erők szétszakításában, ami után az újraszervezés értékes időt vehet el. Ez a vesztésre álló, védekező oldal számára esélyt adhat arra, hogy döntetlenre hozza ki a játszmát a lépésszámlálási szabály értelmében (lásd lentebb).</p>
<h2 id="lépésszámlálási-szabályok">Lépésszámlálási szabályok</h2>
<p>Kétféle lépésszámlálási szabály van: a "táblás" és a "bábus" számolás.</p>
<p>Ha az utolsó gyalog is leütésre került (tehát egyik félnek sincs gyalogja a táblán), akkor megkezdődik a számolás, és 64 lépésben kell győzelmet elérni (ennyi mező van a táblán, ezért a tábla tiszteletére vonatkozó számolásnak is nevezik). A hátrányban lévő játékos számol, és bármikor abbahagyhatja a számolást, de ha ezután újrakezdi, akkor megint 1-ről kell kezdenie. Ha a hátrányban lévő játékos úgy ad mattot, hogy előtte nem hagyta abba a számolást, akkor az eredmény döntetlen.</p>
<p>A második számolási szabály akkor lép érvénybe, amikor a vesztésre álló játékos utolsó bábuja is leütésre került (azaz csak egy királya maradt). Ekkor a nyerésre álló játékosnak a táblán lévő bábuitól függően egy megadott számú lépésben kell mattot adnia, különben az eredmény döntetlen (ezt a bábuk tiszteletére vonatkozó számolásnak is nevezik).</p>
<table>
<thead>
<tr>
<th id="meglévő_bábu">Meglévő bábu</th>
<th id="ennyi_lépésben_kell_győzni">Ennyi lépésben kell győzni</th>
</tr>
</thead>
<tbody>
<tr>
<td>Két bástya</td>
<td>8</td>
</tr>
<tr>
<td>Egy bástya</td>
<td>16</td>
</tr>
<tr>
<td>Nincs bástya, de van két futó</td>
<td>22</td>
</tr>
<tr>
<td>Nincs bástya, nincs futó, de van két huszár</td>
<td>32</td>
</tr>
<tr>
<td>Nincs bástya, de van egy futó</td>
<td>44</td>
</tr>
<tr>
<td>Nincs bástya, nincs futó, de van egy huszár</td>
<td>64</td>
</tr>
<tr>
<td>Nincs bástya, nincs futó, nincs huszár, csak vezér</td>
<td>64</td>
</tr>
</tbody>
</table>
<p>Miután a számolás a fentiek alapján megkezdődött, a maximális lépések száma (és a számolás is) rögzítetté  válik, az nem változik meg akkor sem, ha közben egy bábu leütésre kerül. Ha például az egyedül maradt király leütné a két támadó bástya közül az egyiket, a számolás nem kezdődne újra és a maximális lépések száma sem változna meg, azaz a bástyának ugyanúgy 8 lépésen belül kellene mattolnia, a 9. lépésben pedig már döntetlen lenne a játszma.</p>
<h2 id="stratégia">Stratégia</h2>
<p>A játék tempója lassúnak mondható, a legtöbb bábu csak egy mezőt tud lépni valamilyen irányba. Érdemes a bábukat csoportokba szervezni és úgy mozgatni őket, hogy kölcsönös támogatást nyújtsanak egymásnak. Nem érdemes egy időben több frontot megnyitni. A kulcs a megfelelő koordináció.</p>
<h2 id="taktika">Taktika</h2>
<p>Egyedül a bástya képes kötést létrehozni. Ezen kívül leginkább a kettős támadás (villa) fordul még elő.</p>
<p>Amikor az egyik oldalnak már csak egy királya marad, akkor az életbe lépő számlálási szabályok nyomás alá helyezik a támadó oldalt. A vesztésre álló játékost ez arra ösztönzi, hogy végigjátssza a játékot, ahelyett, hogy feladná. Ezért fontos, hogy minden alapvető mattolási módszert megtanuljunk az egyedüli királlyal szemben.</p>