<h1 id="makruk">Makruk</h1>
<p><img src="https://pychess-variants.herokuapp.com/static/images/MakrukGuide/Makruk.png?raw=true" alt="Makruk" /></p>
<h2 id="what-is-makruk">What is Makruk?</h2>
<p><em>Makruk</em>, or Thai Chess, is a classic board game native to Thailand and is closely descended from Chaturanga, the same ancestor as Chess. The game is played in Thailand and Cambodia, where it is known as <em>Ouk Chatrang</em> (with slightly different rules). Markuk offers a taste of ancient Chess in the original form before the introduction of modern rules quickened the pace. The game is plenty of fun in its  own right, with its own balance/dynamics. The slightly slower pace can provide a good way to cultivate patience, and to hone strategic thinking.</p>
<p>Kramnik has tried his hand at Makruk, and had this insight to offer, "Makruk Thai is more strategic than International Chess. You have to plan your operations with total care since Makruk Thai can be compared to an anticipated endgame of International Chess."</p>
<p>From a Chess player's standpoint, that is fairly accurate. In fact, one obvious approach would be to trade off the unfamiliar Bishop (Khon) and Queen (Met), and enter a (hopefully) favorable endgame. But this approach will be dull and drawish. It is much more fun to embrace the different dynamics instead, and try to play with the new piece types.</p>
<h2 id="rules">Rules</h2>
<p>The general rules are extremely similar to Chess, so this guide will focus on the few differences. The objective is the same: checkmating your opponent's king. The major difference is some pieces having different moves and the starting positions: the pawns start on the third rank, and the king is always on the left side of the player regardless of color. Stalemates are draws, as in chess.</p>
<h2 id="the-pieces">The Pieces</h2>
<p>Thai piece names are in parentheses.</p>
<h3 id="king-khun">King (<em>Khun</em>)</h3>
<p><img src="https://pychess-variants.herokuapp.com/static/images/MakrukGuide/King.png?raw=true" alt="King" /> </p>
<p>The king moves one square orthogonally or diagonally. There is no castling as in chess.</p>
<h3 id="queen-met">Queen (<em>Met</em>)</h3>
<p><img src="https://pychess-variants.herokuapp.com/static/images/MakrukGuide/Queen.png?raw=true" alt="Queen" /></p>
<p>Unlike the queen in chess, the queen is a relatively weak piece that only moves one square diagonally.</p>
<p>The queen is worth about 1.5 to 2 pawns in general. The queen is a good piece to lead the attacks, useful for harassing more valuable enemy pieces. On occasion, they can also be sacrificed in exchange for well-positioned enemy pawns, to make way for the invasion.</p>
<h3 id="bishop-khon">Bishop (<em>Khon</em>)</h3>
<p><img src="https://pychess-variants.herokuapp.com/static/images/MakrukGuide/Bishop.png?raw=true" alt="Bishop" /></p>
<p>The bishop moves one square diagonally or one square forward, just like the silver general in shogi.</p>
<p>The bishop is a powerful piece for controlling squares immediately in front of it, and for shouldering off enemy forces. It is also a good defender around its King.</p>
<p>The bishop is worth more than the queen, but generally not as much as a knight. The justification may be that isolated knights have little trouble escaping from an enemy king, while isolated bishops can fall.</p>
<p>Bishops can sometimes prove slow/awkward to maneuver or retreat. It is therefore advisable to have some friendly pieces nearby to support and rescue them. In the endgame, it's usually safer to get a lone king behind the enemy bishop, compared to staying in its front.</p>
<h3 id="knight-ma">Knight (<em>Ma</em>)</h3>
<p><img src="https://pychess-variants.herokuapp.com/static/images/MakrukGuide/Knight.png?raw=true" alt="Knight" /></p>
<p>The knight moves exactly the same as in chess.</p>
<p>The knights are not "minor pieces" in Makruk. They are major forces. Centralize and utilize them.</p>
<h3 id="rook-ruea">Rook (<em>Ruea</em>)</h3>
<p><img src="https://pychess-variants.herokuapp.com/static/images/MakrukGuide/Rook.png?raw=true" alt="Rook" /></p>
<p>The rook moves exactly the same as in chess.</p>
<p>In the absence of mighty chess queens, the rooks dominate the board. Lateral rook checks can be especially annoying. Aim for the seventh rank or even the sixth rank.</p>
<h3 id="pawn-bia">Pawn (<em>Bia</em>)</h3>
<p><img src="https://pychess-variants.herokuapp.com/static/images/MakrukGuide/Pawn.png?raw=true" alt="Pawn" /> <img src="https://github.com/gbtami/pychess-variants/blob/master/static/images/MakrukGuide/ProPawn.png?raw=true" alt="ProPawn" /></p>
<p>The pawn moves and attacks the same as in chess. However, there is no double-step first move. Pawns promote and move like queens when they reach the sixth rank.</p>
<p>Since it is rare for one side to be up by two pieces, the promoted pawn is commonly present in most endgames, assisting the stronger side in delivering checkmate.</p>
<p>For the disadvantaged side, a promoted pawn is a good decoy which must be trapped and captured before the bare king can be forced into checkmate. It can either stay near the king for additional protection, or failing that, lead enemy pieces away from it. Scattering the enemy pieces in this fashion can cost them valuable time to reorganize, thus giving the defending side some extra chance to draw the game under counting rules (see below).</p>
<h2 id="counting-rules">Counting Rules</h2>
<p>When neither side has any unpromoted pawns, the game must be completed within a certain number of moves or it is declared a draw. In real games, the disadvantaged player verbally counts his moves according to these rules.</p>
<h3 id="boards-honor-counting">Board's Honor Counting</h3>
<p>When there are no unpromoted pawns left on the board, the disadvantaged player may start the board's honor counting. The count starts from 1, and mate must be achieved in 64 moves (that is, before the count goes to 65) or the game is a draw. The player may choose to stop counting at any time, but if either player wants to start counting again, the count will restart from 1. If the disadvantaged player checkmates the advantaged side and did not stop counting, the game is declared a draw.</p>
<h3 id="pieces-honor-counting">Piece's Honor Counting</h3>
<p>When there are no unpromoted pawns left on the board, and the last piece (that is not the king) of the disadvantaged player is captured, the piece's honor counting will start. This overrides the board's honor counting. The count starts from the number of pieces left on the board, including both kings, plus one. The limit of the count is based on the pieces the advantaged player has on the board, determined by the minimum number from these conditions:</p>
<ul>
<li>If there are two rooks: 8</li>
<li>If there is one rook: 16</li>
<li>If there are two bishops: 22</li>
<li>If there are two knights: 32</li>
<li>If there is one bishop: 44</li>
<li>If there is one knight: 64</li>
<li>If there are only (any number of) queen and promoted pawns: 64</li>
</ul>
<p>The winning player has to checkmate his opponent's king before the count exceeds the limit. Otherwise, the game is declared a draw. Once the piece's honor counting is started, the limit is set in stone, and it will not change in any case, even if the pieces on the board get captured.<br />
For example, if White has two rooks against a lone black king, the piece's honor counting will go from 5 to 8. If Black captures one of the white rooks, the count does not restart, nor is the limit recalculated. The game is still drawn after Black counts to 9.</p>
<h2 id="makruk-vs-sittuyin">Makruk vs Sittuyin</h2>
<p>Sittuyin is a game very similar to Makruk, but played in Myanmar. In a sense, Sittuyin can be thought of as a kind of accelerated Makruk, potentially skipping ahead about a dozen opening moves. Half of the Sittuyin pawns start on the fourth rank, as opposed to all Makruk pawns starting from the third rank.</p>
<p>Makruk players must negotiate their way towards getting a good opening setup from scratch, a vital skill for Makruk. Sittuyin players get to just set up their dream positions. Experience in either variant would be useful/beneficial in the other.</p>
<p>Makruk allows promoting pawns to multiple queens, which can quickly become dangerous. This makes Makruk pawns more valuable than Sittuyin pawns.</p>
<h2 id="strategy">Strategy</h2>
<p>The pace is rather slow, with most pieces stepping only one square at a time. It's a good idea to organize and group together the pieces. Move them in formation as a group to provide mutual support. Do not try to open up the game on too many fronts. Coordination is key.</p>
<h2 id="tactics">Tactics</h2>
<p><strong>Rooks are the only pieces that can pin or skewer pieces. The rest of the tactics mostly consist of forks.</strong></p>
<p>Most Sittuyin and Makruk games will actually reach the bitter (near) end.<br />
When one side has only a bare King remaining, there are certain "counting rules" (see above) which come into effect and put pressure on the stronger side. Such requirements offer the weaker side an incentive to play out the whole game. Therefore it is crucial to master all the basic checkmates against a lone King. There just isn't much point in playing these games if one can't finish off the bare King at the end.</p>
<p>Because there is no promotion to heavy pieces, it becomes harder to force a checkmate after the existing pieces have left the board. Plan accordingly and leave yourself with enough fire power.</p>
<p>Please allow yourself enough time on the clock, as many of those mates require precision.</p>