<h1 id="minisógi-ikonhttpsgithubcomgbtamipychess-variantsblobmasterstaticiconsminishogisvg-minisógi-minishogi"><img src="https://www.pychess.org/static/icons/minishogi.svg" alt="Minisógi ikon" /> Minisógi (Minishogi)</h1>
<p><img src="https://www.pychess.org/static/images/ShogiGuide/Minishogi.png" alt="Minisógi ábra" /></p>
<p>A Minisógi alapvetően a standard (9x9-es) sógi kisebb változata, melyet 5x5-ös táblán játszanak. A játékot 1970 körül találta fel (vagy fedezte fel újra) a japán Shigenobu Kusumoto.</p>
<h2 id="szabályok">Szabályok</h2>
<p>Mivel a minisógi a standard sógin alapul, kérlek olvasd el a sógi útmutatót, ha még nem ismered az alapvető szabályokat.</p>
<p>A kezdőállás a fenti ábrán látható. A standard sógival ellentétben itt nincs lovas és lándzsás. Csak egy gyalog, egy futó, egy bástya, egy ezüsttábornok és egy aranytábornok (és természetesen a király). Bábukat előléptetni csak az utolsó sorban lehet.</p>
<h2 id="stratégia">Stratégia</h2>
<p>A kisebb táblaméret miatt a bástya és a futó itt nem annyira domináns, mint a standard sógiban. Azonban előléptetéssel itt is nagyon veszélyessé válnak.</p>