<h1 id="minishogihttpsgithubcomgbtamipychess-variantsblobmasterstaticiconsminishogisvg-mini-shogi"><img src="https://www.pychess.org/static/icons/minishogi.svg" alt="Minishogi" /> Mini-shogi</h1>
<p><img src="https://www.pychess.org/static/images/ShogiGuide/Minishogi.png" alt="Minishogi" /></p>
<p>Le mini-shogi est le jeu de shogi adapté pour un shogiban de 5x5. Le jeu fut inventé (ou réinventé) vers 1970 par le japonais Kusumoto Shigenobu.</p>
<h2 id="règles">Règles</h2>
<p>Comme le mini-shogi est basé sur le shogi, veuillez consulter son guide à lui pour des règles de shogi si vous ne les connaissez pas.</p>
<p>La position initiale est comme dans l'image ci-dessus. Contrairement au shogi, il n'y a ni de cavalier, ni de lancier. Chaque côté commence avec une chacune des pièces suivantes : pion, fou, tour, général d'argent, général d'or et roi. La zone de promotion est la dernière rangée.</p>
<h2 id="conseils">Conseils</h2>
<p>Vu la taille reduite du shogiban, la tour et le fou ne sont pas aussi dominateurs qu'au shogi standard. En revanche, leurs formes promues sont toujours très puissantes.</p>