<h1 id="minixiangqihttpsgithubcomgbtamipychess-variantsblobmasterstaticiconsminixiangqisvg-mini-xiangqi"><img src="https://www.pychess.org/static/icons/Minixiangqi.svg" alt="Minixiangqi" /> Mini-xiangqi</h1>
<p><img src="https://www.pychess.org/static/images/XiangqiGuide/Minixiangqi.png" alt="Minixiangqi" /></p>
<p>Le mini-xiangqi est le jeu de xiangqi adapté pour un échiquier de 7x7. Il fut inventé en 1973 par le japonais Kusumoto Shigenobu.</p>
<p>Comme ce jeu est basé sur le xiangqi, veuillez consulter son guide à lui pour les règles du xiangqi.</p>
<h2 id="règles">Règles</h2>
<p>La position initiale est comme dans l'image ci-dessus. Contrairement au xiangqi, il n'y a pas de rivière, ni d'assistants, ni d'éléphants.</p>
<p>En plus, <strong>les pions peuvent se déplacer horizontalement dès le début de la partie.</strong></p>
<h2 id="conseils">Conseils</h2>
<p>Le roi commence complètement immobile, enfermé par ses pièces. Le canon donc peut effectuer un mat très vite si l'on ne fait pas attention. Les premiers coups devraient essayer laisser le roi un peu d'espace.</p>