<h1 id="minixiangqihttpsgithubcomgbtamipychess-variantsblobmastericonsminixiangqisvg-minixiangqi"><img src="https://www.pychess.org/icons/minixiangqi.svg" alt="Minixiangqi" /> Minixiangqi</h1>
<p><img src="https://www.pychess.org/static/images/ShogiGuide/Minixiangqi.png" alt="Minixiangqi" /></p>
<p>Minixiangqi is essentially xiangqi on a 7x7 board. The game was invented in 1973 by Shigenobu Kusumoto of Osaka, Japan.</p>
<p>As this game is based off xiangqi, please see the corresponding guide for basic shogi rules first if you are not familiar with them.</p>
<h2 id="rules">Rules</h2>
<p>The starting setup is as above. Unlike standard xiangqi, there is no river, advisors, or elephants. </p>
<p>Additionally, <strong>pawns start with the ability to move sideways.</strong> </p>
<h2 id="strategy">Strategy</h2>
<p>The king starts completely immobile and trapped by pieces. This makes the cannon able to checkmate very early if you are not careful. Early moves should try to give the king some breathing room.</p>