<h1 id="minishogihttpsgithubcomgbtamipychess-variantsblobmasterstaticiconsminishogisvg-minishogi"><img src="https://www.pychess.org/static/icons/minishogi.svg" alt="Minishogi" /> Minishogi</h1>
<p><img src="https://www.pychess.org/static/images/ShogiGuide/Minishogi.png" alt="Minishogi" /></p>
<p>Minishogi is essentially shogi on a 5x5 board. The game was invented (or rediscovered) around 1970 by Shigenobu Kusumoto of Osaka, Japan.</p>
<h2 id="rules">Rules</h2>
<p>As this game is based off shogi, please see the corresponding guide for basic shogi rules first if you are not familiar with them.</p>
<p>The starting setup is as above. Unlike standard shogi, there is no knight or lance. There is only one pawn, a bishhop and rook, and one of each general. Promotion is only done in the last rank. </p>
<h2 id="strategy">Strategy</h2>
<p>Due to the smaller board size, the rook and bishop are not as dominant as standard shogi. However, their promotions are still very much threatening.</p>