{% extends "template.html" %}
{% block content %}
<div class="profile-wrapper">
<aside class="sidebar-first"></aside>

<div class="main">
<div class="patron">
<div class="banner"><h1>Free chess variants for everyone, forever!</h1>No ads, no subscriptions; but open-source and passion.<h6></h6></div>
    
<p class="patron-txt">{% trans %}As you know, pychess-variants is a free server and it will remain free forever. However, maintaining and improving the server costs time and money.
If you like our work and find our server useful, please donate through patreon or paypal.{% endtrans %}</p>
<a class="patronbutton" title="Become a patron!" href="https://www.patreon.com/bePatron?u=29103205">patreon</a>
<a class="patronbutton1" title="PayPal - The safer, easier way to play online!" href="https://www.paypal.com/donate?token=Ga6olZ-hl87mNfgTuMUNh1UFDgbTZfjT3UE_KFj0R77QDqNUiwLO6Ilzv04HF2QeOt-HwHva2FQFc8r3">paypal</a>
<div class="btm-txt">We are a small team, so your support makes a huge difference!</div>
    
</div>
</div>

<aside class="sidebar-second"></aside>
{% endblock %}
{% block js %}
    <script src="{{ js }}"></script>
{% endblock %}
