{% extends "template.html" %}
{% block content %}
<div class="players-wrapper">
<main class="players">
    <table id="players">
        <thead>
            <tr>
                <th>Online</th>
            </tr>
        </thead>
        <tbody>
            {% for user in online_users %}
            <tr>
                <td class="player-data">
                <i-side class="online icon icon-online"></i-side>
                <player>
                    <a class="user-link" href="{{ home }}/@/{{ user.username }}"><player-title>{{ user.title }}</player-title> {{ user.username }}</a>
                </player>
                </td>
            </tr>
            {% endfor %}
            {% if anon_online > 0 %}
            <tr>
                <td class="player-data">
                <i-side class="online icon icon-online"></i-side>
                <player>
                    <div">Anonymous({{ anon_online }})</a>
                </player>
                </td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    <table id="players">
        <thead>
            <tr>
                <th>Offline</th>
            </tr>
        </thead>
        <tbody>
            {% for user in offline_users %}
            <tr>
                <td class="player-data">
                <i-side class="icon icon-offline"></i-side>
                <player>
                    <a class="user-link" href="{{ home }}/@/{{ user.username }}"><player-title>{{ user.title }}</player-title> {{ user.username }}</a>
                </player>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
<aside class="sidebar-first">
    <div class="highscore">
        {% for key in highscore %}
        <div class="card">
            <div class="info0 icon" data-icon="{{ icons[key] }}">
                <div class="variant">{{ "S-CHESS" if key=="seirawan" else "S-HOUSE" if key=="shouse" else key.upper() }}</div>
            </div>
            {% for user, score in highscore[key].items() %}
                <div class="player-data {{ loop.cycle('odd', 'even') }}">
                    <player>
                        <a class="user-link" href="{{ home }}/@/{{ user }}"><player-title>{{ users[user].title }}</player-title> {{ user }}</a>
                        <rating>{{ score }}</rating>
                    </player>
                </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</aside>
<aside class="sidebar-second"></aside>
</div>
{% endblock %}
{% block js %}
    <script src="/static/pychess-utils.js"></script>
{% endblock %}
