{% extends "template.html" %}
{% block content %}
<div id="main-wrap">
<main class="page-menu highscore small">
<aside class="flat-bg">
    <h1>{{ variant_display_name(variant) }} {% trans %}Top 50{% endtrans %}</h1>
    <div class="highscore">
        <div>
            <table>
            <tbody>
            {% for user, score in highscore.items() %}
                {% set highscore_user = user.split("|")[0] %}
                <tr class="player-data">
                    <td><rank>{{ loop.index }}</rank></td>
                    <td class="player-data"><i-side class="{% if highscore_user in highscore_online %}online{% else %}offline{% endif %} icon {% if highscore_user in highscore_patrons %}icon-patron-wing{% elif highscore_user in highscore_online %}icon-online{% else %}icon-offline{% endif %}"{% if highscore_user in highscore_patrons %} title="{{ _('PyChess Patron') }}"{% endif %}></i-side><player><a class="user-link" href="{{ home }}/@/{{ highscore_user }}"><player-title>{{ user.split("|")[1] }}</player-title> {{ highscore_user }}</a></player></td>
                    <td><rating>{{ score }}</rating></td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
</aside>
</main>
</div>
{% endblock %}
{% block js %}
    <script src="{{ js }}"></script>
{% endblock %}

