{% extends "template.html" %}
{% block content %}
<div class="profile-wrapper">
<aside class="sidebar-first">
    {% for key in ratings %}
    <div class="sub-ratings">
    <a class="info0 icon {% if ratings[key][1] == 0 %} empty {% endif %} {% if variant == key %} active {% endif %}" data-icon="{{ icons[key] }}" href="{{ home }}/@/{{ profile }}/{{ key }}">
        <div class="info2">
            <span>
                <h3>{{ "S-CHESS" if key=="seirawan" else "S-HOUSE" if key=="shouse" else key.upper() }}</h3>
                <rating>
                    <strong>{{ ratings[key][0] }}</strong>
                    <span>{{ ratings[key][1] }} games</span>
                </rating>
            </span>
        </div>
    </a>
    </div>
    {% endfor %}
</aside>
<div id="placeholder"></div>
<aside class="sidebar-second"></aside>
</div>
{% endblock %}
{% block js %}
    <script src="/static/pychess-utils.js"></script>
    <script src="/static/pychess-variants.min.js"></script>
{% endblock %}
