<h1 id="seirawan-sakk-ikonhttpsgithubcomgbtamipychess-variantsblobmasterstaticiconsschesssvg-s-sakk-seirawan-sakk-sharper-sakk-s-chess"><img src="https://www.pychess.org/static/icons/schess.svg" alt="Seirawan sakk ikon" /> S-sakk (Seirawan-sakk, SHARPER sakk) (S-chess)</h1>
<p>Az S-sakkot Yasser Seirawan és Bruce Harper alkotta meg 2007-ben. A standard sakkhoz hasonlóan ezt is 8x8-as táblán játsszák, de két új bábu is bekerült a játékba.</p>
<h2 id="új-bábuk">Új bábuk</h2>
<h3 id="sólyom">Sólyom</h3>
<p><img src="https://www.pychess.org/static/images/CVariantsGuide/Hawk.png" alt="Sólyom ábra" /></p>
<p>A sólyom két bábu kombinálásával jött létre: futó és huszár. Ennek a két bábunak a lépéslehetőségeivel rendelkezik.</p>
<p>A bástyánál egy kicsit értékesebb bábu, de kevésbé értékes, mint az elefánt és a vezér.</p>
<p>A játszmák során <strong>H</strong> betűvel jegyezzük, ami az angol <strong>Hawk</strong> szó rövidítése.</p>
<h3 id="elefánt">Elefánt</h3>
<p><img src="https://www.pychess.org/static/images/CVariantsGuide/ElephantSeirawan.png" alt="Elefánt ábra" /></p>
<p>Az elefánt két bábu kombinálásával jött létre: bástya és huszár. Ennek a két bábunak a lépéslehetőségeivel rendelkezik.</p>
<p>Értékesebb bábu, mint a sólyom, de értéke kisebb vagy egyenlő, mint a vezéré.</p>
<p>A játszmák során <strong>E</strong> betűvel jegyezzük ezt a bábut.</p>
<h2 id="szabályok">Szabályok</h2>
<p>Mindkét új bábu a táblán kívül van a játszma kezdetén. A bábukat úgy lehet játékba hozni, hogy amikor egy hátsó sorban lévő bábuval lépünk (pl. huszárral), akkor <strong>annak a helyére lehet elhelyezni egy új bábut</strong>. A másikat ezután szintén egy alapbábú helyére lehet majd elhelyezni.</p>
<p>Fontos megjegyezni, hogy <strong>új bábu csak egy alapbábú első lépése után tehető a táblára (az alapbábu kezdőhelyére, máshova nem)</strong>. Ha mindegyik hátsó sorban lévő bábu lépett vagy leütésre került anélkül, hogy korábban a helyükre behoztuk volna az elefántot vagy a sólymot, akkor ezek az új bábuk már nem tehetők a táblára, nem vehetnek részt a játszmában. </p>
<p>Sáncoláskor választható, hogy az új bábu a király vagy a bástya kezdőhelyére kerüljön.</p>
<p>A gyalogok előléptethetők elefánttá vagy sólyommá is.</p>
<h2 id="stratégia">Stratégia</h2>
<p>Yasser Seirawan szerint a király védelmezése itt még fontosabb, mert a hátsó sorból kilépő bábu (mint pl. a vezér, a futó vagy a bástya) helyére érkezett új bábu azonnali támogatást nyújthat a támadáshoz, ami esetekben mattot is eredményezhet.</p>
<p><a href="https://www.youtube.com/watch?v=ujWzsxm18aQ">Egy youtube videó</a>, amiben Yasser Seirawan bemutatja a játékot JannLee-vel játszva.</p>