<h1 id="shako-ikonhttpsgithubcomgbtamipychess-variantsblobmasterstaticiconsshakosvg-shako"><img src="https://www.pychess.org/static/icons/shako.svg" alt="Shako ikon" /> Shako</h1>
<p><img src="https://www.pychess.org/static/images/CVariantsGuide/Shako.png" alt="Shako ábra" /></p>
<p>A Shako egy sakkvariáns, melyet Jean-Louis Cazaux tervezett meg. Ezt a játékot egy 10x10-es táblán játszák és kétféle új bábut vonultat fel: az ágyút és az elefántot, mindkettő a kínai sakkból (Xiangqi) származik.</p>
<p>A Shako eszperantó nyelven sakkot jelent. A tervezője úgy szeretett volna egy új játékot alkotni, hogy közben a klasszikus sakk örökségét is megőrizze. A standard sakk minden szabálya itt is érvényes, és a kezdőállás is úgy van kialakítva, hogy szinte minden megszokott megnyitás továbbra is működjön.</p>
<p>A játék megtervezése 1990-ben fejeződött be és 2007-ben a D.B. Pritchard által szerkesztett Sakkváltozatok enciklopédiájába is bekerült.</p>
<h2 id="szabályok">Szabályok</h2>
<p>A szabályok alapvetően ugyanazok, mint a standard sakkban. Mivel a játékot 10x10-es táblán játszák, ezért a gyalogot a 10. sorban lehet előléptetni (akár elefánttá vagy ágyúvá is).</p>
<h3 id="elefánt">Elefánt</h3>
<p><img src="https://www.pychess.org/static/images/CVariantsGuide/ShakoElephant.png" alt="Elefánt ábra" /></p>
<p>Az elefánt (angolul: Elephant) hasonló, mint a kínai sakkban, de van egy jelentős különbség: a shako elefántja egy vagy két mezőt is léphet átlósan (míg a kínai sakk elefántja csak kettőt). Továbbá az első átlós mezőt képes átugrani. A futónál ugyan kisebb távot képes mozogni, az ugrási képessége azonban hasznos lehet a játszma során.</p>
<p>A játszmák során <strong>E</strong> betűvel jegyezzük.</p>
<h3 id="ágyú">Ágyú</h3>
<p><img src="https://www.pychess.org/static/images/CVariantsGuide/Cannon.png" alt="Ágyú ábra" /></p>
<p>Az ágyú (angolul: Cannon) ugyanúgy működik, mint a kínai sakkban: úgy mozog, mint a bástya (függőlegesen vagy vízszintesen akárhány mezőt), viszont ütni csak úgy tud, ha van egy köztes bábu, amit közben "átugrik". Mivel erre a köztes bábura minden ütéshez szüksége van, ezért az ágyú az egyik leggyengébb egység a Shakoban, főleg a végjátékban. Ugyanakkor nagyon trükkös helyzeteket lehet vele teremteni, amire érdemes odafigyelni.</p>
<p>A játszmák során <strong>C</strong> betűvel jegyezzük, ami az angol <em>Cannon</em> szó rövidítése.</p>