<h1 id="shogi">SHOGI</h1>
<p><img src="https://pychess-variants.herokuapp.com/static/images/ShogiGuide/Boards.png" alt="Boards" /></p>
<h2 id="what-is-shogi">What is Shogi?</h2>
<p><em>Shogi</em> (将棋), or Japanese Chess is a classic board game native to Japan and descended from Chatturanga, the same ancestor as Chess. In its modern form, it has been around since the 16th century. The game is very popular in Japan, where it is more played than western chess and there is a thriving professional scene. The game itself is both similar yet very distinct from western chess, introducing the ability to drop captured pieces back onto the board. </p>
<h2 id="why-learn-shogi">Why learn Shogi?</h2>
<p>If you enjoy Chess, Shogi is definitely worth trying. While slightly slower paced and longer than Chess, the game is also more dynamic and complex, leading to a very different experience. Shogi is between Chess and Go in terms of complexity, but don’t let that deter you. As with other chess variants, improving your skill in Shogi can  also improve your skills in Chess as well as open up new ways of thinking! <a href="https://chessbase.in/news/peter-heine-nielsen-on-shogi">See here for more about that.</a></p>
<h2 id="what-are-the-rules-of-shogi">What are the rules of Shogi?</h2>
<p>The rules are similar to Chess, so this guide will focus on the differences. Shogi is played on a 9 x 9 board. Players take turns moving pieces on a board to checkmate the enemy king. The black player, or <em>sente</em> (先手 first player), moves first, followed by white or <em>gote</em> (後手 second player), which is the opposite of chess. These colors are just arbitrary and do not reflect the actual color of pieces. </p>
<p>A significant difference from Chess but similar to its Crazyhouse variant is that you can drop captured pieces onto the board as a move. There are a few restrictions to dropping notably with pawns, which are discussed later, but otherwise pieces can be generally dropped anywhere. Additionally, almost all pieces can be promoted. Pieces are promoted upon entering the promotion zone / enemy camp (last three ranks) or moving a piece already in the enemy camp. The piece will then flip over. Captured promoted pieces are returned to their unpromoted side when added to your hand.</p>
<h2 id="the-pieces">The Pieces</h2>
<p>This guide will be based on the internationalized set. Traditional sets use Chinese characters, <em>kanji</em>, and piece sets come in either a full 2-kanji form, a 1-kanji abbreviated form. As it is now, knowledge of the kanji will be required if you want to utilize all English resources. </p>
<p>In general, shogi pieces are much more restricted than chess pieces. Minor pieces (i.e. not the rook or bishop) often move forward and not so much backwards.</p>
<p>Regarding promoted pieces, most sets, including the ones used on this site, distinguish them by being colored red. There are two basic rules that will make learning all the pieces <strong>much</strong> less intimidating. All <em>minor</em> pieces move like a gold general when promoted. The gold general, therefore, cannot promote. Secondly, the two <em>major</em> pieces (rook and bishop), both gain the moves of a king on top of their original moves. The king does not promote.</p>
<h3 id="king">King</h3>
<p><img src="https://pychess-variants.herokuapp.com/static/images/ShogiGuide/BlackKings.png" alt="BlackKings" /> </p>
<p><img src="https://pychess-variants.herokuapp.com/static/images/ShogiGuide/WhiteKings.png" alt="WhiteKings" /></p>
<p><img src="https://pychess-variants.herokuapp.com/static/images/ShogiGuide/King.png" alt="KingDiagram" /></p>
<p>The king moves exactly like a chess king: one step in any direction. In kanji piece sets, the king with a dot, 玉將 gyokushō, is the black player, while the king without, 王將 ōshō, is the white player. </p>
<p>This is the only piece in the internationalized set to maintain its kanji form, 王. In these sets, the color black or white is depicted as a colored bar at the bottom of this piece. For the wooden version, the lack of a bar means white. </p>
<h3 id="rook">Rook</h3>
<p><img src="https://pychess-variants.herokuapp.com/static/images/ShogiGuide/Rooks.png" alt="Rooks" /></p>
<p><img src="https://pychess-variants.herokuapp.com/static/images/ShogiGuide/Rook.png" alt="RookDiagram" /></p>
<p>The rook moves exactly like a chess rook: any number of squares orthogonally. The international piece depicts a chariot, which refers to the Japanese name “flying chariot.” In English, the name rook is based off the Persian word for chariot. This is the most valuable unpromoted piece in the game, excluding the king.</p>
<h3 id="bishop">Bishop</h3>
<p>The bishop moves exactly like a chess bishop: any number of squares diagonally. The international piece depicts a traditional hat worn by a Japanese official. The is the second most valuable unpromoted piece in the game, excluding the king.</p>
<p><img src="https://pychess-variants.herokuapp.com/static/images/ShogiGuide/Bishops.png" alt="Bishops" /></p>
<p><img src="https://pychess-variants.herokuapp.com/static/images/ShogiGuide/Bishop.png" alt="BishopDiagram" /></p>
<h3 id="dragon-king-dragon-promoted-rook">Dragon King (Dragon, Promoted Rook)</h3>
<p><img src="https://pychess-variants.herokuapp.com/static/images/ShogiGuide/Dragons.png" alt="Dragons" /></p>
<p><img src="https://pychess-variants.herokuapp.com/static/images/ShogiGuide/Dragon.png" alt="DragonDiagram" /></p>
<p>The dragon king is a promoted rook, which gains the king’s moves on top of a rook’s. This is the most valuable piece in the game, excluding the king.</p>
<h3 id="dragon-horse-horse-promoted-bishop">Dragon Horse (Horse, Promoted Bishop)</h3>
<p><img src="https://pychess-variants.herokuapp.com/static/images/ShogiGuide/Horses.png" alt="Horses" /></p>
<p><img src="https://pychess-variants.herokuapp.com/static/images/ShogiGuide/Horse.png" alt="HorseDiagram" /></p>
<p>The dragon horse is a promoted bishop, which gains the king’s moves on top of a bishop’s. This is the second most valuable piece in the game, excluding the king.</p>
<p>Note: While some beginner chess players sometimes call the knight a horse, you can't make that mistake in shogi because they are two completely different pieces!</p>
<h3 id="gold-general-gold">Gold General (Gold)</h3>
<p><img src="https://pychess-variants.herokuapp.com/static/images/ShogiGuide/Golds.png" alt="Golds" /></p>
<p><img src="https://pychess-variants.herokuapp.com/static/images/ShogiGuide/Gold.png" alt="GoldDiagram" /></p>
<p>While the movement pattern of the gold general may seem confusing at first, the easiest way to remember it is that it moves <strong>one step orthogonally in any direction</strong>… or any of the three squares in front. In the internationalized set, the protrusions of the helmet (including the golden circle symbol) also point in all its directions.</p>
<p><strong>All promoted pieces move exactly like a gold.</strong> They are colored gold to emphasize that point.</p>
<h3 id="silver-general-silver">Silver General (Silver)</h3>
<p><img src="https://pychess-variants.herokuapp.com/static/images/ShogiGuide/Silvers.png" alt="Silvers" /></p>
<p><img src="https://pychess-variants.herokuapp.com/static/images/ShogiGuide/Silver.png" alt="SilverDiagram" /></p>
<p>While the movement pattern of the silver general may seem confusing at first, the easiest way to remember it is that it moves <strong>one step diagonally in any direction</strong>… or any of the three square in front. In the internationalized set, the protrusions of the helmet also point in all its directions.</p>
<h3 id="knight">Knight</h3>
<p><img src="https://pychess-variants.herokuapp.com/static/images/ShogiGuide/Knights.png" alt="Knights" /></p>
<p><img src="https://pychess-variants.herokuapp.com/static/images/ShogiGuide/Knight.png" alt="KnightDiagram" /></p>
<p>Similar to a chess knight, but can only move to the two spaces in front, i.e. it can move forward two and sideways one. Like the chess knight, this piece can jump over pieces.</p>
<h3 id="lance">Lance</h3>
<p><img src="https://pychess-variants.herokuapp.com/static/images/ShogiGuide/Lances.png" alt="Lances" /></p>
<p><img src="https://pychess-variants.herokuapp.com/static/images/ShogiGuide/Lance.png" alt="LanceeDiagram" /></p>
<p>A lance can only move forward, but in any number of squares (similar to a rook).</p>
<h3 id="pawn">Pawn</h3>
<p><img src="https://pychess-variants.herokuapp.com/static/images/ShogiGuide/Pawns.png" alt="Pawns" /></p>
<p><img src="https://pychess-variants.herokuapp.com/static/images/ShogiGuide/Pawn.png" alt="PawnDiagram" /></p>
<p>The pawn moves and captures by moving forward one square. This is different than the chess pawn. The pointy hat in the internationalized piece is a reminder.</p>
<h3 id="promoted-minor-pieces">Promoted minor pieces</h3>
<p><img src="https://pychess-variants.herokuapp.com/static/images/ShogiGuide/PSilvers.png" alt="PSilvers" /></p>
<p><img src="https://pychess-variants.herokuapp.com/static/images/ShogiGuide/PKnights.png" alt="PKnights" /></p>
<p><img src="https://pychess-variants.herokuapp.com/static/images/ShogiGuide/PLances.png" alt="PLances" /></p>
<p><img src="https://pychess-variants.herokuapp.com/static/images/ShogiGuide/Tokins.png" alt="Tokins" /></p>
<p>Unlike the dragon king and dragon horse, these do not have special names. The exception is the pawn, which is sometimes called by its Japanese name, <em>tokin</em>. As above, they move just like the gold general. Note that the kanji versions are all different stylistic variants of the character for gold.</p>
<h2 id="additional-rules">Additional Rules</h2>
<p><em>Drops</em> - The main exceptions to dropping a piece anywhere are with pawns. <br />
1) Pawns cannot be dropped in the same file as another one of your unpromoted pawns (promoted are okay). <br />
2) A pawn drop cannot checkmate, but checks are okay. <br />
3) The final exception applies to all minor pieces. You cannot drop a piece so that it can’t move, which usually means the last rank… or the last two ranks in the case of a knight.</p>
<p><em>Perpetual check</em> - Repeating check resulting in the same position four times in a row is a loss to the player causing perpetual check. In chess, this results in a draw.</p>
<p><em>Repetition</em> - Similar to the above, repeating the same position (including pieces in hand) results in a draw.</p>
<h2 id="notation">Notation</h2>
<p>There are different notations used, including one in Japanese. We use a form of western notation (Hodges notation) similar to chess.</p>
<h3 id="coordinates">Coordinates</h3>
<p>One noticeable difference is that the board coordinates are switched from chess. Files are numbered, and ranks are alphabetized. The origin is the bottom left for the white player. However, since most diagrams are oriented for the black player (first player), these will seem to originate from the top right. As an example, the white king is on square 5a.</p>
<p>In the Hoskings notation, only numbers are used. Instead of 5e, someone might say 55 (5th rank, 5th file). This is similar to the Japanese style, which also uses numbers. </p>
<h3 id="pieces">Pieces</h3>
<p>K = king</p>
<p>G = gold general</p>
<p>S = silver general</p>
<p>N = knight</p>
<p>L = lance</p>
<p>R = rook</p>
<p>B = bishop</p>
<p>P = pawn</p>
<p>+R or D = dragon king</p>
<p>+B or H = dragon horse</p>
<p>+S, +N, +L, +P for the other promoted pieces, respectively.</p>
<h3 id="symbols">Symbols</h3>
<ul>
<li>Drops are either indicated with a * (Hodges) or ‘ (Hosking). Here we use *, so a pawn drop on 5e would be P*5e.</li>
<li>Moves that end in promotion add a + at the end. A pawn promoting on 1c would be P1c+.</li>
<li>If you choose to not promote, instead an = goes at the end.</li>
<li>Checks and checkmates are not notated.</li>
</ul>
<h2 id="where-are-resources-where-i-can-learn-shogi">Where are resources where I can learn Shogi?</h2>
<p><a href="https://www.youtube.com/playlist?list=PL587865CAE59EB84A">Hidetchi’s YouTube channel</a> is an excellent place for beginner and intermediate players, alike. They are in English and very carefully break down the aspects of the game. Please note that like all other resources, you will need to be familiar with the kanji pieces in order to understand the videos (he also introduces the pieces in the beginner videos).</p>
<p><a href="http://www.81dojo.com">81dojo.com</a> is a site where you can play internationally against tougher players. However, it does not support correspondence play at this time.</p>
<h2 id="strategy">Strategy</h2>
<h3 id="piece-values">Piece Values</h3>
<p>There is no standard piece value in shogi unlike chess. However, it's important to keep in mind that values are not worth as much, as losing pieces isn't permanent and position is far more important. That said, there is a basic piece value system, but professional players have also made more specific values; Tanigawa and Satoh's are shown below.</p>
<table>
<thead>
<tr>
<th id="piece">Piece</th>
<th id="basic">Basic</th>
<th id="tanigawa">Tanigawa</th>
<th id="satoh">Satoh</th>
</tr>
</thead>
<tbody>
<tr>
<td>P</td>
<td>1</td>
<td>1</td>
<td>1</td>
</tr>
<tr>
<td>L</td>
<td>3</td>
<td>5</td>
<td>6</td>
</tr>
<tr>
<td>N</td>
<td>3</td>
<td>6</td>
<td>6</td>
</tr>
<tr>
<td>S</td>
<td>5</td>
<td>8</td>
<td>10</td>
</tr>
<tr>
<td>G</td>
<td>5</td>
<td>9</td>
<td>11</td>
</tr>
<tr>
<td>B</td>
<td>7</td>
<td>13</td>
<td>17</td>
</tr>
<tr>
<td>R</td>
<td>8</td>
<td>15</td>
<td>19</td>
</tr>
<tr>
<td><em>H</em></td>
<td></td>
<td>15</td>
<td>20</td>
</tr>
<tr>
<td><em>D</em></td>
<td></td>
<td>17</td>
<td>22</td>
</tr>
<tr>
<td><em>+P</em></td>
<td></td>
<td>12</td>
<td></td>
</tr>
<tr>
<td><em>+L</em></td>
<td></td>
<td>10</td>
<td></td>
</tr>
<tr>
<td><em>+N</em></td>
<td></td>
<td>10</td>
<td></td>
</tr>
<tr>
<td><em>+S</em></td>
<td></td>
<td>9</td>
<td></td>
</tr>
</tbody>
</table>
<h3 id="opening-principles">Opening Principles</h3>
<p>In general, there are two types of opening styles: <em>static rook</em> and <em>ranging rook</em>. In <em>static</em> rook, the rook does not move. Attacks, therefore, are directed on the right side of the board. In <em>ranging</em> rook, the rook moves to the left side (typically 2nd to 5th file), shifting the offense to that side of the board.</p>
<p>This difference matters because opening moves (called <em>joseki</em>) are classified as one of these two and can drastically change what kind of game is played. Certain static rook openings are meant for enemy static rook openings, while others are directed against ranging rook players.</p>
<h3 id="castles">Castles</h3>
<p>Castles in shogi are defensive formations that take multiple steps to form. Knowledge of castles is essential because weak king defenses can be quickly exploited with drops in your own territory. It is also important to know each castle’s strengths and weaknesses.</p>
<p>As above, castles depend on static / ranging rook matchup. In static rook openings, kings castle to the left. In ranging rook openings, kings castle to the right. There are many, many castles, many of which are covered in Hidetchi’s videos (see below). Here are three of the most important ones to know:</p>
<p><strong>Yagura (AKA Fortress)</strong></p>
<p><img src="https://pychess-variants.herokuapp.com/static/images/ShogiGuide/Yagura.png" alt="Yagura" /></p>
<p>The Yagura castle is one of the most powerful <em>static rook</em> castles, used against static rook. A mnemonic that may be useful for remembering the positions of the generals is “S G | G B,” or perhaps remembering that the king is guarded by the gold general, a strong defensive piece. Yagura is strong at its front, but weak on its edge and side.</p>
<p>For development of the Yagura, remember that generals always move diagonally to be most efficient. There are different josekis for developing the castle, but keep in mind that at any point white can attack and that you may have to react in between your developmental moves. The 24-move standard joseki is as follows:</p>
<ol>
<li>☗P-7f</li>
<li>☖P-8d</li>
<li>☗S-6h</li>
<li>☖P-d3</li>
<li>☗P-6f</li>
<li>☖S-6b</li>
<li>☗P-5f</li>
<li>☖P-5d</li>
<li>☗S-4h</li>
<li>☖S-4b</li>
<li>☗G-5h</li>
<li>☖G-3b</li>
<li>☗G-7h</li>
<li>☖K-4a</li>
<li>☗K-6i</li>
<li>☖P-7d</li>
<li>☗G-6g</li>
<li>☖G-5b </li>
<li>☗S-7g</li>
<li>☖S-3c</li>
<li>☗B-7i</li>
<li>☖B-3a</li>
<li>☗P-3f</li>
<li>☖P-4d</li>
</ol>
<p><strong>Mino Castle</strong></p>
<p><img src="https://pychess-variants.herokuapp.com/static/images/ShogiGuide/Mino.png" alt="Mino Castle" /></p>
<p>The Mino castle is a classic <em>ranging rook</em> castle, used against static rook. The king moves to the rook’s starting spot, the left gold moves up+right, and then the right silver moves up to form a “G G S” V formation. This castle is strong to the left, but weak to the front and edge.</p>
<p>Example opening for black using a 4th file rook:</p>
<ul>
<li>P76</li>
<li>B77 (protects the 86/8f square) </li>
<li>P66 (reject bishop exchange if white opens bishop up)</li>
<li>R68 (fourth file rook)</li>
<li>S78 </li>
<li>K48 -&gt; K38 -&gt; K28</li>
<li>S38 (silver up)</li>
<li>G58 (gold up-right)</li>
<li>P16 (creates escape route for the king)</li>
<li>P46</li>
</ul>
<p>After this point, you are free to exchange bishops and as many pieces as you want, including rooks to generate an attack.</p>
<p><strong>Anaguma</strong></p>
<p><img src="https://pychess-variants.herokuapp.com/static/images/ShogiGuide/Anaguma.png" alt="Anaguma" /></p>
<p>Anaguma (AKA “Bear in the hole”) is another <em>ranging rook</em> castle, and one of the most impenetrable in the game. However, it takes a long time to form.</p>
<p><strong>Double Wing Attack</strong></p>
<p>Not a castle per se, but a <em>static rook</em> opening. Both sides advance their rook pawns, leading to an exchange. Part of the joseki is that the silvers must defend the bishop pawns before the enemy pawn reaches its target. Of note, this is AlphaZero’s favorite opening, accounting for more than half of its openings as black.</p>
<h2 id="handicaps">Handicaps</h2>
<p>Unlike chess and more similar to go, handicaps are a big part of teaching and should not be treated as one player giving pity to another. They are a great way to learn the game, and there are even standard strategies for different types. In Shogi, handicap games are fairly standard, and the most common setups are described below.</p>
<p>While normal games have black (<em>gote</em>) go first, <strong>white goes first in handicap games</strong>. White is called <em>uwate</em> while black is called <em>shitate</em>. Despite the handicap, the material difference can be overcome because of drops. And since there are fewer powerful pieces, black/<em>shitate</em> loses a lot more when a piece a captured.</p>
<table>
<thead>
<tr>
<th id="name">Name</th>
<th id="pieces_omitted">pieces omitted</th>
</tr>
</thead>
<tbody>
<tr>
<td>Lance</td>
<td>left lance</td>
</tr>
<tr>
<td>Bishop</td>
<td>bishop</td>
</tr>
<tr>
<td>Rook</td>
<td>rook</td>
</tr>
<tr>
<td>Rook–Lance</td>
<td>rook, left lance</td>
</tr>
<tr>
<td>2-Piece</td>
<td>rook, bishop</td>
</tr>
<tr>
<td>4-Piece</td>
<td>rook, bishop, both lances</td>
</tr>
<tr>
<td>6-Piece</td>
<td>rook, bishop, both lances, both knights</td>
</tr>
<tr>
<td>8-Piece</td>
<td>rook, bishop, both lances, both knights, both silvers</td>
</tr>
<tr>
<td>9-Piece</td>
<td>rook, bishop, both lances, both knights, both silvers, left gold</td>
</tr>
<tr>
<td>10-Piece</td>
<td>rook, bishop, both lances, both knights, both silvers, both golds</td>
</tr>
</tbody>
</table>