<h1 id="shogihttpsgithubcomgbtamipychess-variantsblobmasterstaticiconsshogisvg-shogi"><img src="https://www.pychess.org/static/icons/shogi.svg" alt="Shogi" /> Shogi</h1>
<p><img src="https://www.pychess.org/static/images/ShogiGuide/Boards.png" alt="Boards" /></p>
<p><em>Shogi</em> (将棋), ou Xadrez japonês é um jogo de tabuleiro classico proveniente do Japão e descendente do Chaturanga, o mesmo antepassado do Xadrez. A sua forma moderna já existe desde o século XVI. O jogo é muito popular no Japão, país este onde o Shogi é mais jogado do que o Xadrez e onde existe um lado profissional. O jogo em si é ao mesmo tempo semelhante e muito distinto do Xadrez, com a adição da colocação de peças que são capturadas de volta ao tabuleiro.</p>
<h2 id="porquê-aprender-shogi">Porquê aprender Shogi?</h2>
<p>Se és grande fã de Xadrez, vale mesmo apena experimentar Shogi. Enquanto o seu ritmo é mais lento e longo do que o Xadrez, este também é mais dinâmico e complexo, oferecendo uma experiência completamente diferente. O Shogi está entre o Xadrez e o GO em termos de complexidade, mas por causa disto não tenha receio de experimentá-lo. Tal como outras variantes do Xadrez, ao melhorar a sua habilidade no Shogi isto pode também levar ao melhoramento no Xadrez, abrindo novas portas a novas maneiras de pensar! <a href="https://chessbase.in/news/peter-heine-nielsen-on-shogi">Veja aqui com mais detalhe(Inglês)</a></p>
<h2 id="regras">Regras</h2>
<p>As regras são muito semelhantes ao Xadrez, daí iremos focar-nos apenas nas suas diferenças. O Shogi é jogado num tabuleiro de 9x9 onde cada Jogador faz o seu lance a partir de turnos e o seu objetivo é dar Xeque-Mate ao Rei adversário. O jogador das Pretas, ou <em>sente</em> (先手 primeiro jogador), começa primeiro, de seguida o jogador das Brancas ou <em>gote</em> (後手 segundo jogador), o oposto do Xadrez. Estas cores são meramente arbitrárias e não refletem a cor original das peças. </p>
<p>Uma diferença significativa com o Xadrez mas semelhante à variante Crazyhouse é de que as peças capturadas podem ser colocadas no tabuleiro como lance. Existem algumas restrições quanto à colocação de peões, que irão ser mostradas mais à frente, excluindo isto, todas as peças podem ser colocadas em qualquer casa. Além disso, quase todas as peças podem ser promovidas. As peças são promovidas quando entram na zona de promoção / território inimigo (últimas três linhas) ou movendo uma peça que já esteja em território inimigo. A peça irá ser então virada. Os peões promovidos que são capturados obtém a sua forma inicial quando ficam na mão do adversário.</p>
<h2 id="peças">Peças</h2>
<p>Neste guia iremos usar a representação internacional das peças. Tradicionalmente são usados caracteres chineses, <em>kanji</em>, e as peças geralmente são representadas na forma de 2-kanji, e em 1-kanji (forma abreviada). Desta forma, algum conhecimento de kanji é necessário se pretende usar todos os recursos.</p>
<p>Regra geral, as peças de Shogi estão muito mais restritas do que as peças de Xadrez. As peças menores (i.e. tudo menos a Torre e o Bispo) movimentam-se na maior parte das vezes para a frente e muito pouco para trás.</p>
<p>Acerca das peças promovidas, na maioria das representações, incluindo as que são usadas neste site, são representadas com a cor vermelha. Existem duas regras que irão facilitar na aprendizagem de todas as peças. Todas as peças <em>menores</em> movimentam-se como um General Dourado quando são promovidas. O General Dourado, por sua vez não pode ser promovido. De seguida, as duas peças <em>maiores</em> (Torre e Bispo), ambas se podem movimentar como um Rei para além dos seus movimentos originals quando promovidas. O Rei não pode ser promovido.</p>
<h3 id="rei">Rei</h3>
<p><img src="https://www.pychess.org/static/images/ShogiGuide/BlackKings.png" alt="BlackKings" /> </p>
<p><img src="https://www.pychess.org/static/images/ShogiGuide/WhiteKings.png" alt="WhiteKings" /></p>
<p><img src="https://www.pychess.org/static/images/ShogiGuide/King.png" alt="KingDiagram" /></p>
<p>O rei movimenta-se exatamente como no Xadrez: uma casa em qualquer direção. Na representação em kanji, o rei com um ponto, 玉將 gyokushō é o rei das pretas, enquanto que o Rei sem ponto, 王將 ōshō é o rei das brancas.</p>
<p>Esta é a única peça cuja representação internacional é mantida na sua forma original em kanji, 王. Nesta representação, ambas as cores pretas e brancas são representadas na peça em si. A representação em madeira tem uma barra abaixo do caracter 王. </p>
<h3 id="torre">Torre</h3>
<p><img src="https://www.pychess.org/static/images/ShogiGuide/Rooks.png" alt="Rooks" /></p>
<p><img src="https://www.pychess.org/static/images/ShogiGuide/Rook.png" alt="RookDiagram" /></p>
<p>A Torre movimenta-se exatamente como no xadrez: quaisquer número de casas na ortogonal. A representação internacional é um Carrinho, a que se refere ao nome japonês "Carrinho Voador". Em inglês o nome da Torre (Rook) é baseado na palavra persa para Carrinho. Esta é a peça não promovida mais valiosa, excluindo o Rei.</p>
<h3 id="bispo">Bispo</h3>
<p>O Bispo movimenta-se exatamente como no Xadrez: quaisquer número de casas na diagonal. A sua representação internacional tem um chapéu tradicional de um oficial Japonês. Esta é a segunda peça não promovida mais valiosa do jogo, excluindo o Rei.</p>
<p><img src="https://www.pychess.org/static/images/ShogiGuide/Bishops.png" alt="Bishops" /></p>
<p><img src="https://www.pychess.org/static/images/ShogiGuide/Bishop.png" alt="BishopDiagram" /></p>
<h3 id="dragão-rei-dragão-torre-promovida">Dragão Rei (Dragão, Torre Promovida)</h3>
<p><img src="https://www.pychess.org/static/images/ShogiGuide/Dragons.png" alt="Dragons" /></p>
<p><img src="https://www.pychess.org/static/images/ShogiGuide/Dragon.png" alt="DragonDiagram" /></p>
<p>O Dragão-Rei é uma Torre promovida, que obtém os mesmos movimentos do Rei adicionando-os aos movimentos da Torre. Esta é a peça mais valiosa do jogo, excluindo o Rei.</p>
<h3 id="dragão-cavalo-cavalo-bispo-promovido">Dragão-Cavalo (Cavalo, Bispo Promovido)</h3>
<p><img src="https://www.pychess.org/static/images/ShogiGuide/Horses.png" alt="Horses" /></p>
<p><img src="https://www.pychess.org/static/images/ShogiGuide/Horse.png" alt="HorseDiagram" /></p>
<p>O Dragão-Cavalo é um bispo promovido, que tem os mesmos movimentos do Rei para além do Bispo. Esta é a segunda peça mais valiosa no jogo, excluindo o Rei.</p>
<p>Nota: Não confundir esta peça com o cavalo do Xadrez.</p>
<h3 id="general-dourado-ouro">General Dourado (Ouro)</h3>
<p><img src="https://www.pychess.org/static/images/ShogiGuide/Golds.png" alt="Golds" /></p>
<p><img src="https://www.pychess.org/static/images/ShogiGuide/Gold.png" alt="GoldDiagram" /></p>
<p>O movimento do General-Dourado pode parecer confuso à primeira, mas a maneira mais fácil de lembrar é pensando que este se <strong>move uma casa na ortogonal em qualquer direção</strong> ou para as três casas da frente. Na sua representação internacional, as saliências no seu capacete (incluindo o símbolo dourado circular) também apontam para todas as possíveis direções.</p>
<p><strong>Todas as peças menores promovidas movimentam-se exatamente como o General Dourado.</strong></p>
<h3 id="general-prateado-prata">General Prateado (Prata)</h3>
<p><img src="https://www.pychess.org/static/images/ShogiGuide/Silvers.png" alt="Silvers" /></p>
<p><img src="https://www.pychess.org/static/images/ShogiGuide/Silver.png" alt="SilverDiagram" /></p>
<p>O movimento do General-Prateado pode parecer confuso à primeira, mas a maneira mais fácil de lembrar é pensando que este se <strong>move uma casa na diagonal em qualquer direção</strong> ou para as três casas da frente. Na sua representação internacional, as saliências no seu capacete também apontam para todas as possíveis direções.</p>
<h3 id="cavalo">Cavalo</h3>
<p><img src="https://www.pychess.org/static/images/ShogiGuide/Knights.png" alt="Knights" /></p>
<p><img src="https://www.pychess.org/static/images/ShogiGuide/Knight.png" alt="KnightDiagram" /></p>
<p>Semelhante ao cavalo do Xadrez, mas este só se movimenta para as duas casas em frente, i.e. movimenta-se para a frente duas casas e uma para o lado. Tal como o Cavalo do Xadrez, esta pode saltar outras peças.</p>
<h3 id="lança">Lança</h3>
<p><img src="https://www.pychess.org/static/images/ShogiGuide/Lances.png" alt="Lances" /></p>
<p><img src="https://www.pychess.org/static/images/ShogiGuide/Lance.png" alt="LanceeDiagram" /></p>
<p>A Lança só se movimenta para a frente, mas em qualquer número de casas (semelhante à Torre).</p>
<h3 id="peão">Peão</h3>
<p><img src="https://www.pychess.org/static/images/ShogiGuide/Pawns.png" alt="Pawns" /></p>
<p><img src="https://www.pychess.org/static/images/ShogiGuide/Pawn.png" alt="PawnDiagram" /></p>
<p>O peão movimenta-se e captura uma casa em frente. Este é diferente do Peão do Xadrez. O seu chapéu potiagudo na representação internacional é um lembrete do seu movimento.</p>
<h3 id="peças-menores-promovidas">Peças menores promovidas</h3>
<p><img src="https://www.pychess.org/static/images/ShogiGuide/PSilvers.png" alt="PSilvers" /></p>
<p><img src="https://www.pychess.org/static/images/ShogiGuide/PKnights.png" alt="PKnights" /></p>
<p><img src="https://www.pychess.org/static/images/ShogiGuide/PLances.png" alt="PLances" /></p>
<p><img src="https://www.pychess.org/static/images/ShogiGuide/Tokins.png" alt="Tokins" /></p>
<p>Ao contrário do Dragão-Rei e do Dragão-Cavalo, estas não têm designações diferentes. À exceção do Peão, que por vezes é denominado de <em>tokin</em> o seu nome japonês. Como já foi explicado acima todas estas peças se movem como um General-Dourado. De notar que as versões em kanji têm representações diferentes para os caracteres do General-Dourado.</p>
<h2 id="outras-regras">Outras Regras</h2>
<p><em>Colocações</em> - As únicas exceções sáo relativas aos peões.<br />
1) Os peões não podem ser colocados na mesma coluna dos seus Peões não promovidos (Podem ser colocados com peões promovidos).<br />
2) Os Peões colocados não podem dar Xeque-Mate, mas podem dar Xeque.<br />
3) A última exceção é relativa às peças menores. Não podem ser colocadas peças que não se podem movimentar posteriormente, geralmente na última linha… ou nas últimas duas linhas no caso do Cavalo.</p>
<p><em>Xeque Perpétuo</em> - Repetições de Xeque que resultem na mesma posição quatro vezes seguidas dará derrota ao jogador que fez com que o Xeque perpétuo fosse possível. No Xadrez, isto é considerado empate. </p>
<p><em>Repetição</em> - À semelhança da regra acima descrita, a repetição da mesma posição (incluindo as peças em mão) dará empate.</p>
<p><em>Relógio</em> - Em Shogi é usado um relógio de byo-yomi. Quando o relógio principal do jogador chega ao fim, este entra em byo-yomi. Se tiver definido a 30 segundos então este jogador terá 30 segundos para efetuar o seu lance e a partir dai terá os mesmos 30 segundos para os próximos lances, se estes expirarem então será declarada derrota por tempo.</p>
<h2 id="notação">Notação</h2>
<p>Existem várias notações para Shogi, incluindo uma japonesa. Neste site usamos a notação ocidental (Notação de Hodge) semelhante ao Xadrez.</p>
<h3 id="coordenadas">Coordenadas</h3>
<p>Uma diferença notável dá-se ao facto das coordenadas do tabuleiro serem o oposto do Xadrez. As colunas são numeradas enquanto que as linhas têm alfabeto. A coordenada de origem do tabuleiro existe no canto inferior esquerdo do jogador das brancas. No entanto, como a maioria dos diagramas estão orientados para o jogador das Pretas (o primeiro a começar), estes irão parecer ter origem no canto superior direito. Por exemplo, o Rei Branco está na casa 5a. </p>
<p>Na notação de Hoskings, são usados apenas números. Em vez de 5e, este é denominado de 55 (5ª linha, 5ª coluna). Este é semelhante ao estilo japonês que também usa números.</p>
<h3 id="peças-1">Peças</h3>
<p>K = king (Rei)</p>
<p>G = gold general (General Dourado)</p>
<p>S = silver general (General Prateado)</p>
<p>N = knight (Cavalo)</p>
<p>L = lance (Lança)</p>
<p>R = rook (Torre)</p>
<p>B = bishop (Bispo)</p>
<p>P = pawn (Peão)</p>
<p>+R ou D = dragon king (Dragão-Rei)</p>
<p>+B ou H = dragon horse (Dragão-Cavalo)</p>
<p>+S, +N, +L, +P para todas as outras peças promovidas, respetivamente.</p>
<h3 id="símbolos">Símbolos</h3>
<ul>
<li>As colocações são indicadas com um * (Hodges) ou ‘ (Hosking). Aqui usamos o *, portanto um Peão colocado em 5e será P*5e.</li>
<li>Lances que resultem em promoção irão acabar com um +. Um Peão promovida em 1c será P1c+.</li>
<li>Caso optar por não promver uma peça, um = irá ser adicionado no fim.</li>
<li>Xeques e Xeque-Mates não têm notação.</li>
</ul>
<h2 id="recursos-para-aprendizagem-de-shogi">Recursos para aprendizagem de Shogi</h2>
<p><a href="https://www.youtube.com/playlist?list=PL587865CAE59EB84A">Hidetchi’s YouTube channel</a> é um sitio excelente para um iniciante e um jogador intermédio. Este canal está em Inglês e demonstra vários aspetos do jogo. De notar que como todos os outros recursos, irás necessitar de conhecer as peças em kanji para perceber os vídeos (Ele também introduz as peças nos videos para iniciantes).</p>
<p><a href="http://www.81dojo.com">81dojo.com</a> é um site internacional onde podes desafiar grandes jogadores. No entanto este não suporta jogos por correspondência até ao momento.</p>
<h2 id="estratégia">Estratégia</h2>
<h3 id="valores-das-peças">Valores das Peças</h3>
<p>Não existem valores por defeito dos valores das peças em Shogi ao contrário do Xadrez. No entanto é importante notar que os valores variam imenso, pelo facto da perca de peças não ser permanente e da posição ser muito mais importante. Dito isto, existe um sistema de valor básico para as peças, mas alguns jogadores profissionais também deram o seu valor para cada peça; Tanigawa e Satoh são mostrados em baixo.</p>
<table>
<thead>
<tr>
<th id="peça">Peça</th>
<th id="base">Base</th>
<th id="tanigawa">Tanigawa</th>
<th id="satoh">Satoh</th>
</tr>
</thead>
<tbody>
<tr>
<td>P</td>
<td>1</td>
<td>1</td>
<td>1</td>
</tr>
<tr>
<td>L</td>
<td>3</td>
<td>5</td>
<td>6</td>
</tr>
<tr>
<td>N</td>
<td>3</td>
<td>6</td>
<td>6</td>
</tr>
<tr>
<td>S</td>
<td>5</td>
<td>8</td>
<td>10</td>
</tr>
<tr>
<td>G</td>
<td>5</td>
<td>9</td>
<td>11</td>
</tr>
<tr>
<td>B</td>
<td>7</td>
<td>13</td>
<td>17</td>
</tr>
<tr>
<td>R</td>
<td>8</td>
<td>15</td>
<td>19</td>
</tr>
<tr>
<td><em>H</em></td>
<td></td>
<td>15</td>
<td>20</td>
</tr>
<tr>
<td><em>D</em></td>
<td></td>
<td>17</td>
<td>22</td>
</tr>
<tr>
<td><em>+P</em></td>
<td></td>
<td>12</td>
<td></td>
</tr>
<tr>
<td><em>+L</em></td>
<td></td>
<td>10</td>
<td></td>
</tr>
<tr>
<td><em>+N</em></td>
<td></td>
<td>10</td>
<td></td>
</tr>
<tr>
<td><em>+S</em></td>
<td></td>
<td>9</td>
<td></td>
</tr>
</tbody>
</table>
<h3 id="aberturas">Aberturas</h3>
<p>De forma geral, existem dois tipos de aberturas: <em>Torre Estática</em> e <em>Torre Enfurecida</em>. Na <em>Torre Estática</em>, a Torre não se movimenta. Os ataques são direcionados para o lado direito do tabuleiro. Na <em>Torre Enfurecida</em>, a Torre movimenta-se para o lado esquerdo (tipicamente da 2ª à 5ª coluna), mudando o ataque para aquele lado do tabuleiro.</p>
<p>Esta diferença é importante pelo facto dos lances na abertura (chamados <em>joseki</em>) serem classificados como um destes dois e podem mudar o tipo de jogo que está a ser feito. Algumas aberturas de Torres Estáticas são feitas contra Torres Estáticas adversárias, enquanto outras são direcionadas para jogadores que prefiram Torres Enfurecidas.</p>
<h3 id="roques">Roques</h3>
<p>Os roques em Shogi são formações defensivas que levam algum tempo a se formar. Conhecer certos tipos de roque é essencial pelo facto de um Rei com uma defesa fragilizada poder ser facilmente explorado com peças colocadas no seu território. De notar que também é importante conhecer os prós e contras dos vários tipos de Roque.</p>
<p>Como já foi dito, os roques dependem das Torres Estáticas e Enfurecidas. Nas aberturas com Torres Estáticas, os Reis protegem-se para a esquerda. Nas aberturas com Torres Enfurecias, os reis protegem-se no lado direito. Existem várias formas de efetuar o roque, que são explicads nos videos de Hidetchi em Inglês (Veja abaixo).<br />
Aqui estão três tipos de roque mais importantes de se saber:</p>
<p><strong>Yagura (AKA Fortress) / Fortaleza</strong></p>
<p><img src="https://www.pychess.org/static/images/ShogiGuide/Yagura.png" alt="Yagura" /></p>
<p>O Roque Yagura é um dos mais poderosos Roques de <em>Torre Estática</em>, usado contra Torre Estática adversária. Um lembrete que pode ser útil para se lembrar destas posições é lembrar-se das posições dos generais "S G | G B," ou talvez de se lembrar que o Rei é protegido por um General-Dourado, uma peça extremamente forte. O Yagura é forte na frente, mas fraco nos lados.</p>
<p>A fim de efetuar o Yagura, lembre-se que os generals que se movimentam na diagonal são mais eficientes. Existem vários tipos de josekis para diferentes roques, mas lembre-se que até um certo ponto, as brancas poderão atacar e irás ter de reagir entre os teus lances de Yagura. Os 24 lances típicos de joseki são:</p>
<ol>
<li>☗P-7f</li>
<li>☖P-8d</li>
<li>☗S-6h</li>
<li>☖P-d3</li>
<li>☗P-6f</li>
<li>☖S-6b</li>
<li>☗P-5f</li>
<li>☖P-5d</li>
<li>☗S-4h</li>
<li>☖S-4b</li>
<li>☗G-5h</li>
<li>☖G-3b</li>
<li>☗G-7h</li>
<li>☖K-4a</li>
<li>☗K-6i</li>
<li>☖P-7d</li>
<li>☗G-6g</li>
<li>☖G-5b </li>
<li>☗S-7g</li>
<li>☖S-3c</li>
<li>☗B-7i</li>
<li>☖B-3a</li>
<li>☗P-3f</li>
<li>☖P-4d</li>
</ol>
<p><strong>Roque Mino</strong></p>
<p><img src="https://www.pychess.org/static/images/ShogiGuide/Mino.png" alt="Mino Castle" /></p>
<p>O Roque Mino é um roque clássico de <em>Torre Enfurecida</em>, usado contra Torre Estática adversária. O Rei é posto na posição inicial da torre, o General Dourado da esquerda movimenta-se uma casa para a frente e uma para a direita, e após isto o General-Prateado é posto na forma de "G G S" formação V. Este Roque é forte na esquerda, mas fraco em frente e na beira. </p>
<p>Exemplo de abertura para as pretas usando a 4ª coluna da torre:</p>
<ul>
<li>P76</li>
<li>B77 (protects the 86/8f square) </li>
<li>P66 (reject bishop exchange if white opens bishop up)</li>
<li>R68 (fourth file rook)</li>
<li>S78 </li>
<li>K48 -&gt; K38 -&gt; K28</li>
<li>S38 (silver up)</li>
<li>G58 (gold up-right)</li>
<li>P16 (creates escape route for the king)</li>
<li>P46</li>
</ul>
<p>Após estes lances, estará livre de trocar de Bispos e outras peças que desejar, incluindo Torres para começar um ataque.</p>
<p><strong>Anaguma</strong></p>
<p><img src="https://www.pychess.org/static/images/ShogiGuide/Anaguma.png" alt="Anaguma" /></p>
<p>Anaguma (“Urso no buraco”) é um outro tipo de Roque com <em>Torre Enraivecida</em>, e um dos mais sólidos do jogo, no entanto este leva imenso tempo a ser formado.</p>
<p><strong>Ataque duplo de Flancos</strong></p>
<p>Não é um Roque, mas é uma abertura de <em>Torre Estática</em>. Ambos os lados avançam os seus Peões da Torre, causando uma troca. Grande parte do joseki é de que os Generais-Prateados devem defender os Peões dos Bispos antes que os Peões inimigos atingem o seu objetivo. De notar que isto é uma abertura favorita do AlphaZero, com mais de metade das suas aberturas usadas nas Pretas.</p>
<h2 id="desvantagens">Desvantagens</h2>
<p>Ao contrário do Xadrez e com grande semelhança ao GO, os jogos com desvantagem têm um grande impacto no ensino e não devem ser considerados como um jogador a ter dó do outro. Estas desvantagens são uma grande maneira de aprender o jogo, e até existem estratégias para estes diferentes tipos. Em Shogi, jogos com desvantagem são comuns, e as configurações mais populares estão descritas abaixo.</p>
<p>Enquanto que numa partida normal as pretas (<em>gote</em>) começam primeiro, <strong>As brancas começam primeiro num jogo com desvantagem</strong>. As brancas têm o nome de <em>uwate</em> enquanto as pretas se denominam de <em>shitate</em>. Esta desvantagem pode ser recuperada pelo facto de se poder colocar peças capturadas. E pelo facto de não existirem muitas peças poderosas, As pretas/<em>shitate</em> são derrotadas muitas vezes quando as peças são capturadas.</p>
<table>
<thead>
<tr>
<th id="nome">Nome</th>
<th id="peças_omitidas">peças omitidas</th>
</tr>
</thead>
<tbody>
<tr>
<td>Lança</td>
<td>Lança da Esquerda</td>
</tr>
<tr>
<td>Bispo</td>
<td>bispo</td>
</tr>
<tr>
<td>Torre</td>
<td>Torre</td>
</tr>
<tr>
<td>Torre–Lança</td>
<td>Torre, Lança da Esquerda</td>
</tr>
<tr>
<td>2-Peças</td>
<td>Torre, Bispo</td>
</tr>
<tr>
<td>4-Peças</td>
<td>Torre, Bispo, Ambas as Lanças</td>
</tr>
<tr>
<td>6-Peças</td>
<td>Torre, Bispo, Ambas as Lanças, Ambos os Cavalos</td>
</tr>
<tr>
<td>8-Peças</td>
<td>Torre, Bispo, Ambas as Lanças, Ambos os Cavalos, Ambos Generais Prateados</td>
</tr>
<tr>
<td>9-Peças</td>
<td>Torre, Bispo, Ambas as Lanças, Ambos os Cavalos, Ambos Generais Prateados, General-Dourado da Esquerda</td>
</tr>
<tr>
<td>10-Peças</td>
<td>Torre, Bispo, Ambas as Lanças, Ambos os Cavalos, Ambos Generais Prateados, Ambos Generais Dourados</td>
</tr>
</tbody>
</table>