<h1 id="shogi-variants">SHOGI VARIANTS</h1>
<p>Currently, two shogi variants are available for play. They are both played on a 5x5 board. For the purposes of rules, it is assumed that the reader is already familiar with shogi rules. If not, please see that first.</p>
<h1 id="minishogi">Minishogi</h1>
<p>Minishogi is essentially shogi on a 5x5 board. The game was invented (or rediscovered) around 1970 by Shigenobu Kusumoto of Osaka, Japan.</p>
<h2 id="rules">Rules</h2>
<p>The starting setup is as above. Unlike standard shogi, there is no knight or lance. There is only one pawn, a bishhop and rook, and one of each general. Promotion is only done in the last rank. </p>
<h2 id="strategy">Strategy</h2>
<p>Due to the smaller board size, the rook and bishop are not as dominant as standard shogi. However, their promotions are still very much threatening.</p>
<h1 id="kyoto-shogi">Kyoto Shogi</h1>
<p>Kyoto shogi is also played on a 5x5 board, but is quite different than standard shogi. It was invented by Tamiya Katsuya c. 1976. The main distinction is that each piece flips sides to a completely different piece with each move. Many of the piece combinations are puns relating to Kyoto. For example, the lance (kyo) is paired with the tokin (to), which makes "Kyoto."</p>
<h2 id="rules-1">Rules</h2>
<p>The starting setup is as above. Unlike in shogi, each piece (except the King) must flip to the other side fater moving. All pieces represent a pair of pieces. Every piece in standard shogi is used except the dragon king and dragon horse.</p>
<table>
<thead>
<tr>
<th id="original_piece">Original piece</th>
<th id="other_side">Other side</th>
</tr>
</thead>
<tbody>
<tr>
<td>Tokin</td>
<td>Lance</td>
</tr>
<tr>
<td>Silver</td>
<td>Bishop</td>
</tr>
<tr>
<td>Gold</td>
<td>Knight</td>
</tr>
<tr>
<td>Pawn</td>
<td>Rook</td>
</tr>
</tbody>
</table>
<p>Additional rules:</p>
<ul>
<li>When dropping a piece, you may choose <em>either</em> side to drop.</li>
<li>You <em>can</em> move a piece such that it can't move until it's captured (this is illegal in standard shogi).</li>
<li>Reptition: Repeating the same position results in a draw.</li>
</ul>
<h2 id="strategy-1">Strategy</h2>
<p>Still being worked out -- please feel free to offer advice as you find it!</p>