<h1 id="shogihttpsgithubcomgbtamipychess-variantsblobmasterstaticiconsshogisvg-sógi-shogi"><img src="https://www.pychess.org/static/icons/shogi.svg" alt="Shogi" /> Sógi (Shogi)</h1>
<p><img src="https://www.pychess.org/static/images/ShogiGuide/Boards.png" alt="Boards" /></p>
<p>A sógi (将棋), avagy a japán sakk egy klasszikus táblajáték, mely Japánban őshonos és a <a href="https://hu.wikipedia.org/wiki/Csaturanga">csaturangából</a> eredeztethető, akárcsak a sakk. Modern formájában körülbelül a 16. századtól van jelen. A játék nagyon népszerű Japánban, ahol többen játszák, mint a nyugati sakkot, és a professzionális sógi is virágzó. A játék maga egyszerre hasonló és nagyon más is, mint a nyugati sakk, aztáltal, hogy a leültött bábukat vissza lehet helyezni a táblára.</p>
<h2 id="miért-érdemes-megtanulni-sógizni">Miért érdemes megtanulni sógizni?</h2>
<p>Ha élvezed a sakkot, akkor a sógit határozottan megéri kipróbálni. Miközben egy kicsit lassabb tempójú és hosszabbra nyúló játék, mint a sakk, a sógi dinamikusabb és a komplexebb, egészen másféle élményt nyújt. A sógi a sakk és a go között helyezkedik el komplexitás tekintetében, de ne hagyd, hogy ez elriasszon. Ahogyan más sakkvariánsok esetében is, a sógiban szerzett tapasztalat is segíthet fejleszteni a képességeidet a sakkban, és egyben új gondolkodásmódot is adhat. <a href="https://chessbase.in/news/peter-heine-nielsen-on-shogi">Erről többet itt olvashatsz angol nyelven.</a></p>
<h2 id="szabályok">Szabályok</h2>
<p>A szabályok hasonlóak a sakkhoz, így ez az útmutató a különbségekre fókuszál. A sógit egy 9x9-es táblán játszák. A játékosok felváltva lépnek, a cél itt is az ellenfél királyának mattolása. A sakkal ellentétben a "sötét" játékos (melynek neve <em>sente</em> (ejtsd: szente) 先手 , első játékos) lép először, aztán a "világos" játékos (melynek neve <em>gote</em> 後手 , második játékos). A színek itt csak jelzésértékűek, nem a bábuk valódi színét tűkrözik.</p>
<p>Jelentős különbség a sakkhoz képest, de hasonló a Crazyhouse variánshoz, hogy a leütött bábukat vissza lehet helyezni a táblára egy-egy lépés helyett. Vannak behozási szabályok (különösen a gyalogok esetében, amiről később lesz szó), de általánosságban elmondható, hogy bárhova el lehet helyezni a bábukat. Továbbá, szinte minden bábut elő lehet léptetni. A bábuk akkor léptethetők elő, amikor elérik az előléptetési zónát (az utolsó három sort), vagy már ebben a zónában/zónából lépnek. A bábu ekkor átfordul (az előléptetett felét mutatva). A leütött bábuk az eredeti (nem előléptetett) formájukban kerülnek a játékoshoz, illetve így is helyezhetők vissza a táblára.</p>
<h2 id="bábuk">Bábuk</h2>
<p>Ez az útmutató a nemzetközi bábukészleten alapul. A tradicionális készletek a kínaiktól átvett írásjegyeket, azaz kandzsikat használnak, és a bábukészletek vagy 2 kandzsival, vagy rövidített formában 1 kandzsival vannak ellátva. Jelenleg a kandzsik ismerete szükséges ahhoz, hogy minden angol nyelvű forrást fel tudj használni a tanuláshoz. (Megjegyzés: ezek legtöbbje magyar nyelven nem is elérhető).</p>
<p>Általánosságban elmondható, hogy a sógibábuk mozgása sokkal korlátozottabb, mint a sakkbábuké. A könnyűtisztek inkább előrefelé mozoghatnak, hátrafelé sokkal kevésbé.</p>
<p>Az előléptetett bábukat a legtöbb készlet pirossal különbözteti meg (többek között az ezen az oldalon használtak is). Két alapvető szabály van, ami segít abban, hogy a bábuk megtanulása sokkal könnyebb legyen. A gyalogok és a könnyűtisztek aranytábornokká lépnek elő. Ebből következik, hogy az aranytábornok már nem léptethető elő. A nehéztisztek (a bástya és a futó) a király lépéslehetőségeit is megkapják előléptetés után (az eredeti lépéseinken felül). A király természetesen nem léptethető elő.</p>
<h3 id="király">Király</h3>
<p><img src="https://www.pychess.org/static/images/ShogiGuide/BlackKings.png" alt="BlackKings" /> </p>
<p><img src="https://www.pychess.org/static/images/ShogiGuide/WhiteKings.png" alt="WhiteKings" /></p>
<p><img src="https://www.pychess.org/static/images/ShogiGuide/King.png" alt="KingDiagram" /></p>
<p>A király pontosan ugyanúgy lép, mint a sakkban: egy lépés bármelyik irányba. A kandzsi készleteknél a "vonással" jelölt király az "alacsonyabb rangú játékos" királya (玉將 gyokushō), a sötét játékosé. A "vonás" nélküli király a "magasabb rangú játékos" királya, a világos játékosé.</p>
<p>A nemzetközi készletben ez az egyetlen bábu, amely megtartotta az eredeti, kandzsival jelzett formáját. Ebben a készletben a "sötét" játékos bábuja sötét, a "világos" játékos bábuja pedig világos hátterű. A famintázatú készletben ennek megfelelően egy sötés vagy világos vonal látható a 王 kandzsi alatt.</p>
<h3 id="bástya-szekér">Bástya (Szekér)</h3>
<p><img src="https://www.pychess.org/static/images/ShogiGuide/Rooks.png" alt="Rooks" /></p>
<p><img src="https://www.pychess.org/static/images/ShogiGuide/Rook.png" alt="RookDiagram" /></p>
<p>A bástya pontosan ugyanúgy mozog, mint a sakkban: tetszőleges számú mezőt függőlegesen vagy vízszintesen. A nemzetközi bábu egy szekeret ábrázol, ami a bábu eredeti japán nevére utal: "égi szekér". Ez a legértékesebb alapbábu a királyt leszámítva.</p>
<h3 id="futó">Futó</h3>
<p><img src="https://www.pychess.org/static/images/ShogiGuide/Bishops.png" alt="Bishops" /></p>
<p><img src="https://www.pychess.org/static/images/ShogiGuide/Bishop.png" alt="BishopDiagram" /></p>
<p>A futó pontosan ugyanúgy mozog, mint a sakkban: akárhány mezőt átlósan. A nemzetközi bábu egy egy tradicionálisan kalapot ábrázol, amit a japán tisztek hordtak. Ez a második legértékesebb alapbábu a királyt leszámítva.</p>
<h3 id="sárkánykirály-sárkány-előléptetett-bástya">Sárkánykirály (Sárkány, Előléptetett bástya)</h3>
<p><img src="https://www.pychess.org/static/images/ShogiGuide/Dragons.png" alt="Dragons" /></p>
<p><img src="https://www.pychess.org/static/images/ShogiGuide/Dragon.png" alt="DragonDiagram" /></p>
<p>A sárkánykirály az előléptetett bástya, mely megkapja a király lépéslehetőségeit is a bástya lépésein felül. Ez a legértékesebb bábu a királyt leszámítva.</p>
<h3 id="sárkányló-ló-előléptetett-futó">Sárkányló (Ló, Előléptetett futó)</h3>
<p><img src="https://www.pychess.org/static/images/ShogiGuide/Horses.png" alt="Horses" /></p>
<p><img src="https://www.pychess.org/static/images/ShogiGuide/Horse.png" alt="HorseDiagram" /></p>
<p>A sárkányló az előléptetett futó, mely megkapja a király lépéslehetőségeit is a futó lépésein felül. Ez a második legértékesebb bábu a királyt leszámítva.</p>
<p>Megjegyzés: A sakkban a huszárt szokták lónak is nevezni, de a sógiban a ló a sárkányló rövidített elnevezése. Nem összekeverendő az L-alakzatban mozgó lovassal.</p>
<h3 id="aranytábornok-arany">Aranytábornok (Arany)</h3>
<p><img src="https://www.pychess.org/static/images/ShogiGuide/Golds.png" alt="Golds" /></p>
<p><img src="https://www.pychess.org/static/images/ShogiGuide/Gold.png" alt="GoldDiagram" /></p>
<p>Az aranytábornok lépései szokatlannak tűnhetnek elsőre. Talán a legkönnyebb úgy megjegyezni, hogy egyet léphet vízsintesen vagy függőlegesen, vagy átlósan előre egyet. A nemzetközi készletben a sisak hegyes részei (és az aranyszínű kör a sisak tetején) a lehetséges lépések irányait szimbolizálják.</p>
<p><strong>Minden alapbábu (a bástya és a futó kivételével) aranytábornokká lép elő.</strong></p>
<h3 id="ezüsttábornok-ezüst">Ezüsttábornok (Ezüst)</h3>
<p><img src="https://www.pychess.org/static/images/ShogiGuide/Silvers.png" alt="Silvers" /></p>
<p><img src="https://www.pychess.org/static/images/ShogiGuide/Silver.png" alt="SilverDiagram" /></p>
<p>Az ezüsttábornok lépései szokatlannak tűnhetnek elsőre. Talán a legkönnyebb úgy megjegyezni, hogy egyet léphet átlósan, vagy egyet előre. A nemzetközi készletben a sisak élei a lehetséges lépések irányait szimbolizálják.</p>
<h3 id="lovas">Lovas</h3>
<p><img src="https://www.pychess.org/static/images/ShogiGuide/Knights.png" alt="Knights" /></p>
<p><img src="https://www.pychess.org/static/images/ShogiGuide/Knight.png" alt="KnightDiagram" /></p>
<p>Hasonló a sakk huszárjához, de annál kötöttebb a mozgása: csak előrefelé tud mozogni, azaz két mezőt lép előre és egyet balra vagy jobbra. A sakk huszárjához hasonlóan a lovas is át tudja ugrani a köztes bábukat.</p>
<h3 id="lándzsás-lándzsás-szekér">Lándzsás (Lándzsás szekér)</h3>
<p><img src="https://www.pychess.org/static/images/ShogiGuide/Lances.png" alt="Lances" /></p>
<p><img src="https://www.pychess.org/static/images/ShogiGuide/Lance.png" alt="LanceeDiagram" /></p>
<p>A lándzsás tetszőleges számú mezőt léphet előre. Hasonló a bástyához, de oldalirányba illetve visszafele nem léphet.</p>
<h3 id="gyalog">Gyalog</h3>
<p><img src="https://www.pychess.org/static/images/ShogiGuide/Pawns.png" alt="Pawns" /></p>
<p><img src="https://www.pychess.org/static/images/ShogiGuide/Pawn.png" alt="PawnDiagram" /></p>
<p>A gyalog csak előre léphet egyet, és csak így üthet. Ebben különbözik a sakk gyalogjától.</p>
<h3 id="előléptetett-könnyűtisztek">Előléptetett könnyűtisztek</h3>
<p><img src="https://www.pychess.org/static/images/ShogiGuide/PSilvers.png" alt="PSilvers" /></p>
<p><img src="https://www.pychess.org/static/images/ShogiGuide/PKnights.png" alt="PKnights" /></p>
<p><img src="https://www.pychess.org/static/images/ShogiGuide/PLances.png" alt="PLances" /></p>
<p><img src="https://www.pychess.org/static/images/ShogiGuide/Tokins.png" alt="Tokins" /></p>
<p>Az előléptetett bábuk (a sárkánykirályt és a sárkánylovat leszámítva) úgy lépnek, mint az aranytábornok.</p>
<p>A sárkánykirályt és a sárkánylovat leszámítva csak az előléptetett gyalognak van más neve, ezt a bábut úgy nevezik, hogy <strong>tokin</strong>. </p>
<h2 id="további-szabályok">További szabályok</h2>
<p><em>Visszahelyezés / Behozás</em><br />
1) Gyalog nem helyezhető vissza a táblára egy olyan oszlopra, amelyen az adott játékosnak már van egy másik gyalogja. Tehát két saját gyalog nem lehet egy oszlopban (kivéve, ha a másik egy előléptett gyalog, azaz <em>tokin</em>).<br />
2) Behozott gyaloggal nem lehet mattod adni, de sakk adható.<br />
3) Nem helyezhető vissza bábu olyan mezőre, ahonnan utána nem lenne szabályos lépése. Ez általában az utolsó sort jelenti, vagy az utolsó kettőt a lovas esetében.</p>
<p><em>Örökös sakk</em>: Ha négyszer megismétlődik az állás és ezáltal a sakkadás, akkor a folyamatosan sakkot adó játékos veszít.</p>
<p><em>Lépésismétlés</em>: Hasonlóan az előzőhöz, ha négyszer megismétlődik ugyanaz az állás (beleértve a leütött, azaz kézben lévő bábukat is), akkor döntetlennel ér véget a játék.</p>
<p><em>Időmérés</em>: A sógiban úgynevezett bjójomi (byo-yomi) (visszaszámlálás) is része az időmérésnek. Amikor egy játékos ideje letelik, akkor következik a bjójomi, azaz onnantól mindig egy fixen meghatározott ideje marad egy-egy lépésre (pl. 30 másodperc). Ha lép, akkor ez az idő újra rendelkezésre áll majd a következő lépésben, ha kifut az időből, akkor elveszíti a játszmát.</p>
<h3 id="játszmajegyzés-és-koordináták">Játszmajegyzés és koordináták</h3>
<p>Különféle jegyzésmódszerek vannak használatban, ezen az oldalon a Hodges-jegyzést használjuk, ami a sakkban is használt algebrai jegyzésmódszerből ered. Szembetűnő különbség a sakkhoz képest, hogy a koordináták fel vannak cserélve. Az oszlopok számokkal, a sorok pedig betűkkel vannak jelölve. Például a világos (második játékos) királya az 5a mezőn áll. (Ez a <em>Hodges</em>-jegyzés)</p>
<p>A <em>Hoskings</em>-jegyés során a betűk helyett is számok vannak, tehát pl. az 5e helyett 55-ot jegyzünk, ami az 5. sort és 5. oszlopot jelenti. Ez hasonló a japánok jegyzésmódszeréhez, ahol szintén csak számokat használnak.</p>
<h3 id="bábuk-1">Bábuk</h3>
<p>K = király</p>
<p>G = aranytábornok</p>
<p>S = ezüsttábornok</p>
<p>N = lovas</p>
<p>L = lándzsás</p>
<p>R = bástya</p>
<p>B = futó</p>
<p>P = gyalog</p>
<p>+R vagy D = sárkánykirály (előléptetett bástya)</p>
<p>+B or H = sárkányló (előléptetett futó)</p>
<p>+S, +N, +L, +P jelölések a fenti bábuk előléptetett formáját jelenti.</p>
<h3 id="szimbólumok">Szimbólumok</h3>
<ul>
<li>A behozások jelölése egy <strong>*</strong> vagy egy <strong>‘</strong> karakterrel történik. Mi a <strong>*</strong> karaktert használjuk (Hodges-jegyzés). Például egy gyalog behozásának jelölése <strong>P*5e</strong> lenne.</li>
<li>Azok a lépések, melyek előléptetéssel végződnek egy <strong>+</strong> karakterrel vannak jelölve. Például ha egy gyalog az 1c mezőre érkezve előlép, akkor annak a jelölése <strong>P1c+</strong>.</li>
<li>Ha a bábut nem léptetjük elő, akkor azt egy <strong>=</strong> karakterrel jelöljük. Például ha az ezüsttábornok üti <em>5c</em>-t és nem léptetjük elő, akkor annak a jelölése <strong>Sx5c=</strong></li>
<li>A sakk és a matt nincs jelölve.</li>
</ul>
<h2 id="források-a-sógi-megtanulásához">Források a sógi megtanulásához</h2>
<p><a href="https://www.youtube.com/playlist?list=PL587865CAE59EB84A">YouTube: Hidetchi</a>: kiváló csatorna kezdőknek és haladóknak egyaránt. Angol nyelvű, de részletes magyarázatokkal szolgál. A kandzsis bábukat ismerni kell a videók megértéséhez, de azokat is bemutatja a kezdőknek szóló videókban.</p>
<p><a href="https://www.youtube.com/channel/UCRnXG7CkKfEN6IINKcO_uBg/videos">Youtube: Shogi Harbour</a>: Karolina Styczyńska, egy Japánban élő lengyel profi játékos csatornája. Weboldala a <a href="http://www.shogi.pl">shogi.pl</a></p>
<p><a href="http://www.81dojo.com">81dojo.com</a> az egyik legnagyobb sógi oldal, ahol tapasztaltabb játékosok ellen játhatsz a világ minden tájáról. Gép elleni, illetve "levelező" játékra nincs lehetőség.</p>
<h2 id="stratégia">Stratégia</h2>
<h3 id="a-bábuk-értéke">A bábuk értéke</h3>
<p>A bábuknak nincs egy "standard" értéke, mint a sakkban. Érdemes azt is megjegyezni, hogy ezek az értékek nem annyira fontosak, hiszen a leütött bábuk visszahozhatók a játszmába és a jól felépített állás sokkal fontosabb lehet. Ennek ellenére van egy alap értékrendszer, de a profi játékosok is kialakították a saját értékrendszerűket. Az alábbiakban Kōji Tanigawa és Yasumitsu Satoh értéktáblázata látható.</p>
<table>
<thead>
<tr>
<th id="bábu">Bábu</th>
<th id="alap">Alap</th>
<th id="tanigawa">Tanigawa</th>
<th id="satoh">Satoh</th>
</tr>
</thead>
<tbody>
<tr>
<td>P</td>
<td>1</td>
<td>1</td>
<td>1</td>
</tr>
<tr>
<td>L</td>
<td>3</td>
<td>5</td>
<td>6</td>
</tr>
<tr>
<td>N</td>
<td>3</td>
<td>6</td>
<td>6</td>
</tr>
<tr>
<td>S</td>
<td>5</td>
<td>8</td>
<td>10</td>
</tr>
<tr>
<td>G</td>
<td>5</td>
<td>9</td>
<td>11</td>
</tr>
<tr>
<td>B</td>
<td>7</td>
<td>13</td>
<td>17</td>
</tr>
<tr>
<td>R</td>
<td>8</td>
<td>15</td>
<td>19</td>
</tr>
<tr>
<td><em>+B</em></td>
<td></td>
<td>15</td>
<td>20</td>
</tr>
<tr>
<td><em>+R</em></td>
<td></td>
<td>17</td>
<td>22</td>
</tr>
<tr>
<td><em>+P</em></td>
<td></td>
<td>12</td>
<td></td>
</tr>
<tr>
<td><em>+L</em></td>
<td></td>
<td>10</td>
<td></td>
</tr>
<tr>
<td><em>+N</em></td>
<td></td>
<td>10</td>
<td></td>
</tr>
<tr>
<td><em>+S</em></td>
<td></td>
<td>9</td>
<td></td>
</tr>
</tbody>
</table>
<h3 id="megnyitási-alapelvek">Megnyitási alapelvek</h3>
<p>Általánosságban kétféle megnyitási módszerről beszélhetünk: <em>statikus bástya</em> és <em>mozgó bástya</em>. A statikus bástya esetétben a bástya a kezdőhelyén marad megnyitáskor, ezáltal a támadás a tábla jobb oldalára koncentrálódik. A mozgó bástya esetében a bástya középre vagy a bal oldalra lép, ott támogatva a támadást. Ez a különbség azért is fontos, mert a megnyitási lépések (<em>dzsoszeki</em>, 定跡) általában ebbe a két osztályba vannak sorolva, és drasztikusan más játékstílust eredményezhetnek.</p>
<h3 id="a-védelem-kiépítése">A védelem kiépítése</h3>
<p>A védelem kiépítése a sógiban több lépést vesz igénye (és nem lehet sáncolni, mint a sakkban). A megfelelő védelem kiépítése nagyon fontos, mert a gyengén védett király nagyon gyorsan támadhatóvá válik a behozott bábukkal. Fontos ismerni a kiépített védelmek erősségeit és gyengeségeit.</p>
<p>A védelem kiépítése a statikus vagy mozgó bástya megnyitástól is függ. A statikus esetében a király számára a tábla bal oldalán kerül kialakításra a védelem, míg a mozgó bástya esetében a tábla jobb oldalán. Sokféle védelem van, melyeket <a href="https://www.youtube.com/playlist?list=PL587865CAE59EB84A">Hidetchi be is mutat a youtube csatornáján</a> (angol nyelven). A három legfontosabb védelem, amit fontos ismerni:</p>
<p><strong>Yagura (Erőd)</strong></p>
<p><img src="https://www.pychess.org/static/images/ShogiGuide/Yagura.png" alt="Yagura" /></p>
<p>A Yagura az egyik legerősebb védelem, amikor mindkét játékos statikus bástyát játszik. A kialakításhoz jó emlékeztető lehet, ha ezt a pozíciót megjegyezzük: “S G | G B”. A Yagura erős védelem szemből, de oldalirányból már gyengébb.</p>
<p>A Yagura kialakításához érdemes megjegyezni, hogy a leghatékonyabb, ha a tábornokok átlóban mozognak. Többféle dzsoszeki is létezik a védelem kialakítására, de fontos észben tartani, hogy az ellenfél bármikor támadásba lendülhet, amire a védelem kialakítása közben reagálni kell. Egy 24 lépéses standard dzsoszeki például így néz ki (<a href="https://www.youtube.com/watch?v=h7jPat3_WG4">forrás: Hidetchi</a>):</p>
<ol>
<li>☗P-7f</li>
<li>☖P-8d</li>
<li>☗S-6h</li>
<li>☖P-3d</li>
<li>☗P-6f</li>
<li>☖S-6b</li>
<li>☗P-5f</li>
<li>☖P-5d</li>
<li>☗S-4h</li>
<li>☖S-4b</li>
<li>☗G4i-5h</li>
<li>☖G-3b</li>
<li>☗G-7h</li>
<li>☖K-4a</li>
<li>☗K-6i</li>
<li>☖P-7d</li>
<li>☗G5h-6g</li>
<li>☖G-5b </li>
<li>☗S-7g</li>
<li>☖S-3c</li>
<li>☗B-7i</li>
<li>☖B-3a</li>
<li>☗P-3f</li>
<li>☖P-4d</li>
</ol>
<p>Ezzel még nem teljes a védelem, a királynak és a futónak további lépésekre van szüksége.</p>
<p><strong>Mino védelem</strong></p>
<p><img src="https://www.pychess.org/static/images/ShogiGuide/Mino.png" alt="Mino Castle" /></p>
<p>A Mino egy klasszikus mozgó bástyás védelem a statikus bástya ellen (de alakalmazható más esetekben is). A király a bástya kezdőhelyére mozog, a bal oldali aranytábornok egyet átlóban jobbra, a jobb oldali ezüsttábornok pedig egyet előre lép, hogy egy "G G S" formáció alakuljon ki V-alakzatban. Ez a védelem erős bal oldalon, de gyengébb a szemből érkező támadások ellen.</p>
<p>Példa megnyitás a "sötét" játékosnak a 4. mezőre mozgó bástya esetében:</p>
<ul>
<li>P-7f</li>
<li>B-7g (védi a 8f mezőt) </li>
<li>P-6f (védekezik a futók cseréje ellen, ha a "világos" játékos megnyitná az utat a futójának)</li>
<li>R-6h (4. mezőre lépő bástya)</li>
<li>S-7h </li>
<li>K-4h -&gt; K-3h -&gt; K-2h (a bástya kezdőhelyére mozog a király)</li>
<li>S-3h (az ezüsttábornok előre mozog)</li>
<li>G6i-5h (a bal oldali aranytábornok jobb átlóban előre lép)</li>
<li>P-1f (menekülési útvonalat nyit a királynak)</li>
</ul>
<p><strong>Anaguma</strong></p>
<p><img src="https://www.pychess.org/static/images/ShogiGuide/Anaguma.png" alt="Anaguma" /></p>
<p>Az Anaguma ("Medvebarlang") egy másik mozgóbástyás védelem, amikor a király a jobb sarokban bújik meg. Ez az egyik legnehezebben áttörhető védelem, azonban sok időbe telik kialakítani. </p>
<p>Kialakítható a másik oldalon is, amikor statikus bástyával játszuk, ilyenkor a király a bal sarokban bújik meg.</p>
<p><strong>Kétszárnyú támadás</strong></p>
<p>Nem egyfajta védelem, hanem egy statikus bástya megnyitás (ami ellen védekezni kell). Mindkét fél előretolja a bástyája előtti gyalogot mely kölcsönös leütéshez (cseréhez) vezet. A dzsoszeki része, hogy az ezüsttábornoknak védenie kell a futó előtti gyalogot, mielőtt az ellefél bástya előtti gyalogja elérné azt.</p>
<h2 id="hendikep">Hendikep</h2>
<p>A hendikep fontos része a tanításnak és nem úgy kell rá tekinteni, mintha egy játékos könyörületet tanusítana ellenfele irányába. Nagyszerű módja a játék megtanulásának és vannak a "standard" stratégiák is a kölönböző hendikep játszmákra.</p>
<p>Míg normál esetben a "sötét" játékos (<em>sente</em>) lép először, a hendikepes játszmákban a "világos" játékos lép elsőnek. A hendikep ellenére az anyag miatti különbség kiküszöbölhető a behozási szabály miatt.</p>
<p>A leggyakoribb hendikepek:</p>
<table>
<thead>
<tr>
<th id="név">Név</th>
<th id="hiányzó_bábu">hiányzó bábu</th>
</tr>
</thead>
<tbody>
<tr>
<td>Lándzsás</td>
<td>bal oldali lándzsás</td>
</tr>
<tr>
<td>Futó</td>
<td>futó</td>
</tr>
<tr>
<td>Bástya</td>
<td>bástya</td>
</tr>
<tr>
<td>Bástya-Lándzsás</td>
<td>bástya és a bal oldali lándzsás</td>
</tr>
<tr>
<td>2 bábu</td>
<td>bástya, futó</td>
</tr>
<tr>
<td>4 bábu</td>
<td>bástya, futó, mindkét lándzsás</td>
</tr>
<tr>
<td>6 bábu</td>
<td>bástya, futó, mindkét lándzsás, mindkét lovas</td>
</tr>
<tr>
<td>8 bábu</td>
<td>bástya, futó, mindkét lándzsás, mindkét lovas, mindkét ezüsttábornok</td>
</tr>
<tr>
<td>9 bábu</td>
<td>bástya, futó, mindkét lándzsás, mindkét lovas, mindkét ezüsttábornok, bal oldali aranytábornok</td>
</tr>
<tr>
<td>10 bábu</td>
<td>bástya, futó, mindkét lándzsás, mindkét lovas, mindkét ezüsttábornok, mindkét aranytábornok</td>
</tr>
</tbody>
</table>