{% extends "base.html" %}

{% block content %}
<div id="simul-view" class="main-wrap">
    <!-- The content of this div will be rendered by client/simul/simul.ts -->
</div>
{% endblock %}

{% block js %}
<script src="{{ js }}"></script>
<script>
    const model = {
        simulId: "{{ simul.id }}",
        username: "{{ user.username }}",
        createdBy: "{{ simul.created_by }}",
        players: {{ players | tojson }},
        pendingPlayers: {{ pending_players | tojson }},
    };
    // The client-side logic is in client/simul/simul.ts
    // It will connect to the websocket and update the view
</script>
{% endblock %}
