{% extends "base.html" %}
{% block content %}
<div id="main-wrap" class="is2d">
    <main class="simul-new page-small">
        <div class="box box-pad">
            <h1>Host a new simul</h1>
            <form method="post" class="form3" action="/simuls/simul">
                <div class="form-group">
                    <label class="form-label" for="form3-name">Name</label>
                    <div>
                        <input id="form3-name" name="name" class="form-control" minlength="2" maxlength="30" />
                    </div>
                </div>
                <div class="form-split">
                    <div class="form-group form-half">
                        <label class="form-label" for="form3-variant">Variant</label>
                        <select id="form3-variant" name="variant" class="form-control">
                            {% for key in variants %}
                            <option value="{{ key }}">{{ variant_display_name(key).title() }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group form-half">
                        <label class="form-label" for="form3-host-color">Host color</label>
                        <select id="form3-host-color" name="host_color" class="form-control">
                            <option value="random" selected="selected">Random</option>
                            <option value="white">White</option>
                            <option value="black">Black</option>
                        </select>
                    </div>
                </div>
                <div class="form-split">
                    <div class="form-group form-half">
                        <label class="form-label" for="form3-clockTime">Clock initial time</label>
                        <select id="form3-clockTime" name="base" class="form-control">
                            <option value="1">1 minute</option>
                            <option value="2">2 minutes</option>
                            <option value="3" selected="selected">3 minutes</option>
                            <option value="5">5 minutes</option>
                            <option value="10">10 minutes</option>
                            <option value="15">15 minutes</option>
                        </select>
                    </div>
                    <div class="form-group form-half">
                        <label class="form-label" for="form3-clockIncrement">Clock increment</label>
                        <select id="form3-clockIncrement" name="inc" class="form-control">
                            <option value="0" selected="selected">0 seconds</option>
                            <option value="1">1 second</option>
                            <option value="2">2 seconds</option>
                            <option value="3">3 seconds</option>
                            <option value="5">5 seconds</option>
                        </select>
                    </div>
                </div>
                <div class="form-actions">
                    <a href="/simuls">Cancel</a>
                    <button type="submit" data-icon="x" class="submit button text">Create a new simul</button>
                </div>
            </form>
        </div>
    </main>
</div>
{% endblock %}
