<h1 id="sittuyin">Sittuyin</h1>
<p><img src="https://pychess-variants.herokuapp.com/static/images/SittuyinGuide/Sittuyin.png?raw=true" alt="Sittuyin" /></p>
<h2 id="what-is-sittuyin">What is Sittuyin?</h2>
<p><em>Sittuyin</em>, or Burmese Chess is a classic board game native to Myanmar and is very similar to Makruk. The game is played in Myanmar, and although western chess is more popular there, there are efforts to revitalize the game. The pieces have the same movements as Makruk (Thai Chess), but the rules are slightly different. The game is plenty of fun in its own right, with its own balance/dynamics. The slightly slower pace can provide a good way to cultivate patience, and to hone strategic thinking.</p>
<h2 id="rules">Rules</h2>
<p>The general rules are extremely similar to Chess, so this guide will focus on the few differences. The boards are slightly different, with Sittuyin having two big diagonal lines dividing through the board. The sides are also red and black, with the red player moving first. The piece position in Sittuyin is much different compared to chess or Makruk. Key differences are as follows.</p>
<ul>
<li>For starters, the feudal lords (pawns) start on staggered ranks (as you can see in the board above). </li>
<li>To start the game, the players (starting with the red player) alternate back and forth placing the remainder of their pieces on their halves of the boards.</li>
<li>Pawn (feudal lord) promotion works much differently. See the movement section below. </li>
<li>Creating stalemate is illegal. </li>
</ul>
<h2 id="the-pieces">The Pieces</h2>
<h3 id="king">King</h3>
<p><img src="https://pychess-variants.herokuapp.com/static/images/SittuyinGuide/King.png?raw=true" alt="King" /> </p>
<p>The king moves exactly the same as in chess.</p>
<h3 id="general">General</h3>
<p><img src="https://pychess-variants.herokuapp.com/static/images/SittuyinGuide/General.png?raw=true" alt="General" /></p>
<p>Unlike the queen in chess, the general is a relatively weak piece that only moves one space diagonally. Additional generals are gained through pawn promotion.</p>
<p>The general is worth about 1.5 to 2 pawns in general. It is also the only renewable piece type. The general is a good piece to lead the attacks, useful for harassing more valuable enemy pieces. On occasion, they can also be sacrificed in exchange for well-positioned enemy pawns, to make way for the invasion.</p>
<p>Since it is rare for one side to be up by two pieces, the easy-to-promote-to general is commonly present in most endgames, assisting the stronger side in delivering checkmate.</p>
<p>For the disadvantaged side, a general is a good decoy which must be trapped and captured before the bare king can be forced into checkmate. It can either stay near the general for additional protection, or failing that, lead enemy pieces away from it. Scattering the enemy pieces in this fashion can cost them valuable time to reorganize, thus giving the defending side some extra chance to draw the game under counting rules.</p>
<h3 id="elephant">Elephant</h3>
<p><img src="https://pychess-variants.herokuapp.com/static/images/SittuyinGuide/Elephant.png?raw=true" alt="Elephant" /></p>
<p>The elephant moves one step diagonally or one step forward, just like the silver general in shogi.</p>
<p>The elephant is a powerful piece for controlling squares immediately in front of it, and for shouldering off enemy forces. It is also a good defender around its king.</p>
<p>The elephant is worth more than the queen, but generally not as much as a knight. The justification may be that isolated knights have little trouble escaping from an enemy king, while isolated bishops can fall.</p>
<p>Elephants can sometimes prove slow/awkward to maneuver or retreat. It is therefore advisable to have some friendly pieces nearby to support and rescue them. In the endgame, it's usually safer to get a lone king behind the enemy bishop, compared to staying in its front.</p>
<h3 id="horse">Horse</h3>
<p><img src="https://pychess-variants.herokuapp.com/static/images/SittuyinGuide/Horse.png?raw=true" alt="Horse" /></p>
<p>The horse moves exactly the same as a knight in chess.</p>
<p>The horses are not "minor pieces" in Makruk. They are major forces. Centralize and utilize them.</p>
<h3 id="chariot">Chariot</h3>
<p><img src="https://pychess-variants.herokuapp.com/static/images/SittuyinGuide/Chariot.png?raw=true" alt="Chariot" /></p>
<p>The chariot moves exactly the same as a rook in chess.</p>
<p>In the absence of mighty chess queens, the chariots dominate the board. Lateral chariot checks can be especially annoying. Aim for the seventh rank or even the sixth rank.</p>
<h3 id="feudal-lord">Feudal lord</h3>
<p><img src="https://pychess-variants.herokuapp.com/static/images/SittuyinGuide/Pawn.png?raw=true" alt="Pawn" /></p>
<p>The pawn, or feudal lord, moves and attacks the same as a pawn in chess. However, there is no double-step first move. </p>
<p><strong>Promotion</strong>: After a feudal lord reaches the diagonal line on the opponent's side of the board, the player can choose to promote that piece into a general instead of moving. This can only occur <em>if</em> their general has already been captured. Promotion does not happen on the move where the feudal lord reaches the promotion square, but rather any move after that. In the act of promotion, the feuudal lord can promote in place, or it can promote in any one of the adjacent diagonal squres. However, promotion cannot be made in a square in which the new general will be in an attacking position (threatening an enemy piece). If there is one feudal lord left on the board, then it has the ability to promote on its turn.</p>
<p>Finally, you may opt not to promote a feudal lord that reaches the final rank, which would result in stalemate if this is the last piece left.</p>
<h2 id="makruk-vs-sittuyin">Makruk vs Sittuyin</h2>
<p>Makruk is a game very similar to Sittuyin, but played in Thailand. In a sense, Sittuyin can be thought of as a kind of accelerated Makruk, potentially skipping ahead about a dozen opening moves. Half of the Sittuyin pawns start on the fourth rank, as opposed to all Makruk pawns starting from the third rank.</p>
<p>Makruk players must negotiate their way towards getting a good opening setup from scratch, a vital skill for Makruk. Sittuyin players get to just set up their dream positions. Experience in either variant would be useful/beneficial in the other.</p>
<p>Makruk allows promoting pawns to multiple queens, which can quickly become dangerous. This makes Makruk pawns more valuable than Sittuyin pawns.</p>
<h2 id="strategy">Strategy</h2>
<p>The pace is rather slow, with most pieces stepping only one square at a time. It's a good idea to organize and group together the pieces. Move them in formation as a group to provide mutual support. Do not try to open up the game on too many fronts. Coordination is key.</p>
<h2 id="tactics">Tactics</h2>
<p><strong>Chariots are the only pieces that can pin or skewer pieces. The rest of the tactics mostly consist of forks.</strong></p>
<p>Most Sittuyin and Makruk games will actually reach the bitter (near) end.<br />
When one side has only a bare king remaining, there are certain "counting rules" (see above) which come into effect and put pressure on the stronger side. Such requirements offer the weaker side an incentive to play out the whole game. Therefore it is crucial to master all the basic checkmates against a lone king. There just isn't much point in playing these games if one can't finish off the bare King at the end.</p>
<p>Because there is no promotion to heavy pieces, it becomes harder to force a checkmate after the existing pieces have left the board. Plan accordingly and leave yourself with enough fire power.</p>
<p>Please allow yourself enough time on the clock, as many of those mates require precision.</p>