{% extends "template.html" %}
{% block content %}
<div id="main-wrap">
    <main class="team-list-page teams-page page-menu">
        {% set team_menu_active = 'mine' if mine_only else 'all' %}
        {% include "team-menu.html" %}
        <div class="page-menu__content box">
            <div class="box__top team-list-top">
                <h1>{% if mine_only %}My teams{% else %}Teams{% endif %}</h1>
            </div>

            <table class="team-slist slist slist-pad slist-invert">
                {% if teams %}
                <tbody>
                    {% for team in teams %}
                    <tr class="team-list-row">
                        <td class="subject">
                            <a class="team-name{% if team['_id'] in my_team_ids %} mine{% endif %}" href="/team/{{ team['_id'] }}">
                                {{ team['name'] }}
                                {% if team['_id'] in my_team_ids %}<em>joined</em>{% endif %}
                            </a>
                            {% if team.get('intro') %}<span class="team-list-intro">{{ team['intro'] }}</span>{% endif %}
                        </td>
                        <td class="info">
                            <p>{{ team.get('memberCount', 0) }} member{% if team.get('memberCount', 0) != 1 %}s{% endif %}</p>
                            <p>by {{ team['createdBy'] }}</p>
                            {% if team.get('requestRequired') %}<p>approval required</p>{% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                {% else %}
                <tbody>
                    <tr><td class="team-empty" colspan="2">No teams yet{% if not anon %}. Create the first one and invite other PyChess players.{% endif %}</td></tr>
                </tbody>
                {% endif %}
            </table>
        </div>
    </main>
</div>
{% endblock %}
