{% extends "base.html" %}
{% block header %}
    <header>
        <a id="zen-button"></a>
        <div class="site-title-nav">
            <div class="hamburger hamburger--vortex">
                <div class="hamburger-box">
                    <div class="hamburger-inner"></div>
                </div>
            </div>
            <div class="topnav">
                <a class="nav-link active home" href="/">Liantichess
                {% if dev %}
                <span>DEV</span>
                {% endif %}
                </a>
                <section>
                    <a class="nav-link" href="/?any">{% trans %}Play{% endtrans %}</a>
                    <div class="drp" >
                        <a class="nav-link" href="/?any">{% trans %}Create a game{% endtrans %}</a>
                        <a class="nav-link" href="/tournaments">{% trans %}Tournaments{% endtrans %}</a>
                    </div>
                </section>
                <section>
                    <a class="nav-link" href="/tv">{% trans %}Watch{% endtrans %}</a>
                    <div class="drp" >
                        <a class="nav-link" href="/tv">{% trans %}Tv{% endtrans %}</a>
                        <a class="nav-link" href="/games">{% trans %}Current games{% endtrans %}</a>
                    </div>
                </section>
                <section>
                    <a class="nav-link" href="/players">{% trans %}Community{% endtrans %}</a>
                    <div class="drp" >
                        <a class="nav-link" href="/players">{% trans %}Players{% endtrans %}</a>
                        <a class="nav-link" href="/news">{% trans %}Blog{% endtrans %}</a>
                        <a class="nav-link" href="/patron">{% trans %}Donate{% endtrans %}</a>
                    </div>
                </section>
                <section>
                    <a class="nav-link" href="/editor/antichess">{% trans %}Tools{% endtrans %}</a>
                    <div class="drp" >
                        <a class="nav-link" href="/editor/antichess">{% trans %}Editor{% endtrans %}</a>
                        <a class="nav-link" href="/analysis/antichess">{% trans %}Analysis{% endtrans %}</a>
                    </div>
                </section>
                <section>
                    <a class="nav-link" href="/variants">{% trans %}Variants{% endtrans %}</a>
                </section>
            </div>
        </div>
        <div class="site-buttons">
            <form autocomplete="off" class="search-bar">
                <div class="search-icon"></div>
                <div class="input">
                    <input id="search-input" type="text" placeholder="Search">
                </div>
                <div id="ac-result"></div>
            </form>
            <div id="username"><a class="user-link" href="/@/{{ username }}">{{ username }}</a></div>
            {% if guest %}
            <a class="login nav-link" href="/login" title="{% trans %}Login with Lichess{% endtrans %}">{% trans %}Log in{% endtrans %}</a>
            {% endif %}
            <div id="settings-panel"/>
        </div>
    </header>
{% endblock %}
