{% extends "template.html" %}
{% block content %}
<div id="main-wrap">
<main class="page-menu">
<aside>
    <ul class="guide">
    <li>
    <div class="icon" data-icon="">
        <a href="{{ home }}/variant/terminology">Terminology</a>
    </div>
    </li>
    {% for key in variants %}
    <li>
    <div class="icon" data-icon="{{ icons[key] }}">
        <a href="{{ home }}/variant/{{ key }}">{{ "S-Chess" if key == "seirawan" else "S-House" if key == "shouse" else "Ouk Chatrang" if key == "cambodian" else key.capitalize() }}</a>
    </div>
    </li>
    {% endfor %}
    </ul>
</aside>
<div class="guide">{% include variant %}<div>
</main>
</div>
{% endblock %}
{% block js %}
    <script src="/static/pychess-variants.min.js"></script>
{% endblock %}
