<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="//unpkg.com/docsify/themes/buble.css">
  <link rel="stylesheet" href="/static/site.css">
</head>
  <body id="pychess-variants" class="no-sidebar">
    <div class="topnav">
      <a class="nav-link active" href="/">PyChess</a>
      <a class="nav-link" href="/tv">Tv</a>
      <a class="nav-link" href="/players">Players</a>
      <a class="nav-link" href="/about">About</a>
      <div class="tool-container">
        <button id="btn-sound" onclick="toggleAudio();" title="Toggle sound"><div class="icon icon-volume-up"></div></button>
        <div id="username"></div>
        {% if guest %}
        <button id="btn-login" onclick="loginFunction()" title="Login with Lichess"><div class="icon icon-sign-in"></div></button>
        {% endif %}
      </div>
    </div>
    <div id="app"></div>
  </body>
</html>
<script>
    window.$docsify = {
        el: "#app",
        basePath: '/static/docs',
        homepage: '{{ variant }}.md',
        loadSidebar: false,
        loadNavbar: false,
        markdown: {
            renderer: {
                image: function(href, title) {
                    const from ='https://github.com/gbtami/pychess-variants/blob/master';
                    const to = 'https://pychess-variants.herokuapp.com';
                    return `<img src="${href.replace(from, to)}"/>`
                }
            }
        }
    }
</script>
<script src="//unpkg.com/docsify/lib/docsify.min.js"></script>

<script>
var silence = false;

function toggleAudio() {
    silence = !silence;
    var snd_btn = document.getElementById("btn-sound");
    var allaudio = document.getElementsByTagName('audio');
    if (silence) snd_btn.innerHTML = '<div class="icon icon-volume-off"></div>';
    else snd_btn.innerHTML = '<div class="icon icon-volume-up"></div>';
    for (var j = 0; j < allaudio.length; j++) allaudio[j].muted = silence;
}

function loginFunction() {
  console.log("LOGIN WITH LICHESS");
  home = document.querySelector("body").getAttribute("data-home");
  window.location.assign(home + '/login');
}
</script>
