{% extends "template.html" %}
{% block content %}
<div id="main-wrap">
<main class="page-menu">
<aside>
    <ul class="guide">
    {% for tag in tags %}
    <li>
    <a href="{{ home }}/video?tags={{ tag }}">{{ video_tag(tag) }}</a>
    </li>
    {% endfor %}
    </ul>
</aside>
<div class="videos">
    <div class="box-top"><h1>{% trans %}Chess variant videos{% endtrans %}</h1></div>
    <div class="video">
    {%- for video in videos -%}
    <a class="card" href="{{ home }}/video/{{ video['_id'] }}"><span class="duration">{{ video['duration'] }}</span><figure style="background-image: url(https://img.youtube.com/vi/{{ video['_id'] }}/0.jpg)"></figure><span class="info"><span class="title">{{ video['title'] }}</span></span><span class="reveal"><span class="full-title">{{ video['title'] }}</span><span class="author">{{ video['author'] }}</span><span class="target">{{ video_target(video['target']) }}</span><span class="tags">{% for vtag in video['tags'] %}<span class="vtag">🏷 {{ video_tag(vtag) }}</span>{% endfor %}</span></span></a>
    {%- endfor -%}
    </div>
</div>
</main>
</div>
{% endblock %}
{% block js %}
    <script src="{{ js }}"></script>
{% endblock %}
