<h1 id="xiangqi-ikonhttpsgithubcomgbtamipychess-variantsblobmasterstaticiconsxiangqisvg-xiangqi-kínai-sakk"><img src="https://www.pychess.org/static/icons/xiangqi.svg" alt="Xiangqi ikon" /> Xiangqi (Kínai sakk)</h1>
<p><img src="https://www.pychess.org/static/images/XiangqiGuide/Boards.png" alt="Xiangqi tábla" /></p>
<p>A xiangqi (象棋), avagy a kínai sakk egy klasszikus táblajáték, mely Kínában őshonos és úgy tartják, hogy <a href="https://hu.wikipedia.org/wiki/Csaturanga">csaturangából</a> eredeztethető, akárcsak a sakk, bár egyesek ezt vitatják, és úgy gondolják, hogy az ellenkezője történt. A játék nem csak Kínában, de Vietnámban is népszerű.</p>
<h2 id="miért-érdemes-megtanulni-a-kínai-sakkot">Miért érdemes megtanulni a kínai sakkot?</h2>
<p>Ha élvezed a sakkot, akkor a xiangqit határozottan megéri kipróbálni. Miközben egy kicsit lassabb tempójú és hosszabbra nyúló játék, mint a sakk, a xiangqi nyitottabban indul és az idő előrehaladtával begyorsul, ami gyors végjátékhoz vezethet. A sakkal összevetve a xiangqi inkább taktikai játék (nem annyira a stratégiai). Ahogyan más sakkvariánsok esetében is, a xiangiban szerzett tapasztalat is segíthet fejleszteni a képességeidet a sakkban, és egyben új gondolkodásmódokat is megnyithat. <a href="https://en.chessbase.com/post/why-you-need-to-learn-xiangqi-for-playing-better-chess">Erről bővebben itt olvashatsz angol nyelven.</a></p>
<h2 id="szabályok">Szabályok</h2>
<p>A szabályok hasonlóak a sakkéhoz, így ez az útmutató a különbségekre fókuszál. A két játékos színe itt piros és fekete, hagyományosan pedig az előbbi kezdi a játékot. A cél itt is az ellenfél királyának mattolása, azonban a patthelyzet itt nem döntetlen, hanem a patthelyzetben lévő játékos veszít. Az örökös sakk nem megengedett, az a játékos, aki folyamatosan sakkot ad, a harmadik ismétlés után veszít.</p>
<h2 id="tábla">Tábla</h2>
<p>A játékot 9x10-es táblán játsszák, a bábuk pedig a mezők metszéspontjain állnak/mozognak, nem pedig a mezőkön belül. A 3x3-as terület a tábla alján a palota. A király és a testőrei csak a palotán belül tudnak mozogni. A táblát a folyó szeli ketté, ami hatással van a gyalogok és az elefánt mozgására is (ezekről részletesen később).</p>
<h2 id="bábuk">Bábuk</h2>
<p>A tradicionális készletek a kínai írásjegyeket használják, de a könnyebb érthetőség végett ez az útmutató a nemzetközi bábukészleten alapul (melyen a figurák ábrái láthatók).</p>
<h3 id="király">Király</h3>
<p><img src="https://www.pychess.org/static/images/XiangqiGuide/Kings.png" alt="Király bábuk" /> </p>
<p>A király (vagy a kínai neve alapján: tábornok) csak a palotán belül tud mozogni, egy mezőt vízszintesen vagy függőlegesen.</p>
<p><em>Speciális szabály</em>: a két király nem állhat szemben egymással (egy vonalban) úgy, hogy nincs köztük bábu. Ezt a szabályt hasznos ismerni a végjátékban, mert segíthet a mattadásban.</p>
<h3 id="testőr">Testőr</h3>
<p><img src="https://www.pychess.org/static/images/XiangqiGuide/Advisors.png" alt="Testőr bábuk" /> </p>
<p>A testőr csak a palotán belüli átlók mentén léphet egyet, így maximum 5 lehetséges pozíciója van egy testőrnek.</p>
<p><img src="https://www.pychess.org/static/images/XiangqiGuide/KingAdvisorDiagram.png" alt="Király és testőrök ábra" /></p>
<h3 id="elefánt">Elefánt</h3>
<p><img src="https://www.pychess.org/static/images/XiangqiGuide/Elephants.png" alt="Elefánt bábuk" /></p>
<p><img src="https://www.pychess.org/static/images/XiangqiGuide/ElephantDiagram.png" alt="Elefánt ábra" /></p>
<p>Az elefánt csak átlósan tudod mozogni pontosan két mezőt. Az elefánt blokkolható, ha az útjában áll egy bábu, ilyenkor nem tud lépni. További megkötés, hogy az elefánt nem tud átkelni a folyón, ezért csak a saját térfelén képes mozogni.</p>
<p><em>Megjegyzés</em>: a piros játékos bábuja eredetileg nem elefánt, hanem "miniszter", de angol nyelven (és magyarul is) az egyszerűsítés miatt elefántként hivatkozunk rá.</p>
<h3 id="ló">Ló</h3>
<p><img src="https://www.pychess.org/static/images/XiangqiGuide/Horses.png" alt="Ló bábuk" /></p>
<p><img src="https://www.pychess.org/static/images/XiangqiGuide/HorseDiagram.png" alt="Ló ábra" /></p>
<p>A ló hasonlóan mozog, mint a sakkban a huszár. Azonban az L-alakzattól eltérően inkább úgy tekintsünk a mozgására, hogy egyet lép vízszintesen vagy függőlegesen, majd átlóban egyet valamelyik irányba, egy Y-alakzatra emlékeztetve. Ennek az az oka, hogy a ló blokkolható, ha egy bábu mellette áll.</p>
<h3 id="szekér-bástya">Szekér (Bástya)</h3>
<p><img src="https://www.pychess.org/static/images/XiangqiGuide/Chariots.png" alt="Szekér bábuk" /></p>
<p><img src="https://www.pychess.org/static/images/XiangqiGuide/ChariotDiagram.png" alt="Szekér ábra" /></p>
<p>A szekér (vagy más néven: bástya) ugyanúgy mozog, mint a sakkban a bástya: akárhány mezőt vízszintesen vagy függőlegesen. A királyt leszámítva ez a legértékesebb bábu.</p>
<h3 id="ágyú">Ágyú</h3>
<p><img src="https://www.pychess.org/static/images/XiangqiGuide/Cannons.png" alt="Ágyú bábuk" /></p>
<p><img src="https://www.pychess.org/static/images/XiangqiGuide/CannonDiagram.png" alt="Ágyú ábra" /></p>
<p>Az ágyú hasonlóan mozog és üt, mint a szekér: akárhány mezőt vízszintesen vagy függőlegesen, de az ütéshez egy köztes bábura van szüksége, amit "átugrik", és csak az azt követő bábut tudja leütni.</p>
<h3 id="gyalog">Gyalog</h3>
<p><img src="https://www.pychess.org/static/images/XiangqiGuide/Pawns.png" alt="Gyalog bábuk" /></p>
<p><img src="https://www.pychess.org/static/images/XiangqiGuide/PawnDiagram.png" alt="Gyalog ábra" /></p>
<p>A gyalog csak előrefelé tud lépni/ütni egyet. Amikor átkel a folyón, akkor képes lesz oldalirányba is lépni/ütni.</p>
<h2 id="további-szabályok-örökös-sakk-és-üldözés">További szabályok: Örökös sakk és üldözés</h2>
<ul>
<li>Az örökös sakk nem megengedett. Az örökös sakkot adó játékos veszít, ha nem lép mást.</li>
<li>Az a játékos, amelyik egy védtelenül álló bábut örökösen kerget, veszít. A kivételek ez alól a gyalogok és a királyok, őket lehet üldözni.</li>
<li>Ha az egyik játékos örökösen sakkot ad, míg a másik örökösen üldöz egy bábut, akkor az örökösen sakkot adónak kell mást lépnie, különben veszít.</li>
<li>Ha egyik fél sem szegi meg ezeket a szabályokat, de nincs más, alternatív lépésük, akkor a játszma döntetlennel ér véget.</li>
<li>Ha mindkét fél egyidejűleg szegi meg ezeket a szabályokat, vagy nincs más lépési lehetőségük, akkor a játszma döntetlennel ér véget.</li>
</ul>
<h2 id="játszmajegyzés">Játszmajegyzés</h2>
<p>Többféle jegyzésmódszer van használatban, ez az oldal a sakkhoz hasonló, algebrai jegyzésmódszert használja.</p>
<h3 id="rövidítések">Rövidítések</h3>
<p>K = Király</p>
<p>A = Testőr</p>
<p>E = Elefánt</p>
<p>H = Ló</p>
<p>C = Ágyú</p>
<p>R = Szekér</p>
<p>P = Gyalog</p>
<h2 id="milyen-forrásokból-tanulhatok-még-a-xiangqiról">Milyen forrásokból tanulhatok még a xiangqiról?</h2>
<p>Néhány angol nyelvű forrás (magyar nyelvűek jelenleg nem ismertek):</p>
<p><a href="http://www.xqinenglish.com/">xqinenglish.com</a> ideális a kezdőknek. A weboldal tulajdonosa, Jim Png Hau Cheng több könyvet is írt a játékról (pl. a 'Xiangqi Primer' könyvsorozatot), ezek azoknak lehetnek hasznosak, akik magasabb szinten is szeretnének játszani.</p>
<p><a href="https://www.youtube.com/channel/UCXlJz54YEworgVbOFw3_bXg/playlists">Learning Chinese Chess</a> youtube csatorna.</p>
<p>A <a href="https://www.clubxiangqi.com/">Club Xiangqi</a> egy olyan weboldal, ahol erős játékosok ellen lehet játszani (legtöbbjük vietnámi).</p>
<h2 id="stratégia">Stratégia</h2>
<h3 id="a-bábuk-értéke">A bábuk értéke</h3>
<table>
<thead>
<tr>
<th id="bábu">Bábu</th>
<th id="érték">Érték</th>
</tr>
</thead>
<tbody>
<tr>
<td>Szekér</td>
<td>9</td>
</tr>
<tr>
<td>Ló</td>
<td>4</td>
</tr>
<tr>
<td>Ágyú</td>
<td>4,5</td>
</tr>
<tr>
<td>Testőr</td>
<td>2</td>
</tr>
<tr>
<td>Elefánt</td>
<td>2</td>
</tr>
<tr>
<td>Gyalog</td>
<td>1, a folyó átlépése után 2</td>
</tr>
</tbody>
</table>
<h3 id="általános-alapelvek">Általános alapelvek</h3>
<ul>
<li>Kezdetben a ló inkább védekező egység, mert túl sok bábu állja az útját. A végjáték felé haladva azonban erősebbé válik, mert akkor már nincs annyi akadály számára. (A sakk huszárjának ellenkezője ebből a szempontból.)</li>
<li>Az ágyú a játszma elején sokkal erősebb, mert akkor még több bábu van, amiket átugorva támadhat. A végjátékban, amikor már nincs annyi bábu a táblán, a haszna jelentősen csökken.</li>
<li>Az elefánt szigorúan védelmi egység, támadásban az ágyúnak segíthet (köztes egységként).</li>
<li>A fentebb elhangzottak értelmében, érdemes a bábukkal blokkolni a lovat és az elefántot.</li>
<li>A blokkolható bábuk miatt nagyon gyakoriak a felfedett támadások.</li>
<li>A dupla sakk elég gyakori, főleg a szekér és az ágyú párosításával.</li>
</ul>
<h3 id="megnyitási-alapelvek">Megnyitási alapelvek</h3>
<p>Az alábbi információk <a href="http://www.shakki.info/english/openings.html">erről az oldalról származnak</a>.</p>
<p>A leggyakoribb megnyitás a "központi ágyú", amikor a király vonalába visszük az ágyút, ezzel nyomás alá helyezve az ellenfelet. A játszmák kb. 70%-a így kezdődik.</p>
<p><img src="https://www.pychess.org/static/images/XiangqiGuide/CannonOpening.png" alt="Ágy megnyitás ábra" /></p>
<p><strong>A leggyakoribb megnyitások:</strong></p>
<p><strong>1. Két lovas védelem</strong></p>
<p>Ez a leggyakoribb védelem. A cél természetesen, hogy mindkét ló védelmezze a középső gyalogot. Többféle variáció is létezik erre.</p>
<p><img src="https://www.pychess.org/static/images/XiangqiGuide/Screen%20Horses.png" alt="Két lovas védelem ábra" /></p>
<p><strong>2. Fan Gong Ma / "Szendvics lovak"</strong></p>
<p>Az egyik lovat előrehozzuk, de a másik ló léptetése előtt az ágyút a palota közelebbi sarkába visszük, csak ezután következik a másik ló. Így az ágyú a két ló közé kerül. Ez egy viszonylag új megnyitás.</p>
<p><img src="https://www.pychess.org/static/images/XiangqiGuide/Fan%20Gong%20Ma.png" alt="Fan Gong Ma ábra" /></p>
<p><strong>3. Azonos oldali ágyúk</strong></p>
<p>A piros játék középre mozgatja az ágyúját, a fekete játékos pedig az ugyanazon oldalon lévő ágyúját viszi középre.</p>
<p><img src="https://www.pychess.org/static/images/XiangqiGuide/SameDirectionCannon.png" alt="Azonos oldali ágyúk ábra" /></p>
<p><strong>4. Ellentétes oldali ágyúk</strong></p>
<p>Az előzőnek az ellentettje, amikor a fekete az ellentétes oldalon lévő ágyúját viszi középre.</p>
<p><img src="https://www.pychess.org/static/images/XiangqiGuide/OppositeDirectionCannon.png" alt="Ellentétes oldali ágyúk ábra" /></p>
<p><strong>5. "A tigris három lépése"</strong></p>
<p>A fekete játékos gyorsan mozgásba hozza a szekerét azzal, hogy az ágyút a tábla szélére viszi. Ez általában 3 lépésből áll, ebben a sorrendben: a ló előrelép, az ágyú a tábla szélére mozog, aztán a szekér az ágyú kezdővonalába megy.</p>
<p><img src="https://www.pychess.org/static/images/XiangqiGuide/Three%20Step%20Tiger.png" alt="A tigris 3 lépése ábra" /></p>
<p>Az ágyús megnyitásokon kívül a piros játékosnak más opciói is vannak. Ezeket "lágy megnyitásoknak" nevezzük, mert nem járnak azonnali fenyegetéssel.</p>
<p><strong>Gyalogos megnyitás</strong> - A 2. vagy a 4. gyalog előretolása. Ez egy rugalmas megnyitás, mely segít a piros játékosnak lereagálni a fekete játékos lépését. A fekete játékos általában nem központi ágyúval válaszol, mert utána a piros is a középső vonalra hozhatná az ágyúját, miközben egy előretolt gyaloggal előnyben lenne.</p>
<p><strong>Elefántos megnyitás</strong> - Ez egy védekező megnyitás, ahol az elefánt kerül a középvonalra az ágyú helyett.</p>
<p><strong>Lovas megnyitás</strong> - A ló előreléptetése a tábla közepe felé. Innen játszhatók a fentebb már ismertetett lovas védelmek vagy a "tigris három lépése".</p>
<p>Egyéb megnyitások nagyon ritkának számítanak.</p>