<h1 id="xiangqihttpsgithubcomgbtamipychess-variantsblobmasterstaticiconsxiangqisvg-xiangqi"><img src="https://www.pychess.org/static/icons/xiangqi.svg" alt="Xiangqi" /> Xiangqi</h1>
<p><img src="https://www.pychess.org/static/images/XiangqiGuide/Boards.png" alt="Boards" /></p>
<p><em>Xiangqi</em> (象棋, soletrado como “<em>shyang-chee</em>”), ou Xadrez Chinês é um jogo clássico de tabuleiro proviente da China e julga-se ser descendente do Chatturanga, o mesmo antepassado do Xadrez, no entanto o mesmo se pode afirmar do oposto. Este jogo é muito popular na China e no Vietname, e já se afirmou que este é o jogo de tabuleiro mais popular no Mundo. O jogo em si é muito semelhante ao Xadrez, no entanto a sua jogabilidade é diferente.</p>
<h2 id="porquê-aprender-xiangqi">Porquê aprender Xiangqi?</h2>
<p>Se és grande fã de Xadrez, vale mesmo apena experimentar Xiangqi. Enquanto o seu ritmo é mais lento e longo do que o Xadrez, o jogo inicia-se com uma configuração mais aberta onde é mais rápido obter um fim-de-jogo. Em comparação ao Xadrez, o Xiangqi é um jogo mais tático (ao contrário de estratégico). Tal como outras variantes de Xadrez, ao melhorar a sua habilidade em Xiangqi esta pode implicar também melhoramentos nas habilidades em Xadrez (Principalmente a nível tático) e também de abrir novas portas <br />
a uma nova maneira de pensar. <a href="https://en.chessbase.com/post/why-you-need-to-learn-xiangqi-for-playing-better-chess">Veja aqui mais informações(Inglês)</a></p>
<h2 id="regras">Regras</h2>
<p>As regras são muito semelhantes ao Xadrez, daí iremos focar-nos apenas nas suas diferenças. A diferença mais significativa é de que as Peças estão posicionadas em interseções em vez de casas, isto é meramente uma diferença estética. Cada jogador faz o seu lance por turnos, movimentando as peças no tabuleiro a fim de dar Xeque-Mate ao Rei adversário. O jogador com as Vermelhas normalmente começa primeiro, sendo de seguida o das Pretas, no entanto a ordem de começar não é relevante pelo facto do tabuleiro ser simétrico. A única outra diferença com o Xadrez é de que o Rei Afogado é considerado uma derrota para quem ficou Afogado (i.e. não consegue movimentar peça alguma).</p>
<h2 id="tabuleiro">Tabuleiro</h2>
<p>O tabuleiro de Xiangqi é um bocado diferente da maioria dos jogos de Xadrez. Para além de ser jogado nas interseções, existem várias seções importantes do tabuleiro. Em primeiro lugar temos o rio, que divide o tabuleiro a metade. O rio afeta o movimento do Elefante e dos Peões. De seguida temos os Palácios, que são um conjunto de casas 3x3 localizadas no fim do tabuleiro e tem linhas diagonais representadas neste. O Rei e os seus Assistentes estão restringidos ao Palácio.</p>
<h2 id="peças">Peças</h2>
<p>Aqui iremos focar-nos na representação das peças internacionais. Tradicionalmente são usadas peças com caracteres Chineses, e na maioria dos sites, incluindo a wikipedia, já se explicam as regras com tal. De certa forma, é necessário conhecimento dos caracteres chineses se pretende usar todos os recursos ou jogar num tabuleiro ao vivo. Em comparação ao Shogi que é outro jogo que usa caracteres chineses, o Xiangqi tem menos caracteres a aprender e alguns destes são claros no seu movimento, isto faz com que seja mais fácil aprender.</p>
<p>As peças Xiangqi tradicionalmente já tiveram nomes diferentes: a sua tradução Chinesa e o seu equivalente Ocidental. Neste guia, usaremos os seus nomes e abreviaturas escolhidas pela Federação Asiática de Xiangqi (Asian Xiangqi Federation - AXF), que mistura um pouco dos dois. Pelo facto de ambos os nomes serem comuns, poderá já estar familiarizado com estes. </p>
<h3 id="rei">Rei</h3>
<p><img src="https://www.pychess.org/static/images/XiangqiGuide/Kings.png" alt="Kings" /> </p>
<p>O Rei (também conhecido pelo seu nome chinês, <strong>general</strong>) só se pode movimentar uma interseção na ortogonal (vertical e horizontal nunca na diagonal). Além disto, está restringido a estar dentro do Palácio.</p>
<p><em>Regra especial:</em> Ambos os reis não podem estar na mesma coluna sem peças entre estes ("Regra geral do cara-a-cara"). Pode considerar ambos aptos a atacar-se mutuamente como se fossem Torres (também chamado de "Generais Voadores"). Isto é útil a fim de preparar Xeque-Mate no fim-de-jogo.</p>
<p><img src="https://www.pychess.org/static/images/XiangqiGuide/KingAdvisorDiagram.png" alt="King and advisor movement" /></p>
<h3 id="assistente">Assistente</h3>
<p><img src="https://www.pychess.org/static/images/XiangqiGuide/Advisors.png" alt="Advisors" /> </p>
<p>O Assistente (também conhecido como <strong>guarda</strong> o seu nome Ocidental, e <strong>ministro</strong>) só se pode movimentar uma interseção dentro das diagonais do Palácio. Só existem cinco posições onde os Assistnetes podem estar.</p>
<h3 id="elefante">Elefante</h3>
<p><img src="https://www.pychess.org/static/images/XiangqiGuide/Elephants.png" alt="Elephants" /></p>
<p><img src="https://www.pychess.org/static/images/XiangqiGuide/ElephantDiagram.png" alt="Elephant movement" /></p>
<p>O Elefante (raramente chamado de <strong>bispo</strong> o seu nome Ocidental) pode-se mover duas interseções na diagonal. Existem mais duas restrições: 1) O Elefante pode ser bloqueado se tiver uma peça entre este e o destino. 2) Não pode ir para além do Rio.</p>
<p>Um pequeno detalhe, o caracter chinês do Elefante Vermelho significa “ministro”, mas mesmo assim tem o nome de Elefante.</p>
<h3 id="cavalo">Cavalo</h3>
<p><img src="https://www.pychess.org/static/images/XiangqiGuide/Horses.png" alt="Horses" /></p>
<p><img src="https://www.pychess.org/static/images/XiangqiGuide/HorseDiagram.png" alt="Horse movement" /></p>
<p>O <strong>Cavalo</strong> move-se exatamente como o cavalo do Xadrez. No entanto em vez do pensamento normal "dois passos na ortogonal, e um para o lado", é melhor pensarmos como se fosse <em>um passo na ortogonal, diagonal para a frente em qualquer direção</em>, em forma de Y. Isto porque o Cavalo <strong>pode ser bloqueado</strong> se tiver uma peça adjacente a esta. Isto irá bloquear o caminho aos dois pontos finais deste Y. Caso este que pode levar a situações em que dois Cavalos se estão a atacar mutuamente, mas apenas um deles pode atacar enquanto o outro está bloqueado. Bons lances tomam partido do bloqueio do Cavalo e limitam o seu movimento. </p>
<h3 id="biga">Biga</h3>
<p><img src="https://www.pychess.org/static/images/XiangqiGuide/Chariots.png" alt="Chariots" /></p>
<p><img src="https://www.pychess.org/static/images/XiangqiGuide/ChariotDiagram.png" alt="Chariot movement" /></p>
<p>A <strong>Biga</strong> (também conhecida como <strong>Torre</strong> o seu nome ocidental) move-se exatamente como a torre do Xadrez: qualquer número de linhas na ortogonal. Esta é a peça mais valiosa do jogo, excluindo o Rei.</p>
<h3 id="canhão">Canhão</h3>
<p><img src="https://www.pychess.org/static/images/XiangqiGuide/Cannons.png" alt="Cannons" /></p>
<p><img src="https://www.pychess.org/static/images/XiangqiGuide/CannonDiagram.png" alt="Cannon movement" /></p>
<p>O Canhão é uma peça única do Xiangqi. Pode-se movimentar exatamente como uma Biga. No entanto para capturar outra, é necessário ter uma peça(adversária ou do mesmo lado) entre esta e o destino, geralmente chamada de "Mira".</p>
<h3 id="peão">Peão</h3>
<p><img src="https://www.pychess.org/static/images/XiangqiGuide/Pawns.png" alt="Pawns" /></p>
<p><img src="https://www.pychess.org/static/images/XiangqiGuide/PawnDiagram.png" alt="Pawn movement" /></p>
<p>O Peão (também conhecido por <strong>soldado</strong> o seu nome chinês) movimenta-se e captura uma iterseção em frente. Este é diferente do Peão do Xadrez. O chapéu pontiagudo na sua peça internacional torna-se um lembrete do seu movimento.</p>
<p><em>Regra especial:</em> Após atravessar o rio, o Peão pode-se mover e capturar uma interseção para o lado também. A aparência da peça não muda para dar a informação de tal.</p>
<h2 id="regras-adicionais---xeque-perpétuo-e-perseguições">Regras adicionais - Xeque Perpétuo e perseguições</h2>
<ul>
<li>Um jogador que esteja a dar Xeque perpétuo com uma ou mais peças pode ser considerado como derrotado se não parar com tal acto.</li>
<li>Um jogador que insista na perseguição de uma peça desprotegida com uma ou mais peças, excluindo o Rei e os Peões, pode ser considerado como derrotado se não parar com tal acto.</li>
<li>Se um dos jogadores estiver a dar Xeque perpétuo e o outro estiver a perseguir constantemente peças desprotegidas, o jogador que está a efetuar o Xeque perpétuo terá de parar com tal ou irá ser considerado como derrotado.</li>
<li>Quando nenhum dos lados quebrarem as regras e ambos persistirem em não efetuar lances alternados, o jogo irá ser adjudicado como empate.</li>
<li>Quando ambos os lados quebrarem as regras ao mesmo tempo e ambos persistirem em não efetuar lances alternados, o jogo irá ser adjudicado como empate.</li>
</ul>
<h2 id="notação">Notação</h2>
<p>O Pychess usa a mesma notação algebraica do Xadrez. A notação mais comum para o Xiangqi não está presentemente implementada. </p>
<h3 id="símbolos">Símbolos</h3>
<p>K = <strong>K</strong>ing (Rei)</p>
<p>A = <strong>A</strong>dvisor (Assistente)</p>
<p>E = <strong>E</strong>lephant (Elefante)</p>
<p>H = <strong>H</strong>orse (Cavalo)</p>
<p>C = <strong>C</strong>annon (Canhão)</p>
<p>R = Cha<strong>R</strong>iot (Biga)</p>
<p>P = <strong>P</strong>awn (Peão)</p>
<h2 id="onde-será-que-posso-aprender-xiangqi">Onde será que posso aprender Xiangqi?</h2>
<p><a href="http://www.xqinenglish.com/">Xiangqi in English</a> é um site excelente em Inglês para iniciantes. O autor do website, Jim Png Hau Cheng, também é autor de vários livros, tais como a coleção "Xiangqi Primer", que pode valer apena o investimento para quem realmente pretenda aprender.</p>
<p><a href="https://www.clubxiangqi.com/">Club Xiangqi</a> é um site onde pode ter partidas com jogadores fortes, a maior parte destes são do Vietname.</p>
<h2 id="estratégia">Estratégia</h2>
<h3 id="valores-das-peças">Valores das Peças</h3>
<p>Abaixo estão indicados os valores das Peças</p>
<table>
<thead>
<tr>
<th id="peça">Peça</th>
<th id="valor">Valor</th>
</tr>
</thead>
<tbody>
<tr>
<td>K</td>
<td>Infinito</td>
</tr>
<tr>
<td>R</td>
<td>9</td>
</tr>
<tr>
<td>H</td>
<td>4</td>
</tr>
<tr>
<td>C</td>
<td>4.5</td>
</tr>
<tr>
<td>P</td>
<td>1 antes de atravessar o rio, 2 após atravessar o rio</td>
</tr>
<tr>
<td>A</td>
<td>2</td>
</tr>
<tr>
<td>E</td>
<td>2.5</td>
</tr>
</tbody>
</table>
<h3 id="principios-gerais">Principios Gerais</h3>
<ul>
<li>Semelhante ao Cavalo e o Bispo do Xadrez, o Cavalo e o Canhão têm valores diferentes com base na posição.<ul>
<li>O Cavalo é uma peça mais defensiva e menos poderosa no inicio de jogo pelo facto do seu movimento ser restringido por imensas peças. Esta torna-se mais poderosa no fim-de-jogo onde existem menos peças a bloquear o seu caminho (Isto é o oposto do Xadrez)</li>
<li>O Canhão é uma peça mais ofensiva e mais potente no inicio de jogo pelo facto de usar outras peças como mira. No fim-de-jogo o seu valor é reduzido por haver menos peças no tabuleiro.</li></ul></li>
<li>Como descrito acima, use as suas peças para bloquear os Cavalos e os Elefantes!</li>
<li>Não pense no Elefante como se fosse um Bispo, pelo facto destes não terem propósitos iguais, mesmo tendo movimentos e posições iniciais semelhantes. Esta peça é meramente defensiva. Pode ser usada ofensivamente como mira para os Canhões.</li>
<li><em>Ataques de Descoberta</em> existem em maior quantidade no Xiangqi do que no Xadrez e no Shogi pelo facto de existirem peças que possam bloquear o caminho. Esteja pronto a usar esta tática ou de defender contra.</li>
<li><em>Cheques duplos</em> também são muito comuns, especialmente com a combinação da Biga e do Canhão.</li>
</ul>
<h3 id="aberturas">Aberturas</h3>
<p>Estas informações foram obtidas <a href="http://www.shakki.info/english/openings.html">neste site</a></p>
<p>O movimento mais comum na abertura é o de centralizar o Canhão, que é dos movimentos mais óbvios por abrir uma linha de ataque central. Aproximadamente 70% das partidas são iniciadas desta maneira, o que é considerada a melhor maneira de aprender o jogo.</p>
<p><img src="https://www.pychess.org/static/images/XiangqiGuide/CannonOpening.png" alt="Cannon opening" /></p>
<p>Existem quatro defesas populares na abertura, e uma quinta que também irá ser mencionada.</p>
<p><strong>1. Cavalos-Mira / Defesa dos dois Cavalos</strong></p>
<p><img src="https://www.pychess.org/static/images/XiangqiGuide/Screen%20Horses.png" alt="Screen horses" /></p>
<p>Esta é a defesa mais comum. O objetivo é de ter ambos os cavalos a protegerem os Peões do centro. Existem várias variantes.</p>
<p><strong>2. Fan Gong Ma / "Cavalos-Sanduíches"</strong></p>
<p>Um dos Cavalos é desenvolvido normalmente, e antes que o outro entre em ação, o Canhão movimenta-se para uma posição de "Canhão de Canto" (Canhão no Canto do Palácio), e por fim movimenta-se o segundo cavalo para o seu sítio. As pretas mais tarde irão ligar os seus Elefantes para completar a defesa. Esta é uma abertura relativamente nova. </p>
<p><img src="https://www.pychess.org/static/images/XiangqiGuide/Fan%20Gong%20Ma.png" alt="Fan Gong Ma" /></p>
<p><strong>3. Canhão na mesma linha de fogo</strong></p>
<p>As Pretas movimentam o canhão para a mesma coluna onde o Canhão das Vermelhas foi. A captura de peões de centro é um lance feito por amadores porque este faz com que haja perca de tempo e as Pretas ganhem iniciativa.</p>
<p><strong>4. Canhões em Linhas de fogo opostas</strong></p>
<p>Semelhante ao descrito acima, mas usando o canhão oposto. A ideia moderna é de movimentar o Canhão preto mais tarde através da tática de "Atraso no Canhão em Direção Oposta"</p>
<p><strong>5. Tigre em três passos</strong></p>
<p><img src="https://www.pychess.org/static/images/XiangqiGuide/Three%20Step%20Tiger.png" alt="Cannon opening" /></p>
<p>As Pretas desenvolvem a sua Biga rapidamente movimentando o seu Canhão para o canto do tabuleiro. Uma jogada típica é de avançar os Cavalos primeiro e após isto os Canhões para o canto, e finalmente as Bigas para as colunas do Canhão.</p>
<p>Outras defesas para além destas raramente são usadas.</p>
<p>Para além da abertura do Canhão, as Vermelhas têm outras opções. Estas são denominadas de "aberturas suaves" por não construirem uma ameaça imediata.</p>
<p><strong>Abertura de Peão</strong> - Avanço do 2º ou 4º Peão. Esta é uma abertura flexivel que permite às Vermelhas se ajustarem aos lances das Pretas. As pretas geralmente não respondem com os Canhões para o centro porque as Vermelhas poderiam então jogar quaisquer um dos Canhões para o Centro com as cores invertidas e o avanço do Peão daria assim uma grande vantagem.</p>
<p><strong>Abertura do Elefante</strong> - Avanço do Elefante para o Palácio em vez do Canhão. Esta é uma abertura defensiva e sólida, onde o Rei é protegido.</p>
<p><strong>Abertura do Cavalo</strong> - Avanço de um Cavalo para o centro. A partir daqui, as Vermelhas podem jogar a Abertura dos dois Cavalos, Fan Gong Ma ou Tigre em Três passos com as cores invertidas.</p>
<p>As Vermelhas também podem jogar o seu Canhão para a frente do Palácio ("Canhão de Canto") ou para o canto oposto ("Canhão de Palácio"). Estes movimentos também são úteis no desenvolvimento das peças.</p>
<p>Outras aberturas para as Vermelhas são muito raras.</p>