<h1 id="xiangqihttpsgithubcomgbtamipychess-variantsblobmasterstaticiconsxiangqisvg-xiangqi"><img src="https://www.pychess.org/static/icons/xiangqi.svg" alt="Xiangqi" /> Xiangqi</h1>
<p><img src="https://www.pychess.org/static/images/XiangqiGuide/Boards.png" alt="Boards" /></p>
<p><em>Xiangqi</em> (象棋, pronounced like “<em>shyang-chee</em>”), or Chinese Chess is a classic board game native to China and is thought to be descended from Chatturanga, the same ancestor as Chess, although some have argued the opposite. The game is very popular in China and Vietnam, and it has been said that it is the most played board game in the world. The game itself is similar to chess, although it plays much differently. </p>
<h2 id="why-learn-xiangqi">Why learn Xiangqi?</h2>
<p>If you enjoy Chess, Xiangqi is definitely worth trying. While slightly slower paced and longer than Chess, the game starts more open and is more geared towards fast-paced play leading to a quick endgame. Compared to Chess, Xiangqi is also far more tactical (as opposed to strategic). As with other chess variants, improving your skill in Xiangqi can also improve your skills in Chess (tactics, in particular) as well as open up new ways of thinking! <a href="https://en.chessbase.com/post/why-you-need-to-learn-xiangqi-for-playing-better-chess">See here for more about that.</a></p>
<h2 id="what-are-the-rules-of-xiangqi">What are the rules of Xiangqi?</h2>
<p>The general rules are extremely similar to Chess, so this guide will focus on the few differences. The most striking difference is that pieces are on intersections instead of squares, which is mainly an aesthetic difference. Players take turns moving pieces on a board to checkmate the enemy king. The red player traditionally moves first, followed by black, although the order is not crucial as the board is symmetric. The only other main difference from chess is that stalemates are considered losses for the player who got stalemated (i.e. can’t move any pieces).</p>
<h2 id="the-board">The Board</h2>
<p>The xiangqi board is a little different than other chess games. In addition to being played on the intersections, there are important sections of the board. First is the river, which splits the board in half. The river affects the movement of the elephant and pawn pieces. Second is the palaces, which are the 3 x 3 squares at each end of the board that has diagonal lines inside. The king and his advisors are confined to the palace.</p>
<h2 id="the-pieces">The Pieces</h2>
<p>This guide will be based on the internationalized set. Traditional sets use Chinese characters, and many sites, including Wikipedia, already explain the rules as such. As it is now, knowledge of the Chinese characters will be required if you want to utilize all English resources or play in a real life setting. Compared to shogi which is the other major game using Chinese characters, xiangqi has fewer characters to learn, and several characters are pictographic, which also makes them easier to learn.</p>
<p>Xiangqi pieces traditionally have had different names: their Chinese translation and a Western equivalent. In this guide, we will use the names and abbreviations chosen by the Asian Xiangqi Federation (AXF), which uses a mixture of the two. Unfortunately, both names are very common, so you should be familiar with both.</p>
<h3 id="king">King</h3>
<p><img src="https://www.pychess.org/static/images/XiangqiGuide/Kings.png" alt="Kings" /> </p>
<p>The king (also known by its Chinese name, the <strong>general</strong>) can only move one step orthogonally. Additionally, it is confined to the palace.</p>
<p><em>Special rule:</em> Kings are not allowed to face each other with no piece in between (“General face-off rule”). Consider them as being able to attack each other as rooks (also called “flying generals”). This is useful for setting up checkmates in the endgame.</p>
<p><img src="https://www.pychess.org/static/images/XiangqiGuide/KingAdvisorDiagram.png" alt="King and advisor movement" /></p>
<h3 id="advisor">Advisor</h3>
<p><img src="https://www.pychess.org/static/images/XiangqiGuide/Advisors.png" alt="Advisors" /> </p>
<p>The advisor (also known by its Western name, the <strong>guard</strong>… less commonly a <strong>minister</strong>)  can only move one step along the diagonals of the palace. There are only five positions an advisor can take.</p>
<h3 id="elephant">Elephant</h3>
<p><img src="https://www.pychess.org/static/images/XiangqiGuide/Elephants.png" alt="Elephants" /></p>
<p><img src="https://www.pychess.org/static/images/XiangqiGuide/ElephantDiagram.png" alt="Elephant movement" /></p>
<p>The elephant (very rarely called by its Western name, the <strong>bishop</strong>) can move diagonally exactly two steps. There are two more restrictions: 1) The elephant can be blocked if there is a piece in between. 2) It cannot cross the river.</p>
<p>On a side note, the Chinese character for the red elephant means “minister,” but is still called an elephant in English.</p>
<h3 id="horse">Horse</h3>
<p><img src="https://www.pychess.org/static/images/XiangqiGuide/Horses.png" alt="Horses" /></p>
<p><img src="https://www.pychess.org/static/images/XiangqiGuide/HorseDiagram.png" alt="Horse movement" /></p>
<p>The horse (also called by its Western name, the <strong>knight</strong>) moves almost exactly like a chess knight. However, instead of the usual “two steps orthogonally, then one to the side” teaching, it’s better to think of it as <em>one step orthogonally, then diagonally forward in either direction</em>, like a Y shape. The reason for this is that the <strong>can be blocked</strong> if a piece is adjacent to it. That will block off the two endpoints of that Y. Therefore, there can be situations where two horses are targeting each other, but only one can attack while the other is blocked. Strong moves take advantage of blocking the horse and limiting its movement.</p>
<h3 id="chariot">Chariot</h3>
<p><img src="https://www.pychess.org/static/images/XiangqiGuide/Chariots.png" alt="Chariots" /></p>
<p><img src="https://www.pychess.org/static/images/XiangqiGuide/ChariotDiagram.png" alt="Chariot movement" /></p>
<p>The chariot (also called by its Western name, the <strong>rook</strong>, and more rarely by its literal modern translation, car) moves exactly like a chess rook: any number of squares orthogonally. This is the most valuable piece in the game, excluding the king.</p>
<h3 id="cannon">Cannon</h3>
<p><img src="https://www.pychess.org/static/images/XiangqiGuide/Cannons.png" alt="Cannons" /></p>
<p><img src="https://www.pychess.org/static/images/XiangqiGuide/CannonDiagram.png" alt="Cannon movement" /></p>
<p>The cannon is a unique piece in xiangqi. It can move exactly like the chariot. However, to capture, it needs a piece (friend or foe) in between, called a screen.</p>
<h3 id="pawn">Pawn</h3>
<p><img src="https://www.pychess.org/static/images/XiangqiGuide/Pawns.png" alt="Pawns" /></p>
<p><img src="https://www.pychess.org/static/images/XiangqiGuide/PawnDiagram.png" alt="Pawn movement" /></p>
<p>The pawn (also called by its Chinese name, the <strong>soldier</strong>) moves and captures by moving forward one square. This is different than the chess pawn. The pointy hat in the internationalized piece is a reminder.</p>
<p><em>Special rule:</em> After crossing the river, the pawn can move and capture sideways one space as well. The piece itself does not change to reflect this.</p>
<h2 id="additional-rules---perpetual-checks-and-chases">Additional Rules - Perpetual checks and chases</h2>
<ul>
<li>A player making perpetual checks with one piece or several pieces can be ruled to have lost unless he or she stops such checking.</li>
<li>The side that perpetually chases any one unprotected piece with one or more pieces, excluding generals and soldiers, will be ruled to have lost unless he or she stops such chasing.</li>
<li>If one side perpetually checks and the other side perpetually chases, the checking side has to stop or be ruled to have lost.</li>
<li>When neither side violates the rules and both persist in not making an alternate move, the game can be ruled as a draw.</li>
<li>When both sides violate the same rule at the same time and both persist in not making an alternate move, the game can be ruled as a draw.</li>
</ul>
<h2 id="notation">Notation</h2>
<p>Algebraic notation is not implemented at this time.</p>
<h3 id="symbols">Symbols</h3>
<p>K = <strong>K</strong>ing</p>
<p>A = <strong>A</strong>dvisor</p>
<p>E = <strong>E</strong>lephant</p>
<p>H = <strong>H</strong>orse</p>
<p>C = <strong>C</strong>annon</p>
<p>R = Cha<strong>R</strong>iot</p>
<p>P = <strong>P</strong>awn</p>
<h2 id="where-are-resources-where-i-can-learn-xiangqi">Where are resources where I can learn Xiangqi?</h2>
<p><a href="http://www.xqinenglish.com/">Xiangqi in English</a> is a good place for beginners. The website owner, Jim Png Hau Cheng, has also written several books, the  “Xiangqi Primer” series, which may be a worthwhile investment for serious learners.</p>
<p><a href="https://www.clubxiangqi.com/">Club Xiangqi</a> is a site where you can play against tough players, most of which are Vietnamese.</p>
<h2 id="strategy">Strategy</h2>
<h3 id="piece-values">Piece Values</h3>
<p>Consensus piece values are as below</p>
<table>
<thead>
<tr>
<th id="piece">Piece</th>
<th id="value">Value</th>
</tr>
</thead>
<tbody>
<tr>
<td>K</td>
<td>Infinite</td>
</tr>
<tr>
<td>R</td>
<td>9</td>
</tr>
<tr>
<td>H</td>
<td>4</td>
</tr>
<tr>
<td>C</td>
<td>4.5</td>
</tr>
<tr>
<td>P</td>
<td>1 before river or at last rank, 2 after river</td>
</tr>
<tr>
<td>A</td>
<td>2</td>
</tr>
<tr>
<td>E</td>
<td>2.5</td>
</tr>
</tbody>
</table>
<h3 id="general-principles">General Principles</h3>
<ul>
<li>Similar to the knight and bishop in chess, the horse and cannon have opposing values based on the state of the board. <ul>
<li>The horse is more defensive and less powerful in the early game because of too many pieces restricting its movement. It becomes much more powerful in the endgame when there are few pieces in its way (this is the opposite of the chess knight).  </li>
<li>The cannon is more offensive and more potent in the early game because of the pieces it can use as screens. In the endgame, when the board is empty, its power decreases significantly. </li></ul></li>
<li>As above, use pieces to block the horse and elephants!</li>
<li>Do not think of an elephant as a bishop; they do not at all have similar roles despite their similar movement and starting position. It is strictly a defensive piece. Its offensive utility may be as a screen for a cannon.</li>
<li><em>Discovery attacks</em> are far more prevalent in xiangqi than in chess or shogi because of the blockable pieces. Be ready to use them or defend against them.</li>
<li><em>Double checks</em> are also more common, especially with the chariot and cannon in tandem.</li>
</ul>
<h3 id="opening-principles">Opening Principles</h3>
<p>The following information is courtesy of <a href="http://www.shakki.info/english/openings.html">this site</a></p>
<p>The most common opening move is the central cannon, which is a pretty obvious move because it opens aggression down the central file. About 70% of games start this way, so it's probably the best way to start learning the game.</p>
<p><img src="https://www.pychess.org/static/images/XiangqiGuide/CannonOpening.png" alt="Cannon opening" /></p>
<p>There are four very popular defenses, and a fifth will also be mentioned.</p>
<p><strong>1. Screen horses / Two horse defense</strong></p>
<p><img src="https://www.pychess.org/static/images/XiangqiGuide/Screen%20Horses.png" alt="Screen horses" /></p>
<p>This is the most common defense. The goal of course is to have both horses protecting the center pawn. There are multiple variations.</p>
<p><strong>2. Fan Gong Ma / "Sandwich Horses"</strong></p>
<p>One horse is developed as normal, but before the other is developed, the cannon moves into a "palcorner cannon" position (cannon at the same side palace corner), then finally moves the second horse into place. Black will later connect the elephants to complete the defense. It's a relatively new opening.</p>
<p><img src="https://www.pychess.org/static/images/XiangqiGuide/Fan%20Gong%20Ma.png" alt="Fan Gong Ma" /></p>
<p><strong>3. Same Direction Cannon</strong></p>
<p>Black moves the cannon from the same side that red moved his. Red capturing the defenseless center pawn is considered a move by amateurs because it loses time and black gets the initiative.</p>
<p><strong>4. Opposite Direction Cannon</strong></p>
<p>Like the above, except the opposite cannon. The modern practice is to move the black cannon later though "Delayed Opposite Direction Cannon."</p>
<p><strong>5. Three Step Tiger</strong></p>
<p><img src="https://www.pychess.org/static/images/XiangqiGuide/Three%20Step%20Tiger.png" alt="Cannon opening" /></p>
<p>Black develops his chariot quickly by moving his cannon to the edge of the board. A typical sequence would be advancing the horse first, then cannon to the edge, then finally followed by chariot to the cannon's file.</p>
<p>Any other defenses are considered rare.</p>
<p>Aside from the cannon opening, Red has other options as well. These are called "soft openings" because it doesn't open with an immediate threat.</p>
<p><strong>Pawn Opening</strong> - Advancing the 2nd or 4th pawn. This is a flexible opening allowing Red to adjust to Black's move. Black usually does not answer with the central cannon because Red could then play any of the central cannon openings with colors reversed and the pawn move would be an extra advantage.</p>
<p><strong>Elephant Opening</strong> - Advancing an elephant to the palace instead of a cannon. This is a solid defensive opening, where the king is protected.</p>
<p><strong>Horse Opening</strong> - Advancing a horse towards the middle. From there, Red can play the Two horse defence, Fan Gong Ma or Three Step Tiger openings with the colors reversed.</p>
<p>Red can also play his cannon to the front corner of the palace ("Palcorner Cannon") or to the opposite corner ("Crosspalace Cannon"). These moves are also useful developing moves.  </p>
<p>Other red opening moves lare very rare.</p>