.sittuyin .cg-wrap piece.p-piece.white {
    background-image: url('../../images/pieces/makruk/ada/rb/wP.svg');
}
.sittuyin .cg-wrap piece.s-piece.white {
    background-image: url('../../images/pieces/makruk/ada/rb/wB.svg');
}
.sittuyin .cg-wrap piece.n-piece.white {
    background-image: url('../../images/pieces/makruk/ada/rb/wN.svg');
}
.sittuyin .cg-wrap piece.r-piece.white {
    background-image: url('../../images/pieces/makruk/ada/rb/wR.svg');
}
.sittuyin .cg-wrap piece.f-piece.white {
    background-image: url('../../images/pieces/makruk/ada/rb/wQ.svg');
}
.sittuyin .cg-wrap piece.k-piece.white {
    background-image: url('../../images/pieces/makruk/ada/rb/wK.svg');
}
.sittuyin .cg-wrap piece.p-piece.black {
    background-image: url('../../images/pieces/makruk/ada/rb/bP.svg');
}
.sittuyin .cg-wrap piece.s-piece.black {
    background-image: url('../../images/pieces/makruk/ada/rb/bB.svg');
}
.sittuyin .cg-wrap piece.n-piece.black {
    background-image: url('../../images/pieces/makruk/ada/rb/bN.svg');
}
.sittuyin .cg-wrap piece.r-piece.black {
    background-image: url('../../images/pieces/makruk/ada/rb/bR.svg');
}
.sittuyin .cg-wrap piece.f-piece.black {
    background-image: url('../../images/pieces/makruk/ada/rb/bQ.svg');
}
.sittuyin .cg-wrap piece.k-piece.black {
    background-image: url('../../images/pieces/makruk/ada/rb/bK.svg');
}
