.sittuyin .cg-wrap piece.p-piece.white {
    background-image: url('../../images/pieces/makruk/ada/rP.svg');
}
.sittuyin .cg-wrap piece.s-piece.white {
    background-image: url('../../images/pieces/makruk/ada/rB.svg');
}
.sittuyin .cg-wrap piece.n-piece.white {
    background-image: url('../../images/pieces/makruk/ada/rN.svg');
}
.sittuyin .cg-wrap piece.r-piece.white {
    background-image: url('../../images/pieces/makruk/ada/rR.svg');
}
.sittuyin .cg-wrap piece.f-piece.white {
    background-image: url('../../images/pieces/makruk/ada/rQ.svg');
}
.sittuyin .cg-wrap piece.k-piece.white {
    background-image: url('../../images/pieces/makruk/ada/rK.svg');
}
.sittuyin .cg-wrap piece.p-piece.black {
    background-image: url('../../images/pieces/makruk/ada/bP.svg');
}
.sittuyin .cg-wrap piece.s-piece.black {
    background-image: url('../../images/pieces/makruk/ada/bB.svg');
}
.sittuyin .cg-wrap piece.n-piece.black {
    background-image: url('../../images/pieces/makruk/ada/bN.svg');
}
.sittuyin .cg-wrap piece.r-piece.black {
    background-image: url('../../images/pieces/makruk/ada/bR.svg');
}
.sittuyin .cg-wrap piece.f-piece.black {
    background-image: url('../../images/pieces/makruk/ada/bQ.svg');
}
.sittuyin .cg-wrap piece.k-piece.black {
    background-image: url('../../images/pieces/makruk/ada/bK.svg');
}
