.sittuyin .cg-wrap piece.pawn.white {
    background-image: url('../../images/pieces/sittuyin/Ka_blackred/wP.svg');
}
.sittuyin .cg-wrap piece.silver.white {
    background-image: url('../../images/pieces/sittuyin/Ka_blackred/wB.svg');
}
.sittuyin .cg-wrap piece.knight.white {
    background-image: url('../../images/pieces/sittuyin/Ka_blackred/wN.svg');
}
.sittuyin .cg-wrap piece.rook.white {
    background-image: url('../../images/pieces/sittuyin/Ka_blackred/wR.svg');
}
.sittuyin .cg-wrap piece.met.white {
    background-image: url('../../images/pieces/sittuyin/Ka_blackred/wQ.svg');
}
.sittuyin .cg-wrap piece.ferz.white {
    background-image: url('../../images/pieces/sittuyin/Ka_blackred/wQ.svg');
}
.sittuyin .cg-wrap piece.king.white {
    background-image: url('../../images/pieces/sittuyin/Ka_blackred/wK.svg');
}
.sittuyin .cg-wrap piece.pawn.black {
    background-image: url('../../images/pieces/sittuyin/Ka_blackred/bP.svg');
}
.sittuyin .cg-wrap piece.silver.black {
    background-image: url('../../images/pieces/sittuyin/Ka_blackred/bB.svg');
}
.sittuyin .cg-wrap piece.knight.black {
    background-image: url('../../images/pieces/sittuyin/Ka_blackred/bN.svg');
}
.sittuyin .cg-wrap piece.rook.black {
    background-image: url('../../images/pieces/sittuyin/Ka_blackred/bR.svg');
}
.sittuyin .cg-wrap piece.met.black {
    background-image: url('../../images/pieces/sittuyin/Ka_blackred/bQ.svg');
}
.sittuyin .cg-wrap piece.ferz.black {
    background-image: url('../../images/pieces/sittuyin/Ka_blackred/bQ.svg');
}
.sittuyin .cg-wrap piece.king.black {
    background-image: url('../../images/pieces/sittuyin/Ka_blackred/bK.svg');
}
