.sittuyin .cg-wrap piece.pawn.white {
    background-image: url('../../images/pieces/makruk/ada/rb/wP.svg');
}
.sittuyin .cg-wrap piece.silver.white {
    background-image: url('../../images/pieces/makruk/ada/rb/wB.svg');
}
.sittuyin .cg-wrap piece.knight.white {
    background-image: url('../../images/pieces/makruk/ada/rb/wN.svg');
}
.sittuyin .cg-wrap piece.rook.white {
    background-image: url('../../images/pieces/makruk/ada/rb/wR.svg');
}
.sittuyin .cg-wrap piece.met.white {
    background-image: url('../../images/pieces/makruk/ada/rb/wQ.svg');
}
.sittuyin .cg-wrap piece.ferz.white {
    background-image: url('../../images/pieces/makruk/ada/rb/wQ.svg');
}
.sittuyin .cg-wrap piece.king.white {
    background-image: url('../../images/pieces/makruk/ada/rb/wK.svg');
}
.sittuyin .cg-wrap piece.pawn.black {
    background-image: url('../../images/pieces/makruk/ada/rb/bP.svg');
}
.sittuyin .cg-wrap piece.silver.black {
    background-image: url('../../images/pieces/makruk/ada/rb/bB.svg');
}
.sittuyin .cg-wrap piece.knight.black {
    background-image: url('../../images/pieces/makruk/ada/rb/bN.svg');
}
.sittuyin .cg-wrap piece.rook.black {
    background-image: url('../../images/pieces/makruk/ada/rb/bR.svg');
}
.sittuyin .cg-wrap piece.met.black {
    background-image: url('../../images/pieces/makruk/ada/rb/bQ.svg');
}
.sittuyin .cg-wrap piece.ferz.black {
    background-image: url('../../images/pieces/makruk/ada/rb/bQ.svg');
}
.sittuyin .cg-wrap piece.king.black {
    background-image: url('../../images/pieces/makruk/ada/rb/bK.svg');
}
