.orda .cg-wrap piece.p-piece.white {
    background-image: url('../../images/pieces/orda/merida/wP.svg');
}
.orda .cg-wrap piece.b-piece.white {
    background-image: url('../../images/pieces/orda/merida/wB.svg');
}
.orda .cg-wrap piece.n-piece.white {
    background-image: url('../../images/pieces/orda/merida/wN.svg');
}
.orda .cg-wrap piece.r-piece.white {
    background-image: url('../../images/pieces/orda/merida/wR.svg');
}
.orda .cg-wrap piece.q-piece.white {
    background-image: url('../../images/pieces/orda/merida/wQ.svg');
}
.orda .cg-wrap piece.k-piece.white {
    background-image: url('../../images/pieces/orda/merida/wK.svg');
}
.orda .cg-wrap piece.h-piece.white {
    background-image: url('../../images/pieces/orda/merida/wH.svg');
}
.orda .cg-wrap piece.p-piece.black {
    background-image: url('../../images/pieces/orda/merida/bP.svg');
}
.orda .cg-wrap piece.a-piece.black {
    background-image: url('../../images/pieces/orda/merida/bA.svg');
}
.orda .cg-wrap piece.h-piece.black {
    background-image: url('../../images/pieces/orda/merida/bH.svg');
}
.orda .cg-wrap piece.l-piece.black {
    background-image: url('../../images/pieces/orda/merida/bL.svg');
}
.orda .cg-wrap piece.y-piece.black {
    background-image: url('../../images/pieces/orda/merida/bY.svg');
}
.orda .cg-wrap piece.k-piece.black {
    background-image: url('../../images/pieces/orda/merida/bK.svg');
}
.orda .cg-wrap piece.q-piece.black {
    background-image: url('../../images/pieces/orda/merida/bQ.svg');
}
