.orda .cg-wrap piece.pawn.white {
    background-image: url('../../images/pieces/merida/wP.svg');
}
.orda .cg-wrap piece.bishop.white {
    background-image: url('../../images/pieces/merida/wB.svg');
}
.orda .cg-wrap piece.knight.white {
    background-image: url('../../images/pieces/merida/wN.svg');
}
.orda .cg-wrap piece.rook.white {
    background-image: url('../../images/pieces/merida/wR.svg');
}
.orda .cg-wrap piece.queen.white {
    background-image: url('../../images/pieces/merida/wQ.svg');
}
.orda .cg-wrap piece.king.white {
    background-image: url('../../images/pieces/merida/wK.svg');
}
.orda .cg-wrap piece.hawk.white {
    background-image: url('../../images/pieces/orda/merida/wH.svg');
}
.orda .cg-wrap piece.pawn.black {
    background-image: url('../../images/pieces/orda/merida/bP.svg');
}
.orda .cg-wrap piece.archbishop.black {
    background-image: url('../../images/pieces/orda/merida/bA.svg');
}
.orda .cg-wrap piece.hawk.black {
    background-image: url('../../images/pieces/orda/merida/bH.svg');
}
.orda .cg-wrap piece.lancer.black {
    background-image: url('../../images/pieces/orda/merida/bL.svg');
}
.orda .cg-wrap piece.yurt.black {
    background-image: url('../../images/pieces/orda/merida/bY.svg');
}
.orda .cg-wrap piece.king.black {
    background-image: url('../../images/pieces/orda/merida/bK.svg');
}
.orda .cg-wrap piece.queen.black {
    background-image: url('../../images/pieces/orda/merida/bQ.svg');
}
