.xiangfu piece.b-piece.white {
    background-image: url('../../images/pieces/xiangqi/eventhanzi/xiangfu/red_bishop.svg');
}
.xiangfu piece.m-piece.white {
    background-image: url('../../images/pieces/xiangqi/eventhanzi/red_elephant.svg');
}
.xiangfu piece.n-piece.white {
    background-image: url('../../images/pieces/xiangqi/eventhanzi/red_horse.svg');
}
.xiangfu piece.r-piece.white {
    background-image: url('../../images/pieces/xiangqi/eventhanzi/red_chariot.svg');
}
.xiangfu piece.c-piece.white {
    background-image: url('../../images/pieces/xiangqi/eventhanzi/red_cannon.svg');
}
.xiangfu piece.pg-piece.white {
    background-image: url('../../images/pieces/xiangqi/eventhanzi/red_king.svg');
}
.xiangfu piece.g-piece.white {
    background-image: url('../../images/pieces/xiangqi/eventhanzi/xiangfu/red_pupil.svg');
}
.xiangfu piece.w-piece.white {
    background-image: url('../../images/pieces/xiangqi/eventhanzi/xiangfu/red_crossbow.svg');
}

.xiangfu piece.b-piece.black {
    background-image: url('../../images/pieces/xiangqi/eventhanzi/xiangfu/black_bishop.svg');
}
.xiangfu piece.m-piece.black {
    background-image: url('../../images/pieces/xiangqi/eventhanzi/black_elephant.svg');
}
.xiangfu piece.n-piece.black {
    background-image: url('../../images/pieces/xiangqi/eventhanzi/black_horse.svg');
}
.xiangfu piece.r-piece.black {
    background-image: url('../../images/pieces/xiangqi/eventhanzi/black_chariot.svg');
}
.xiangfu piece.c-piece.black {
    background-image: url('../../images/pieces/xiangqi/eventhanzi/black_cannon.svg');
}
.xiangfu piece.pg-piece.black {
    background-image: url('../../images/pieces/xiangqi/eventhanzi/black_king.svg');
}
.xiangfu piece.g-piece.black {
    background-image: url('../../images/pieces/xiangqi/eventhanzi/xiangfu/black_pupil.svg');
}
.xiangfu piece.w-piece.black {
    background-image: url('../../images/pieces/xiangqi/eventhanzi/xiangfu/black_crossbow.svg');
}
