.xiangfu piece.b-piece.white {
    background-image: url('../../images/pieces/xiangfu/1_Bishop.svg');
}
.xiangfu piece.e-piece.white {
    background-image: url('../../images/pieces/xiangfu/1_Elephant.svg');
}
.xiangfu piece.n-piece.white {
    background-image: url('../../images/pieces/xiangfu/1_Horse.svg');
}
.xiangfu piece.r-piece.white {
    background-image: url('../../images/pieces/xiangfu/1_Chariot.svg');
}
.xiangfu piece.c-piece.white {
    background-image: url('../../images/pieces/xiangfu/1_Cannon.svg');
}
.xiangfu piece.k-piece.white {
    background-image: url('../../images/pieces/xiangfu/1_General.svg');
}
.xiangfu piece.a-piece.white {
    background-image: url('../../images/pieces/xiangfu/1_Catapult.svg');
}

.xiangfu piece.b-piece.black {
    background-image: url('../../images/pieces/xiangfu/0_Bishop.svg');
}
.xiangfu piece.e-piece.black {
    background-image: url('../../images/pieces/xiangfu/0_Elephant.svg');
}
.xiangfu piece.n-piece.black {
    background-image: url('../../images/pieces/xiangfu/0_Horse.svg');
}
.xiangfu piece.r-piece.black {
    background-image: url('../../images/pieces/xiangfu/0_Chariot.svg');
}
.xiangfu piece.c-piece.black {
    background-image: url('../../images/pieces/xiangfu/0_Cannon.svg');
}
.xiangfu piece.k-piece.black {
    background-image: url('../../images/pieces/xiangfu/0_General.svg');
}
.xiangfu piece.a-piece.black {
    background-image: url('../../images/pieces/xiangfu/0_Catapult.svg');
}
