.janggi .cg-wrap piece.p-piece.white {
    background-image: url('../../images/pieces/janggi/intlblue/blue_p-piece.svg');
}
.janggi .cg-wrap piece.b-piece.white {
    background-image: url('../../images/pieces/janggi/intlblue/blue_elephant.svg');
}
.janggi .cg-wrap piece.n-piece.white {
    background-image: url('../../images/pieces/janggi/intlblue/blue_horse.svg');
}
.janggi .cg-wrap piece.r-piece.white {
    background-image: url('../../images/pieces/janggi/intlblue/blue_chariot.svg');
}
.janggi .cg-wrap piece.a-piece.white {
    background-image: url('../../images/pieces/janggi/intlblue/blue_a-piece.svg');
}
.janggi .cg-wrap piece.c-piece.white {
    background-image: url('../../images/pieces/janggi/intlblue/blue_c-piece.svg');
}
.janggi .cg-wrap piece.k-piece.white {
    background-image: url('../../images/pieces/janggi/intlblue/blue_k-piece.svg');
}

.janggi .cg-wrap piece.p-piece.black {
    background-image: url('../../images/pieces/janggi/intlblue/red_p-piece.svg');
}
.janggi .cg-wrap piece.b-piece.black {
    background-image: url('../../images/pieces/janggi/intlblue/red_elephant.svg');
}
.janggi .cg-wrap piece.n-piece.black {
    background-image: url('../../images/pieces/janggi/intlblue/red_horse.svg');
}
.janggi .cg-wrap piece.r-piece.black {
    background-image: url('../../images/pieces/janggi/intlblue/red_chariot.svg');
}
.janggi .cg-wrap piece.a-piece.black {
    background-image: url('../../images/pieces/janggi/intlblue/red_a-piece.svg');
}
.janggi .cg-wrap piece.c-piece.black {
    background-image: url('../../images/pieces/janggi/intlblue/red_c-piece.svg');
}
.janggi .cg-wrap piece.k-piece.black {
    background-image: url('../../images/pieces/janggi/intlblue/red_k-piece.svg');
}
