.janggi .cg-wrap piece.p-piece.white {
    background-image: url('../../images/pieces/janggi/hanjablue/bluepawn.svg');
}
.janggi .cg-wrap piece.b-piece.white {
    background-image: url('../../images/pieces/janggi/hanjablue/blue_elephant.svg');
}
.janggi .cg-wrap piece.n-piece.white {
    background-image: url('../../images/pieces/janggi/hanjablue/blue_horse.svg');
}
.janggi .cg-wrap piece.r-piece.white {
    background-image: url('../../images/pieces/janggi/hanjablue/blue_chariot.svg');
}
.janggi .cg-wrap piece.a-piece.white {
    background-image: url('../../images/pieces/janggi/hanjablue/blue_advisor.svg');
}
.janggi .cg-wrap piece.c-piece.white {
    background-image: url('../../images/pieces/janggi/hanjablue/blue_cannon.svg');
}
.janggi .cg-wrap piece.k-piece.white {
    background-image: url('../../images/pieces/janggi/hanjablue/blue_king.svg');
}

.janggi .cg-wrap piece.p-piece.black {
    background-image: url('../../images/pieces/janggi/hanjablue/redpawn.svg');
}
.janggi .cg-wrap piece.b-piece.black {
    background-image: url('../../images/pieces/janggi/hanjablue/red_elephant.svg');
}
.janggi .cg-wrap piece.n-piece.black {
    background-image: url('../../images/pieces/janggi/hanjablue/red_horse.svg');
}
.janggi .cg-wrap piece.r-piece.black {
    background-image: url('../../images/pieces/janggi/hanjablue/red_chariot.svg');
}
.janggi .cg-wrap piece.a-piece.black {
    background-image: url('../../images/pieces/janggi/hanjablue/red_advisor.svg');
}
.janggi .cg-wrap piece.c-piece.black {
    background-image: url('../../images/pieces/janggi/hanjablue/red_cannon.svg');
}
.janggi .cg-wrap piece.k-piece.black {
    background-image: url('../../images/pieces/janggi/hanjablue/red_king.svg');
}
