.janggi .cg-wrap piece.p-piece.white {
    background-image: url('../../images/pieces/janggi/intlkakao/blue_pawn.svg');
}
.janggi .cg-wrap piece.b-piece.white {
    background-image: url('../../images/pieces/janggi/intlkakao/blue_elephant.svg');
}
.janggi .cg-wrap piece.n-piece.white {
    background-image: url('../../images/pieces/janggi/intlkakao/blue_horse.svg');
}
.janggi .cg-wrap piece.r-piece.white {
    background-image: url('../../images/pieces/janggi/intlkakao/blue_chariot.svg');
}
.janggi .cg-wrap piece.a-piece.white {
    background-image: url('../../images/pieces/janggi/intlkakao/blue_advisor.svg');
}
.janggi .cg-wrap piece.c-piece.white {
    background-image: url('../../images/pieces/janggi/intlkakao/blue_cannon.svg');
}
.janggi .cg-wrap piece.k-piece.white {
    background-image: url('../../images/pieces/janggi/intlkakao/blue_king.svg');
}

.janggi .cg-wrap piece.p-piece.black {
    background-image: url('../../images/pieces/janggi/intlkakao/red_pawn.svg');
}
.janggi .cg-wrap piece.b-piece.black {
    background-image: url('../../images/pieces/janggi/intlkakao/red_elephant.svg');
}
.janggi .cg-wrap piece.n-piece.black {
    background-image: url('../../images/pieces/janggi/intlkakao/red_horse.svg');
}
.janggi .cg-wrap piece.r-piece.black {
    background-image: url('../../images/pieces/janggi/intlkakao/red_chariot.svg');
}
.janggi .cg-wrap piece.a-piece.black {
    background-image: url('../../images/pieces/janggi/intlkakao/red_advisor.svg');
}
.janggi .cg-wrap piece.c-piece.black {
    background-image: url('../../images/pieces/janggi/intlkakao/red_cannon.svg');
}
.janggi .cg-wrap piece.k-piece.black {
    background-image: url('../../images/pieces/janggi/intlkakao/red_king.svg');
}
