name: Python-CI

on: [pull_request, push]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.13"]

    steps:
    - uses: actions/checkout@6
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@6
      with:
        python-version: ${{ matrix.python-version }}
    - name: Cache pip
      uses: actions/cache@4
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/pyproject.toml') }}
        restore-keys: |
          ${{ runner.os }}-pip-
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install .[dev]
    - name: Lint with flake8
      run: |
        flake8 server/ --count --show-source --statistics
#    - name: Typecheck with mypy
#      run: |
#        mypy server/
    - name: Run unit tests
      run: |
        PYTHONPATH=server python -m unittest discover -s tests
