name: Nodejs-CI

on: [pull_request, push]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x]

    steps:
    - uses: actions/checkout@cbb722410c2e876e24abbe8de2cc27693e501dcb  # v3.5.2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020  # v4.4.0
      with:
        node-version: ${{ matrix.node-version }}
    - run: yarn install
    - run: yarn typecheck
    - run: yarn dev
    - run: yarn md
    - run: yarn test
